<style lang="scss" scoped>
.partner_management {
  display: flex;
  flex-wrap: wrap;
}
</style>

<template lang="html">
  <div>
    <div class="partner_management" v-if="this.$route.name === 'partner_management' ">
      <card :headText="item.headText"
            :contentText="item.contentText"
            :onClick="item.onClick"
            :style="item.style"
            :key="item.key"
            v-for="item in list">
      </card>
    </div>
    <transition :name="is_tab_shown ? 'fade' : ''" mode="out-in">
      <router-view :key="$route.query.t"></router-view>
    </transition>
  </div>
</template>

<script>
import Card from '../system_admin/components/Card'
import {isAdmin} from "@/comm/user_role";

export default {
  name: 'PartnerManagement',
  components: {Card},
  data() {
    const manager_tab_panes = [
      {
        key: "co_brand_management",
        style: {background: '#e9f7f4'},
        headText: __('MULTIPLE_co_brand_title'),
        contentText: __('ADMIN_PARTNER_MANAGEMENT_co_brand_management_desc'),
        onClick: () => this.handleClick('co_brand_management'),
      },
      {
        name: 'payments_admin',
        style: {background: '#e9f7f4'},
        headText: __('ADMIN_MULTIPLE_payments_admin'),
        contentText: __('ADMIN_PARTNER_MANAGEMENT_payment_desc'),
        onClick: () => this.handleClick('payments_admin'),
      },
      {
        name: 'monthly_report',
        style: {background: '#e9f7f4'},
        headText: __('ADMIN_PARTNER_MANAGEMENT_monthly_report'),
        contentText: __('ADMIN_PARTNER_MANAGEMENT_monthly_report_desc'),
        onClick: () => this.handleClick('monthly_report'),
      },
      {
        key: "special_allow_list",
        style: {background: '#e9f7f4'},
        headText: __('special_management'),
        contentText: __('special_desc'),
        onClick: () => this.handleClick('special_allow_list'),
      },
      {
        name: 'notification_management',
        style: {background: '#e9f7f4'},
        headText: __('Notification'),
        contentText: __('Create, manage manual notifications'),
        onClick: () => this.handleClick('notification_management'),
      }
    ]
    let list = manager_tab_panes
    const admin_tab_panes = [
      {
        key: "co_brand_management",
        style: {background: '#e9f7f4'},
        headText: __('MULTIPLE_co_brand_title'),
        contentText: __('ADMIN_PARTNER_MANAGEMENT_co_brand_management_desc'),
        onClick: () => this.handleClick('co_brand_management'),
      },
      {
        name: 'payments_admin',
        style: {background: '#e9f7f4'},
        headText: __('ADMIN_MULTIPLE_payments_admin'),
        contentText: __('ADMIN_PARTNER_MANAGEMENT_payment_desc'),
        onClick: () => this.handleClick('payments_admin'),
      },
      {
        name: 'monthly_report',
        style: {background: '#e9f7f4'},
        headText: __('ADMIN_PARTNER_MANAGEMENT_monthly_report'),
        contentText: __('ADMIN_PARTNER_MANAGEMENT_monthly_report_desc'),
        onClick: () => this.handleClick('monthly_report'),
      },
      {
        key: "special_allow_list",
        style: {background: '#e9f7f4'},
        headText: __('special_management'),
        contentText: __('special_desc'),
        onClick: () => this.handleClick('special_allow_list'),
      },
      {
        name: 'notification_management',
        style: {background: '#e9f7f4'},
        headText: __('Notification'),
        contentText: __('Create, manage manual notifications'),
        onClick: () => this.handleClick('notification_management'),
      },
      {
        key: "dynamic_commission",
        style: {background: '#fcedd7'},
        headText: __('ADMIN_SYSTEM_ADMIN_dynamic_commission'),
        contentText: __('ADMIN_SYSTEM_ADMIN_dynamic_commission_model_desc'),
        onClick: () => this.handleClick('dynamic_commission'),
      },
      {
        key: "expense",
        style: {background: '#fcedd7'},
        headText: __('ADMIN_SYSTEM_ADMIN_account_expense_management'),
        contentText: __('ADMIN_SYSTEM_ADMIN_account_expense_management_desc'),
        onClick: () => this.handleClick('expense'),
      },
      {
        key: "internal_user",
        style: {background: '#fcedd7'},
        headText: __('ADMIN_MULTIPLE_internal_user'),
        contentText: __('ADMIN_SYSTEM_ADMIN_internal_user_card_desc'),
        onClick: () => this.handleClick('internal_user'),
      },
      {
        key: "upload_type",
        style: {background: '#fcedd7'},
        headText: __('ADMIN_MULTIPLE_system_admin_data_import'),
        contentText: __('ADMIN_SYSTEM_ADMIN_system_admin_bulk_data_import'),
        onClick: () => this.handleClick('upload_type'),
      }]
    if (isAdmin()) {
      list = admin_tab_panes
    }
    return {
      list,
      is_tab_shown: true
    }
  },
  '$route': {
    handler (newVal) {
      let is_tab_shown = newVal.meta.is_admin_route_shown;

      if (is_tab_shown === false) {
        this.is_tab_shown = false;
        return;
      }
      this.is_tab_shown = true;
    },
    immediate: true
  },
  methods: {
    handleClick(name) {
      this.$router.push({
        name,
        query: {//同一路由的刷新
          t: +new Date()
        }
      });
    }
  }
}
</script>
