{% extends "template.njk" %}

{% block css %}
  {# <link href="/static/css/chunk-vendors.css" rel="stylesheet">
  <link href="/static/css/app.css" rel="stylesheet"> #}
{% endblock %}

{% block js %}
  <script type="text/javascript" src="/static/js/chunk-vendors.js"></script>
  <script type="text/javascript" src="/static/js/app.js"></script>
{% endblock %}
