<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="favicon.ico">
  <link rel="alternate icon" type="image/png" href="https://cdn.klook.com/affiliate_web/s/dist/desktop/imgs/favicon.png">
  <title>{{ title }}</title>
  <meta name="keywords" content="{{ meta_keywords }}" >
  <meta name="description" content="{{ meta_description }}" >
  <link rel="canonical" href="https://affiliate.klook.com/{{ _lang_path }}">
  <link rel="alternate" href="https://affiliate.klook.com/" hreflang="en">
  <link rel="alternate" href="https://affiliate.klook.com/zh-CN/" hreflang="zh-Hans-CN">
  <link rel="alternate" href="https://affiliate.klook.com/zh-TW/" hreflang="zh-Hant-TW">
  <link rel="alternate" href="https://affiliate.klook.com/zh-HK/" hreflang="zh-Hant-HK">
  <meta property="og:locale" content="{{ og_locale }}">
  <meta property="og:type" content="product.group">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ meta_description }}">
  <meta property="og:url" content="https://affiliate.klook.com/{{ _lang_path }}">
  <meta property="og:image" content="https://res.klook.com/image/upload/v1492078787/banner/twr2us6zzugcl4cfejcj.jpg">
  <meta property="og:site_name" content="{{ og_site_name }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="{{ meta_description }}" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:site" content="@KlookTravel" />
  <meta name="twitter:image" content="https://res.klook.com/image/upload/v1492078787/banner/twr2us6zzugcl4cfejcj.jpg" />
  <meta name="google-site-verification" content="m-vUVyQRvMiIbMOyDm-13PmkhgZHQ0O3JqRVkfSB7uw" />
  {% block css %}
    {#  #}
  {% endblock %}
</head>
<body>
  <div id="app"></div>
  <script>
  var KLK_LANG = '{{ _lang }}';
  var KLK_ENV = '{{ _env }}';
  var KLK_LANG_PATH = '{{ _lang_path }}';
  // affiliate 语言种类
  var LANG_OPTIONS = {{ _lang_options | dump | safe }};
  var LANG_OPTIONS_API = {{ _lang_options_api | dump | safe }};
  var LANG_OPTIONS_WIDGET = {{ _lang_options_widget | dump | safe }};
  var KLK_LANG_MAP = {{ _lang_map | dump | safe }};
  // C 端的语言种类
  var ALL_LANG_OPTIONS = {{ _all_lang_options | dump | safe }};
  var SUPPORT_CURRENCY = {{ _support_currency | dump | safe }};
  var URL_LANG_OPTIONS = {{ _url_langs_options | dump | safe }};
  var USER_INFO = {{ _user_info | dump | safe }};
  var RANGES = {{ _ranges | dump | safe }};
  </script>
  <!-- built files will be auto injected -->
  <script>window.dataLayer = window.dataLayer || [];</script>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WNBGXWM');
  </script>
  <!-- End Google Tag Manager -->
  {% block js %}
    {#  #}
  {% endblock %}
</body>
</html>
