<style lang="scss" scoped>
.co_brand_table {
  ::v-deep th {
    text-align: center;
  }
  .yellow {
    color: #f5a623;
  }
  .green {
    color: #07b295;
  }
  .lightgreen {
    color: #23ac38;
  }
}
</style>

<template>
  <klk-table class="co_brand_table" :cols="cols" :table_data="list">
    <tr slot-scope="scope">
      <td>
        <template v-if="getAids(scope.row.wids) !== '-'">
          <a
            class="theme_a"
            target="__blank"
            v-for="(wid, index) in getAids(scope.row.wids)"
            :key="wid"
            :href="`https://www.klook.com?aid=${wid}`"
          >
            {{
              `${wid}${
                index === getAids(scope.row.wids).length - 1 ? "" : `, `
              }`
            }}
          </a>
        </template>
        <span v-else>-</span>
      </td>
      <td>{{ getType(scope.row.type) }}</td>
      <td>{{ getFormatTime(scope.row.application_time) }}</td>
      <td>{{ getFormatTime(scope.row.operation_time) }}</td>
      <td :class="getColor(scope.row.state)">
        {{ `${getStatus(scope.row.state)}${getAction(scope.row.operation)}` }}
      </td>
    </tr>
  </klk-table>
</template>

<script>
import TableComputedMixin from "../mixin/table_computed_mixin";

export default {
  mixins: [TableComputedMixin],
  props: {
    list: {
      type: Array,
      default: () => [],
    },
    // 0 - 无显示条数限制 | n - 限制显示条数为 n
    limitCount: {
      type: Number,
      default: 0,
    },
  },
  created() {
    this.cols = [
      {
        label: __("joint_marketing_id"),
      },
      {
        label: __("MULTIPLE_logo_type"),
      },
      {
        label: __("commit_date"),
      },
      {
        label: __("refresh_date"),
      },
      {
        label: `${__("MULTIPLE_status")} (${__("MULTIPLE_action")})`,
      },
    ];
  },
};
</script>
