<style lang="scss" scoped>
.change_name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  .container {
    .img {
      background-size: cover;
      overflow: hidden;
      width: 194px;
      height: 26px;
      background: url("../../../imgs/edit-name/logo_edit_name.svg") no-repeat
        center center;

      &:hover {
        cursor: pointer;
      }
    }

    .form_main {
      margin-top: 30px;
      width: 440px;
      background: #ffffff;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.09);
      border-radius: 2px;
      padding: 30px 40px 40px 40px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: flex-start;

      ::v-deep .klk_form_item:nth-child(1) {
        margin-top: 0;
      }

      ::v-deep .klk_form {
        width: 100%;

        .klk_form_item {
          .klk_form_item_content {
            margin-top: 0;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .klk_input_label {
            margin-bottom: 11px;
          }
        }
      }

      .image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar {
          background-size: cover;
          overflow: hidden;
          width: 76px;
          height: 72px;
          background: url("../../../imgs/edit-name/avatar.svg") no-repeat center
            center;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        margin-top: 42px;

        .header {
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #333333;
        }

        .desc {
          margin: 12px 0 30px 0;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;
          text-align: justify;
          color: #666666;
          line-break: anywhere;
        }
      }

      .edited_website_name {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }

        .edit_item {
          font-size: 14px;

          .edit_name_aid {
            color: #999999;
          }
        }
        ::v-deep .klk_form_item_error_tip {
          position: static;
        }
      }

      .footer {
        display: flex;
        width: 100%;
        margin-top: 24px;
        justify-content: space-between;

        .button {
          width: 168px;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
</style>
<template>
  <div class="change_name">
    <div class="container">
      <div class="img"></div>
      <div class="form_main">
        <div class="image">
          <div class="avatar"></div>
        </div>
        <div class="info">
          <span class="header">{{
            $t("CHANGE_WEBSITE_NAME_edit_website_name_header")
          }}</span>
          <span class="desc">{{
            $t("CHANGE_WEBSITE_NAME_edit_website_name_desc_info")
          }}</span>
        </div>
        <klk-form :rules="formRules" :model="form_data" ref="ref_form">
          <div
            v-for="(item, index) in form_data"
            :key="`website_name_${index}`"
            :style="index === form_data.length - 1 ? { marginBottom: 0 } : {}"
            class="edited_website_name"
          >
            <div class="edit_item">
              <span class="edit_name_aid">
                {{ $t("MULTIPLE_affiliate_ID") }} AID:
              </span>
              <span>
                {{ form_data[index].id }}
              </span>
            </div>
            <div class="edit_item" style="margin-top: 10px">
              <span class="edit_name_aid">
                {{ $t("MULTIPLE_edit_website_name_local") }}
              </span>
              <span>
                {{ form_data[index].name_local }}
              </span>
            </div>
            <klk-form-item
              :label="form_data_label.edit_website_name_english"
              prop="name"
              :required="true"
              :index="index"
            >
              <klk-input
                :maxlength="128"
                v-model="form_data[index].name"
              ></klk-input>
            </klk-form-item>
          </div>
        </klk-form>
        <div class="footer">
          <button
            type="button"
            class="theme_btn_base_white button"
            name="button"
            @click="handleClickCancel"
          >
            {{ $t("MULTIPLE_cancel") }}
          </button>
          <button
            type="button"
            class="theme_btn_base submit_btn button"
            name="button"
            @click="handleSubmit"
          >
            {{ $t("MULTIPLE_submit") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { formRules, urlObj } from "common_data";

export default {
  name: "ChangeWebsiteName",
  data() {
    return {
      form_data: USER_INFO.websites,
      form_data_label: {
        edit_website_name_english: __("MULTIPLE_edit_website_name_english"),
      },
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  methods: {
    handleClickCancel() {
      this.$Modal.alert({
        title: `<span style="line-height: 1.5">${__(
          "CHANGE_WEBSITE_NAME_edit_website_name_leave_warning"
        )}</span>`,
        okText: __("CHANGE_WEBSITE_NAME_edit_website_name_leave_button"),
        cancelText: __("CHANGE_WEBSITE_NAME_edit_website_name_cancel_button"),
        showOk: true,
        showCancel: true,
        onOk: () => {
          klook.ajaxGet(urlObj.logout, (resp) => {
            if (resp.success) {
              window.location.replace("/" + window.KLK_LANG_PATH + "home");
            } else {
              console.error(resp);
            }
          });
        },
      });
    },
    handleSubmit() {
      this.$refs["ref_form"].validate((valid) => {
        if (valid) {
          klook.ajaxPutJSON(
            urlObj.get_site_list,
            { websites: this.form_data },
            (res) => {
              if (res.success) {
                window.location.replace("/" + window.KLK_LANG_PATH);
              } else {
                this.$Modal.alert({
                  title: res.error.message,
                  showOk: true,
                  showCancel: false,
                });
              }
            }
          );
        }
      });
    },
  },
};
</script>
