<template>
  <div class="expense">
    <div class="header">
      <div class="search">
        <klk-form flex_row :rules="searchData" ref="ref_form">
          <klk-form-item>
            <span slot="label">
              <span class="label"
                >{{ $t("ADMIN_MULTIPLE_month_report_UID") }}:
              </span>
            </span>
            <klk-input v-model="searchData.uid"></klk-input>
          </klk-form-item>
          <klk-form-item>
            <span slot="label">
              <span class="label"
                >{{ $t("ADMIN_MULTIPLE_expense_month") }}:
              </span>
            </span>
            <klk-select v-model="searchData.month">
              <klk-option
                v-for="item in month_list"
                :key="item"
                :value="item"
                >{{ item }}</klk-option
              >
            </klk-select>
          </klk-form-item>
        </klk-form>
        <button
          class="theme_btn_base mini_btn search_btn"
          type="button"
          @click="() => this.handleExpenseSearch(this.searchData)"
        >
          {{ $t("ADMIN_MULTIPLE_month_report_search") }}
        </button>
      </div>
      <div>
        <button
          class="theme_btn_base_border mini_btn add_btn"
          type="button"
          @click="this.handleExport"
        >
          {{ $t("MULTIPLE_export") }}
        </button>
        <button
          class="theme_btn_base_border mini_btn add_btn"
          type="button"
          @click="this.handleAdd"
        >
          {{ $t("ADMIN_EXPENSE_expense_new") }}
        </button>
      </div>
    </div>
    <div class="content" v-loading="loadingSearch">
      <klk-smart-list :cols="cols" :table_data="list" :thead_slot="true">
        <tr slot="thead">
          <th
            v-for="(item, i) in cols"
            slot="thead"
            :width="item.width"
            :key="i"
          >
            <klk-poptip
              v-if="item.label_desc"
              trigger="hover"
              class="poptip_wrapper"
            >
              <div style="display: inline-block; vertical-align: top">
                {{ item.label }}
              </div>
              <klk-icon
                class="desc_icon"
                type="information-circled"
                size="16"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                <p
                  style="width: 360px; textalign: left; font-size: 10px"
                  v-html="$t(item.label_desc)"
                ></p>
              </div>
            </klk-poptip>
            <span v-else>
              {{ item.label }}
            </span>
          </th>
        </tr>
        <tr slot-scope="scope">
          <td>{{ searchData.month }}</td>
          <td>
            {{ scope.row.uid }}-{{ scope.row.firstname
            }}{{ scope.row.lastname }}
          </td>
          <td>{{ scope.row.id }}</td>
          <td>{{ mapExpense[scope.row.type] }}</td>
          <td>{{ scope.row.incur_date }}</td>
          <td>{{ scope.row.create_time }}</td>
          <td>{{ scope.row.currency }} {{ scope.row.amount / 100 }}</td>
          <td>{{ scope.row.remark }}</td>
          <td>
            <span :style="scope.row.status ? { color: '#07b295' } : null">{{
              scope.row.status ? "Processed" : "Pending"
            }}</span>
          </td>
          <td>
            <klk-poptip trigger="hover" width="148">
              <span style="color: #07b295" v-if="!scope.row.status"
                >Manage</span
              >
              <div slot="content" class="operations">
                <a @click="handleClickEdit(scope.row)">
                  {{ $t("MULTIPLE_edit") }}
                </a>
                <a @click="handleClickDelete(scope.row.id)">
                  {{ $t("MULTIPLE_delete") }}
                </a>
              </div>
            </klk-poptip>
          </td>
        </tr>
      </klk-smart-list>
    </div>
    <klk-pagination
      :show_page_size_opts="false"
      :show_elevator="false"
      :total="pagination.total"
      :page_size="pagination.pageSize"
      :prop_current="pagination.curPage"
      @current_change="this.handleCurrentChange"
    >
    </klk-pagination>
    <klk-dialog
      v-model="openModal"
      width="500px"
      close_icon
      v-loading="loading"
    >
      <div class="modal_content">
        <ExpenseForm
          :expenseTypeList="expenseTypeList"
          :data="data"
          :Submit="this.handleClickSubmit"
          :Cancel="this.handleClickCancel"
        />
      </div>
    </klk-dialog>
    <klk-dialog v-model="deleteModal" width="500px" close_icon>
      <div class="delete_modal center">
        <div class="header center">
          {{ $t("ADMIN_EXPENSE_expense_delete_modal_header") }}
        </div>
        <div class="content">
          {{ $t("ADMIN_EXPENSE_expense_delete_modal_content") }}
        </div>
        <div class="footer">
          <button
            type="button"
            class="theme_btn_base_white small_btn"
            name="button"
            @click="handleClickDeleteCancel"
          >
            {{ $t("MULTIPLE_cancel") }}
          </button>
          <button
            type="button"
            class="theme_btn_base submit_btn small_btn"
            name="button"
            @click="handleDeleteExpense"
          >
            {{ $t("MULTIPLE_submit") }}
          </button>
        </div>
      </div>
    </klk-dialog>
  </div>
</template>

<script>
import { formRules, urlObj } from "common_data";
import moment from "moment";
import ExpenseForm from "./components/expense_form";
import _cloneDeep from "lodash/cloneDeep";
export default {
  name: "Expense",
  components: {
    ExpenseForm,
  },
  data() {
    const curYear = moment().format("YYYY");
    const curMonth = +moment().format("MM");
    const nextMonth = +moment().add("1", "months").format("MM");
    // 考虑 2021年1月11日--》2020年12月 情况
    const nextYear = +moment().add("1", "months").format("YYYY");
    const startMonth =
      moment().isBefore(moment(`${nextYear}-${nextMonth}-10`)) &&
      moment().isAfter(moment(`${curYear}-${curMonth}-11`))
        ? `${curYear}-${curMonth}`
        : `${+moment().subtract("1", "months").format("YYYY")}-${+moment()
            .subtract("1", "months")
            .format("MM")}`;
    return {
      currentMonth: startMonth,
      list: [],
      loading_data: false,
      searchData: {
        uid: "",
        month: startMonth,
      },
      pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      month_list: [],
      user: null,
      openModal: false,
      loading: false,
      expenseTypeList: [],
      mapExpense: {},
      loadingSearch: false,
      deleteModal: false,
      deleteId: "",
      data: {},
    };
  },

  created() {
    this.formRules = formRules.call(this);
    this.cols = [
      {
        label: __("ADMIN_MULTIPLE_expense_month"),
        width: "80px",
      },
      {
        label: __("ADMIN_MULTIPLE_user"),
        width: "100px",
      },
      {
        label: __("ADMIN_EXPENSE_expense_id"),
        width: "60px",
      },
      {
        label: __("ADMIN_MULTIPLE_expense_type"),
        width: "100px",
        label_desc: `<ol>
                            <li>*   ${__(
                              "ADMIN_MULTIPLE_expense_type_commission_adjustment"
                            )}</li>
                            <li>*   ${__(
                              "ADMIN_MULTIPLE_expense_type_service_free"
                            )}</li>
                            <li>*   ${__(
                              "ADMIN_MULTIPLE_expense_type_additional_commission"
                            )}</li>
                            <li>*   ${__(
                              "ADMIN_MULTIPLE_expense_type_fee"
                            )}</li>
                            </ol>`,
      },
      {
        label: __("ADMIN_MULTIPLE_expense_incurred_data"),
        width: "100px",
      },
      {
        label: __("ADMIN_EXPENSE_expense_create_date"),
        width: "100px",
      },
      {
        label: __("ADMIN_EXPENSE_expense_amount"),
        width: "100px",
      },
      {
        label: __("ADMIN_MULTIPLE_expense_remark"),
        width: "200px",
      },
      {
        label: __("ADMIN_EXPENSE_expense_status"),
        width: "100px",
      },
      {
        label: __("ADMIN_EXPENSE_expense_action"),
        width: "60px",
      },
    ];
    this.handleExpenseSearch(this.searchData);
    this.month_list = this.generateMonthList();
    this.expenseTypeList = this.expenseType();
  },

  methods: {
    handleExport() {
      const url = urlObj.expense_export(
        this.searchData.uid,
        this.searchData.month
      );
      klook.downloadFile("", url);
    },
    handleDeleteExpense() {
      klook.ajaxPutJSON(urlObj.delete_expense(this.deleteId), null, (res) => {
        if (res.success) {
          this.handleClickDeleteCancel();
          this.handleExpenseSearch(this.searchData);
        }
      });
    },
    handleClickDeleteCancel() {
      this.deleteId = "";
      this.deleteModal = false;
    },
    handleClickDelete(id) {
      this.deleteId = id;
      this.deleteModal = true;
    },
    handleClickSubmit(data) {
      const { amount, month, incur_date, remark, type, uid } = data;
      const date = moment(incur_date).format("YYYY-MM-DD");
      if (data.id) {
        // 编辑
        klook.ajaxPutJSON(
          urlObj.admin_expense_edit(data.id),
          { amount: amount * 100, type, remark, incur_date: date },
          (res) => {
            if (res.success) {
              this.openModal = false;
              this.pagination.curPage = 1;
              this.handleExpenseSearch(this.searchData);
            } else {
              this.$Message.warning(res.error.message);
            }
          }
        );
      } else {
        // 添加
        klook.ajaxPostJSON(
          urlObj.admin_expense,
          { amount: amount * 100, month, incur_date: date, remark, type, uid },
          (res) => {
            if (res.success) {
              this.openModal = false;
              this.pagination.curPage = 1;
              this.handleExpenseSearch(this.searchData);
            } else {
              this.$Message.warning(res.error.message);
            }
          }
        );
      }
    },
    handleClickCancel() {
      this.openModal = false;
    },
    handleClickEdit(data) {
      this.openModal = true;
      const arr = _cloneDeep(data);
      arr.incur_date = moment(String(arr.incur_date)).toDate();
      arr.amount = arr.amount / 100;
      this.data = arr;
    },
    handleAdd() {
      this.openModal = true;
      this.data = {
        id: "",
        amount: "",
        incur_date: moment().format("YYYY-MM-DD"),
        operator_uid: "",
        remark: "",
        type: "",
        uid: "",
        currency: "",
        // 当前时间如果在下个月10号之前，当前月11号之后，则为当前月份，否则为上个月
        month: this.currentMonth,
      };
    },
    generateMonthList() {
      const cur_year = new Date().getFullYear(),
        start_year = 2020,
        month_list_temp = [];
      let max_month = 0;
      let min_month = 0;
      for (let year = cur_year; year >= start_year; year--) {
        // 当前时间在 当前月11号之后并且在下个月10号之前，为当前月份。 否则为上个月
        // 当前月 11 号之后
        const start = moment().format("YYYY-MM-11");
        // 下个月 10 号之前
        const next = moment().add("1", "months").format("YYYY-MM-10");
        if (year !== cur_year) {
          // 不是今年的设置 12 个月
          max_month = 12;
        } else if (
          moment().isAfter(moment(start)) &&
          moment().isBefore(moment(next))
        ) {
          max_month = +moment().format("MM");
        } else {
          // 格式化月份和年份
          max_month = +moment().subtract("1", "months").format("MM");
          let last = +moment().subtract("1", "months").format("YYYY");
          if (+last !== year) {
            // 减去一个月后不等,则跳出循环, 不用push
            continue;
          }
        }
        //
        // month 从2020年10月份开始, min_month 初始值为 9
        if (year === start_year) {
          min_month = 9;
        } else {
          min_month = 1;
        }
        for (let month = max_month; month >= min_month; month--) {
          month_list_temp.push(year + "-" + (month < 10 ? "0" + month : month));
        }
      }
      return month_list_temp;
    },
    formatData(data) {
      return moment(data).format("YYYY-MM-DD");
    },

    handleExpenseSearch(data) {
      data.page = this.pagination.curPage;
      data.pcount = this.pagination.pageSize;
      this.loadingSearch = true;
      klook.ajaxGet(urlObj.admin_expense, { ...data }, (res) => {
        this.loadingSearch = false;
        if (res.success) {
          this.pagination.total = (res.result && res.result.count) || 0;
          this.list = res.result.expense;
          this.user = res.result.user;
        } else {
          console.error(res);
        }
      });
    },

    expenseType() {
      klook.ajaxGet(urlObj.expense_type, null, (res) => {
        if (res.success) {
          let obj = {};
          this.expenseTypeList = Object.entries(res.result).map(
            (item, index) => {
              const key = item[0];
              const value = item[1];
              obj[value] = key;
              return {
                name: key,
                value: value,
              };
            }
          );
          this.mapExpense = obj;
        } else {
          console.error(res);
        }
      });
    },

    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.handleExpenseSearch(this.searchData);
    },
  },
};
</script>

<style lang="scss" rel="stylesheet/scss" scoped>
.expense {
  margin-bottom: 20px;
  padding-bottom: 20px;

  .header {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;

      ::v-deep .klk_form_item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;

        .klk_form_item_content {
          margin: 0;
        }
      }

      .label {
        margin-right: 10px;
      }

      .search_btn {
        height: 40px;
        padding: 0 30px;
        margin-top: -4px;
      }
    }

    .add_btn {
      height: 40px;
    }
  }

  .content {
    margin-bottom: 20px;

    .operations {
      display: flex;
      flex-direction: column;
      a {
        color: #07b295;
        margin-bottom: 6px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  ::v-deep.pagination {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .modal_content {
    padding: 30px 30px 10px 30px;
  }
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delete_modal {
  padding: 40px 40px 20px 40px;

  .header {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      width: 100px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
</style>
