<style lang="scss">
.help_route {
  background: white;
  .help_content {
    width: 768px;
    margin: 20px auto 0;
    padding-bottom: 80px;
    position: relative;
    .scroll_flag {
      position: absolute;
      top: -80px;
    }
    .help_tabs {
      width: 768px;
      background: white;
      z-index: 9;
      .klk_tabs_nav {
        margin-bottom: 24px;
      }
    }
    .desc {
      line-height: 1.5;
      font-size: 14px;
      color: #999999;
      .klook {
        text-decoration: none;
        color: #1282f0;
        cursor: pointer;
      }
    }
    .lang_note {
      line-height: 1.5;
      font-size: 14px;
      color: #277fa8;
    }
    .follows {
      line-height: 50px;
      margin-top: 30px;
      box-shadow: inset 0 -1px 0 0 #e0e0e0;
      font-size: 18px;
      font-weight: 500;
      color: #333333;
    }
  }
}
</style>

<template lang="html">
  <div class="help_route" id="help_route">
    <experiment-banner
      v-if="!user_info.id && isHomePageExperiment"
    ></experiment-banner>
    <common-banner
      v-if="!user_info.id && !isHomePageExperiment"
    ></common-banner>
    <div class="help_content">
      <div class="scroll_flag"></div>
      <transition name="fade">
        <klk-tabs
          class="help_tabs"
          :value="name"
          @on-click="changeType"
          v-sucktop="{ suck_top: 64, normal_top: sucktop }"
        >
          <klk-tab-pane
            v-for="item in help_list"
            :key="item.name"
            :label="item.label"
            :name="item.name"
          >
          </klk-tab-pane>
        </klk-tabs>
      </transition>
      <router-view> </router-view>
    </div>
  </div>
</template>

<script>
import CommonBanner from "../../tpl/common_banner.vue";
import ExperimentBanner from "../home/components/experiment_banner";

export default {
  name: "Help",
  data() {
    return {
      user_info: USER_INFO,
    };
  },
  components: {
    CommonBanner,
    ExperimentBanner,
  },
  methods: {
    changeType(name) {
      this.$router.push({
        name: name,
      });
    },
  },
  computed: {
    name() {
      return this.$route.name;
    },
    sucktop() {
      if (this.user_info.id) {
        return 5;
      } else {
        return 485;
      }
    },
    isHomePageExperiment() {
      return this.$store.getters.isHomePageExperiment;
    },
  },
  created() {
    this.help_list = [
      {
        name: "help",
        label: __("HELP_ROUTE_faqs"),
      },
      {
        name: "terms_conditions",
        label: __("HELP_ROUTE_terms_and_conditions"),
      },
    ];
    if (this.user_info.status === 1) {
      this.help_list.push({
        name: "commission_rates",
        label: __("HELP_ROUTE_commission_rates"),
      });
    }
  },
  mounted() {
    if (this.user_info.id) {
      document.getElementById("help_route").style.width = "1160px";
      document.getElementById("help_route").style.margin = "0 auto";
    }
    if (this.$route.name === "terms_conditions") {
      this.$nextTick(() => {
        document.querySelector(".scroll_flag").scrollIntoView(true);
      });
    }
  },
};
</script>
