<style lang="scss" scoped>
.special_activity {
  .special_title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
    &.margin {
      margin-top: 40px;
    }
  }
  .search_area {
    .search_input {
      margin-bottom: 24px;
      .icon_search {
        line-height: 40px;
      }
    }
  }
}
</style>

<template lang="html">
  <div class="special_activity">
    <div class="special_title">
      {{ $t("SPECIAL_ACTIVITY_list_of_special_activities") }}
    </div>
    <div class="search_area">
      <klk-input
        type="text"
        class="search_input"
        v-model="searchOption.id_name"
        @input="changeSearchOption('id_name')"
        :style="{ width: '300px' }"
        :placeholder="$t('DYNAMIC_WIDGETS_enter_activity_url')"
        @on-enter="handleCurrentChange(1)"
      >
        <span slot="append" @click="handleCurrentChange(1)">
          <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
        </span>
      </klk-input>
    </div>
    <div class="data_table">
      <klk-table :cols="cols" :table_data="list" v-loading="loading_data">
        <tr slot-scope="scope">
          <td>{{ $t("MULTIPLE_activity_category_list_6") }}</td>
          <td>{{ scope.row.activity_city }}</td>
          <td>{{ scope.row.activity_id }}</td>
          <td>
            <a
              class="theme_a"
              target="__blank"
              :href="scope.row.activity_url"
              >{{ scope.row.activity_name }}</a
            >
          </td>
          <td>{{ scope.row.commission_rate }}</td>
        </tr>
      </klk-table>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      ></klk-pagination>
    </div>
  </div>
</template>

<script>
import { urlObj } from "common_data";
export default {
  name: "SpecialActivity",
  data() {
    return {
      loading_data: false,
      list: [],
      pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      searchOption: {
        id_name: "",
      },
    };
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_activity_category"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_destination"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_activity_id"),
        width: "60px",
      },
      {
        label: __("MULTIPLE_activity_name"),
        width: "220px",
      },
      {
        label: __("MULTIPLE_commission_rate"),
        width: "100px",
      },
    ];
  },
  mounted() {
    this.loadData();
  },
  methods: {
    parseActivityListIds(inputStr) {
      if (inputStr.startsWith("http")) {
        // 在Klook的一个C端活动页面的URL里面提取出activity_id, 例如".../activity/123456-...." 中提取出 "123456"
        const regexp = /\/activity\/(\d+)/;
        const targetId = regexp.exec(inputStr) ? regexp.exec(inputStr)[1] : "";
        return targetId;
      } else if (!isNaN(inputStr)) {
        return inputStr;
      } else {
        return "";
      }
    },
    changeSearchOption(item) {
      if (this.searchOption[item] === "") {
        return;
      }
      Object.keys(this.searchOption || []).forEach((index) => {
        if (index !== item) {
          this.searchOption[index] = "";
        }
      });
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    getParams() {
      const activity_id = this.parseActivityListIds(this.searchOption.id_name);
      return {
        activity_id,
        p: this.pagination.curPage,
        pcount: this.pagination.pageSize,
        query: this.searchOption.id_name,
      };
    },
    loadData() {
      this.loading_data = true;
      klook.ajaxGet(
        urlObj.special_allow_list_activity(6),
        this.getParams(),
        (resp) => {
          if (resp.success) {
            this.loading_data = false;
            this.list = resp.result.activity;
            this.pagination.total = resp.result.total;
          } else {
            console.error(resp);
          }
        }
      );
    },
  },
};
</script>
