<style lang="scss" scoped>
.resendlink {
  width: 600px;
  margin: 150px auto 0;
  .resend_logo {
    text-align: center;
    margin-bottom: 12px;
    .resend_logo_logo {
      width: 80px;
    }
  }
  .resend_button {
    text-align: center;
  }
  .resend_desc {
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin: 12px 0 14px;
  }
  .resend_helper {
    margin-bottom: 120px;
    .resend_helper_text {
      font-size: 14px;
      line-height: 17px;
      color: #666666;
    }
  }
  .no_desc {
    margin-top: 60px;
  }
}
</style>

<template lang="html">
  <div class="resendlink">
    <div class="resend_logo">
      <img
        src="../../../imgs/resendlink/resend_logo.png"
        class="resend_logo_logo"
        alt=""
      />
    </div>
    <div class="resend_button">
      <button
        type="button"
        class="theme_btn_base small_btn"
        style="width: 300px"
        @click="resendLink"
        :disabled="is_send_btn_disabled"
      >
        {{ resend_text }}
      </button>
    </div>
    <div class="resend_desc" v-show="is_resend_desc_shown">
      {{ $t("RESENDLINK_desc_one") }}
      {{ $t("RESENDLINK_desc_two") }}
    </div>
    <div :class="['resend_helper', !is_resend_desc_shown ? 'no_desc' : '']">
      <p class="resend_helper_text">
        <span>{{ $t("RESENDLINK_helper_left") }}</span>
        <a class="theme_a" @click="clickContactUs">{{
          $t("RESENDLINK_helper_link")
        }}</a>
        <span>{{ $t("RESENDLINK_helper_right") }}</span>
      </p>
    </div>
  </div>
</template>

<script>
import { urlObj } from "common_data";
export default {
  name: "Resendlink",
  data() {
    return {
      is_send_btn_disabled: false,
      is_resend_desc_shown: false,
      resend_text: __("RESENDLINK_send_text"),
    };
  },
  methods: {
    clickContactUs() {
      // Google Tag Manager
      window.dataLayer.push({
        event: "activate",
        eventCategory: "Resend Activation",
        eventAction: "Contact Us",
      });
      this.$router.push({
        name: "contact_us",
      });
    },
    resendLink() {
      // Google Tag Manager
      window.dataLayer.push({
        event: "activate",
        eventCategory: "Resend Activation",
        eventAction: "Resend Activation",
      });
      klook.ajaxGet(urlObj.resend_activation, (resp) => {
        if (resp.success) {
          this.is_resend_desc_shown = true;
        } else {
          console.error(resp);
        }
      });
      let email_time = 60;
      function countingDown() {
        if (email_time) {
          this.resend_text = email_time + __("RESENDLINK_second");
          this.is_send_btn_disabled = true;
          setTimeout(() => {
            email_time--;
            countingDown.call(this);
          }, 1000);
        } else {
          this.resend_text = __("RESENDLINK_send_text");
          this.is_send_btn_disabled = false;
        }
      }
      countingDown.call(this);
    },
  },
};
</script>
