<style lang="scss" scoped>
.signup_auto {
  width: 440px;
  margin: 20px auto;
  .signup_logo {
    width: 240px;
    flex: 0 0 240px;
    display: flex;
    align-items: center;
    .logo {
      width: 184px;
      height: 24px;
      cursor: pointer;
    }
  }
  .signup_steps {
    margin-top: 20px;
    text-align: center;
    .logo_step {
      height: 16px;
      width: 16px;
    }
    .logo_line,
    .logo_line_th,
    .logo_line_id {
      padding-bottom: 7px;
    }
    .logo_line {
      width: 52px;
    }
    .logo_line_th {
      width: 38px;
    }
    .logo_line_id {
      width: 32px;
    }
    .stepTextGreen,
    .stepTextGrey {
      font-size: 12px;
      line-height: 16px;
      vertical-align: top;
    }
    .stepTextGreen {
      color: #07b295;
    }
    .stepTextGrey {
      color: #999999;
    }
  }
  .signup_content {
    margin-top: 30px;
    background-color: #ffffff;
    border-radius: 2px;
    .login_info_section,
    .personal_info_section,
    .website_info_section,
    .question_section,
    .button_footer,
    .signup_button_footer {
      padding: 0 40px;
    }
    .website_info_section {
      .note_space {
        height: 10px;
      }
      ::v-deep .klk_form .klk_form_item_error .klk_form_item_error_tip {
        position: static;
      }
    }
    .login_info_section {
      .login_title {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        padding: 40px 0 12px;
      }
      .login_title_desc {
        font-size: 14px;
        line-height: 17px;
      }
      ::v-deep .klk_checkbox_wrapper {
        margin-bottom: 10px;
        height: 52px;
        display: flex;
        line-height: 19px;
        cursor: pointer;
        .klk_checkbox {
          display: inline-block;
          vertical-align: middle;
          white-space: nowrap;
          cursor: pointer;
          outline: 0;
          line-height: 1;
          position: relative;
          margin: 6px 14px 6px 0;
        }
        .klk_checkbox_inner {
          display: inline-block;
          width: 14px;
          height: 14px;
          position: relative;
          top: 0;
          left: 0;
          border: 1px solid #dddee1;
          border-radius: 2px;
          background-color: #fff;
          transition: border-color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
          &::after {
            content: "";
            display: table;
            width: 4px;
            height: 8px;
            position: absolute;
            top: 0;
            left: 4px;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            transform: rotate(45deg) scale(1);
            transition: all 0.2s ease-in-out;
          }
        }
        &.klk_checkbox_wrapper_checked {
          .klk_checkbox_inner {
            border-color: $theme_color;
            background-color: $theme_color;
          }
        }
        .klk_checkbox_input {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          opacity: 0;
          cursor: pointer;
        }
      }
      .checkbox_wrapper {
        margin-top: 28px;
        font-size: 12px;
        line-height: 16px;
      }
    }
    .question_section {
      .klk_radio_group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .answer_text {
        line-height: 30px;
      }
    }
    .section_title {
      font-size: 24px;
      line-height: 29px;
      padding: 40px 0 20px;
    }
    .signup_button_footer,
    .button_footer {
      margin-top: 20px;
      padding-bottom: 20px;
    }
  }
  .signup_more {
    margin-top: 16px;
    background-color: #ffffff;
    border-radius: 2px;
    .agreement_content {
      padding: 20px 40px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .signup_note_dialog_footer {
    margin: 0 20px 20px 0;
    text-align: right;
  }
  .submit_success {
    padding: 88px 0;
    text-align: center;
    margin-bottom: 16px;
    .success_title {
      font-size: 24px;
      line-height: 29px;
    }
    .success_content {
      margin-top: 40px;
      font-size: 14px;
      line-height: 17px;
      .user_email {
        color: #07b295;
      }
    }
  }
}
</style>
<template lang="html">
  <div class="signup_auto">
    <div class="signup_logo">
      <img
        src="../../../imgs/affiliate_logo.png"
        class="logo"
        alt=""
        @click="go_home"
      />
    </div>
    <div
      class="signup_steps"
      v-if="this.currentStep > 1 && this.currentStep < 5"
    >
      <img :src="steplogo(1)" class="logo_step" />
      <span :class="stepTextClass(1)">{{ $t("SIGNUP_AUTO_step_one") }}</span>
      <img :src="lineLogo(1)" :class="logo_line()" />
      <img :src="steplogo(2)" class="logo_step" />
      <span :class="stepTextClass(2)">{{ $t("SIGNUP_AUTO_step_two") }}</span>
      <img :src="lineLogo(2)" :class="logo_line()" />
      <img :src="steplogo(3)" class="logo_step" />
      <span :class="stepTextClass(3)">{{ $t("SIGNUP_AUTO_step_three") }}</span>
      <img :src="lineLogo(3)" :class="logo_line()" />
      <img :src="steplogo(4)" class="logo_step" />
      <span :class="stepTextClass(4)">{{ $t("SIGNUP_AUTO_step_four") }}</span>
    </div>
    <div
      class="signup_content"
      v-loading="validateEmailLoading || registerLoading"
    >
      <!-- login info -->
      <div class="login_info_section" v-show="currentStep == 1">
        <div class="login_title">
          {{ $t("MULTIPLE_sign_up") }}
        </div>
        <p class="login_title_desc">
          {{ $t("SIGNUP_AUTO_sign_up_desc") }}
        </p>
        <klk-form
          flex_row
          :rules="formRules"
          :model="form_data_login"
          ref="ref_form_login"
        >
          <klk-form-item prop="email">
            <klk-input
              maxlength="100"
              width="360px"
              :placeholder="$t('MULTIPLE_email')"
              v-on:input="sign_up_error = ''"
              v-model.trim="form_data_login.email"
            ></klk-input>
          </klk-form-item>
          <klk-form-item prop="sign_up_password">
            <klk-input
              maxlength="100"
              width="360px"
              :placeholder="$t('MULTIPLE_password')"
              v-on:input="sign_up_error = ''"
              type="password"
              v-model="form_data_login.sign_up_password"
            ></klk-input>
          </klk-form-item>
          <div class="checkbox_wrapper">
            <klk-checkbox
              v-model="form_data_login.agree_checked"
              :htmlStr="$t('SIGNUP_AUTO_agreement_desc')"
            ></klk-checkbox>
          </div>
        </klk-form>
      </div>
      <!-- personal info -->
      <div class="personal_info_section" v-show="currentStep == 2">
        <div class="section_title">
          {{ $t("SIGNUP_AUTO_personal_info") }}
        </div>
        <klk-form
          flex_row
          :rules="formRules"
          :model="form_data_personal"
          ref="ref_form_personal"
        >
          <klk-form-item
            :label="form_data_label.firstname"
            prop="signup_firstname"
            :required="true"
          >
            <klk-input
              maxlength="100"
              width="360px"
              v-model="form_data_personal.signup_firstname"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.lastname"
            prop="signup_lastname"
            :required="true"
          >
            <klk-input
              maxlength="100"
              width="360px"
              v-model="form_data_personal.signup_lastname"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.prefer_lang"
            prop="prefer_lang"
            :required="true"
          >
            <klk-select
              v-model="form_data_personal.prefer_lang"
              maxlength="100"
              width="360px"
            >
              <klk-option
                v-for="item in langOptions"
                :key="item.title"
                :value="item.value"
                >{{ item.title }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.billing_location"
            prop="country_code"
            :required="true"
          >
            <klk-select
              filterable
              v-model="form_data_personal.country_code"
              maxlength="100"
              width="360px"
            >
              <klk-option
                v-for="(value, key) in code_country_map"
                :key="key"
                :value="key"
                >{{ value.name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item prop="prefer_currency" :required="true">
            <span slot="label">
              <span style="color: #ff5722">*</span>
              {{ form_data_label.billing_currency }}
              <span style="color: red"> ( {{ billing_currency_tips }} )</span>
            </span>
            <klk-select
              v-model="form_data_personal.prefer_currency"
              maxlength="100"
              width="360px"
            >
              <klk-option
                v-for="item in currencyList"
                :key="item.title"
                :value="item.value"
                >{{ item.title }}</klk-option
              >
            </klk-select>
          </klk-form-item>
        </klk-form>
      </div>
      <!-- website info -->
      <div class="website_info_section" v-show="currentStep == 3">
        <div class="section_title">
          {{ $t("SIGNUP_AUTO_website_info") }}
        </div>
        <klk-form
          flex_row
          :rules="formRules"
          :model="form_data_website"
          ref="ref_form_website"
        >
          <klk-form-item
            :label="form_data_label.edit_website_name_english"
            prop="website_name"
            :required="true"
          >
            <klk-input
              maxlength="128"
              width="360px"
              v-model="form_data_website.website_name"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.website_name_local"
            prop="website_name_local"
          >
            <klk-input
              maxlength="128"
              width="360px"
              v-model="form_data_website.website_name_local"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.category"
            prop="category"
            :required="true"
          >
            <klk-select
              v-model="form_data_website.category"
              maxlength="100"
              width="360px"
            >
              <klk-option
                v-for="(type, key) in WEBSITE_TYPE_MAP()"
                :key="key"
                :value="type.value"
                >{{ type.name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.url"
            prop="url"
            :required="true"
          >
            <klk-input
              maxlength="100"
              width="360px"
              v-model="form_data_website.url"
            >
            </klk-input>
          </klk-form-item>
          <div class="note_space"></div>
          <klk-form-item
            :label="form_data_label.region"
            prop="region"
            :required="true"
          >
            <klk-select
              filterable
              v-model="form_data_website.region"
              maxlength="100"
              width="360px"
            >
              <klk-option
                v-for="(value, key) in code_country_map"
                :key="key"
                :value="key"
                >{{ value.name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
        </klk-form>
      </div>
      <!-- question -->
      <div class="question_section" v-show="currentStep == 4">
        <div class="section_title">
          {{ $t("SIGNUP_AUTO_source_type") }}
        </div>
        <klk-form
          flex_row
          :rules="formRules"
          :model="form_data_question"
          ref="ref_form_question"
        >
          <klk-form-item prop="source_type">
            <klk-radio-group v-model="form_data_question.source_type">
              <klk-radio
                v-for="(value, index) in SOURCE_TYPE_MAP()"
                :label="index"
                :key="index"
              >
                <span class="answer_text">{{ value }}</span>
              </klk-radio>
            </klk-radio-group>
          </klk-form-item>
          <div
            class="other_content"
            v-if="form_data_question.source_type === '-1'"
          >
            <klk-form-item prop="source_info">
              <klk-input
                :placeholder="$t('SIGNUP_AUTO_other_desc')"
                maxlength="100"
                width="360px"
                v-model="form_data_question.source_info"
              >
              </klk-input>
            </klk-form-item>
          </div>
        </klk-form>
      </div>
      <!-- button -->
      <div class="signup_button_footer" v-show="currentStep == 1">
        <button
          type="button"
          class="theme_btn_base small_btn"
          style="width: 360px"
          @click="going_forward"
          :disabled="stepone_disabled"
          name="button"
        >
          {{ $t("MULTIPLE_sign_up") }}
        </button>
      </div>
      <div
        class="button_footer"
        v-show="currentStep == 2 || currentStep == 3 || currentStep == 4"
      >
        <button
          type="button"
          class="theme_btn_base_white small_btn"
          name="button"
          style="margin-right: 24px; width: 165px"
          @click="going_back"
        >
          {{ $t("SIGNUP_AUTO_back") }}
        </button>
        <button
          type="button"
          class="theme_btn_base small_btn"
          style="width: 165px"
          @click="going_forward"
          :disabled="!captchaInitSuccess && currentStep === 4"
          name="button"
        >
          {{
            currentStep == 4 ? $t("MULTIPLE_submit") : $t("SIGNUP_AUTO_next")
          }}
        </button>
      </div>
      <div class="submit_success" v-show="currentStep == 5">
        <div class="success_logo">
          <img :src="get_success_logo()" class="logo_success" />
        </div>
        <div class="success_title">
          {{ $t("SIGNUP_AUTO_success_title") }}
        </div>
        <div class="success_content">
          <div v-if="email_normal()">
            {{ $t("SIGNUP_AUTO_success_content_one") }}
            <span class="user_email">{{ form_data_login.email }}</span
            >.
          </div>
          <div v-else>
            <span class="user_email">{{ form_data_login.email }}</span
            >{{ $t("SIGNUP_AUTO_success_content_one") }}
          </div>
          <br />
          {{ $t("SIGNUP_AUTO_success_content_two") }}
        </div>
      </div>
    </div>
    <div class="signup_more" v-show="currentStep == 1">
      <div class="agreement_content">
        <span>{{ $t("SIGNUP_AUTO_other_desc1") }}</span>
        <span v-html="$t('SIGNUP_AUTO_other_desc2')"></span>
      </div>
    </div>
    <klk-dialog
      class="signup_note_dialog"
      v-model="dialog.is_signup_note_dialog_shown"
      width="420"
    >
      <div class="klk_dialog_body">
        <span>{{ $t("SIGNUP_AUTO_signup_note") }}</span>
      </div>
      <div class="signup_note_dialog_footer">
        <button
          type="button"
          name="button"
          class="theme_btn_base mini_btn"
          @click="close_signup_note_dialog"
        >
          {{ $t("MULTIPLE_ok") }}
        </button>
      </div>
    </klk-dialog>
    <klk-dialog
      class="signup_error_dialog"
      v-model="dialog.is_signup_error_dialog_shown"
      width="420"
    >
      <div class="klk_dialog_body">
        <span>{{ forgot_error }}</span>
      </div>
      <div class="signup_note_dialog_footer">
        <button
          type="button"
          name="button"
          class="theme_btn_base mini_btn"
          @click="close_signup_error_dialog"
        >
          {{ $t("MULTIPLE_ok") }}
        </button>
      </div>
    </klk-dialog>
  </div>
</template>

<script>
import {
  WEBSITE_TYPE_MAP,
  SOURCE_TYPE_MAP,
  requestWithCache,
  urlObj,
  formRules,
} from "common_data";
import {
  initCaptcha,
  getCaptcha,
  simpleCaptchaErrHandler,
} from "../../../../comm/captcha";
export default {
  name: "SignUpAuto",
  data() {
    return {
      currentStep: 1,
      form_data_login: {
        email: "",
        sign_up_password: "",
        agree_checked: false,
      },
      form_data_personal: {
        signup_firstname: "",
        signup_lastname: "",
        prefer_lang: "",
        prefer_currency: "",
        country_code: "",
      },
      form_data_website: {
        website_name: "",
        website_name_local: "",
        category: "",
        region: "",
        url: "",
      },
      form_data_question: {
        source_type: "",
        source_info: "",
      },
      form_data_label: {
        firstname: __("MULTIPLE_first_name"),
        lastname: __("MULTIPLE_last_name"),
        prefer_lang: __("MULTIPLE_preferred_language"),
        billing_currency: __("MULTIPLE_billing_currency"),
        billing_location: __("MULTIPLE_billing_location"),
        website_name_local: __("MULTIPLE_edit_website_name_local"),
        edit_website_name_english: __("MULTIPLE_edit_website_name_english"),
        category: __("MULTIPLE_website_type"),
        region: __("SIGNUP_AUTO_where_is_audience"),
        url: __("MULTIPLE_website_url"),
      },
      billing_currency_tips: __("SIGNUP_AUTO_billing_currency_tips"),
      code_country_map: {},
      sign_up_error: "",
      captchaSettings: {},
      captchaInitSuccess: false,
      user_email: "xxx@yyy.com",
      dialog: {
        is_signup_note_dialog_shown: false,
        is_signup_error_dialog_shown: false,
      },
      forgot_error: "",
      validateEmailLoading: false,
      registerLoading: false,
    };
  },
  computed: {
    stepone_disabled() {
      return !this.form_data_login.agree_checked;
    },
  },
  methods: {
    errorMessage(error) {
      this.$Message({
        type: "warning",
        duration: 4000,
        content: __("MULTIPLE_client_network_failure"),
        showClose: false,
        isCenter: true,
      });
    },
    captchaInit() {
      initCaptcha("register")
        .then((captcha) => {
          this.captchaInitSuccess = true;
          this.captchaSettings = captcha;
        })
        .catch((error) => {
          this.errorMessage(error);
        });
    },
    logo_line() {
      if (KLK_LANG == "th") {
        return "logo_line_th";
      } else if (KLK_LANG == "id") {
        return "logo_line_id";
      } else {
        return "logo_line";
      }
    },
    email_normal() {
      if (KLK_LANG == "ko" || KLK_LANG == "ja") {
        return false;
      }
      return true;
    },
    loadData() {
      requestWithCache(urlObj.get_country_list).then(
        (data) => (this.code_country_map = data.country_list)
      );
    },
    go_home() {
      this.$router.push({
        name: "home",
      });
    },
    going_back() {
      if (this.currentStep == 2) {
        // Google Tag Manager
        window.dataLayer.push({
          event: "signUp",
          eventCategory: "Sign Up Journey",
          eventAction: "Previous",
          eventLabel: "Step 2",
        });
        this.currentStep = 1;
      } else if (this.currentStep == 3) {
        // Google Tag Manager
        window.dataLayer.push({
          event: "signUp",
          eventCategory: "Sign Up Journey",
          eventAction: "Previous",
          eventLabel: "Step 3",
        });
        this.currentStep = 2;
      } else if (this.currentStep == 4) {
        // Google Tag Manager
        window.dataLayer.push({
          event: "signUp",
          eventCategory: "Sign Up Journey",
          eventAction: "Previous",
          eventLabel: "Step 4",
        });
        this.currentStep = 3;
      }
    },
    going_forward() {
      let current_form = "";
      let step;
      if (this.currentStep == 1) {
        // Google Tag Manager
        window.dataLayer.push({
          event: "signUp",
          eventCategory: "Sign Up Journey",
          eventAction: "Sign Up",
          eventLabel: "Step 1",
        });
        current_form = "ref_form_login";
        step = 2;
      } else if (this.currentStep == 2) {
        // Google Tag Manager
        window.dataLayer.push({
          event: "signUp",
          eventCategory: "Sign Up Journey",
          eventAction: "Next",
          eventLabel: "Step 2",
        });
        step = 3;
        current_form = "ref_form_personal";
      } else if (this.currentStep == 3) {
        // Google Tag Manager
        window.dataLayer.push({
          event: "signUp",
          eventCategory: "Sign Up Journey",
          eventAction: "Next",
          eventLabel: "Step 3",
        });
        step = 4;
        current_form = "ref_form_website";
      } else if (this.currentStep == 4) {
        // Google Tag Manager
        window.dataLayer.push({
          event: "signUp",
          eventCategory: "Sign Up Journey",
          eventAction: "Submit",
          eventLabel: "Step 4",
        });
        step = 5;
        current_form = "ref_form_question";
      }
      this.$nextTick(
        this.$refs[current_form].validate((valid, message) => {
          if (valid) {
            if (this.currentStep == 1) {
              this.email_validation();
            } else if (+this.currentStep === 2) {
              this.currentStep = step;
            } else if (+this.currentStep === 3) {
              this.currentStep = step;
            } else if (this.currentStep == 4) {
              this.signup_check_captcha();
            }
          }
        })
      );
    },
    email_validation() {
      this.validateEmailLoading = true;
      klook.ajaxGet(
        urlObj.email_validation,
        { email: this.form_data_login.email || "" },
        (resp) => {
          this.validateEmailLoading = false;
          if (resp.success) {
            this.currentStep = 2;
          } else {
            this.dialog.is_signup_note_dialog_shown = true;
          }
        }
      );
    },
    close_signup_note_dialog() {
      this.dialog.is_signup_note_dialog_shown = false;
    },
    close_signup_error_dialog() {
      this.dialog.is_signup_error_dialog_shown = false;
    },
    signup_check_captcha() {
      if (this.captchaInitSuccess) {
        getCaptcha(this.captchaSettings)
          .then((result) => {
            // result === false 表示 initCaptcha未成功
            if (result === false) {
              return initCaptcha("register")
                .then((captcha) => {
                  this.captchaInitSuccess = true;
                  this.captchaSettings = captcha;
                  return getCaptcha(captcha);
                })
                .catch((error) => {
                  this.errorMessage(error);
                });
            }
            return result;
          })
          .then((result) => {
            this.submit_signup_info(result);
          })
          .catch((error) => {
            this.errorMessage(error);
            simpleCaptchaErrHandler(error, this.$parent);
          });
      }
    },
    submit_signup_info(captchaData) {
      let user_signup_info = Object.assign(
        {},
        this.form_data_login,
        this.form_data_personal,
        this.form_data_website,
        this.form_data_question
      );
      // -- data cleaning for API
      user_signup_info.category = parseInt(user_signup_info.category);
      delete user_signup_info["agree_checked"];
      user_signup_info.login_email = user_signup_info.email;
      delete user_signup_info["email"];
      user_signup_info.password = klook.md5(user_signup_info.sign_up_password);
      delete user_signup_info["sign_up_password"];
      user_signup_info.firstname = user_signup_info.signup_firstname;
      delete user_signup_info["signup_firstname"];
      user_signup_info.lastname = user_signup_info.signup_lastname;
      delete user_signup_info["signup_lastname"];
      // -- end
      user_signup_info.captcha = captchaData;
      this.registerLoading = true;
      klook.ajaxPostJSON(urlObj.aff_user_register, user_signup_info, (res) => {
        this.registerLoading = false;
        if (res.success) {
          this.currentStep = 5;
        } else {
          this.forgot_error = res.error.message;
          this.dialog.is_signup_error_dialog_shown = true;
        }
      });
    },
    get_step_status(target_step) {
      // 以下的status:
      // -1 表示target_step在current step的左边
      // 0 表示target_step在current step
      // 1 表示target_step在current step的右边
      let status = 1;
      if (this.currentStep == target_step) {
        status = 0;
      } else if (this.currentStep < target_step) {
        status = 1;
      } else if (this.currentStep > target_step) {
        status = -1;
      }
      return status;
    },
    get_line_status(target_line) {
      // 以下的status:
      // -1 表示target_line在current step的左边
      // 1 表示target_line在current step的右边
      let status = -1;
      if (this.currentStep > target_line) {
        status = -1;
      } else if (this.currentStep <= target_line) {
        status = 1;
      }
      return status;
    },
    get_success_logo() {
      return require("../../../imgs/signup-auto/success_logo.png");
    },
    steplogo(target_step) {
      const step_status = this.get_step_status(target_step);
      if (step_status == -1) {
        return require("../../../imgs/signup-auto/step_left.png");
      } else if (step_status == 0) {
        return require("../../../imgs/signup-auto/step_now.png");
      } else if (step_status == 1) {
        return require("../../../imgs/signup-auto/step_right.png");
      }
      return require("../../../imgs/signup-auto/step_now.png");
    },
    lineLogo(target_line) {
      const line_status = this.get_line_status(target_line);
      if (line_status == -1) {
        return require("../../../imgs/signup-auto/line_left.png");
      }
      return require("../../../imgs/signup-auto/line_right.png");
    },
    stepTextClass(target_step) {
      const step_status = this.get_step_status(target_step);
      if (step_status < 1) {
        return "stepTextGreen";
      }
      return "stepTextGrey";
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.captchaInit();
    this.formRules = formRules.call(this);
    this.SOURCE_TYPE_MAP = SOURCE_TYPE_MAP;
    this.WEBSITE_TYPE_MAP = WEBSITE_TYPE_MAP;
    this.langOptions = LANG_OPTIONS_API;
    const APPLICATION_SUPPORT_CURRENCY_LIST = ['USD', 'HKD', 'TWD', 'SGD', 'CNY', 'AUD','EUR','GBP', 'JPY', 'AED', 'MYR'];
    this.currencyList = SUPPORT_CURRENCY.filter(
      (currency_item) =>
        APPLICATION_SUPPORT_CURRENCY_LIST.indexOf(currency_item.value) != -1
    );
  },
};
</script>
