<style lang="scss" scoped>
.dynamic_commission {
  padding: 10px;
  .list {
    margin: 18px 0;
  }
  a {
    color: #07b295;
    &:hover {
      cursor: pointer;
    }
  }
  .poptip_content {
    a {
      color: #07b295;
    }
  }
  ::v-deep .klk_table table tbody tr td,
  .klk_table table tfoot tr td {
    padding: 6px 12px 6px;
  }
}
.klk_dialog_footer {
  .btn_group {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
}
</style>

<template lang="html">
  <div class="dynamic_commission">
    <Search @add="handleAdd" @search="search" />
    <div class="list" v-loading="loadingSearch">
      <klk-smart-list :cols="cols" :table_data="list">
        <tr slot-scope="scope">
          <td>
            {{ scope.row.id }}
          </td>
          <td>
            {{ scope.row.campaign_name }}
          </td>
          <td>
            {{ scope.row.wid_list }}
            {{ scope.row.pid_list }}
          </td>
          <td>
            {{ showCampaignType(scope.row) }}
          </td>
          <td>
            From {{ scope.row.start_time_gmt8 }} to
            {{ scope.row.end_time_gmt8 }}
          </td>
          <td>
            {{ showStatusText(scope.row.status) }}
          </td>
          <td>
            <a
              @click="handleClickRuleDetail(scope.row)"
              v-show="scope.row.campaign_type !== 2"
              >View</a
            >
          </td>
          <td>
            <div v-show="scope.row.campaign_type !== 2">
              <klk-table-poptip
                trigger="hover"
                class="poptip_wrapper"
                width="148"
              >
                <a v-if="showStop(scope.row)">{{
                  $t("dynamic_commission_list_terminate")
                }}</a>
                <div slot="content" class="poptip_content">
                  <a @click="handleClickTerminate(scope.row)">
                    {{ $t("dynamic_commission_list_terminate_campaign") }}
                  </a>
                </div>
              </klk-table-poptip>
              <klk-table-poptip
                trigger="hover"
                class="poptip_wrapper"
                width="148"
              >
                <a v-if="showEdit(scope.row)">{{
                  $t("dynamic_commission_list_operation")
                }}</a>
                <div slot="content" class="poptip_content">
                  <div v-show="showEdit(scope.row)">
                    <a @click="handleEdit(scope.row)">{{
                      $t("dynamic_commission_list_edit_campaign")
                    }}</a>
                    <a @click="handleClickDelete(scope.row)">{{
                      $t("dynamic_commission_list_delete_campaign")
                    }}</a>
                  </div>
                </div>
              </klk-table-poptip>
            </div>
          </td>
        </tr>
      </klk-smart-list>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      >
      </klk-pagination>
      <klk-dialog
        v-model="showModal"
        width="540"
        :close_icon="true"
        @close_icon_fn="handleCloseModal"
      >
        <div class="klk_dialog_title" style="text-align: center">
          {{ title }}
        </div>
        <campaign-form
          :campaign-data="campaignData"
          :gap="gap"
          ref="campaign_form"
        ></campaign-form>
        <div class="klk_dialog_footer">
          <div class="btn_group">
            <button
              type="button"
              name="button"
              class="theme_btn_base_white small_btn"
              @click="handleCancel"
            >
              {{ $t("ADMIN_MULTIPLE_Cancel") }}
            </button>
            <button
              type="button"
              name="button"
              class="theme_btn_base small_btn"
              @click="handleConfirm"
            >
              {{ $t("MULTIPLE_confirm") }}
            </button>
          </div>
        </div>
      </klk-dialog>
    </div>
  </div>
</template>

<script>
import Search from "./components/search";
import { urlObj } from "common_data";
import moment from "moment";
import _cloneDeep from "lodash/cloneDeep";
import CampaignForm from "./components/campaign_form";
export default {
  name: "AffiliateAdmin",
  components: {
    CampaignForm,
    Search,
  },
  data() {
    return {
      pagination: {
        total: 0,
        pageSize: 10,
        curPage: 1,
      },
      list: [],
      cols: [
        {
          label: __("dynamic_commission_list_campaign_id"),
          width: "60px",
        },
        {
          label: __("dynamic_commission_form_campaign_name"),
          width: "100px",
        },
        {
          label: __("dynamic_commission_list_traffic_source"),
          width: "60px",
        },
        {
          label: __("dynamic_commission_list_type"),
          width: "60px",
        },
        {
          label: __("dynamic_commission_list_effective_period"),
          width: "120px",
        },
        {
          label: __("dynamic_commission_list_status"),
          width: "60px",
        },
        {
          label: __("dynamic_commission_list_rule_details"),
          width: "60px",
        },
        {
          label: __("dynamic_commission_list_action"),
          width: "60px",
        },
      ],
      campaignTypeList: [
        {
          name: __("dynamic_commission_form_partner_campaign"),
          value: 4,
        },
        {
          name: __("dynamic_commission_form_region_campaign"),
          value: 3,
        },
        {
          //  4和5 都对应partner
          name: __("dynamic_commission_form_partner_campaign"),
          value: 5,
        },
      ],
      loadingSearch: false,
      campaignData: null,
      showModal: false,
      gap: 0, // gap为区分规则规则生效前的可反悔时间间隔和是否可编辑的时间间隔，目前由接口传过来。为5分钟`
    };
  },
  created() {},
  mounted() {},
  computed: {
    title() {
      return this.campaignData && this.campaignData.id
        ? __("dynamic_commission_list_edit_campaign")
        : __("dynamic_commission_list_add_campaign");
    },
  },
  watch: {},
  methods: {
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.handleSearch(this.searchData);
    },
    showCampaignType(row) {
      let type = row.campaign_type;
      let data = this.campaignTypeList.filter((item) => {
        return +item.value === +type;
      });
      let name = data && data.length > 0 ? data[0].name : "";
      let upsize_type = row.upsize_type
        ? row.upsize_type
          ? __("dynamic_commission_form_special")
          : __("dynamic_commission_form_standard")
        : "";
      return `${name} ${upsize_type}`;
    },
    showStatusText(status) {
      let statusOptions = [
        {
          name: __("MULTIPLE_pending"),
          value: 1,
        },
        {
          name: __("dynamic_campaign_rule_freeze"),
          value: 2,
        },
        {
          name: __("dynamic_campaign_rule_running"),
          value: 3,
        },
        {
          name: __("ADMIN_MULTIPLE_terminated"),
          value: 4,
        },
      ];

      let d = statusOptions.filter((item) => {
        return item.value === status;
      });
      return (d && d[0] && d[0].name) || "";
    },
    handleClickTerminate(data) {
      this.$Modal.alert({
        onOk: () => {
          // 编辑
          klook.ajaxGet(urlObj.terminate_campaign(data.id), null, (res) => {
            if (res.success) {
              this.handleSearch(this.searchData);
            } else {
              this.$Message({
                type: "warning",
                content: res.error.message,
              });
            }
          });
        },
        okText: __("MULTIPLE_confirm"),
        showCancel: true,
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: `<div style="font-size: 14px">${__(
          "dynamic_commission_list_terminate_campaign_warning"
        )} </div><br><div style="font-weight: 600; word-break: break-all;">${__(
          "dynamic_commission_list_campaign_id"
        )}: ${data.id} - ${data.campaign_name}</div>`,
      });
    },
    handleEdit(data) {
      // 调用接口设置
      klook.ajaxGet(urlObj.campaign_search_by_id(data.id), null, (res) => {
        if (res.success) {
          let data = res.result;
          data.ranges = [
            moment(data.start_time_gmt8).toDate(),
            moment(data.end_time_gmt8).toDate(),
          ];
          data.pid_list = data.pid_list.length > 0 && data.pid_list.split(",");
          data.wid_list = data.wid_list.split(",").map((item) => +item);
          this.campaignData = data;
          this.showModal = true;
        } else {
          this.$Message.warning(res.error.message);
        }
      });
    },
    handleClickDelete(data) {
      this.$Modal.alert({
        onOk: () => {
          // 编辑
          klook.ajaxGet(urlObj.delete_campaign(data.id), { data }, (res) => {
            if (res.success) {
              this.handleSearch(this.searchData);
            } else {
              this.$Message({
                type: "warning",
                content: res.error.message,
              });
            }
          });
        },
        okText: __("MULTIPLE_confirm"),
        showCancel: true,
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: `<div style="font-size: 14px">${__(
          "dynamic_commission_list_terminate_campaign_delete"
        )} </div><br><div style="font-weight: 600; word-break: break-all">${__(
          "dynamic_commission_list_campaign_id"
        )}: ${data.id} - ${data.campaign_name}</div>`,
      });
    },
    handleClickRuleDetail(data) {
      this.$router.push({
        name: "campaign_rule",
        params: {
          campaign_id: data.id,
        },
      });
    },
    search(searchOption) {
      this.pagination.curPage = 1;
      this.handleSearch(searchOption);
    },
    handleSearch(searchOption) {
      const data = _cloneDeep(searchOption);
      if (data) {
        this.searchData = _cloneDeep(searchOption);
      }
      data.page = this.pagination.curPage;
      data.count = this.pagination.pageSize;
      data.start_time_gmt8 =
        (data.ranges && moment(data.ranges[0]).format("YYYY-MM-DD HH:mm:ss")) ||
        "";
      data.end_time_gmt8 =
        (data.ranges && moment(data.ranges[1]).format("YYYY-MM-DD HH:mm:ss")) ||
        "";
      data.wid_list = Array.isArray(data.wid) ? data.wid.join(",") : "";
      data.pid_list = Array.isArray(data.pid) ? data.pid.join(",") : "";
      delete data.ranges;
      delete data.wid;
      delete data.pid;
      this.loadingSearch = true;
      // 请求搜索接口
      klook.ajaxGet(urlObj.search_commission_campaign, data, (res) => {
        this.loadingSearch = false;
        if (res.success) {
          this.list =
            (res.result &&
              Array.isArray(res.result.campaigns) &&
              res.result.campaigns) ||
            [];
          this.gap = (res.result && res.result.rule_gap) || 0;
          this.pagination.total = (res.result && res.result.total) || 0;
        } else {
          console.error(res);
        }
      });
    },
    handleCloseModal() {
      this.showModal = false;
      this.campaignData = {
        campaign_type: 4,
        campaign_name: "",
        ranges: "",
        wid_list: [],
        pid_list: [],
        upsize_type: 0,
      };
      // 更新自组件状态
      this.$refs["campaign_form"].resetError &&
        this.$refs["campaign_form"].resetError();
    },
    handleCancel() {
      this.showModal = false;
      this.campaignData = {
        campaign_type: 4,
        campaign_name: "",
        ranges: "",
        wid_list: [],
        pid_list: [],
        upsize_type: 0,
      };
      // 更新自组件状态
      this.$refs["campaign_form"].resetError &&
        this.$refs["campaign_form"].resetError();
    },
    formatList(arr, key) {
      let data = _cloneDeep(arr);
      if (Array.isArray(data[`${key}`])) {
        data[`${key}`] = data[`${key}`]
          .filter((item) => item !== null)
          .map((item) => item);
        if (arr.length === 0) {
          data[`${key}`] = null;
        }
      } else {
        if (!data[`${key}`]) {
          data[`${key}`] = null;
        } else {
          data[`${key}`] = [data[`${key}`]];
        }
      }
      return data;
    },
    handleConfirm() {
      this.$refs["campaign_form"].validate((obj) => {
        let arr1 = this.formatList(obj, "wid_list");
        let data = this.formatList(arr1, "pid_list");
        data.start_time_gmt8 = moment(data.ranges[0]).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        data.end_time_gmt8 = moment(data.ranges[1]).format(
          "YYYY-MM-DD HH:mm:ss"
        );
        delete data.ranges;
        // 根据类型筛选
        if (+data.campaign_type === 3) {
          data.upsize_type = null;
          data.wid_list = null;
          data.pid_list = null;
        }
        if (data.id) {
          // 编辑
          klook.ajaxPostJSON(
            urlObj.update_campaign(data.id),
            { ...data },
            (res) => {
              if (res.success) {
                this.handleSearch(this.searchData);
                this.handleCancel();
              } else {
                this.$Message({
                  type: "warning",
                  content: res.error.message,
                });
              }
            }
          );
        } else {
          // 添加
          klook.ajaxPostJSON(urlObj.create_campaign, { ...data }, (res) => {
            if (res.success) {
              this.handleSearch(this.searchData);
              this.handleCancel();
            } else {
              this.$Message({
                type: "warning",
                content: res.error.message,
              });
            }
          });
        }
      });
    },
    showEdit(data) {
      // 已过期
      if (+data.status !== 1) {
        return false;
      } else {
        if (this.isConfigCampaignType(data)) {
          // pending 时可以编辑
          return +data.status === 1;
        } else {
          return false;
        }
      }
    },
    showStop(data) {
      if (+data.status !== 3 && +data.status !== 2) {
        return false;
      } else {
        return this.isConfigCampaignType(data);
      }
    },
    isConfigCampaignType(data) {
      return (
        +data.campaign_type === 3 ||
        +data.campaign_type === 4 ||
        +data.campaign_type === 5
      );
    },
    handleAdd() {
      this.showModal = true;
      this.campaignData = {
        campaign_type: 4,
        wid_list: [],
        pid_list: [],
        upsize_type: 0,
        campaign_name: "",
      };
    },
  },
};
</script>
