<style lang="scss" scoped>
.special_allow_list {
  padding: 4px 0 40px;
  .frame_title {
    font-size: 20px;
    font-weight: 500;
    padding: 4px 0 24px;
  }
  .header {
    padding-bottom: 24px;
    border-bottom: 1px solid #ebebeb;
    .operation_area {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;

      .search_area {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .categoty {
          margin-right: 20px !important;
        }
      }

      .btn_group {
        .theme_btn_base {
          line-height: 38px;
          margin: 0;
          padding: 0 20px;
        }
        .search_btn {
          margin-left: 10px;
        }
      }
    }
    .rule {
      font-size: 14px;
      line-height: 1.5;
      margin: 0 12px 24px 12px;
    }
  }
  .frame {
    padding-top: 24px;
    a {
      color: $theme_color;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .klk_table {
    th {
      .icon {
        vertical-align: text-bottom;
      }
    }
  }

  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 22px;
  }

  .label-item {
    display: block;
  }
  ::v-deep .klk_dialog_body {
    margin: 20px 70px;
    display: flex;
    flex-direction: column;
    .duplication {
      margin-bottom: 20px;
    }
    .name {
      font-size: 16px;
      font-weight: bolder;
      margin: 10px 0 20px 0;
    }
    .content {
      margin: 20px 0;
      line-height: 1.6;
    }
    li {
      list-style: decimal;
    }
  }
  ::v-deep.klk_dialog {
    .klk_dialog_footer {
      margin-right: 40px;
      text-align: right;
    }
  }
}
</style>
<style>
.alert_btn {
  line-height: 1.2 !important;
}
</style>
<template lang="html">
  <div class="special_allow_list">
    <div class="header">
      <div class="frame_title">{{ $t("header") }}</div>
      <div class="rule">
        <span>{{ $t("upload_rule1") }}</span>
        <ul>
          <li v-for="(item, index) in [2, 3, 4, 5, 8]" :key="index">
            {{ index + 1 }}. {{ $t(`upload_rule${item}`) }}
          </li>
        </ul>
        <br />
        <div>* {{ $t("upload_rule6") }}</div>
        <div>
          <span style="font-weight: bolder">Important</span>:
          {{ $t("upload_rule7") }}
        </div>
      </div>
      <div class="operation_area">
        <div class="btn_group">
          <button
            type="button"
            class="theme_btn_base small_btn"
            @click="() => handleClickExport('')"
          >
            {{ $t("MULTIPLE_export") }}
          </button>
          <klk-upload
            v-if="showUpload()"
            :onProgress="onUploadProgress"
            :onSuccess="onUploadSuccess"
            :onError="onUploadError"
            :accept="file_type"
            :action="upload_url"
            name="activity_list"
            style="display: inline-block"
          >
            <button
              type="button"
              class="theme_btn_base small_btn search_btn"
              v-loading="uploading"
              @click="handleClickUpload"
              name="button"
            >
              {{ $t("MULTIPLE_upload") }}
            </button>
          </klk-upload>
        </div>
      </div>
    </div>
    <div class="frame">
      <div class="frame_title">{{ $t("logs") }}</div>
      <klk-smart-list :cols="cols" :table_data="table_list" v-loading="loading">
        <tr slot-scope="scope">
          <td>{{ scope.row.email }}</td>
          <td>{{ showEffectTime(scope.row.upload_time) }}</td>
          <td>{{ showEffectTime(scope.row.effective_time) }}</td>
          <td>
            <span
              :style="+scope.row.status === 1 ? { color: '#07b295' } : ''"
              >{{ statusList[+scope.row.status] }}</span
            >
          </td>
          <td>
            <a
              style="margin-right: 10px"
              @click="handleClickExport(`?id=${scope.row.id}`)"
              >Check Uploaded Data</a
            >
            <a
              v-if="showConfirm(scope.row.status)"
              @click="handleClickConfirm(scope.row.id)"
              >Confirm</a
            >
          </td>
        </tr>
      </klk-smart-list>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      ></klk-pagination>
    </div>
    <klk-dialog class="alert" v-model="alert_show" width="800">
      <div class="klk_dialog_title" style="text-align: center">
        {{ $t("Upload Fail") }}
      </div>
      <div class="klk_dialog_body">
        <ul>
          <div class="duplication" v-if="duplication.length > 0">
            <li class="name">{{ $t("upload_activity") }}</li>
            <div class="content">
              {{ $t("dup_msg") }}
            </div>
            <div class="footer">
              {{ $t("activity_id") }} {{ duplication.join(",") }}
            </div>
          </div>
          <div class="category" v-if="unsupported.length > 0">
            <li class="name">{{ $t("wrong_type") }}</li>
            <div class="content">
              {{ $t("wrong_msg1") }}
            </div>
            <div class="footer">
              {{ $t("wrong_footer") }}
            </div>
          </div>
          <div class="category" v-if="empty.length > 0">
            <li class="name">{{ $t("wrong_activity") }}</li>
            <div class="content">
              {{ $t("wrong_msg2") }}
            </div>
            <div class="footer">
              {{ $t("wrong_msg3") }}
            </div>
          </div>
        </ul>
      </div>
      <div class="klk_dialog_footer">
        <div class="btn_group">
          <button
            type="button"
            name="button"
            class="theme_btn_base"
            @click="alert_show = false"
          >
            {{ $t("MULTIPLE_confirm") }}
          </button>
        </div>
      </div>
    </klk-dialog>
  </div>
</template>

<script>
import { urlObj } from "common_data";
import moment from "moment";
import { isAdmin } from "@/comm/user_role";

export default {
  name: "SpecialAllowList",
  data() {
    return {
      file_type: "text/csv", //.csv
      upload_url: urlObj.special_allow_list_upload,
      search_options: {
        category: 1,
        search_content: "",
      },
      uploading: false,
      pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      alert_show: false,
      empty: [],
      duplication: [],
      unsupported: [],
      statusList: {
        1: "Active",
        2: "Obsolete",
        0: "Pending",
      },
      table_list: [],
      loading: false,
    };
  },
  created() {
    this.cols = [
      {
        label: __("upload_user"),
      },
      {
        label: __("Upload Time"),
      },
      {
        label: __("Effective Time"),
      },
      {
        label: __("Status"),
      },
      {
        label: __("Action"),
      },
    ];
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    showUpload() {
      return isAdmin();
    },
    handleClickConfirm(id) {
      this.$Modal.alert({
        onOk: () => {
          // 编辑
          window.dataLayer.push({
            event: "manage",
            eventCategory: "Special Allowlist",
            eventAction: "Confirm",
          });
          klook.ajaxPutJSON(
            `${urlObj.special_allow_list_confirm}?id=${id}`,
            null,
            (res) => {
              if (res.success) {
                this.fetchData();
              } else {
                this.$Message({
                  type: "warning",
                  content: res.error.message,
                });
              }
            }
          );
        },
        okText: __("MULTIPLE_confirm"),
        showCancel: true,
        okClass: "theme_btn_base mini_btn alert_btn",
        cancelClass: "theme_btn_base_white mini_btn alert_btn",
        title: `<div style="line-height: 1.5">Are you sure to confirm the Special Allowlist Data? The Spevcial Allowlist Data will be active right away.</div>`,
      });
    },
    showConfirm(status) {
      return +status === 0 && isAdmin();
    },
    showEffectTime(time) {
      return time ? moment(time).format("YYYY-MM-DD HH:mm:ss") : "-";
    },
    fetchData() {
      this.loading = true;
      const { pageSize, curPage } = this.pagination;
      klook.ajaxGet(
        urlObj.special_allow_list_history,
        { page: curPage, pcount: pageSize },
        (res) => {
          this.loading = false;
          if (res.success) {
            this.table_list = res.result.mappings;
            const { total } = res.result;
            this.pagination = {
              pageSize,
              curPage,
              total,
            };
          }
        }
      );
    },
    onUploadProgress() {
      this.uploading = true;
    },
    onUploadError(err, res) {
      this.uploading = false;
      if (!res.success) {
        this.duplication = res.result.duplicate;
        this.unsupported = res.result.unsupported;
        this.empty = res.result.empty;
        this.alert_show = true;
      }
    },
    onUploadSuccess() {
      this.uploading = false;
      this.$Message.success(__("upload_Success"));
      this.fetchData();
    },
    handleClickExport(query) {
      if (query) {
        window.dataLayer.push({
          event: "manage",
          eventCategory: "Special Allowlist",
          eventAction: "Check Uploaded Data",
        });
      } else {
        window.dataLayer.push({
          event: "manage",
          eventCategory: "Special Allowlist",
          eventAction: "Export",
        });
      }
      klook.downloadFile(
        "",
        `${urlObj.special_allow_list_export}${query || ""}`
      );
    },
    handleClickUpload() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Special Allowlist",
        eventAction: "Upload",
      });
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.fetchData();
    },
  },
};
</script>
