<style lang="scss">
.ad_tools {
  width: 100%;
  background: #fff;
  padding: 0 0 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .title {
    margin: 4px 0 12px;
    font-size: 20px;
    font-weight: 500;
    color: #333333;
  }
  .tools_desc {
    line-height: 2;
    font-size: 14px;
    color: #999999;
  }
  .tool_list {
    display: flex;
    // justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    .tool_list_item {
      cursor: pointer;
      width: 353px;
      height: 148px;
      margin: 20px 20px 0 0;
      display: flex;
      flex-direction: column;
      background: #07b295;
      padding: 20px;
      border-radius: 2px;
      color: #fff;
      transition: 0.3s all;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &.search_boxes {
        background: #f6754c;
      }
      &.co_brand {
        background: #003399;
      }
      &.activity_ad {
        background: #003399;
      }
      &.dynamic_widgets {
        background: #f7ad2d;
      }
      &.code_ad {
        background: #886fec;
      }
      &.banner_ad {
        background: #1facbe;
      }
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
      }
      .item_header {
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 12px;
      }
      .item_desc {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}
.is_admin_operation {
  padding-top: 20px;
}
</style>

<template lang="html">
  <div :class="['ad_tools', this.$route.query.uid ? 'is_admin_operation' : '']">
    <div class="outer_route" v-show="$route.name != 'ad_tool_module'">
      <div class="title">
        {{ $t("AD_TOOLS_TOOLS") }}
      </div>
      <div class="tools_desc">
        {{ $t("AD_TOOLS_tools_desc") }}
      </div>
      <div class="tool_list">
        <div
          class="tool_list_item dynamic_widgets"
          @click="enterAdTool('dynamicWidgets')"
        >
          <span class="item_header">
            {{ $t("MULTIPLE_dynamic_widgets") }}
          </span>
          <span class="item_desc">
            {{ $t("dashboard_widgets_tip") }}
          </span>
        </div>
        <div class="tool_list_item" @click="enterAdTool('link')">
          <span class="item_header">{{ $t("MULTIPLE_text_links") }}</span>
          <span class="item_desc">
            {{ $t("MULTIPLE_text_links_desc") }}
          </span>
        </div>
        <div
          class="tool_list_item search_boxes"
          @click="enterAdTool('search_vertical')"
        >
          <span class="item_header">{{ $t("MULTIPLE_search_box") }}</span>
          <span class="item_desc">
            {{ $t("MULTIPLE_search_box_desc") }}
          </span>
        </div>
        <div class="tool_list_item banner_ad" @click="enterAdTool('banner')">
          <span class="item_header">
            {{ $t("MULTIPLE_static_banners") }}
          </span>
          <span class="item_desc">
            {{ $t("MULTIPLE_static_banners_desc") }}
          </span>
        </div>
        <div
          class="tool_list_item activity_ad"
          @click="enterAdTool('activity')"
        >
          <span class="item_header">
            {{ $t("MULTIPLE_activity_banners") }}
          </span>
          <span class="item_desc">
            {{ $t("MULTIPLE_activity_banner_desc") }}
          </span>
        </div>
        <div class="tool_list_item code_ad" @click="enterAdTool('code')">
          <span class="item_header">{{ $t("MULTIPLE_promo_codes") }}</span>

          <span class="item_desc">
            {{ $t("MULTIPLE_promo_codes_desc") }}
          </span>
        </div>
      </div>
    </div>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import { WIDGET_MAP_GOOGLE_TRACKING } from "common_data";

export default {
  name: "AdTools",
  mounted() {
    // Google Tag Manager for custom dimension UID
    if (USER_INFO.id) {
      window.dataLayer.push({
        uid: USER_INFO.id.toString(),
      });
    }
  },
  methods: {
    enterAdTool(ad_tool_type) {
      // Google Tag Manager for adStart Event
      window.dataLayer.push({
        event: "adStart",
        eventCategory: "My Ads",
        eventAction: "Tools Click",
        eventLabel: WIDGET_MAP_GOOGLE_TRACKING[ad_tool_type],
      });
      this.$router.push({
        name: "ad_tool_module",
        params: {
          ad_tool_type: ad_tool_type,
        },
      });
    },
  },
};
</script>
