<template>
  <div class="container" v-show="show">
    <div class="list">
      <div class="item" v-for="(item, index) in data" :key="index">
        <a
          class="item_link"
          @click="handleClickActivity(item)"
          :href="item.jump_url"
          target="_blank"
        >
          <div
            class="img"
            :style="`background-image: url(${imageUrl(item.image_url_host)})`"
          >
            <span class="city_name" :tabindex="index * 4 + 1">{{
              item.city_name
            }}</span>
          </div>
          <div class="desc_info">
            <div class="product_info">
              <span
                :class="{ title: true, iskoa: showData.iskoa }"
                :tabindex="index * 4 + 2"
                style="-webkit-box-orient: vertical"
                >{{ item.title }}</span
              >
              <div
                class="score_info"
                v-if="+item.review_total > 0"
                :tabindex="index * 4 + 3"
              >
                <div class="score-wrapper">
                  <span>
                    <embed
                      :src="require(`../../assets/img/yellow.svg`)"
                      class="star"
                    />
                  </span>
                  <span class="score">{{ item.score }}</span>
                </div>
                <span class="review"
                  >({{ item.review_total }}
                  {{ showData.activity_reviews }})</span
                >
              </div>
            </div>
            <div class="price" :tabindex="index * 4 + 4">
              <span class="price_value"
                >{{ item.currency_format }} {{ priceFormat(item) }}</span
              >
              <span style="display: flex">
                <embed
                  :src="require(`../../assets/img/instant.svg`)"
                  class="light"
                />
              </span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <!--        <div class="button">
                    <a :href="showData.klook_url" target="_blank">
                        <div @click="handleClickViewMore" class="view_more" :tabindex="(data.length - 1) * 4 + 5">{{showData.view_more_text}}</div>
                    </a>
                </div>
                <div class="power_link">
                    <a :href="showData.affiliate_url" target="_blank">
                        <div  @click="handleClickPower"  class="powered" :tabindex="(data.length - 1) * 4 + 6">Powered by KLOOK</div>
                    </a>
                </div>-->
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import {
  urlObj,
  RENDER_LANGUAGE_MAP,
  currencyDecimalplace,
} from "../../utils/common_data";
import _get from "lodash/get";
import _cloneDeep from "lodash/cloneDeep";
import { ajaxGet } from "../../render/util/request";

interface detail_type {
  id: number;
  template_id: number;
  title: string;
  subtitle: string;
  currency_format: string;
  url_seo: string;
  city_id: number;
  city_name: string;
  instance: number;
  image_url: string;
  score: number;
  currency: string;
  market_price: string;
  sell_price: string;
  sell_price_format: string;
  start_time: string;
  sold_out: Boolean;
  published: Boolean;
  participate: number;
  participants_format: string;
  hot_state: string;
  discount: number;
  review_total: number;
  need_hide_review: boolean;
  image_url_host: string;
  country_id: number;
  country_name: string;
  jump_url: string;
  affiliate_url: string;
  klook_url: string;
  lang: string;

  [key: string]: any;
}

interface show_type {
  klook_url: string;
  affiliate_url: string;
  lang: string;
  iskoa: boolean;
  view_more_text: string;
  activity_reviews: string;

  [key: string]: any;
}

@Component({
  components: {},
})
export default class Widget extends Vue {
  private data: Array<detail_type> = [];
  private showData: show_type = {
    klook_url: "",
    affiliate_url: "",
    lang: "",
    iskoa: false,
    activity_reviews: "Reviews",
    view_more_text: "View More",
  };
  private adid;
  private aid;
  iframeInfo = {};
  show: boolean | undefined = false;
  noRenderSize: string[] = ["336x280", "300x250", "250x250"];

  private kepler_id = this.$renderStore.state.keplerId;

  get currentExp() {
    return this.$renderStore.state.currentExp;
  }

  imageUrl(url: string): string {
    let arr: Array<string> = url.split("/upload");
    return (
      arr[0] +
      "/upload/fl_lossy.progressive,q_60,f_auto/c_fill,w_650,h_420" +
      arr[1]
    );
  }

  priceFormat({ sell_price, currency }) {
    if (!sell_price.includes(".")) {
      return sell_price;
    } else {
      let decimalplace = currencyDecimalplace[currency];
      let indexOf = sell_price.indexOf(".") + 1;
      return sell_price.substr(0, indexOf + decimalplace);
    }
  }

  handleClickActivity(item) {
    // 获得当前命中的实验，进行上报
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: `Experimentation`,
      eventAction: `Affiliate Ad Click`,
      eventLabel: `Activity Banner`,
      KeplerID: this.kepler_id,
      AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
        this.currentExp.groupId || ""
      }`,
      AffiliateADID: this.adid,
      PartnerWebsiteAID: this.aid,
    });
  }

  filterData(ad_detail, activities) {
    const d =
      ad_detail &&
      ad_detail.activities.map((item) => {
        let id = item.id;
        const d = activities.find((act) => {
          return +act.id === +id;
        });
        return d || activities[0];
      });
    return d;
  }

  handleClickViewMore() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - View More`,
    });
  }

  handleClickPower() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - Power By klook`,
    });
  }

  formatResponse(response: any) {
    let res = _cloneDeep(response);
    let redirect_url = _get(res, "result.redirect_url") || {};
    let lang: string = _get(res, "result.redirect_url.lang") || "en-US";
    // 设置 view_more 的语言规则
    redirect_url.view_more_text =
      (lang && RENDER_LANGUAGE_MAP[lang].view_more) || "View More";
    redirect_url.activity_reviews =
      (lang && RENDER_LANGUAGE_MAP[lang].activity_reviews) || "Reviews";
    // 设置韩语标识
    redirect_url.iskoa = lang === "ko";
    if (["fr", "de", "es", "ru"].indexOf(lang) > -1) {
      // 跳转到 portal 英文界面
      redirect_url.affiliate_url = "/home";
    }
    return res;
  }

  fetchData(adid: any) {
    ajaxGet(urlObj.activity_banner_render_data(adid), null, (res: any) => {
      // 对接口做判断
      if (res.success) {
        this.show = true;
        let data = this.formatResponse(res);
        let size_price = data.result.ad_detail.size_price;
        this.$renderStore.commit("updateSizePrice", size_price || "");
        this.data = this.filterData(
          data.result.ad_detail,
          data.result.activities
        );
        this.showData = data.result.redirect_url;
        this.aid = data.result.aid || "";
        if (this.normalRender(size_price)) {
          // console.log("fetchData variant");
          window.dataLayer.push({
            event: "adDisplay",
            eventCategory: `Experimentation`,
            eventAction: `Affiliate Ad Impression`,
            eventLabel: `Activity Banner`,
            KeplerID: this.kepler_id,
            AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
              this.currentExp.groupId || ""
            }`,
            AffiliateADID: this.adid,
            PartnerWebsiteAID: this.aid,
          });
        }
      }
    });
  }

  normalRender(size_price: string) {
    for (let s of this.noRenderSize) {
      if (size_price.includes(s)) {
        return true;
      }
    }
    return false;
  }

  created() {
    let adid = this.getUrlParam("adid");
    if (!adid || +adid < 0 || !Number.isInteger(+adid)) {
      return;
    }
    this.adid = adid;
    this.fetchData(adid);
  }

  getUrlParam(name: string) {
    const reg = new RegExp(`(^|&)${name}=([^&]*)(&|$)`);
    const r = window.location.search.substr(1).match(reg);
    if (r !== null) return +r[2];
    return null;
  }
}
</script>
<style lang="scss" scoped>
.container {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  .item {
    background: white;
    border-radius: 4px;
  }

  a {
    text-decoration: none;
    color: black;
    outline: none;
  }

  .button {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    .view_more {
      width: 148px;
      height: 32px;
      border-radius: 4px;
      background-color: white;
      color: #ff5722;
      border: solid 1px #ff5722;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      line-height: 32px;
      text-decoration: none;

      &:hover {
        background-color: #ff5722;
        color: white;
      }
    }
  }

  .power_link {
    display: flex;
    justify-content: center;
    padding: 16px 0;

    .powered {
      font-size: 12px;
      color: #999999;
    }
  }
}

@media screen and (min-width: 336px) {
  .container {
    min-width: 300px;

    .item {
      border-radius: 4px;
      .item_link {
        .img {
          border-radius: 4px 0 0 4px;
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        display: block;
        height: 88px;
        transition: margin 0.2s ease-out;

        &:nth-child(2n) {
          margin: 8px 0;
        }

        .item_link {
          display: flex;
          text-decoration: none;
          height: 100%;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            min-width: 96px;
            background-position: center center;
            overflow: hidden;

            .city_name {
              //display: flex;
              display: none;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              margin: 5px 8px;
              color: #ffffff;
              padding: 6px 8px;
              background: #312f2f9e;
              border-radius: 4px;
              width: fit-content;
            }
          }

          .desc_info {
            margin: 0 13px;
            padding-top: 12px;
            padding-bottom: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product_info {
              .title {
                word-break: break-all;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 12px;
                line-height: 1.4;
                color: #333333;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: none;
              //display: flex;
              align-items: center;
              margin-top: 4px;

              .star {
                display: inline-block;
                width: 13px;
                height: 13px;
              }

              .score {
                color: #333333;
                font-size: 14px;
                font-weight: 600;
                margin: 0 4px;
              }

              .review {
                font-size: 12px;
                color: #767676;
              }
            }

            .price {
              display: flex;
              align-items: center;
              font-size: 14px;
              font-weight: 600;
              color: #333333;
              margin-bottom: 4px;

              .from {
                font-size: 12px;
                font-weight: normal;
                margin-right: 3px;
              }

              .price_value {
                margin-right: 10px;
                color: #ff5722;
              }

              .light {
                display: inline-block;
                width: 9px;
                height: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 300px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item {
      border-radius: 4px;
      .item_link {
        .img {
          border-radius: 4px 4px 0 0;
        }
      }
    }

    .list {
      display: flex;
      justify-content: center;

      .item {
        display: block;
        width: 300px;
        transition: margin 0.2s ease-out;

        .item_link {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 126px;
            width: 100%;
            background-position: center center;
            overflow: hidden;
            background-image: url("https://res.klook.com/image/upload/activities/wgw7f8n0nlzj063qzyk4.jpg");

            .city_name {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              margin: 5px 8px;
              color: #ffffff;
              padding: 6px 8px;
              background: #312f2f9e;
              border-radius: 4px;
              width: fit-content;
            }
          }

          .desc_info {
            padding: 12px 14px 12px 16px;
            box-sizing: border-box;
            height: 124px;

            .product_info {
              min-height: 80px;

              .title {
                word-break: break-all;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 8px;

              .score-wrapper {
                box-sizing: border-box;
                background: #fff4ed;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 5px;
                height: 16px;
                margin-right: 6px;

                .star {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                }

                .score {
                  color: #ff9d26;
                  font-size: 12px;
                  font-weight: 600;
                  margin: 0 4px;
                }
              }

              .review {
                font-size: 12px;
                color: #999;
              }
            }

            .price {
              display: flex;
              align-items: center;
              font-size: 14px;
              font-weight: 600;

              .from {
                font-size: 12px;
                font-weight: normal;
                margin-right: 3px;
              }

              .price_value {
                margin-right: 10px;
                color: #ff5722;
              }

              .light {
                display: inline-block;
                width: 9px;
                height: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 250px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .item {
      border-radius: 4px;
      .item_link {
        .img {
          border-radius: 4px 4px 0 0;
        }
      }
    }

    .list {
      display: flex;
      justify-content: center;

      .item {
        display: block;
        width: 250px;
        transition: margin 0.2s ease-out;

        .item_link {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 126px;
            width: 100%;
            background-position: center center;
            overflow: hidden;
            background-image: url("https://res.klook.com/image/upload/activities/wgw7f8n0nlzj063qzyk4.jpg");

            .city_name {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              margin: 5px 8px;
              color: #ffffff;
              padding: 6px 8px;
              background: #312f2f9e;
              border-radius: 4px;
              width: fit-content;
            }
          }

          .desc_info {
            padding: 12px 14px 12px 16px;
            box-sizing: border-box;
            height: 124px;

            .product_info {
              min-height: 80px;

              .title {
                word-break: break-all;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 8px;

              .score-wrapper {
                box-sizing: border-box;
                background: #fff4ed;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 0 5px;
                height: 16px;
                margin-right: 6px;

                .star {
                  display: inline-block;
                  width: 10px;
                  height: 10px;
                }

                .score {
                  color: #ff9d26;
                  font-size: 12px;
                  font-weight: 600;
                  margin: 0 4px;
                }
              }

              .review {
                font-size: 12px;
                color: #999;
              }
            }

            .price {
              display: flex;
              align-items: center;
              font-size: 14px;
              font-weight: 600;

              .from {
                font-size: 12px;
                font-weight: normal;
                margin-right: 3px;
              }

              .price_value {
                margin-right: 10px;
                color: #ff5722;
              }

              .light {
                display: inline-block;
                width: 9px;
                height: 12px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
