<!doctype html>
<html>

<head>
    <title>Klook.com Banner</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <!--
500x130———248w x 90h
500x230———164w x 190h
750x300———184w x 260h
900x300———222w x 260h
-->
    <link rel="stylesheet" type="text/css" href="{{res_path_web}}/s/widgets/css/search.css">
</head>

<body>
<div class="search_container j_container">
    <div class="header">
        <div class="logo">
            <img id="logo_img" alt="">
            <div class="logo_txt">Yours To Explore</div>
        </div>
        <form target="_blank" id="search_form">
            <div class="search_box radius_box">
                <input class="radius_box" id="search_input" name="query" autocomplete="off"
                       placeholder="Search Asia Cities, Tours, Activities"/>
                <input type="hidden" name="adid"/>
                <input type="hidden" name="aid"/>
                <input type="hidden" name="_currency"/>
                <i class="klook-Magnifier search_icon"></i>
                <span class="search_btn" id="search_btn">Search</span>
                <div class="search_items"></div>
            </div>
        </form>
    </div>
</div>
</body>
<script>
let locales = {
    'zh-TW': {
        "widgets_search_logo_txt": "Yours To Explore 探索未知的你",
        "widgets_search_placeholder": "搜索亞洲城市、景點、旅遊活動",
        "widgets_search_btn_new": "搜索"
    },
    'zh-HK': {
        "widgets_search_logo_txt": "Yours To Explore 探索未知的你",
        "widgets_search_placeholder": "搜索亞洲城市、景點、旅遊活動",
        "widgets_search_btn_new": "搜索"
    },
    'zh-CN': {
        "widgets_search_logo_txt": "Yours To Explore 探索未知的你",
        "widgets_search_placeholder": "搜索亚洲城市、景点、旅游活动",
        "widgets_search_btn_new": "搜索"
    },
    'vi': {
        "widgets_search_logo_txt": "Tự do khám phá",
        "widgets_search_placeholder": "Tìm các quốc gia Châu Á, Tour và các Dịch vụ",
        "widgets_search_btn_new": "Tìm kiếm"
    },
    'th': {
        "widgets_search_logo_txt": "Yours To Explore",
        "widgets_search_placeholder": "ค้นหาเมือง, ทัวร์ และกิจกรรมในเอเชีย",
        "widgets_search_btn_new": "ค้นหา"
    },
    'ko': {
        "widgets_search_logo_txt": "나만의 여행을 찾다",
        "widgets_search_placeholder": "아시아 도시, 투어, 액티비티 검색하기",
        "widgets_search_btn_new": "검색"
    },
    'ja': {
        "widgets_widgets_search_logo_txt": "YOURS TO EXPLORE",
        "widgets_search_placeholder": "アジアの都市・ツアー・アクティビティを検索",
        "widgets_search_btn_new": "検索"
    },
    'id': {
        "widgets_search_logo_txt": "Yours To Explore",
        "widgets_search_placeholder": "Cari Kota-Kota Asia, Tour, Aktivitas",
        "widgets_search_btn_new": "Cari"
    },
    'en': {
        "widgets_search_logo_txt": "Yours To Explore",
        "widgets_search_placeholder": "Search Asia Cities, Tours, Activities",
        "widgets_search_btn_new": "Search"
    }
};
</script>
<script>
function getSearchItemWidth() {
    return $cls("search_items").offsetWidth;
}

function getSearchBoxWidth() {
    return $cls("search_box").offsetWidth;
}

//compatible with ie8
function getElementsByClassName(cls) {
    if (document.getElementsByClassName) {
        return document.getElementsByClassName(cls);
    } else {
        return document.querySelectorAll('.' + cls);
    }
}

function $cls(cls) {
    var eles = getElementsByClassName(cls);
    if (eles && eles.length > 0) {
        return eles[0];
    }
}

function $id(id) {
    return document.getElementById(id);
}

function adjustSearchBarWidth() {
    var searchInput = $id("search_input");
    var container = $cls("j_container");
    var page_width = container.getAttribute("data-width");
    var search_item_width = getSearchItemWidth();
    var search_box_width = getSearchBoxWidth();
    var padding_count = 13;
    var lang = urlParam("lang");
    if (lang === "en") {
        padding_count = padding_count - 30;
    }
    if (page_width === 750) {
        searchInput.style.width = ((page_width - 110) - search_item_width - padding_count) + "px";
    } else if (page_width === 900) {
        searchInput.style.width = ((page_width - 110) - search_item_width - padding_count) + "px";
    }
}

function computeElementWidth(ele) {
    return ele.offsetWidth;
}

function addEvent(element, eventName, func) {
    if (element.addEventListener) {
        element.addEventListener(eventName, func, false);
    } else if (element.attachEvent) {
        element.attachEvent('on' + eventName, func);
    } else {
        element[eventName] = func;
    }
}

function go_search(e) {
    if (e.keyCode == 13) {
        go_search_impl(e);
    }
}

function go_search_impl(e) {
    var val = $id("search_input").value;
    if (val) {
        $id("search_form").submit();
    }
}

function initSearchBox() {
    var element = $id("search_input");
    var click_btn = $id("search_btn");
    addEvent(element, "keydown", go_search);
    addEvent(click_btn, "click", go_search_impl);
}

function urlParam(name, value, url) {
    if (typeof value == "undefined") {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(url || location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
    } else {
        url = url || window.location.href;
        name = name.toString();
        value = encodeURIComponent(value.toString());
        var r = new RegExp("(^|\\W)" + name + "=[^&]*", "g");
        var vUrl = url.split("#");
        vUrl[0] = (vUrl[0].match(r)) ? vUrl[0].replace(r, "$1" + name + "=" + value) : vUrl[0] + (vUrl[0].indexOf("?") == -1 ? "?" : "&") + name + "=" + value;
        return vUrl.join("#");
    }
}

window.onload = function () {
    let xhr = new XMLHttpRequest();
    xhr.open('get', '/v3/affsrv/ads/search/banner?adid={{queryAdid}}');
    xhr.send();
    xhr.onreadystatechange = function () {
        // readyState == 4说明请求已完成
        if (xhr.readyState === 4 && xhr.status === 200 || xhr.status === 304) {
            // 从服务器获得数据
            let response = JSON.parse(xhr.responseText);
            let result = (response &&  response.result) || {};
            let search_banner = (result && result.search_banner) || {};

            let width = search_banner.width || '300';
            let height = search_banner.height || '250';
            let lang = search_banner.lang || 'en-US';
            let currency = search_banner.currency || 'USD';
            let adid = search_banner.adid || '';
            let aid = search_banner.aid || '';
            let noNeedFormat = ['zh-CN', 'zh-TW', 'zh-HK'];

            // 转换格式
            if (noNeedFormat.indexOf(lang) === -1) {
                lang = lang.slice(0, lang.indexOf('-')) || 'en';
            }

            let search_btn = $id("search_btn");
            let search_input = $id("search_input");
            let search_form = $id("search_form");
            let logo_img = $id("logo_img");
            let logo_txt = $cls("logo_txt");
            let search_container = $cls("search_container");

            let adidInput = document.querySelector('input[name=adid]');
            let aidInput = document.querySelector('input[name=aid]');
            let currencyInput = document.querySelector('input[name=_currency]');

            adidInput.value = "{{queryAdid}}" || adid;
            aidInput.value = aid;
            currencyInput.value = currency;

            search_form.action = '/redirect/' + lang + '/search';
            logo_img.src = '{{res_path_web}}/s/widgets/imgs/logo_' + lang + '.png';
            search_container.classList.add('size_' + width + 'x' + height);
            search_container.dataset.width = width;

            search_input.setAttribute('placeholder', locales[lang]['widgets_search_placeholder']);
            logo_txt.innerText = locales[lang]['widgets_search_logo_txt'];
            search_btn.innerText = locales[lang]['widgets_search_btn_new'];

        }
    };

    adjustSearchBarWidth();
    initSearchBox();
};
</script>
<script>
(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
        'gtm.start':
            new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-WNBGXWM');
</script>
</html>