<style lang="scss">
.tools {
  background: #fff;
  .affiliate_tools {
    .title {
      font-size: 32px;
      font-weight: 500;
      text-align: center;
      margin: 72px 0 16px;
    }
    .desc {
      margin-bottom: 48px;
      text-align: center;
      font-size: 16px;
    }
    .detail {
      .list {
        .item {
          display: flex;
          width: 100%;
          height: 320px;
          &:nth-child(2n) {
            flex-direction: row-reverse;
            background: #fafafa;
            .item_img {
              justify-content: flex-start;
            }
            .item_desc {
              align-items: flex-end;
            }
          }
          .item_desc,
          .item_img {
            display: flex;
            padding: 30px;
          }
          .item_img {
            justify-content: flex-end;
            flex: 1 1 auto;
            img {
              width: 374px;
              height: 260px;
            }
          }
          .item_desc {
            height: 260px;
            flex: 1 1 auto;
            color: #333;
            flex-direction: column;
            justify-content: center;
            .item_title {
              font-size: 24px;
              font-weight: bold;
              margin-bottom: 20px;
              width: 380px;
            }
            .item_content {
              width: 380px;
              font-size: 16px;
              line-height: 1.44;
            }
          }
        }
      }
    }
  }
}
</style>

<template lang="html">
  <div class="tools">
    <common-banner></common-banner>
    <div class="affiliate_tools">
      <div class="title">
        {{ $t("TOOLS_klook_affiliate_partner_program") }}
      </div>
      <div class="desc">
        {{ $t("TOOLS_klook_affiliate_partner_program_desc") }}
      </div>
      <div class="detail">
        <div class="list">
          <div class="item" v-for="(item, i) in ad_list" :key="i">
            <div class="item_img">
              <img :src="item.url" alt="" />
            </div>
            <div class="item_desc">
              <div>
                <h1 class="item_title">{{ item.title }}</h1>
                <div class="item_content">
                  {{ item.content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CommonBanner from "../../tpl/common_banner.vue";

export default {
  name: "Tools",
  components: {
    CommonBanner,
  },
  created() {
    this.ad_list = [
      {
        url: require("../../../imgs/tools/text-links.png"),
        title: __("TOOLS_klook_affiliate_partner_program_title_1"),
        content: __("TOOLS_klook_affiliate_partner_program_content_1"),
      },
      {
        url: require("../../../imgs/tools/static-banners.png"),
        title: __("TOOLS_klook_affiliate_partner_program_title_2"),
        content: __("TOOLS_klook_affiliate_partner_program_content_2"),
      },
      {
        url: require("../../../imgs/tools/search-boxes.png"),
        title: __("TOOLS_klook_affiliate_partner_program_title_3"),
        content: __("TOOLS_klook_affiliate_partner_program_content_3"),
      },
      {
        url: require("../../../imgs/tools/activity-banners.png"),
        title: __("TOOLS_klook_affiliate_partner_program_title_4"),
        content: __("TOOLS_klook_affiliate_partner_program_content_4"),
      },
      {
        url: require("../../../imgs/tools/promo-codes.png"),
        title: __("TOOLS_klook_affiliate_partner_program_title_5"),
        content: __("TOOLS_klook_affiliate_partner_program_content_5"),
      },
    ];
  },
};
</script>
