<style lang="scss" scoped>
.co_brand_management {
  padding-top: 30px;

  .search_area {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .select_area_row {
      display: flex;
      align-items: center;
    }
    .klk_select {
      margin-right: 12px;
    }
    .search_input {
      margin-right: 20px;
      .icon_search {
        line-height: 40px;
      }
    }
  }

  .application_table {
    .operation {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 22px;
    }
  }

  .yellow {
    color: #f5a623;
  }

  .green {
    color: #07b295;
  }

  .lightgreen {
    color: #23ac38;
  }
}
</style>

<template>
  <div class="co_brand_management">
    <!-- search area -->
    <div class="search_area">
      <div class="select_area_row">
        <!-- search by Aid/Uid -->
        <klk-select filterable v-model="search_options.type" width="180px">
          <klk-option
            v-for="item in search_type_list"
            :key="item.value"
            :value="item.value"
            >{{ item.label }}</klk-option
          >
        </klk-select>
        <klk-input
          type="text"
          class="search_input"
          v-model.trim="search_options.search_content"
          :placeholder="`${$t('MULTIPLE_website_id')}/${$t(
            'ADMIN_MULTIPLE_uid'
          )}`"
          @input="changeSearchOption('input')"
          @on-enter="handleBrandsCurrentChange(1)"
          width="200px"
        >
          <span slot="append" @click="handleBrandsCurrentChange(1)">
            <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
          </span>
        </klk-input>
        <!-- search by Status -->
        <span class="label">{{ $t("MULTIPLE_status") }}:</span>
        <klk-select
          filterable
          v-model="search_options.state"
          @on-change="
            (value) => changeSearchOption('select', 'Search By Status', value)
          "
          :placeholder="$t('MULTIPLE_status')"
          width="200px"
        >
          <klk-option
            v-for="(item, index) in state_list"
            :key="index"
            :value="item.value"
            >{{ item.label }}</klk-option
          >
        </klk-select>
        <!-- search by Affiliate Country -->
        <span class="label">{{ $t("ADMIN_MULTIPLE_affiliate_country") }}:</span>
        <klk-select
          filterable
          v-model="search_options.country_code"
          @on-change="
            (value) =>
              changeSearchOption('select', 'Search By Affiliate Country', value)
          "
          :placeholder="$t('ADMIN_MULTIPLE_affiliate_country')"
          width="200px"
        >
          <klk-option value="all">{{
            $t("ADMIN_CO_BRAND_MANAGEMENT_all_country")
          }}</klk-option>
          <klk-option
            v-for="(value, key) in country_code_list"
            :key="key"
            :value="key"
            >{{ value.name }}</klk-option
          >
        </klk-select>
      </div>
    </div>

    <!-- table -->
    <div class="application_table frame" v-loading="is_loading_shown">
      <klk-smart-list :cols="cols" :table_data="brands_list">
        <tr slot-scope="scope">
          <td class="green">{{ scope.row.uid || "-" }}</td>
          <td>{{ scope.row.manager_email || "-" }}</td>
          <td>{{ scope.row.fullname || "-" }}</td>
          <td>{{ country_code_list[scope.row.country].name || "-" }}</td>
          <td>
            <template v-if="getAids(scope.row.wids) !== '-'">
              <a
                class="theme_a"
                target="__blank"
                v-for="(wid, index) in getAids(scope.row.wids)"
                :key="wid"
                :href="`https://www.klook.com?aid=${wid}`"
              >
                {{
                  `${wid}${
                    index === getAids(scope.row.wids).length - 1 ? "" : `, `
                  }`
                }}
              </a>
            </template>
            <span v-else>-</span>
          </td>
          <td>{{ getType(scope.row.type) }}</td>
          <td>{{ getFormatTime(scope.row.time) }}</td>
          <td :class="getColor(scope.row.state)">
            {{ getStatus(scope.row.state) }}
          </td>
          <td>
            <a
              class="theme_a"
              href="javascript:void(0);"
              v-if="!!scope.row.state && !scope.row.type"
              @click="viewLogos(scope.row.urls)"
              >{{ $t("ADMIN_CO_BRAND_MANAGEMENT_view") }}</a
            >
            <span v-else>-</span>
          </td>
          <td>
            <span class="operation">
              <a @click="handleClickCreate">
                <router-link
                  class="theme_a"
                  v-show="displayAction(scope.row, 0)"
                  :to="{ name: 'co_brand', query: { uid: scope.row.uid, from_co_brand_management: true } }"
                >
                  {{ $t("ADMIN_CO_BRAND_MANAGEMENT_create") }}
                </router-link>
              </a>
              <a @click="handleClickModify"
                ><router-link
                  class="theme_a"
                  v-show="displayAction(scope.row, 2)"
                  :to="{ name: 'co_brand', query: { uid: scope.row.uid } }"
                >
                  {{ $t("ADMIN_CO_BRAND_MANAGEMENT_modify") }}
                </router-link></a
              >
              <a
                class="theme_a"
                href="javascript:void(0);"
                v-show="displayAction(scope.row, 2)"
                @click="showModal('approve', scope.row.uid, 6)"
              >
                {{ $t("ADMIN_CO_BRAND_MANAGEMENT_approve") }}
              </a>
              <a
                class="theme_a"
                href="javascript:void(0);"
                v-show="displayAction(scope.row, 3, true)"
                @click="showModal('recall', scope.row.uid, 7)"
              >
                {{ $t("ADMIN_CO_BRAND_MANAGEMENT_recall") }}
              </a>
              <a
                class="theme_a"
                href="javascript:void(0);"
                v-show="displayAction(scope.row, 2)"
                @click="showModal('reject', scope.row.uid, 4)"
              >
                {{ $t("ADMIN_CO_BRAND_MANAGEMENT_reject") }}
              </a>
              <a
                class="theme_a"
                href="javascript:void(0);"
                v-show="!!scope.row.state"
                @click="viewHistory(scope.row)"
              >
                {{ $t("ADMIN_CO_BRAND_MANAGEMENT_view_history") }}
              </a>
            </span>
          </td>
        </tr>
      </klk-smart-list>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="brands_pagination.total"
        :page_size="brands_pagination.pageSize"
        :prop_current="brands_pagination.curPage"
        @current_change="handleBrandsCurrentChange"
      >
      </klk-pagination>
    </div>

    <!-- view dialog -->
    <view-logo-dialog
      :is_dialog_shown="logo_dialog_info.is_dialog_shown"
      :colorful_logo_url="logo_dialog_info.colorful_logo_url"
      :binary_logo_url="logo_dialog_info.binary_logo_url"
      @confirm="logo_dialog_info.is_dialog_shown = false"
    >
    </view-logo-dialog>

    <!-- view histroy dialog -->
    <view-history-dialog
      :is_dialog_shown="history_dialog_info.is_dialog_shown"
      :list="history_dialog_info.history_list"
      :user_info="history_dialog_info.user_info"
      :pagination="history_pagination"
      @change="handleHistoryCurrentChange"
      @confirm="history_dialog_info.is_dialog_shown = false"
    >
    </view-history-dialog>

    <!-- recall select dialog -->
    <recall-select-dialog
      :is_dialog_shown="recall_select_dialog.is_dialog_shown"
      v-model="recall_select_dialog.value"
      @change="handleRecallRadioChange"
      @cancel="recall_select_dialog.is_dialog_shown = false"
      @confirm="handleRecallRadioConfirm"
      >>
    </recall-select-dialog>
  </div>
</template>

<script>
import {
  urlObj,
  requestWithCache,
  WIDGET_MAP_GOOGLE_TRACKING,
} from "common_data";
import { isAdmin, email } from "../../../../../comm/user_role";
import TableComputedMixin from "../../my_ads/co_brand/mixin/table_computed_mixin";
import ViewLogoDialog from "./components/view_logo_dialog.vue";
import ViewHistoryDialog from "./components/view_history_dialog.vue";
import RecallSelectDialog from "./components/recall_select_dialog.vue";

export default {
  name: "CoBrandApplication",
  mixins: [TableComputedMixin],
  data() {
    return {
      search_options: {
        type: "wid",
        search_content: "",
        state: 2,
        country_code: "all",
      },
      state_list: [
        {
          label: __("MULTIPLE_active"),
          value: 3,
        },
        {
          label: __("MULTIPLE_in_process"),
          value: 2,
        },
        {
          label: __("MULTIPLE_pending"),
          value: 1,
        },
        {
          label: __("MULTIPLE_not_set"),
          value: 0,
        },
        {
          label: "",
          value: "all",
        },
      ],
      country_code_list: [],
      search_type_list: [
        {
          label: __("MULTIPLE_website_id"),
          value: "wid",
        },
        {
          label: __("ADMIN_MULTIPLE_uid"),
          value: "uid",
        },
      ],
      is_loading_shown: true,
      cols: [],
      brands_list: [],
      brands_pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      history_pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      logo_dialog_info: {
        colorful_logo_url: "",
        binary_logo_url: "",
        is_dialog_shown: false,
      },
      history_dialog_info: {
        history_list: [],
        user_info: {},
        is_dialog_shown: false,
      },
      recall_select_dialog: {
        value: 1,
        uid: "",
        is_dialog_shown: false,
      },
      isAdmin,
    };
  },
  components: {
    ViewLogoDialog,
    ViewHistoryDialog,
    RecallSelectDialog,
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_user_id"),
        width: "75px",
      },
      {
        label: __("ADMIN_MULTIPLE_commission_table_admin"),
      },
      {
        label: __("MULTIPLE_user_name"),
        width: "100px",
      },
      {
        label: __("ADMIN_MULTIPLE_affiliate_country"),
      },
      {
        label: __("MULTIPLE_website_id"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_logo_type"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_application_datetime"),
      },
      {
        label: __("MULTIPLE_status"),
      },
      {
        label: __("ADMIN_CO_BRAND_MANAGEMENT_logo"),
      },
      {
        label: __("ADMIN_MULTIPLE_month_report_action"),
      },
    ];
  },
  mounted() {
    this.loadData();
    requestWithCache(urlObj.get_country_list).then((data) => {
      this.country_code_list = data.country_list;
    });
  },
  methods: {
    /**
     * @description 展示当前操作是否可用
     * @param {Number} state 0-Not Set | 1-Pending | 2-In Process | 3-Active
     * @param {Boolean} isCustimized true | false （'Custimized' 类型是否拥有该功能）
     */
    displayAction(row, state, isCustimized = false) {
      if (isCustimized) {
        return (
          row.state === state && (email === row.manager_email || isAdmin())
        );
      }
      return (
        row.state === state &&
        (email === row.manager_email || isAdmin()) &&
        !row.type
      );
    },
    loadData() {
      this.is_loading_shown = true;
      this.getCobrandInfo();
    },
    handleBrandsCurrentChange(curPage) {
      const actionMap = {
        wid: "Search By Website",
        uid: "Search By UID",
      };
      this.sendSearchGA(
        actionMap[this.search_options.type],
        this.search_options.search_content
      );
      this.brands_pagination.curPage = curPage;
      this.loadData();
    },
    handleHistoryCurrentChange(curPage, uid) {
      this.history_pagination.curPage = curPage;
      this.history_dialog_info.history_list = [];
      this.getHistoryList(uid);
    },
    handleClickCreate() {
      this.sendManageGA("Create");
    },
    sendManageGA(action, label) {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Co-brand Management",
        eventAction: action,
        eventLabel: label,
      });
    },
    sendSearchGA(action, label) {
      window.dataLayer.push({
        event: "search",
        eventCategory: "Co-brand Management",
        eventAction: action,
        eventLabel: label,
      });
    },
    handleRecallRadioChange(type) {
      this.recall_select_dialog.value = type;
    },
    handleRecallRadioConfirm() {
      const { uid, value } = this.recall_select_dialog;
      this.recall_select_dialog.is_dialog_shown = false;
      this.setCobrandInfo(uid, 7, value);
    },
    /**
     * @description 根据不同类型显示不同内容的弹框
     * @param {String} type 'approve' | 'reject' | 'recall'
     * @param {String} uid user id
     * @param {Number} operation_type 0-upload | 1-create | 2-reupload | 3-submit | 4-reject | 5-modify | 6-approve | 7-recall
     */
    showModal(type, uid, operation_type) {
      let title = "",
        okText = __("MULTIPLE_confirm"),
        okClass = "";

      switch (type) {
        case "approve":
          title = __("ADMIN_CO_BRAND_MANAGEMENT_approve_alert");
          okText = __("ADMIN_CO_BRAND_MANAGEMENT_approve");
          break;
        case "reject":
          title = __("ADMIN_CO_BRAND_MANAGEMENT_reject_alert");
          okText = __("ADMIN_CO_BRAND_MANAGEMENT_reject");
          okClass = "theme_btn_base_red";
          break;
        case "recall":
          this.recall_select_dialog.value = 1;
          this.recall_select_dialog.uid = uid;
          this.recall_select_dialog.is_dialog_shown = true;
          return;
        default:
          return;
      }
      const GAMap = {
        approve: "Approve",
        reject: "Reject",
        recall: "Recall",
      };
      this.sendManageGA(GAMap[type]);
      this.$Modal.alert({
        title: `<span style="font-size: 14px; line-height: 21px; font-weight: normal;">${title}</span>`,
        onOk: () => this.setCobrandInfo(uid, operation_type),
        okText,
        okClass,
        showCancel: true,
      });
    },
    handleClickModify() {
      this.sendManageGA("Modify");
    },
    viewLogos(urls) {
      this.sendManageGA("View");
      const { logo_url = "", logo_white_url = "" } = urls;
      this.logo_dialog_info.colorful_logo_url = logo_url;
      this.logo_dialog_info.binary_logo_url = logo_white_url;
      this.logo_dialog_info.is_dialog_shown = true;
    },
    viewHistory(row) {
      this.sendManageGA("ViewHistory");
      // 重置数据
      this.history_dialog_info.history_list = [];
      this.history_pagination = {
        total: 0,
        pageSize: 20,
        curPage: 1,
      };
      // 设置数据
      this.history_dialog_info.is_dialog_shown = true;
      this.history_dialog_info.user_info = row;
      this.getHistoryList(row.uid);
    },
    changeSearchOption(type, action, value) {
      if (type === "input") {
        this.search_options.country_code = "";
        this.search_options.state = "all";
      } else if (
        type === "select" &&
        (this.search_options.country_code ||
          this.search_options.state !== "all")
      ) {
        this.search_options.search_content = "";
        if (action === "Search By Status") {
          value = this.state_list.filter((item) => +item.value === +value)[0]
            .label;
        }
        this.sendSearchGA(action, value);
        this.handleBrandsCurrentChange(1);
      }
    },

    /**
     * @field
     * @description send request
     */
    getCobrandInfo() {
      // 获取 Co-brand 信息
      const { type, search_content, state, country_code } = this.search_options;
      const { curPage, pageSize } = this.brands_pagination;
      const params = {
        state: state === "all" ? 0 : state,
        country: ["", "all"].includes(country_code) ? 0 : country_code,
        page: curPage,
        pcount: pageSize,
      };

      if (search_content) {
        Object.assign(params, { [type]: search_content });
      }

      klook.ajaxGet(urlObj.co_brand_websites_cobrands, params, (res) => {
        if (res.success) {
          const { applications, count } = res.result;
          this.brands_list = res.result.applications;
          this.brands_pagination.total = count;
        } else {
          this.$Message.warning(res.error.message);
        }
        this.is_loading_shown = false;
      });
    },
    /**
     * @description 设置当前用户 Co-brand 信息
     * @param {String} uid user id
     * @param {Number} operation_type 0-upload | 1-create | 2-reupload | 3-submit | 4-reject | 5-modify | 6-approve | 7-recall
     * @param {Number} instant 1-not instant | 2-instant (operation_type 为 7 才会使用到此参数)
     */
    setCobrandInfo(uid, operation_type, instant) {
      const params = {
        uid,
        operation: operation_type,
      };

      if (operation_type === 7 && !!instant) {
        params.instant = instant === 1 ? 0 : 1;
      }

      // 发起请求改变 Aids
      klook.ajaxPostJSON(urlObj.co_brand_websites_cobrands, params, (res) => {
        if (res.success) {
          this.loadData();
        } else {
          this.$Message.warning(res.error.message);
        }
      });
    },
    // 获取历史记录列表
    getHistoryList(uid) {
      const params = {
        uid,
        page: this.history_pagination.curPage,
        pcount: this.history_pagination.pageSize,
      };

      klook.ajaxGet(urlObj.co_brand_admin_history_list, params, (res) => {
        if (res.success) {
          const { operations, count } = res.result;
          this.history_dialog_info.history_list = operations;
          this.history_pagination.total = count;
        } else {
          this.$Message.warning(res.error.message);
        }
      });
    },
  },
};
</script>
