<template>
  <div>{{ keplerId }}-{{ testActionStr }}</div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
@Component
export default class Child extends Vue {
  @Prop(String) keplerId!: boolean | number;

  get testActionStr() {
    return this.$renderStore.state.testActionValue;
  }
}
</script>

<style scoped></style>
