<template>
  <div>
    test parent
    <child class="child" :kepler-id="keplerId"></child>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import child from "./child.vue";

@Component({
  components: {
    child,
  },
})
export default class TestComponent extends Vue {
  get keplerId() {
    return this.$renderStore.state.keplerId;
  }
}
</script>

<style scoped></style>
