<style lang="scss">
.my_ads {
  background: #fff;
  padding: 0 30px;
  .select_append_form_item {
    .klk_form_item_content {
      display: flex;
      align-items: center;
    }
    .klk_form_item_error_tip {
      top: 68px;
    }
    .append {
      margin-left: 8px;
    }
  }
  .klk_tabs_tab {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
}
</style>

<template lang="html">
  <div class="my_ads">
    <klk-tabs
      type="line"
      @on-click="goto"
      v-model="ad_list_or_tool"
      v-show="!this.$route.query.uid"
    >
      <klk-tab-pane
        v-for="child_name in child_modules"
        :key="child_name.name"
        :label="child_name.title"
        :name="child_name.name"
      >
      </klk-tab-pane>
    </klk-tabs>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "MyAds",
  data() {
    return {
      child_modules: [
        {
          name: "my_ads",
          title: __("MY_ADS_ROUTE_ad_list"),
        },
        {
          name: "ad_tools",
          title: __("MULTIPLE_tools"),
        },
        {
          name: "co_brand",
          title: __("MULTIPLE_BRAND"),
        },
      ],
    };
  },
  computed: {
    ad_list_or_tool: {
      get() {
        //主要解决children route深层次嵌套后 前面banner还能锁定正确
        return this.$route.matched[1].name;
        // return (_.find(this.$route.matched, routeObj => {
        //     return this.child_modules.indexOf(routeObj.name) != -1;
        // })).name;
      },
      set(val) {},
    },
  },
  methods: {
    goto(name) {
      this.$router.push({
        name: name,
      });
    },
  },
};
</script>
