<style lang="scss">
.dashboard {
  background: #f5f5f5;
  .see_details {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .prompt_wrapper {
    width: 100%;
    line-height: 40px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    font-size: 14px;
    .link {
      color: #4c87e6;
      cursor: pointer;
    }
    .icon {
      width: 16px;
      height: 16px;
      margin-left: 12px;
      margin-right: 6px;
      vertical-align: middle;
    }
  }
  .ads_module_list {
    width: 100%;
    background: #fff;
    padding: 24px 30px 30px;
    margin-bottom: 20px;
    border: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .ads_list_header {
      margin-bottom: 24px;
      font-size: 20px;
      font-weight: 500;
      color: #333333;
    }
    .ads_list {
      display: flex;
      justify-content: space-between;
      .ads_list_item {
        width: 204px;
        height: 124px;
        display: flex;
        flex-direction: column;
        padding: 16px;
        background: #07b295;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        transition: 0.3s all;
        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
        }
        &.search_boxes {
          background: #f6754c;
        }
        &.dynamic_widgets {
          background: #f7ad2d;
        }
        &.code_ad {
          background: #886fec;
        }
        &.co_brand {
          background: #1facbe;
        }
        &.banner_ad {
          background: #1facbe;
        }
        .item_header {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 12px;
        }
        .item_desc {
          // overflow: hidden;
          // text-overflow: ellipsis;
          // display: -webkit-box;
          // -webkit-line-clamp: 3;
          // -webkit-box-orient: vertical;
          line-height: 14px;
          font-size: 12px;
        }
      }
    }
  }
  .income_grade_module_wrapper {
    display: flex;
    justify-content: space-between;
    .income_grade_module {
      width: 570px;
      height: 234px;
      background: #fff;
      border: 1px solid #ebebeb;
      .income_grade_header {
        padding: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 72px;
        align-items: center;
        .title {
          font-size: 20px;
          font-weight: 500;
          display: flex;
          align-items: center;
          color: #333333;
        }
        .more {
          .icon {
            margin-top: 1px;
            margin-left: 4px;
          }
        }
      }
      .income_grade_content {
        display: flex;
        padding: 0 30px;
        .klk_circle {
          .title_wrapper {
            font-size: 12px;
            color: #333;
          }
          .already_sale {
            font-size: 36px;
            font-weight: 300;
            color: #000;
          }
          .required_sale {
            font-size: 12px;
            font-weight: 300;
            color: #999;
          }
        }
        .data_wrapper {
          width: 206px;
          flex: 1 1 auto;
          flex-direction: column;
          justify-content: flex-start;
          .case_content,
          .case_footer,
          .case_header {
            margin-bottom: 30px;
          }
          .case_header {
            font-size: 14px;
            display: flex;
            align-items: center;
            .icon {
              margin-left: 4px;
              vertical-align: bottom;
            }
          }
          .case_content {
            font-size: 36px;
            font-weight: normal;
          }
          .case_footer {
            font-size: 12px;
            font-weight: 300;
          }
        }
        .data_desc {
          width: 206px;
          flex: 1 1 auto;
          font-size: 12px;
          .desc,
          .title {
            color: #333;
          }
          .desc {
            margin: 10px 0;
          }
          .footer_note {
            color: #999;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
  .commission_data_wrapper {
    padding: 30px;
    border: 1px solid #ebebeb;
  }
  .klk_tabs_tab {
    font-weight: 400;
    &.klk_tabs_tab_active {
      font-weight: 400;
    }
  }
}
</style>

<template lang="html">
  <div class="dashboard">
    <div class="prompt_wrapper" v-if="should_show_financial_note">
      <klk-icon
        class="klook-icon-bank-information icon"
        type="bank-information"
      ></klk-icon>
      <a href="javascript:void(0)" class="link" @click="go_account">
        {{ $t("DASHBOARD_enter_your_financial_information") }}
      </a>
    </div>
    <div class="ads_module_list">
      <div class="ads_list_header">{{ $t("DASHBOARD_start_immediately") }}</div>
      <div class="ads_list">
        <div
          class="ads_list_item dynamic_widgets"
          @click="goto('dynamicWidgets')"
        >
          <span class="item_header">{{ $t("MULTIPLE_dynamic_widgets") }}</span>
          <span class="item_desc">{{ $t("dashboard_widgets_tip") }}</span>
        </div>
        <div class="ads_list_item co_brand" @click="goto('co_brand')">
          <span class="item_header">{{ $t("MULTIPLE_BRAND") }}</span>
          <span class="item_desc">{{ $t("DASHBOARD_dashboard_desc") }}</span>
        </div>
        <div class="ads_list_item" @click="goto('link')">
          <span class="item_header">{{ $t("MULTIPLE_text_links") }}</span>
          <span class="item_desc">{{ $t("MULTIPLE_text_links_desc") }}</span>
        </div>
        <div
          class="ads_list_item search_boxes"
          @click="goto('search_vertical')"
        >
          <span class="item_header">{{ $t("MULTIPLE_search_box") }}</span>
          <span class="item_desc">{{ $t("MULTIPLE_search_box_desc") }}</span>
        </div>
        <div class="ads_list_item code_ad" @click="goto('code')">
          <span class="item_header">{{ $t("MULTIPLE_promo_codes") }}</span>
          <span class="item_desc">{{ $t("MULTIPLE_promo_codes_desc") }}</span>
        </div>
      </div>
    </div>
    <div class="income_grade_module_wrapper">
      <div class="income_grade_module">
        <div class="income_grade_header">
          <span class="title">{{ $t("DASHBOARD_income") }}</span>
          <span class="more">
            <router-link
              class="see_details theme_a"
              :to="{ name: 'performance' }"
              >{{ $t("DASHBOARD_see_details") }}
              <klk-icon
                class="icon"
                type="icon-arrow-right"
                :size="16"
              ></klk-icon>
            </router-link>
          </span>
        </div>
        <div class="income_grade_content" v-loading="loading.loading_income">
          <div class="data_wrapper">
            <div class="case_header">
              {{ $t("DASHBOARD_current_balance") }}
              <klk-poptip trigger="hover" class="poptip_wrapper">
                <klk-icon
                  class="icon"
                  type="information-circled"
                  size="16"
                ></klk-icon>
                <div slot="content" class="poptip_content">
                  <p style="width: 250px">
                    {{ $t("DASHBOARD_outstanding_commission_settled") }}
                  </p>
                </div>
              </klk-poptip>
            </div>
            <div class="case_content">{{ income_detail.current_balance }}</div>
            <div class="case_footer">{{ income_detail.currency }}</div>
          </div>
          <div class="data_wrapper">
            <div class="case_header">
              {{ $t("DASHBOARD_most_recent_payment") }}
              <klk-poptip trigger="hover" class="poptip_wrapper">
                <klk-icon
                  class="icon"
                  type="information-circled"
                  size="16"
                ></klk-icon>
                <div slot="content" class="poptip_content">
                  <p style="width: 160px">
                    {{ $t("DASHBOARD_last_settlement_amount") }}
                  </p>
                </div>
              </klk-poptip>
            </div>
            <div class="case_content">
              {{ income_detail.most_recent_payment }}
            </div>
            <div class="case_footer">{{ income_detail.currency }}</div>
          </div>
        </div>
      </div>
      <div class="income_grade_module">
        <div class="income_grade_header">
          <span class="title">
            {{ $t("MULTIPLE_affiliate_level") }}
          </span>
          <span class="more">
            <router-link
              class="see_details theme_a"
              :to="{ name: 'commission_rates' }"
              >{{ $t("DASHBOARD_see_details") }}
              <klk-icon
                class="icon"
                type="icon-arrow-right"
                :size="16"
              ></klk-icon>
            </router-link>
          </span>
        </div>
        <div class="income_grade_content">
          <div class="data_wrapper">
            <div class="case_header">
              {{ $t("DASHBOARD_required_monthly_sales") }}
              <klk-poptip trigger="hover" class="poptip_wrapper">
                <klk-icon
                  class="icon"
                  type="information-circled"
                  size="16"
                ></klk-icon>
                <div slot="content" class="poptip_content">
                  <p style="width: 250px">
                    {{ $t("DASHBOARD_sales_amount_required") }}
                  </p>
                </div>
              </klk-poptip>
            </div>
            <div class="case_content">
              {{ bonus_info.usd_sales
              }}<span
                style="font-size: 12px; color: #999"
                v-show="bonus_info.bonus_level_max"
                >/{{ bonus_info.bonus_level_max }}</span
              >
            </div>
            <div class="case_footer">USD</div>
          </div>
          <div class="data_desc">
            <div class="title">{{ $t("DASHBOARD_your_status") }}:</div>
            <div class="desc" style="margin: 8px 0 4px">
              {{ $t("MULTIPLE_level") }} {{ bonus_info.bonus_level }}
            </div>
            <div class="footer_note">
              {{ $t("DASHBOARD_bonus_commissions") }}:
              {{ bonus_info.bonus_rate * 100 }}%
            </div>

            <div class="title">
              {{ $t("DASHBOARD_income_grade_next_level_title") }}
            </div>
            <div class="desc" v-show="!bonus_info.have_reached_max_level">
              {{ bonus_info.bonus_next_level_min }} USD
            </div>
            <div class="desc" v-show="bonus_info.have_reached_max_level">
              {{ $t("DASHBOARD_reached_the_top_bonus_level") }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <dashboard-commission-data>
      <router-link class="see_details" :to="{ name: 'performance' }">
        {{ $t("DASHBOARD_see_details") }}
        <klk-icon type="icon-arrow-right" class="icon" :size="16"></klk-icon>
      </router-link>
    </dashboard-commission-data>
  </div>
</template>

<script>
// import CommissionCard from "../../tpl/commission_card.vue";
import DashboardCommissionData from "./components/dashboard_commission_data.vue";
import { urlObj, WIDGET_MAP_GOOGLE_TRACKING } from "common_data";
import moment from "moment";
// import Cookies from "js-cookie";

export default {
  name: "Dashboard",
  components: {
    // CommissionCard,
    DashboardCommissionData,
  },
  data() {
    return {
      commission_data: {
        amount: "",
        currency: "",
        ratio_status: "",
      },
      income_detail: {},
      loading: {
        loading_income: false,
      },
      user_info: USER_INFO,
      should_show_financial_note: false, // should show note
      bonus_info: {},
    };
  },
  mounted() {
    this.loadData();
    // Google Tag Manager for custom dimension UID
    if (USER_INFO.id) {
      window.dataLayer.push({
        uid: USER_INFO.id.toString(),
      });
    }
  },
  methods: {
    goto(ad_tool_type) {
      // Google Tag Manager for dashboardStart Event
      window.dataLayer.push({
        event: "dashboardStart",
        eventCategory: "Dashboard",
        eventAction: "Start Immediately",
        eventLabel: WIDGET_MAP_GOOGLE_TRACKING[ad_tool_type],
      });
      if (ad_tool_type === "co_brand") {
        this.$router.push({
          name: "co_brand",
        });
      } else {
        this.$router.push({
          name: "ad_tool_module",
          params: {
            ad_tool_type: ad_tool_type,
          },
        });
      }
    },
    loadIncome() {
      this.loading.loading_income = true;
      klook.ajaxGet(urlObj.get_income_detail, (resp) => {
        this.loading.loading_income = false;
        if (resp.success) {
          var user_balance = resp.result.user_balance;
          var most_recent = resp.result.most_recent;
          this.income_detail = {
            current_balance: user_balance
              ? klook.transfer_cent_to_usd(user_balance.remain_amount)
              : "-",
            most_recent_payment: most_recent
              ? klook.transfer_cent_to_usd(most_recent.paid_amount)
              : "-",
            currency: user_balance ? user_balance.currency : "-",
          };
        } else {
          console.error(resp);
        }
      });
    },

    loadFinancial() {
      klook.ajaxGet(urlObj.user_financial, (resp) => {
        if (resp.success) {
          var financial_info = resp.result.financial_info;
          if (
            !(
              financial_info &&
              financial_info.payment_method &&
              financial_info.payment_method != ""
            )
          ) {
            this.should_show_financial_note = true;
          }
        } else {
          console.error(resp);
        }
      });
    },
    loadBonusInfo() {
      klook.ajaxGet(
        urlObj.get_my_bonus_info,
        {
          start: moment().startOf("month").format("YYYY-MM-DD"),
          end: moment(new Date()).format("YYYY-MM-DD"),
        },
        (resp) => {
          if (resp.success) {
            var bonus_info = resp.result.bonus_info;
            this.bonus_info = _.extend(
              {
                currency: "USD",
              },
              {
                bonus_level_max: klook.transfer_cent_to_usd(
                  bonus_info.bonus_level_max
                ),
                bonus_next_level_min: klook.transfer_cent_to_usd(
                  bonus_info.bonus_next_level_min
                ),
                usd_sales: klook.transfer_cent_to_usd(
                  bonus_info.usd_sales_cent
                ),
                bonus_rate: bonus_info.bonus_rate,
                bonus_level: bonus_info.bonus_level,
                have_reached_max_level:
                  bonus_info.usd_sales_cent > 0 &&
                  bonus_info.bonus_next_level_min == 0,
              }
            );
          } else {
            console.error(resp);
          }
        }
      );
    },
    loadData() {
      this.loadBonusInfo();
      this.loadIncome();
      this.loadFinancial();
    },
    go_account() {
      this.$router.push({
        name: "my_account",
      });
    },
  },
};
</script>
