<style lang="scss">
.ad_common_setting {
  width: 100%;
  .icon {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
  }
  .ad_label_setting {
    display: flex;
    align-items: center;
  }
  .icon_add_circle {
    padding: 8px;
  }
  .klk_dialog_body {
    .item_label {
      color: #333;
      line-height: 1.2;
    }
    .klk_form {
      .klk_form_item {
        width: 100%;
        .klk_input {
          width: 360px;
          margin-top: 12px;
        }
      }
    }
  }
  .klk_dialog_footer {
    .btn_group {
      margin-top: 4px;
      .small_btn {
        width: 168px;
      }
    }
  }
  .tmp_label {
    color: #333;
    font-size: 14px;
  }
  .mt_6 {
    margin-top: 6px;
  }
}
</style>

<template lang="html">
  <div class="ad_common_setting">
    <div class="ad_website_setting">
      <klk-form-item :label="form_data_label.website" prop="websiteId">
        <klk-select :disabled="is_edit_mode" v-model="form_data.websiteId">
          <klk-option
            v-for="item in website_list"
            :key="item.id"
            :value="item.id"
            >{{ item.name }}</klk-option
          >
        </klk-select>
      </klk-form-item>

      <klk-form-item
        :label="form_data_label.nid"
        prop="nid"
        v-if="is_nid_select_box_shown"
      >
        <klk-select :disabled="is_edit_mode" v-model="form_data.nid">
          <klk-option :value="0">{{ ` - ` }}</klk-option>
          <klk-option
            v-for="item in publisher_list"
            :key="item.nid"
            :value="item.nid"
            >{{ `${item.pid} - ${item.sid}` }}</klk-option
          >
        </klk-select>
      </klk-form-item>
    </div>

    <div class="ad_label_setting">
      <klk-form-item prop="label1">
        <template v-slot:label>
          <span class="tmp_label">{{ form_data_label.label1 }}</span>
          <klk-poptip trigger="hover" class="poptip_wrapper" width="300">
            <klk-icon
              class="klook-icon-information-circled icon"
              type="information-circled"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              <p v-html="$t('AD_COMMON_SETTING_label_note')"></p>
            </div>
          </klk-poptip>
        </template>
        <klk-input
          class="mt_6"
          :maxlength="64"
          v-model="form_data.label1"
        ></klk-input>
      </klk-form-item>
      <klk-form-item prop="label2">
        <template v-slot:label>
          <span class="tmp_label">{{ form_data_label.label2 }}</span>
          <klk-poptip trigger="hover" class="poptip_wrapper" width="300">
            <klk-icon
              class="klook-icon-information-circled icon"
              type="information-circled"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              <p v-html="$t('AD_COMMON_SETTING_label_note')"></p>
            </div>
          </klk-poptip>
        </template>
        <klk-input
          class="mt_6"
          :maxlength="64"
          v-model="form_data.label2"
        ></klk-input>
      </klk-form-item>
      <klk-form-item prop="label3">
        <template v-slot:label>
          <span class="tmp_label">{{ form_data_label.label3 }}</span>
          <klk-poptip trigger="hover" class="poptip_wrapper" width="300">
            <klk-icon
              class="klook-icon-information-circled icon"
              type="information-circled"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              <p v-html="$t('AD_COMMON_SETTING_label_note')"></p>
            </div>
          </klk-poptip>
        </template>
        <klk-input
          class="mt_6"
          :maxlength="64"
          v-model="form_data.label3"
        ></klk-input>
      </klk-form-item>
    </div>
  </div>
</template>

<script>
import { formRules, urlObj, requestWithCache } from "common_data";
import { isAdmin } from "../../../../../../comm/user_role";
export default {
  name: "AdCommonSetting",
  data() {
    return {
      uid: "",
      ad_id: "", // 为了兼容之前的 ad_id, 这里把 hid 显示成 ad_id (hid 是根据 adid 和 labels 一起生成的广告唯一标识)
      form_data_label: {
        website: `* ${__("MULTIPLE_website")}`,
        nid: `${__("MULTIPLE_pid")} - ${__("MULTIPLE_sid")}`,
        label1: __("MULTIPLE_label_1"),
        label2: __("MULTIPLE_label_2"),
        label3: __("MULTIPLE_label_3"),
      },
      form_data: {
        websiteId: "",
        nid: "",
        label1: "",
        label2: "",
        label3: "",
      },
      ad_info: {},
      website_list: [],
      publisher_list: [],
      is_nid_select_box_shown: false, // nid 筛选框是否显示
      user_manager_email: "",
    };
  },
  watch: {
    form_data: {
      handler: function (newVal) {
        this.$emit("on-change", newVal);
      },
      deep: true,
    },
  },
  computed: {
    is_edit_mode() {
      // 根据 query 来处理
      return !!this.$route.query.ad_id;
    },
  },
  created() {
    this.uid = this.$route.query.uid || USER_INFO.id;
    this.ad_id = this.$route.query.ad_id || "";
  },
  mounted() {
    this.getAidList()
      .then((user) => {
        this.form_data.websiteId =
          (this.website_list[0] && this.website_list[0].id) || "";
        // 只有 url query 带有 uid, 并且身份为 admin 或 当前 affiliate 的 manager 才可以访问 nid 列表, 并且类型为 "network"
        if (
          !!this.$route.query.uid &&
          (user.klook_admin === USER_INFO.email || isAdmin()) &&
          user.affiliate_type === "network"
        ) {
          this.is_nid_select_box_shown = true;
          this.getPublishers();
        }
        if (this.is_edit_mode) {
          this.loadData();
        } else {
          this.form_data.nid = 0;
        }
      })
      .catch((err) => console.error(err));
    let go_faq = document.getElementById("go_faq");
    if (go_faq) {
      go_faq.onclick = function () {
        window.open("/" + KLK_LANG_PATH + "help/");
      };
    }
  },
  methods: {
    // 获取 AID 列表
    getAidList() {
      return new Promise((resolve, reject) => {
        klook.ajaxGet(
          this.$route.query.uid
            ? urlObj.get_admin_site_list
            : urlObj.get_site_list,
          { uid: this.uid },
          (res) => {
            if (res.success) {
              this.website_list = res.result.websites;
              resolve(res.result.user);
            } else {
              this.$Message.warning(res.error.message);
              reject(res.error.message);
            }
          }
        );
      });
    },
    loadData() {
      const params = {
        adid: this.ad_id,
      };
      klook.ajaxGet(urlObj.v3_affsrv_ad, params, (resp) => {
        if (resp.success) {
          this.ad_info = resp.result.ad;
          this.initEdit();
        } else {
          this.$Message.warning(resp.error.message);
        }
      });
    },
    // 获取 NetWork Publisher 列表
    getPublishers() {
      klook.ajaxGet(
        urlObj.network_publisher_list,
        { wid: this.form_data.websiteId },
        (resp) => {
          if (resp.success) {
            this.publisher_list = resp.result.publishers;
          } else {
            this.$Message.warning(resp.error.message);
          }
        }
      );
    },
    initEdit() {
      const ad_detail = this.ad_info.ad_detail;
      const { wid, label1, label2, label3 } = this.ad_info;
      this.form_data = {
        websiteId: wid,
        label1,
        label2,
        label3,
        nid: this.ad_info.nid,
      };

      if (!ad_detail) {
        //老数据有很多没有设置ad detail的就不让进入 广告detail的初始化，也就是不发送info loaded事件
        return;
      }
      this.$emit("ad-info-loaded", this.ad_info);
    },
  },
};
</script>
