<template>
  <div class="ads-feedback" v-if="questionObj.question_show">
    <klk-cast-feedback
      ref="adcast"
      width="100%"
      position="static"
      :visible="true"
      :showClose="false"
      :question="questionObj.question"
      :btnSubmitText="$t('submit')"
      :successText="$t('feedback_thanks')"
      :placeholder="$t('feedback_tell_us')"
      :btnRemindText="$t('remind_me_later')"
      mainColor="#07b295"
      @handle-close="handleCloseFn"
      @handle-submit="handleSubmit(arguments)"
    >
    </klk-cast-feedback>
  </div>
</template>

<script>
import { urlObj } from "common_data";
export default {
  name: "adsFeedback",
  props: {
    ads_type: {
      type: String,
      require: true,
    },
  },
  data() {
    return {
      questionObj: {},
    };
  },
  computed: {
    adsList() {
      return {
        text_link: "Text Links",
        dynamic_widget: "Dynamic Widgets",
        search_box: "Search Boxes",
        static_banner: "Static Banners",
        activity_banner: "Activity Banners",
        co_brand: "Co-branded Headers",
      };
    },
  },
  methods: {
    sendGTMTrack(type, score = 0) {
      window.dataLayer.push({
        event: "adsCsat",
        eventCategory: "Ads CSAT",
        eventAction: type,
        eventLabel: score ? score : "",
        adFormat: this.adsList[this.ads_type],
      });
    },
    handleSubmit(args) {
      this.sendGTMTrack("Submit", args[0]);
      klook.ajaxPostJSON(
        urlObj.feedback_post_cast,
        {
          question_id: this.questionObj.id,
          url_path: this.$route.path,
          feedback_score: args[0],
          feedback_content: args[1],
        },
        (resp) => {
          if (resp.success) {
            this.$refs.adcast.submitSucess();
          } else {
            this.$Message.warning(resp.error.message);
          }
        }
      );
    },
    handleCloseFn() {
      this.sendGTMTrack("Close");
    },
    initQuestion() {
      const data = {
        module: "ads",
        question_type: "csat",
        ads_type: this.ads_type,
      };
      klook.ajaxGet(urlObj.feedback_get_question, data, (resp) => {
        if (resp.success) {
          this.questionObj = resp.result || {};
        }
      });
    },
  },
  created() {
    this.initQuestion();
  },
};
</script>
<style lang="scss">
.ads-feedback {
  margin-top: 10px;
}
</style>
