<style lang="css">
.copy_code_btn {
  position: relative;
  display: inline-block;
}
</style>

<template lang="html">
  <div class="copy_code_btn">
    <klk-poptip trigger="click" class="poptip_wrapper">
      <div class="poptip_info">
        <button
          class="theme_btn_base_border mini_btn"
          :class="copy_btn_class"
          type="button"
          @click="copy_code"
        >
          {{ $t("COPY_CODE_BTN_copy_code") }}
        </button>
      </div>
      <div slot="content" class="poptip_content" style="width: 46px">
        {{ copy_tip }}
      </div>
    </klk-poptip>
    <!-- <input type="text" style="" :value="test" id="code_info"> -->
  </div>
</template>

<script>
import mixin from "../mixin/ad_mixin";
export default {
  name: "CopyCodeBtn",
  props: {
    copy_text: String,
    eventLabel: String,
    copy_btn_class: [],
    poptip_popper_top: {
      default: "50px",
    },
  },
  data() {
    return {
      copy_tip: "",
    };
  },
  methods: {
    copy_code() {
      window.dataLayer.push({
        event: "trackEventCustom",
        eventCategory: "My Ads",
        eventAction: "Copy Code",
        eventLabel: this.eventLabel,
      });
      const textarea = document.createElement("textarea");
      textarea.style.position = "fixed";
      textarea.style.top = 0;
      textarea.style.left = 0;
      textarea.style.border = "none";
      textarea.style.outline = "none";
      textarea.style.resize = "none";
      textarea.style.background = "transparent";
      textarea.style.color = "transparent";
      textarea.value = this.copy_text;
      document.body.appendChild(textarea);
      textarea.select();
      try {
        document.execCommand("Copy");
        this.copy_tip = __("COPY_CODE_BTN_copied");
      } catch (e) {
        this.copy_tip = __("COPY_CODE_BTN_copy_failed");
      }
      document.body.removeChild(textarea);
    },
  },
  watch: {
    copy_tip() {
      var self = this;
      if (this.copy_tip !== "") {
        setTimeout(function () {
          document
            .querySelector(".copy_code_btn")
            .querySelector(".klk_poptip_popper").style.display = "none";
          self.copy_tip = "";
        }, 1000);
      }
    },
  },
  mounted() {
    document
      .querySelector(".copy_code_btn")
      .querySelector(".klk_poptip_popper").style.top = this.poptip_popper_top;
  },
};
</script>
