<template>
  <div class="title">
    <span>{{ $t("MULTIPLE_html_code") }}</span>
    <klk-poptip trigger="hover" class="poptip_wrapper" width="300">
      <klk-icon
        class="klook-icon-information-circled icon"
        type="information-circled"
      ></klk-icon>
      <div slot="content" class="poptip_content">
        <p v-html="$t('generate_code_info')"></p>
      </div>
    </klk-poptip>
  </div>
</template>

<script>
export default {
  name: "html_code_title",
};
</script>

<style lang="scss">
.title {
  display: flex;
  align-items: center;

  .poptip_wrapper {
    width: 18px;
    height: 18px;
  }

  .icon {
    width: 18px;
    height: 18px;
    margin-left: 4px;
  }
}
</style>
