<template>
  <div class="container">
    <div class="list" v-if="renderData.hotels && renderData.hotels.length > 0">
      <div class="item" v-for="(item, index) in renderData.hotels" :key="index">
        <a
          class="item_link"
          @click="handleClickActivity(item)"
          :href="item.redirect_url"
          target="_blank"
        >
          <div class="img" :style="`background-image: url(${item.image_url})`">
            <span class="city_name" :tabindex="index * 4 + 1">{{
              item.city_name
            }}</span>
          </div>
          <div class="desc_info">
            <div class="product_info">
              <span class="start_desc">{{ item.stay_desc }}</span>
              <span
                :tabindex="index * 4 + 2"
                style="-webkit-box-orient: vertical"
                class="name"
                >{{ item.name }}</span
              >
              <div class="score_info" :tabindex="index * 4 + 3">
                <div class="score_container">
                  <span>
                    <img
                      src="../../../assets/img/yellow.svg"
                      class="star"
                      alt=""
                    />
                  </span>
                  <span class="score">{{ item.avg_score }}</span>
                </div>
                <span class="review" v-if="+item.review_count > 0"
                  >{{ item.review_count }} {{ reviews_text || "" }}</span
                >
              </div>
            </div>
            <div
              class="price"
              :tabindex="index * 4 + 4"
              v-show="+item.per_night_discount_price"
            >
              <span>{{
                $t("from", [
                  `${item.symbol}   ${priceFormat(
                    item.per_night_discount_price,
                    item.currency
                  )}`,
                ])
              }}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="button">
      <a :href="renderData.view_more_url" target="_blank">
        <div
          @click="handleClickViewMore"
          class="view_more"
          :tabindex="(renderData.hotels.length - 1) * 4 + 5"
        >
          {{ view_more_text }}
        </div>
      </a>
    </div>
    <div class="power_link" v-if="this.renderData.powered_display">
      <a :href="renderData.powered_url" target="_blank">
        <div
          @click="handleClickPower"
          class="powered"
          :tabindex="(renderData.hotels.length - 1) * 4 + 6"
        >
          {{ $t("powered_by") }}
        </div>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import {
  getUrlParam,
  ads_monitor,
  adsEvent,
  RENDER_LANGUAGE_MAP,
  urlObj,
  priceFormatUtil,
} from "../../util/common_data.js";
import { ajaxGetPromise } from "../../util/request.js";

interface detail_type {
  id: string | number;
  avg_score: string;
  city_id: number | string;
  city_name: string;
  currency: string;
  image_url: string;
  max_score: string | number;
  name: string;
  per_night_discount_price: string;
  promotion: null;
  redirect_url: string;
  review_count: number | string;
  score_intro: string;
  star: number;
  star_desc: string;
  stay_desc: string;
  symbol: string;
  [key: string]: any;
}

interface renderDataType {
  hotels: Array<detail_type | undefined>;
  powered_url: string;
  view_more_url: string;
  aid: string | number;
  lang: string;
  powered_display: boolean;
}

@Component
export default class Widget extends Vue {
  private renderData: renderDataType = {
    hotels: [],
    powered_url: "",
    view_more_url: "",
    aid: "",
    lang: "",
    powered_display: true,
  };

  private view_more_text = "";
  private reviews_text = "";
  iframeData = "";

  handleClickActivity(item) {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - ${item.id}`,
    });
  }

  handleClickViewMore() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - View More`,
    });
  }

  handleClickPower() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - Power By klook`,
    });
  }

  priceFormat(sell_price: string, currency: string) {
    return priceFormatUtil(sell_price, currency);
  }

  async fetchData(adid, adsType) {
    const urlMap = {
      hotel_dynamic_widget: urlObj.ads_render_hotel_dynamic_widget,
      hotel_static_widget: urlObj.ads_render_hotel_static_widget,
    };
    let res = await ajaxGetPromise(`${urlMap[adsType]}?adid=${adid}`);
    // 对接口做判断
    if (res.success) {
      let result = res && res.result;
      this.widgetLocal.setLang(result.lang || "en");
      this.renderData = result;
      this.view_more_text =
        RENDER_LANGUAGE_MAP[res.result.lang].view_more || "View More";
      this.reviews_text =
        RENDER_LANGUAGE_MAP[res.result.lang].activity_reviews || "Reviews";
      // 渲染成功: 4
      adsEvent(4, this.iframeData);
    } else {
      // 渲染失败: 5
      adsEvent(5, this.iframeData);
    }
  }

  created() {
    ads_monitor(getUrlParam("prod"), (data) => {
      this.iframeData = data;
    });
    let adid = getUrlParam("adid");
    if (!adid || +adid < 0 || !Number.isInteger(+adid)) {
      return;
    }
    const prod = getUrlParam("prod");
    this.fetchData(adid, prod);
  }
}
</script>
<style lang="scss" scoped>
.container {
  min-width: 340px;
  margin: 0 auto;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  .list {
    .item {
      background: white;
      .product_info {
        display: flex;
        flex-direction: column;
        .start_desc {
          color: #16aa77;
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 2px;
        }
        .name {
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
          word-break: break-word;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          color: #333333;
        }
        .score_info {
          .score_container {
            background: #fff4ed;
            border-radius: 8px;
            display: flex;
            padding: 3px 6px;
          }
        }
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
    outline: none;
  }

  .button {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    .view_more {
      width: 148px;
      height: 32px;
      border-radius: 4px;
      background-color: white;
      color: #ff5722;
      border: solid 1px #ff5722;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      line-height: 32px;
      text-decoration: none;

      &:hover {
        background-color: #ff5722;
        color: white;
      }
    }
  }

  .power_link {
    display: flex;
    justify-content: center;
    padding: 16px 0;

    .powered {
      font-size: 12px;
      color: #999999;
    }
  }
}

@media screen and (max-width: 655px) {
  .container {
    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        display: block;
        margin: 8px 8px 0;
        height: 120px;
        transition: margin 0.2s ease-out;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
          0 2px 6px 0 rgba(0, 0, 0, 0.08);

        &:hover {
          outline-width: 0;
          margin-left: 4px;
          margin-right: 12px;
        }

        .item_link {
          display: flex;
          text-decoration: none;
          height: 100%;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            min-width: 144px;
            background-position: center center;
            overflow: hidden;

            .city_name {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              margin: 5px 8px;
              color: #ffffff;
              padding: 6px 8px;
              background: #312f2f9e;
              border-radius: 4px;
              width: fit-content;
            }
          }

          .desc_info {
            padding: 8px 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product_info {
              .title {
                word-break: break-word;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 4px;
              .star {
                display: inline-block;
                width: 13px;
                height: 13px;
              }

              .score {
                color: #ff9d26;
                font-size: 14px;
                font-weight: 600;
                margin: 0 4px;
              }

              .review {
                font-size: 12px;
                line-height: 16px;
                color: #999999;
                margin-left: 2px;
              }
            }

            .price {
              display: flex;
              align-items: center;
              font-size: 16px;
              font-weight: normal;
              margin-bottom: 4px;
              .price_value {
                font-weight: 600;
                color: #333333;
                margin: 0 10px 0 2px;
              }

              .light {
                display: inline-block;
                width: 12px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 655px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .list {
      display: flex;
      justify-content: center;

      .item {
        display: block;
        width: 210px;
        min-height: 257px;
        margin: 24px 4px 0;
        transition: margin 0.2s ease-out;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
          0 2px 6px 0 rgba(0, 0, 0, 0.08);

        &:hover {
          outline-width: 0;
          margin-top: 20px;
          margin-bottom: 4px;
        }

        .item_link {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 118px;
            width: 100%;
            background-position: center center;
            overflow: hidden;
            background-image: url("https://res.klook.com/image/upload/activities/wgw7f8n0nlzj063qzyk4.jpg");

            .city_name {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              margin: 5px 8px;
              color: #ffffff;
              padding: 6px 8px;
              background: #312f2f9e;
              border-radius: 4px;
              width: fit-content;
            }
          }

          .desc_info {
            padding: 12px;

            .product_info {
              min-height: 87px;
              .title {
                word-break: break-word;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 4px;

              .star {
                display: inline-block;
                width: 13px;
                height: 13px;
              }

              .score {
                color: #ff9d26;
                font-size: 14px;
                font-weight: 600;
                margin: 0 4px;
              }

              .review {
                font-size: 12px;
                line-height: 16px;
                color: #999999;
                margin-left: 2px;
              }
            }

            .price {
              display: flex;
              align-items: center;
              margin-top: 10px;
              font-size: 16px;
              font-weight: normal;
              color: #333333;
              .price_value {
                margin: 0 10px 0 2px;
                font-weight: 600;
              }

              .light {
                display: inline-block;
                width: 12px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
