<template>
  <Variant_template_1
    :showData="showData"
    :data="data"
    :show="show"
    @handleClickActivity="handleClickActivity"
    @handleClickViewMore="handleClickViewMore"
    @handleClickPower="handleClickPower"
  ></Variant_template_1>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { urlObj, RENDER_LANGUAGE_MAP } from "../../utils/common_data";
import _get from "lodash/get";
import _cloneDeep from "lodash/cloneDeep";
import Variant_template_1 from "../common/component/dynamic_widget_ttd/variant_template_1.vue";
import {
  detail_type,
  show_type,
} from "../common/component/dynamic_widget_ttd/dynamic_widget_type";

@Component({
  components: {
    Variant_template_1,
  },
})
export default class Widget extends Vue {
  private data: Array<detail_type> = [];
  private showData: show_type = {
    klook_url: "",
    affiliate_url: "",
    lang: "",
    iskoa: false,
    activity_reviews: "Reviews",
    view_more_text: "View More",
  };
  private adid;
  private aid;
  iframeInfo = {};
  show: boolean | undefined = false;

  private kepler_id = this.$renderStore.state.keplerId;

  get currentExp() {
    return this.$renderStore.state.currentExp;
  }

  imageUrl(url: string): string {
    let arr: Array<string> = url.split("/upload");
    return (
      arr[0] +
      "/upload/fl_lossy.progressive,q_60,f_auto/c_fill,w_650,h_420" +
      arr[1]
    );
  }

  handleClickActivity(item) {
    // 获得当前命中的实验，进行上报
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: `Experimentation`,
      eventAction: `Affiliate Ad Click`,
      eventLabel: `Dynamic Widget`,
      KeplerID: this.kepler_id,
      AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
        this.currentExp.groupId || ""
      }`,
      AffiliateADID: this.adid,
      PartnerWebsiteAID: this.aid,
    });
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - ${item.id}`,
    });
  }

  handleClickViewMore() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - View More`,
    });
  }

  handleClickPower() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - Power By klook`,
    });
  }

  formatResponse(response: any) {
    let res = _cloneDeep(response);
    let redirect_url = _get(res, "result.redirect_url") || {};
    let lang: string = _get(res, "result.redirect_url.lang") || "en-US";
    this.widgetLocal.setLang(lang || "en");
    // 设置 view_more 的语言规则
    redirect_url.view_more_text =
      (lang && RENDER_LANGUAGE_MAP[lang].view_more) || "View More";
    redirect_url.activity_reviews =
      (lang && RENDER_LANGUAGE_MAP[lang].activity_reviews) || "Reviews";
    // 设置韩语标识
    redirect_url.iskoa = lang === "ko";
    if (["fr", "de", "es", "ru"].indexOf(lang) > -1) {
      // 跳转到 portal 英文界面
      redirect_url.affiliate_url = "/home";
    }
    return res;
  }

  fetchData(adid: any) {
    klook.ajaxGet(urlObj.widgetRenderData(adid), null, (res: any) => {
      // 对接口做判断
      if (res.success) {
        this.show = true;
        let data = this.formatResponse(res);
        this.data = data.result.activities;
        this.showData = data.result.redirect_url;
        this.aid = data.result.aid || "";
        console.log("fetchData va 01");
        window.dataLayer.push({
          event: "adDisplay",
          eventCategory: `Experimentation`,
          eventAction: `Affiliate Ad Impression`,
          eventLabel: `Dynamic Widget`,
          KeplerID: this.kepler_id,
          AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
            this.currentExp.groupId || ""
          }`,
          AffiliateADID: this.adid,
          PartnerWebsiteAID: this.aid,
        });
      }
    });
  }

  created() {
    let adid = this.getUrlParam("adid");
    if (!adid || +adid < 0 || !Number.isInteger(+adid)) {
      return;
    }
    this.adid = adid;
    this.fetchData(adid);
  }

  getUrlParam(name: string) {
    const reg = new RegExp(`(^|&)${name}=([^&]*)(&|$)`);
    const r = window.location.search.substr(1).match(reg);
    if (r !== null) return +r[2];
    return null;
  }
}
</script>
<style lang="scss" scoped></style>
