<style lang="scss">
#app {
  min-height: 100%;
  min-width: 1160px;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  padding-top: 64px;
  .global_content {
    flex: 1 1 auto;
    width: 100%;
    margin: 0 auto;
  }
  .notification_message {
    width: 100%;
    background: $theme_color;
    color: white;
    padding: 10px 24px 14px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    position: fixed;
    .jump {
      text-decoration: underline;
      cursor: pointer;
      color: white;
    }
    .svg_wrapper {
      position: absolute;
      right: 20px;
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}
</style>
<template>
  <div id="app" :style="changeWebSiteName() ? { padding: 0 } : {}">
    <div>
      <common-header
        :is_signin="is_signin"
        :total="total"
        v-if="!changeWebSiteName()"
      ></common-header>
      <div class="notification_message" v-show="showNotification()">
        {{ $t("27384", [total]) }}
        <a class="jump" @click="jumpUrl()">Click here to read</a>
        <div @click="handleClickClose" class="svg_wrapper">
          <klk-icon type="close_white"></klk-icon>
        </div>
      </div>
    </div>

    <div
      class="global_content"
      :style="changeWebSiteName() ? { display: 'flex' } : {}"
    >
      <all-over-feedback v-if="is_not_admin"></all-over-feedback>
      <transition name="fade" mode="out-in">
        <router-view></router-view>
      </transition>
    </div>
    <common-footer v-if="!changeWebSiteName()"></common-footer>
  </div>
</template>

<script>
//load svg into symbol
//https://webpack.github.io/docs/context.html#require-context
// requires and returns all modules that match
import { urlObj } from "common_data";

const requireAll = (requireContext) =>
  requireContext.keys().map(requireContext);
// auto prepend svg into body
requireAll(require.context("../imgs/font-icon-svg/", true, /\.svg$/));
import Vue from "vue";
import { global_mixin } from "./mixins/global_mixin";
import loading from "./directives/loading.js";
import sucktop from "./directives/sucktop.js";
import CommonHeader from "./tpl/common_header.vue";
import CommonFooter from "./tpl/common_footer.vue";
import { shouldEditWebsite } from "@/comm/utils";
import Feedback from "./components/feedback";
Vue.use(Feedback);

import AllOverFeedback from "./tpl/feedback.vue";
import KlookUI from "./components/index.js";

//register global components
Vue.use(KlookUI);

//register global mixin
Vue.mixin(global_mixin);
//register global directives
Vue.directive("loading", loading);
Vue.directive("sucktop", sucktop);

var is_signin = false;
if (USER_INFO && USER_INFO.id) {
  is_signin = true;
}
window.__klk_aff_host = "//" + window.location.host; //模仿之前的affiliate js加载的逻辑

export default {
  name: "App",
  components: {
    CommonHeader,
    CommonFooter,
    AllOverFeedback,
  },
  data() {
    return {
      is_signin: is_signin,
      show_notification: true,
    };
  },
  computed: {
    total() {
      return this.$store.state.globalObjModule.total;
    },
    is_not_admin() {
      return !this.$route.path.includes("/admin/");
    },
  },
  mounted() {
    if (this.showNotification()) {
      // 展示 10 S 后消失
      setTimeout(() => {
        this.show_notification = false;
      }, 10000);
    }
    if (USER_INFO && USER_INFO.id && +USER_INFO.approved === 1) {
      this.$store.dispatch({
        type: "notificationTotal",
      });
      this.$store.dispatch({
        type: "initQuestion",
      });
    }
  },
  methods: {
    showNotification() {
      const action = klook.getUrlParam("action");
      // 已经登陆, 并且从登陆页跳转至 dashboard 页面
      return (
        USER_INFO &&
        USER_INFO.id &&
        this.show_notification &&
        window.location.pathname.includes("dashboard") &&
        action === "login"
      );
    },
    jumpUrl() {
      window.dataLayer.push({
        event: "notification",
        eventCategory: "Dashboard",
        eventAction: "Notification Click",
      });
      this.$router.push({
        name: "notification",
      });
    },
    handleClickClose() {
      this.show_notification = false;
    },
    changeWebSiteName() {
      return shouldEditWebsite();
    },
  },
};
</script>
