<template>
  <div class="container" v-show="show">
    <div class="list">
      <div class="item" v-for="(item, index) in data" :key="index">
        <a
          class="item_link"
          @click="handleClickActivity(item)"
          :href="item.jump_url"
          target="_blank"
        >
          <div
            class="img"
            :style="`background-image: url(${imageUrl(item.image_url_host)})`"
          >
            <div class="info_wrapper">
              <div
                class="discount_tag"
                v-if="item.card_tags && item.card_tags.percentage_off"
              >
                <span>{{ item.card_tags.percentage_off }}</span>
              </div>
            </div>
          </div>
          <div class="desc_info">
            <div class="product_info">
              <span
                :class="{ title: true, iskoa: showData.iskoa }"
                :tabindex="index * 4 + 2"
                style="-webkit-box-orient: vertical"
                >{{ item.title }}</span
              >
              <div class="city_name" :tabindex="index * 4 + 1">
                {{ item.city_name }}
              </div>
              <div
                class="score_info"
                v-if="+item.review_total > 0"
                :tabindex="index * 4 + 3"
              >
                <span class="score">{{ item.score }}</span>
                <span class="review"
                  >({{ item.review_total }}
                  {{ showData.activity_reviews }})</span
                >
              </div>
            </div>
            <div class="price" :tabindex="index * 4 + 4">
              <span class="price_value"
                >{{ item.currency_format }}
                {{ priceFormat(item.sell_price, item.currency) }}</span
              >
              <span class="market_price"
                >{{ item.currency_format }}
                {{ priceFormat(item.market_price, item.currency) }}</span
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="button">
      <a :href="showData.klook_url" target="_blank">
        <div
          @click="handleClickViewMore"
          class="view_more"
          :tabindex="(data.length - 1) * 4 + 5"
        >
          {{ showData.view_more_text }}
        </div>
      </a>
    </div>
    <div class="power_link">
      <a :href="showData.affiliate_url" target="_blank">
        <div
          @click="handleClickPower"
          class="powered"
          :tabindex="(data.length - 1) * 4 + 6"
        >
          {{ $t("powered_by") }}
        </div>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { detail_type, show_type } from "./dynamic_widget_type";
import { currencyDecimalplace } from "../../../../utils/common_data";

@Component({
  components: {},
})
export default class Variant_template_2 extends Vue {
  @Prop({ default: () => ({}) }) showData!: show_type;
  @Prop({ default: false }) show!: boolean;
  @Prop({ default: () => [] }) data!: Array<detail_type>;

  handleClickActivity(item: detail_type) {
    this.$emit("handleClickActivity", item);
  }

  handleClickViewMore() {
    this.$emit("handleClickViewMore");
  }

  handleClickPower() {
    this.$emit("handleClickPower");
  }

  priceFormat(sell_price: string, currency: string) {
    sell_price = klook.formatPriceThousands(sell_price);
    if (!sell_price.includes(".")) {
      return sell_price;
    } else {
      let decimalplace = currencyDecimalplace[currency];
      let indexOf = sell_price.indexOf(".") + 1;
      return sell_price.substr(0, indexOf + (decimalplace || -1));
    }
  }

  imageUrl(url: string): string {
    let arr: Array<string> = url.split("/upload");
    return (
      arr[0] +
      "/upload/fl_lossy.progressive,q_60,f_auto/c_fill,w_650,h_420" +
      arr[1]
    );
  }
}
</script>
<style lang="scss" scoped>
.container {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  .item {
    background: white;
    border-radius: 4px;
    .item_link {
      .img {
        border-radius: 4px 4px 0 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
    outline: none;
  }

  .button {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    .view_more {
      width: 148px;
      height: 32px;
      border-radius: 4px;
      background-color: white;
      color: #ff5722;
      border: solid 1px #ff5722;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      line-height: 32px;
      text-decoration: none;

      &:hover {
        background-color: #ff5722;
        color: white;
      }
    }
  }

  .power_link {
    display: flex;
    justify-content: center;
    padding: 16px 0;

    .powered {
      font-size: 12px;
      color: #999999;
    }
  }

  .info_wrapper {
    padding: 5px 8px;

    .discount_tag {
      width: 80px;
      height: 34px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      display: flex;
      align-items: center;
      background: url("../../../../../imgs/render/dynamic_widget/icon/discount_tag.svg")
          center no-repeat,
        url("../../../../../imgs/render/dynamic_widget/icon/discount_tag_2.svg")
          1px 3px no-repeat;

      span {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  .price {
    .price_value {
      color: #ff5722;
      font-size: 14px;
      font-weight: bold;
      margin-right: 8px;
    }

    .market_price {
      text-decoration: line-through;
      font-size: 12px;
      margin-right: 10px;
    }
  }

  .city_name {
    font-size: 12px;
    color: #999;
    line-height: 16px;
    margin-top: 3px;

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 655px) {
  .container {
    min-width: 300px;

    .item {
      .item_link {
        .img {
          border-radius: 4px 0 0 4px;
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        display: block;
        margin: 8px 8px 0;
        height: 120px;
        transition: margin 0.2s ease-out;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

        &:hover {
          outline-width: 0;
          margin-left: 4px;
          margin-right: 12px;
        }

        .item_link {
          display: flex;
          text-decoration: none;
          height: 100%;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            min-width: 144px;
            background-position: center center;
            overflow: hidden;
          }

          .desc_info {
            margin-left: 13px;
            padding-top: 10px;
            padding-bottom: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product_info {
              .title {
                height: 36px;
                display: inline-block;
                word-break: break-all;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 4px;

              .score {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                margin: 0 2px;
                width: 29px;
                height: 16px;
                background: #ff9d26;
                border-radius: 2px;
                text-align: center;
                position: relative;
                &:after {
                  content: "";
                  width: 3px;
                  display: inline-block;
                  height: 6px;
                  background: url("../../../../../imgs/render/dynamic_widget/icon/score_horn.svg")
                    center no-repeat;
                  position: absolute;
                  left: -3px;
                  top: 5px;
                }
              }

              .review {
                font-size: 12px;
                color: #999;
              }
            }

            .price {
              display: flex;
              align-items: center;
              font-size: 16px;
              color: #333333;
              //font-weight: 600;
              margin-bottom: 4px;

              .price_value {
                //margin-right: 10px;
              }

              .light {
                display: inline-block;
                width: 12px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 655px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .list {
      display: flex;
      justify-content: center;

      .item {
        display: block;
        width: 210px;
        margin: 24px 4px 0;
        transition: margin 0.2s ease-out;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

        &:hover {
          outline-width: 0;
          margin-top: 20px;
          margin-bottom: 4px;
        }

        .item_link {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 118px;
            width: 100%;
            background-position: center center;
            overflow: hidden;
            background-image: url("https://res.klook.com/image/upload/activities/wgw7f8n0nlzj063qzyk4.jpg");
          }

          .desc_info {
            padding: 10px 0 13px 13px;

            .product_info {
              min-height: 87px;

              .title {
                height: 36px;
                display: inline-block;
                word-break: break-all;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 8px;

              .score {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                margin: 0 2px;
                width: 29px;
                height: 16px;
                background: #ff9d26;
                border-radius: 2px;
                text-align: center;
                position: relative;
                &:after {
                  content: "";
                  width: 3px;
                  display: inline-block;
                  height: 6px;
                  background: url("../../../../../imgs/render/dynamic_widget/icon/score_horn.svg")
                    center no-repeat;
                  position: absolute;
                  left: -3px;
                  top: 5px;
                }
              }

              .review {
                font-size: 12px;
                color: #999;
              }
            }

            .price {
              display: flex;
              align-items: center;
              margin-top: 10px;
              font-size: 16px;
              //font-weight: 600;
              color: #333333;

              .price_value {
                //margin-right: 10px;
              }

              .light {
                display: inline-block;
                width: 12px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
