<style lang="scss">
.admin_network_publisher_management {
  .operation_area {
    margin-bottom: 20px;
    font-size: 14px;
    .search_area {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
      .aid-select {
        margin-right: 20px;
      }
      .search_input {
        margin: 0 20px;
      }
      ::v-deep .klk_radio_wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-right: 10px;
        .klk_radio_label_wrapper {
          margin-left: 5px;
          color: #333;
          font-size: 14px;
        }
      }
      ::v-deep .klk_radio_group {
        display: flex;
        margin-left: 10px;
        input {
          width: 16px;
          vertical-align: 3px;
        }
      }
    }
    .btn_group {
      display: flex;
      justify-content: space-between;
      .theme_btn_base {
        line-height: 38px;
        margin: 0;
      }
      .right {
        .theme_btn_base:first-child {
          margin-right: 15px;
        }
      }
    }
  }
  .label-item {
    display: block;
  }
  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 22px;
  }
}
</style>

<template lang="html">
  <div
    class="admin_network_publisher_management"
    v-loading="is_page_loading_shown"
  >
    <!-- title -->
    <div class="frame_title">
      {{ $t("ADMIN_MULTIPLE_network_publisher_management") }}
    </div>

    <!-- filter -->
    <!-- 初始化数据时，为了确保 select 筛选框的 on-change 事件不会多次触发，此处使用 is_page_loading_shown 进行标记 -->
    <div class="operation_area" v-if="!is_page_loading_shown">
      <div class="search_area">
        {{ $t("MULTIPLE_aid") }}:
        <klk-select
          filterable
          class="aid-select"
          v-model="search_options.wid"
          @on-change="changeSearchOption('aid')"
          width="180px"
        >
          <klk-option v-for="value in wid_list" :key="value" :value="value">{{
            value
          }}</klk-option>
        </klk-select>
        {{ $t("MULTIPLE_pid") }}:
        <klk-select
          filterable
          v-model="search_options.pid"
          @on-change="changeSearchOption('pid')"
          width="180px"
        >
          <klk-option v-for="value in pid_list" :key="value" :value="value">{{
            value
          }}</klk-option>
        </klk-select>
        <klk-input
          type="text"
          class="search_input"
          v-model="search_options.search_content"
          @on-enter="handleCurrentChange(1)"
          width="200px"
          :placeholder="`${$t('MULTIPLE_sid')} / ${$t(
            'ADMIN_MULTIPLE_publisher_name'
          )}`"
        >
          <span slot="append" @click="handleCurrentChange(1)">
            <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
          </span>
        </klk-input>
        {{ $t("ADMIN_ADMIN_NETWORK_PUBLISHER_MANAGEMENT_sub_publisher") }}:
        <klk-radio-group
          v-model="search_options.hide"
          @on-change="handleShownModeChange"
        >
          <klk-radio :label="0">{{
            $t("ADMIN_ADMIN_NETWORK_PUBLISHER_MANAGEMENT_show")
          }}</klk-radio>
          <klk-radio :label="1">{{
            $t("ADMIN_ADMIN_NETWORK_PUBLISHER_MANAGEMENT_hide")
          }}</klk-radio>
        </klk-radio-group>
      </div>
      <div class="btn_group">
        <div class="left">
          <button
            type="button"
            class="theme_btn_base small_btn"
            @click="showDialog(1)"
          >
            {{ $t("ADMIN_ADMIN_NETWORK_PUBLISHER_MANAGEMENT_add_publisher") }}
          </button>
        </div>
        <div class="right">
          <klk-upload
            :onProgress="onUploadProgress"
            :onSuccess="onUploadSuccess"
            :onError="onUploadError"
            :accept="upload_box.file_type"
            :action="upload_box.upload_url"
            :name="upload_box.name"
            style="display: inline-block"
          >
            <button
              type="button"
              class="theme_btn_base small_btn"
              v-loading="upload_box.is_loading_shown"
              name="button"
            >
              {{ $t("ADMIN_MULTIPLE_system_admin_import") }}
            </button>
          </klk-upload>
          <button
            type="button"
            style="margin-left: 15px"
            class="theme_btn_base small_btn"
            @click="exportFile"
          >
            {{ $t("MULTIPLE_export") }}
          </button>
        </div>
      </div>
    </div>

    <!-- table -->
    <div class="frame" v-loading="is_table_loading_shown">
      <klk-smart-list :cols="cols" :table_data="table_list">
        <tr slot-scope="scope">
          <td>{{ scope.row.user || "-" }}</td>
          <td>{{ scope.row.wid || "-" }}</td>
          <td>{{ scope.row.pid || "-" }}</td>
          <td v-if="!search_options.hide">{{ scope.row.sid || "-" }}</td>
          <!-- name 是当前的 pid 或 sid 的 Publisher Name，pname 是它的父集 -->
          <td>{{ getName(scope.row) }}</td>
          <td>
            <span class="operation">
              <a
                href="javascript:void(0)"
                class="theme_a"
                @click="showDialog(2, scope.row)"
                >{{ $t("ADMIN_ADMIN_NETWORK_PUBLISHER_MANAGEMENT_manage") }}</a
              >
              <a
                href="javascript:void(0)"
                class="theme_a"
                @click="showDeleteModal(scope.row)"
                >{{ $t("MULTIPLE_delete") }}</a
              >
            </span>
          </td>
        </tr>
      </klk-smart-list>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      ></klk-pagination>
    </div>

    <!-- modal -->
    <network-publisher-settings-dialog
      :dialog_data="dialog_data"
      @cancel="dialog_data.is_dialog_shown = false"
      @confirm="handleDialogConfirm"
    >
    </network-publisher-settings-dialog>
  </div>
</template>

<script>
import { urlObj, requestWithCache } from "common_data";
import NetworkPublisherSettingsDialog from "../admin_dialogs/network_publisher_settings_dialog.vue";

export default {
  name: "AdminNetworkPublisherManagement",
  data() {
    return {
      uid: "",
      user_name: "",
      search_options: {
        wid: "",
        pid: __("MULTIPLE_all"),
        search_content: "",
        hide: 0, // 0 - 展示 sid | 1 - 隐藏 sid
      },
      wid_list: [],
      pid_list: [],
      upload_box: {
        is_loading_shown: false,
        upload_url: urlObj.gen_network_publisher_report,
        name: "file",
        file_type: "text/csv", // 类型文档 https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types
      },
      table_list: [],
      pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      is_table_loading_shown: false,
      is_page_loading_shown: false,
      dialog_data: {
        mode: 1, // mode 1-add | 2-modify
        is_dialog_shown: false,
        input_options: {},
      },
    };
  },
  components: {
    NetworkPublisherSettingsDialog,
  },
  computed: {
    getName() {
      return function (row) {
        // 隐藏 sid 时，只显示 pid 对应的 Publisher Name
        if (this.search_options.hide) {
          return row.name || "-";
        }
        // 否则分别显示 pid 和 sid 对应的 Publisher Name
        if (!row.sid) {
          return `${row.name || "-"}，-`;
        }
        return `${row.pname || "-"}，${row.name || "-"}`;
      };
    },
  },
  created() {
    this.uid = this.$route.params.uid;
    this.user_name = this.$route.query.user_name;
    this.cols = [
      {
        label: __("ADMIN_MULTIPLE_user"),
      },
      {
        label: __("MULTIPLE_aid"),
      },
      {
        label: __("MULTIPLE_pid"),
      },
      {
        label: __("MULTIPLE_sid"),
      },
      {
        label: __("ADMIN_MULTIPLE_publisher_name"),
      },
      {
        label: __("MULTIPLE_action"),
      },
    ];
  },
  mounted() {
    this.is_page_loading_shown = true;
    this.getAidList().then(() => {
      this.loadData();
    });
  },
  methods: {
    loadData() {
      const { wid, pid, search_content, hide } = this.search_options;
      const { curPage, pageSize } = this.pagination;
      const params = {
        wid,
        pid: pid === __("MULTIPLE_all") ? "" : pid,
        hide,
        page: curPage,
        pcount: pageSize,
      };

      if (search_content) {
        params.sid = search_content;
      }
      this.is_table_loading_shown = true;
      klook.ajaxGet(urlObj.network_publisher_list, params, (resp) => {
        this.loading_data = false;
        if (resp.success) {
          const { result } = resp;
          this.table_list = result.publishers;
          this.pid_list = result.pids.map((i) => i.pid);
          this.pid_list.unshift(__("MULTIPLE_all"));
          this.pagination.total = result.total;
        } else {
          this.$Message.warning(resp.error.message);
        }
        this.is_page_loading_shown = false;
        this.is_table_loading_shown = false;
      });
    },
    // 获取 AID 列表
    getAidList() {
      return new Promise((resolve, reject) => {
        klook.ajaxGet(urlObj.get_admin_site_list, { uid: this.uid }, (res) => {
          if (res.success) {
            this.wid_list = res.result.websites.map((i) => i.id);
            this.search_options.wid = this.wid_list[0];
            resolve();
          } else {
            this.$Message.warning(res.error.message);
            this.is_page_loading_shown = true;
            reject();
          }
        });
      });
    },
    changeSearchOption(type) {
      if (type === "aid") {
        this.search_options.pid = __("MULTIPLE_all");
        this.search_options.search_content = "";
      }
      this.handleCurrentChange(1);
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    handleShownModeChange(val) {
      let cols = [
        {
          label: __("ADMIN_MULTIPLE_user"),
        },
        {
          label: __("MULTIPLE_aid"),
        },
        {
          label: __("MULTIPLE_pid"),
        },
        {
          label: __("MULTIPLE_sid"),
        },
        {
          label: __("ADMIN_MULTIPLE_publisher_name"),
        },
        {
          label: __("MULTIPLE_action"),
        },
      ];

      if (val === 1) {
        this.cols = cols.filter((item) => item.label !== __("MULTIPLE_sid"));
      } else {
        this.cols = cols;
      }
      this.handleCurrentChange(1);
    },
    /**
     * @param {Number} mode 1 - add | 2 - modify
     */
    showDialog(mode, row = {}) {
      this.dialog_data.mode = mode;
      this.dialog_data.is_sid_shown = false;
      if (mode === 1) {
        this.dialog_data.input_options = {
          wid: this.search_options.wid,
          user: `${this.uid} - ${this.user_name}`,
          pid: "",
          pname: "",
        };
      } else {
        const { uid, user, wid, pid, name, nid } = row;
        this.dialog_data.input_options = {
          user: `${this.uid} - ${this.user_name}`,
          wid,
          pid,
          pname: name || "",
          nid,
        };
      }
      if (row.sid) {
        this.dialog_data.is_sid_shown = true;
        Object.assign(this.dialog_data.input_options, {
          sid: row.sid,
          sname: row.name || "",
          pname: row.pname || "",
        });
      }
      this.dialog_data.is_dialog_shown = true;
    },
    /**
     * @param {Object} input_options 包含 user | wid | pid | pname | sid | sname | nid 的对象
     * @param {Number} mode 1 - add | 2 - modify
     */
    handleDialogConfirm(input_options, mode) {
      const { pid, pname, nid = "", sid = "", sname = "" } = input_options;
      // name 参数：当前编辑的是 sid, 则传 Sub-publisher Name; 否则传 Publisher Name;
      const params = { name: sid ? sname : pname };
      const request_method_map = {
        1: "ajaxPostJSON",
        2: "ajaxPut",
      };

      this.dialog_data.is_dialog_shown = false;
      this.is_table_loading_shown = true;

      if (mode === 1) {
        Object.assign(params, {
          wid: this.search_options.wid,
          pid,
        });
      } else {
        Object.assign(params, {
          nid,
          state: 0,
        });
      }
      klook[request_method_map[mode]](
        urlObj.network_publisher_list,
        params,
        (resp) => {
          if (resp.success) {
            this.resetSearchOption();
            this.loadData();
          } else {
            this.$Message.warning(resp.error.message);
          }
        }
      );
    },
    showDeleteModal(row) {
      this.$Modal.alert({
        title: __("ADMIN_ADMIN_NETWORK_PUBLISHER_MANAGEMENT_delete_alert"),
        showCancel: true,
        okText: __("MULTIPLE_confirm"),
        onOk: () => {
          const { name, nid } = row;
          const params = {
            name,
            nid,
            state: 2,
          };
          klook.ajaxPut(urlObj.network_publisher_list, params, (resp) => {
            if (resp.success) {
              this.loadData();
            } else {
              this.$Message.warning(resp.error.message);
            }
          });
        },
      });
    },
    onUploadProgress() {
      this.upload_box.is_loading_shown = true;
    },
    onUploadError(err) {
      this.upload_box.is_loading_shown = false;
      this.$Message.warning(err.msg);
    },
    onUploadSuccess(res) {
      if (res.success) {
        this.resetSearchOption();
        this.loadData();
        this.$Message.success("Success!");
        this.upload_box.is_loading_shown = false;
      } else {
        this.onUploadError({ msg: res.error.message });
      }
    },
    resetSearchOption() {
      const { wid, hide } = this.search_options;
      this.search_options = {
        wid,
        pid: __("MULTIPLE_all"),
        search_content: "",
        hide,
      };
      this.pagination.curPage = 1;
    },
    exportFile() {
      let url = `${urlObj.gen_network_publisher_report}?wid=${this.search_options.wid}`;
      klook.downloadFile("", url);
    },
  },
};
</script>
