<template>
  <a
    class="static_banner"
    target="_blank"
    :href="url"
    @click="handleClickActivity()"
  >
    <img
      v-if="size"
      :src="`//cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/widgets/imgs/banner_v3/${lang}/${bg_type}_${width}*${height}.jpg`"
      :width="width"
      :height="height"
      :srcset="`//cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/widgets/imgs/banner_v3/${lang}/${bg_type}_${width}*${height}@2x.jpg`"
      alt="ads"
    />
  </a>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { getUrlParam, urlObj } from "../../util/common_data.js";
import { ajaxGetPromise } from "../../util/request.js";
@Component
export default class Static_banner extends Vue {
  lang = "en-US";
  bg_type = "Klook";
  size = "";

  get width() {
    return this.size.split("x")[0];
  }

  get height() {
    return this.size.split("x")[1];
  }
  url = "";
  adid;
  aid;
  // kepler_id
  private kepler_id = this.$renderStore.state.keplerId;

  get currentExp() {
    return this.$renderStore.state.currentExp;
  }

  async fetchData() {
    let res = await ajaxGetPromise(urlObj.static_banner_render_data(this.adid));
    if (res.success) {
      const { lang, url, aid } = res.result;
      const { bg_type, size } = res.result.content;
      this.url = url;
      this.lang = lang;
      this.size = size;
      this.bg_type = bg_type;
      this.aid = aid;
      window.dataLayer &&
        window.dataLayer.push({
          event: "adDisplay",
          eventCategory: `Experimentation`,
          eventAction: `Affiliate Ad Impression`,
          eventLabel: `Static Banner`,
          KeplerID: this.kepler_id,
          AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
            this.currentExp.groupId || ""
          }`,
          AffiliateADID: this.adid,
          PartnerWebsiteAID: this.aid,
        });
    }
  }

  created() {
    let adid = getUrlParam("adid");
    if (!adid || +adid < 0 || !Number.isInteger(+adid)) {
      return;
    }
    this.adid = adid;
    this.fetchData();
  }

  handleClickActivity() {
    // 获得当前命中的实验，进行上报
    window.dataLayer &&
      window.dataLayer.push({
        event: "adDisplay",
        eventCategory: `Experimentation`,
        eventAction: `Affiliate Ad Click`,
        eventLabel: `Static Banner`,
        KeplerID: this.kepler_id,
        AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
          this.currentExp.groupId || ""
        }`,
        AffiliateADID: this.adid,
        PartnerWebsiteAID: this.aid,
      });
  }
}
</script>
<style lang="scss" scoped>
.static_banner {
  display: block;
  width: fit-content;
  height: fit-content;
  &:hover {
    cursor: pointer;
  }
}
</style>
