<style lang="scss" scoped>
.system_admin {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}
</style>

<template lang="html">
  <div class="system_admin">
    <card
      :headText="item.headText"
      :contentText="item.contentText"
      :onClick="item.onClick"
      :style="item.style"
      :key="item.key"
      v-for="item in list"
    >
    </card>
  </div>
</template>

<script>
import Card from "./components/Card";
export default {
  name: "SystemAdmin",
  components: { Card },
  data() {
    return {
      list: [
        {
          key: "internal_user",
          style: { background: "#07b295" },
          headText: __("ADMIN_MULTIPLE_internal_user"),
          contentText: __("ADMIN_SYSTEM_ADMIN_internal_user_card_desc"),
          onClick: () => this.handleClick("internal_user"),
        },
        {
          key: "upload_type",
          style: { background: "#1eabbe" },
          headText: __("ADMIN_MULTIPLE_system_admin_data_import"),
          contentText: __("ADMIN_SYSTEM_ADMIN_system_admin_bulk_data_import"),
          onClick: () => this.handleClick("upload_type"),
        },
        {
          key: "dynamic_commission",
          style: { background: "#f7ad2d" },
          headText: __("ADMIN_SYSTEM_ADMIN_dynamic_commission"),
          contentText: __("ADMIN_SYSTEM_ADMIN_dynamic_commission_model_desc"),
          onClick: () => this.handleClick("dynamic_commission"),
        },
        {
          key: "expense",
          style: { background: "#886fec" },
          headText: __("ADMIN_SYSTEM_ADMIN_account_expense_management"),
          contentText: __("ADMIN_SYSTEM_ADMIN_account_expense_management_desc"),
          onClick: () => this.handleClick("expense"),
        },
      ],
    };
  },
  methods: {
    handleClick(name) {
      this.$router.push({
        name,
        query: {
          //同一路由的刷新
          t: +new Date(),
        },
      });
    },
  },
  created() {
    // console.log("444444")
  },
};
</script>
