<style lang="scss">
.activity_power_ad {
  .select_activity_group {
    .klk_form_item_error_tip {
      margin-top: -10px;
    }
  }
  .select_activity_group_tips {
    display: flex;
    width: 100%;
    span {
      flex: 1;
      color: #333;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    span:nth-child(1) {
      margin-right: 25px;
    }
  }
}
</style>

<template lang="html">
  <div class="activity_power_ad">
    <h2 class="header">
      {{ $t("MULTIPLE_activity_banners") }}
    </h2>
    <klk-form flex_row :rules="formRules" :model="form_data" ref="ad_form">
      <ad-common-setting
        @ad-info-loaded="onAdInfoLoaded"
        @on-change="onCommonSettingChange"
      ></ad-common-setting>

      <klk-form-item :label="form_data_label.size" prop="size_price">
        <klk-select v-model="form_data.size_price">
          <klk-option
            v-for="item in banner_size_list"
            :key="item.value"
            :value="item.value"
            >{{ item.label }}</klk-option
          >
        </klk-select>
      </klk-form-item>
      <klk-form-item :label="form_data_label.lang" prop="lang">
        <klk-select v-model="form_data.lang">
          <klk-option
            value=""
            :label="$t('MULTIPLE_user_browser_language')"
          ></klk-option>
          <klk-option
            v-for="item in langOptions"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item :label="form_data_label.currency" prop="currency">
        <klk-select v-model="form_data.currency">
          <klk-option value="">{{
            $t("MULTIPLE_auto_select_currency")
          }}</klk-option>
          <klk-option
            v-for="item in currencyList"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>

      <klk-form-item
        itemWidth="100%"
        class="select_activity_group"
        :label="'*' + $t('banner_activity_tips', [activity_length])"
        prop="activity_ad_activity_list"
      >
        <div style="display: inline-block">
          <div class="select_activity_group_tips">
            <span>{{ "*" + $t("text_link_city") }}</span>
            <span>{{ "*" + $t("text_link_activity") }}</span>
          </div>
          <div
            class="select_activity_group_item"
            v-for="index in activity_length"
            :key="index"
          >
            <klk-select
              filterable
              v-model="form_data.selected_cities[index - 1]"
              @on-change="loadActivityList(index - 1)"
              style="margin-right: 20px; margin-bottom: 12px"
            >
              <klk-option
                v-for="item in CITY_LIST"
                :value="item.city_id"
                :key="item.city_id"
                >{{ item.city_name }}</klk-option
              >
            </klk-select>
            <klk-select
              v-loading="loading.loading_activity_list[index - 1]"
              filterable
              v-model="form_data.selected_activities[index - 1]"
            >
              <klk-option
                v-for="item in city_related_activity_list[index - 1]"
                :value="item.id"
                :key="item.id"
                >{{ item.id }}-{{ item.name }}</klk-option
              >
            </klk-select>
          </div>
        </div>
      </klk-form-item>
    </klk-form>

    <button
      class="theme_btn_base small_btn submit_button"
      @click="onClickGenerateCode"
      v-loading="loading.generate_code_loading"
    >
      <span v-show="!ad_id">{{ $t("MULTIPLE_save_and_generate_code") }}</span>
      <span v-show="ad_id">{{ $t("MULTIPLE_update_and_generate_code") }}</span>
    </button>

    <!-- <div class="is_adid_ready" v-show='is_ad_ready_preview && form_data.selected_activities[activity_length-1]'> -->
    <div class="is_adid_ready" v-if="is_ad_ready_preview">
      <div class="ad_preview_wrapper" v-html="generated_code"></div>

      <div class="html_code_wrapper">
        <div class="copy_code_header">
          <html-code-title></html-code-title>
          <copy-code-btn
            eventLabel="Activity Banners"
            :copy_text="generated_code + script_text"
          >
          </copy-code-btn>
        </div>
        <div class="html_code_container">
          {{ generated_code }}{{ script_text }}
        </div>
      </div>
      <ad-cast-feedback ads_type="activity_banner"></ad-cast-feedback>
    </div>
  </div>
</template>

<script>
import AdCommonSetting from "../components/ad_common_setting.vue";
import CopyCodeBtn from "../components/copy_code_btn.vue";
import AdCastFeedback from "../components/cast-feedback.vue";
import HtmlCodeTitle from "../components/html_code_title.vue";

import { formRules, urlObj, CITY_LIST, AD_SCRIPT } from "common_data";
import mixin from "../mixin/ad_mixin.js";

export default {
  name: "ActivityPowerAd",
  mixins: [mixin],
  components: {
    AdCommonSetting,
    CopyCodeBtn,
    AdCastFeedback,
    HtmlCodeTitle,
  },
  data() {
    return {
      ad_type: "activity",
      ad_id: "",
      form_data: {
        websiteId: "",

        selected_cities: [],
        selected_activities: [],

        size_price: "160x600",
        lang: "",
        currency: "",
      },
      form_data_label: {
        size: "*" + __("MULTIPLE_banner_size"),
        lang: __("MULTIPLE_language"),
        currency: __("MULTIPLE_currency"),
        selected_activity: "*" + __("MULTIPLE_selected_activity"),
      },
      city_related_activity_list: [],
      script_text: "",
      loading: {
        loading_activity_list: [false, false, false],
      },
      edit_mode_lock_activity_change_count: 0,
    };
  },
  created() {
    this.currencyList = SUPPORT_CURRENCY;
    this.CITY_LIST = CITY_LIST;
    this.banner_size_list = [
      {
        value: "160x600",
        label: "160x600( " + __("ACTIVITY_AD_number_activities", [3]) + ")",
        activity_length: 3,
      },
      {
        value: "336x280",
        label: "336x280( " + __("ACTIVITY_AD_number_activities", [3]) + ")",
        activity_length: 3,
      },
      {
        value: "300x250",
        label: "300x250( " + __("ACTIVITY_AD_number_activities", [1]) + ")",
        activity_length: 1,
      },
      {
        value: "250x250",
        label: "250x250( " + __("ACTIVITY_AD_number_activities", [1]) + ")",
        activity_length: 1,
      },
      {
        value: "200x200",
        label: "200x200( " + __("ACTIVITY_AD_number_activities", [1]) + ")",
        activity_length: 1,
      },
      {
        value: "160x600_price",
        label: "160x600( " + __("ACTIVITY_AD_activities with price", [3]) + ")",
        activity_length: 3,
      },
      {
        value: "336x280_price",
        label: "336x280( " + __("ACTIVITY_AD_activities with price", [3]) + ")",
        activity_length: 3,
      },
    ];

    this.script_text =
      "<script type='text/javascript'>" + AD_SCRIPT + "</scr" + "ipt>";

    this.formRules = formRules.call(this);
  },
  mounted() {
    this.renderAd();
  },
  computed: {
    activity_length: function () {
      return _.find(
        this.banner_size_list,
        (item) => item.value == this.form_data.size_price
      ).activity_length;
    },
    generated_code: function () {
      var params = this.form_data.size_price.split("_")[0].split("x"),
        has_price = this.form_data.size_price.split("price").length == 2,
        prod_type = this.activity_length > 1 ? "mul_act" : "single_act",
        activity_ids = this.form_data.selected_activities
          .slice(0, this.activity_length)
          .join(",");

      this.renderAd();
      return `<ins class="klookaff" data-wid="${this.form_data.websiteId}" data-adid="${this.ad_id}" data-actids="${activity_ids}" data-prod="${prod_type}" data-price="${has_price}" data-lang="${this.form_data.lang}" data-width="${params[0]}" data-height="${params[1]}" data-currency="${this.form_data.currency}"><a href="//www.klook.com/">Klook.com</a></ins>`;
    },
  },
  methods: {
    onClickGenerateCode() {
      // Google Tag Manager for adGenerate Event
      if (!this.ad_id) {
        window.dataLayer.push({
          event: "adGenerate",
          eventCategory: "My Ads",
          eventAction: "Save and Generate Code",
          eventLabel: "Activity Banners",
        });
      }
      this.generateAd();
    },
    fixFirstEnteringNotInPreviewMode() {
      //fix activity ad edit mode first entering not in preview mode
      this.edit_mode_lock_activity_change_count--;
      if (this.edit_mode_lock_activity_change_count === 0) {
        //所有activity 回显完毕就进入预览模式
        this.$nextTick(() => {
          this.setPreviewMode();
        });
        this.edit_mode_lock_activity_change_count--;
      }
    },

    loadActivityList(index) {
      this.loading.loading_activity_list.splice(index, 1, true);
      const { lang, currency } = this.form_data;
      klook.ajaxGet(
        urlObj.activities_get_data_by_city(
          this.form_data.selected_cities[index],
          "activity"
        ),
        { lang, currency },
        (resp) => {
          if (resp.success) {
            this.loading.loading_activity_list[index] = false;
            this.$set(
              this.city_related_activity_list,
              index,
              (resp.result.activities || []).reduce(
                (res, cur) => res.concat(cur),
                []
              )
            );

            if (this.edit_mode_lock_activity_change_count <= 0) {
              this.$set(this.form_data.selected_activities, index, "");
            }
            this.fixFirstEnteringNotInPreviewMode();
          } else {
            console.error(resp);
          }
        }
      );
    },
    renderAd() {
      new Function(AD_SCRIPT)();
    },
    generateAdInfoFormData() {
      console.log("ta.size_price", this.form_data.size_price);
      return {
        ad_type: this.ad_type,
        ad_detail: {
          t: this.ad_type,
          currency: this.form_data.currency,
          lang: this.form_data.lang,
          size_price: this.form_data.size_price,
          activities: this.form_data.selected_cities
            .reduce((list, cur, index) => {
              list.push({
                id: this.form_data.selected_activities[index],
                city_id: cur,
              });
              return list;
            }, [])
            .slice(0, this.activity_length), //cache selected activities ,only commit the necessary
        },
      };
    },

    initEdit(adInfo) {
      this.form_data = _.extend(this.form_data, {
        currency: adInfo.ad_detail.currency,
        lang: adInfo.ad_detail.lang,
        size_price: adInfo.ad_detail.size_price,
        selected_activities: _.pluck(adInfo.ad_detail.activities, "id"),
        selected_cities: _.pluck(adInfo.ad_detail.activities, "city_id"),
      });

      this.edit_mode_lock_activity_change_count =
        adInfo.ad_detail.activities.length;
    },
  },
};
</script>
