<template lang="html">
  <div class="ad_tool_module">
    <component v-bind:is="currentView">
      <!-- 组件在 vm.currentview 变化时改变！ -->
    </component>
  </div>
</template>

<script>
import TextLinks from "./text_links.vue";
import SearchBox from "./search_box.vue";
import CodeAd from "./code_ad.vue";
import ActivityAd from "./activity_ad.vue";
import BannerAd from "./banner_ad.vue";
import DynamicWidgets from "./dynamic_widgets.vue";

export default {
  name: "AdToolModule",
  components: {
    "text-links": TextLinks,
    "search-box": SearchBox,
    "code-ad": CodeAd,
    "activity-ad": ActivityAd,
    "banner-ad": BannerAd,
    "dynamic-widgets": DynamicWidgets,
  },
  data() {
    return {
      route_name_map_ad_template: {
        link: "text-links",
        search_vertical: "search-box",
        code: "code-ad",
        activity: "activity-ad",
        banner: "banner-ad",
        dynamic_widget: "dynamic-widgets",
        static_widget: "dynamic-widgets",
        dynamicWidgets: "dynamic-widgets",
        co_brand: "co-brand",
      },
    };
  },
  computed: {
    currentView: function () {
      return this.route_name_map_ad_template[this.$route.params.ad_tool_type];
    },
  },
};
</script>

<style lang="scss">
.ad_tool_module {
  .ad_preview_wrapper {
    margin-top: 20px;
    width: 100%;
    min-height: 110px;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 20px 4px;
    text-align: center;
  }
  .html_code_wrapper {
    width: 100%;
    .copy_code_header {
      display: flex;
      justify-content: space-between;
      height: 96px;
      padding-top: 40px;
    }
    .type_header {
      margin: 44px 0 28px;
      display: flex;
      justify-content: space-between;
      .type_wrapper {
        .type {
          display: inline-block;
          margin-right: 24px;
          font-size: 20px;
          font-weight: 500;
          color: #999999;
          cursor: pointer;
          &:hover,
          &.active {
            color: #333333;
          }
        }
      }
    }
    .html_code_container {
      width: 100%;
      line-height: 1.7;
      padding: 20px;
      background: #f5f5f5;
      border: 1px solid #e0e0e0;
      font-size: 12px;
      color: #000000;
    }
  }
  .select_wrapper {
    margin-right: 17px;
  }
  .submit_button {
    display: block;
    margin: 30px auto 0;
    padding: 0 32px;
  }
}
</style>
