<style lang="scss">
.banner_ad {
  .desc {
    margin: 24px 0 12px;
    font-size: 14px;
    color: #b0b0b0;
  }
  .bg_block_list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .bg_block {
      margin: 10px 0;
      cursor: pointer;
    }
    .selected_bg_type {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      height: 40px;
      width: 100%;
      color: #333;
      font-size: 16px;
    }
  }
}
</style>

<template lang="html">
  <div class="banner_ad">
    <div class="title">{{ $t("MULTIPLE_static_banners") }}</div>
    <div class="desc">
      <span>{{ $t("BANNER_AD_static_banners_desc_long_1") }}</span>
      <br />
      <span>{{ $t("BANNER_AD_static_banners_desc_long_2") }}</span>
    </div>
    <klk-form flex_row :rules="formRules" :model="form_data" ref="ad_form">
      <ad-common-setting
        @ad-info-loaded="onAdInfoLoaded"
        @on-change="onCommonSettingChange"
      ></ad-common-setting>

      <klk-form-item :label="form_data_label.size" prop="size">
        <klk-select v-model="form_data.size">
          <klk-option
            v-for="item in banner_size_list"
            :key="item"
            :value="item"
            >{{ item }}</klk-option
          >
        </klk-select>
      </klk-form-item>
      <klk-form-item :label="form_data_label.lang" prop="lang">
        <klk-select v-model="form_data.lang">
          <klk-option
            v-for="item in langOptions"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>
    </klk-form>
    <div class="ad_preview_wrapper bg_block_list">
      <div
        class="bg_block"
        v-for="(bg_url, index) in banner_size_map[form_data.lang][
          form_data.size
        ].related_bg_list"
        :key="index"
        @click="form_data.bg_type = banner_img_name[index]"
      >
        <img
          :style="banner_size_map[form_data.lang][form_data.size].style"
          :src="bg_url + '.jpg'"
          :srcset="bg_url + '@2x.jpg  2x'"
          alt=""
        />
        <div
          class="selected_bg_type"
          v-show="form_data.bg_type == banner_img_name[index]"
        >
          <klk-icon type="check-mark2" size="20px"></klk-icon>
          {{ $t("BANNER_AD_selected") }}
        </div>
      </div>
    </div>

    <button
      class="theme_btn_base small_btn submit_button"
      @click="onClickGenerateCode"
      v-loading="loading.generate_code_loading"
    >
      <span v-show="!ad_id">{{ $t("MULTIPLE_save_and_generate_code") }}</span>
      <span v-show="ad_id">{{ $t("MULTIPLE_update_and_generate_code") }}</span>
    </button>

    <div class="is_adid_ready" v-if="is_ad_ready_preview">
      <div class="html_code_wrapper">
        <div class="copy_code_header">
          <html-code-title></html-code-title>
          <copy-code-btn
            eventLabel="Static Banners"
            :copy_text="generated_code + script_text"
          >
          </copy-code-btn>
        </div>
        <div class="html_code_container">
          {{ generated_code }}{{ script_text }}
        </div>
      </div>
      <ad-cast-feedback ads_type="static_banner"></ad-cast-feedback>
    </div>
  </div>
</template>

<script>
import AdCommonSetting from "../components/ad_common_setting.vue";
import CopyCodeBtn from "../components/copy_code_btn.vue";
import AdCastFeedback from "../components/cast-feedback.vue";
import HtmlCodeTitle from "../components/html_code_title.vue";

import { formRules, AD_SCRIPT, CDN_PREFIX } from "common_data";
import mixin from "../mixin/ad_mixin.js";

export default {
  name: "BannerAd",
  mixins: [mixin],
  components: {
    AdCommonSetting,
    CopyCodeBtn,
    AdCastFeedback,
    HtmlCodeTitle,
  },
  data() {
    return {
      ad_id: "",
      ad_type: "banner",
      banner_img_name: ["Experience", "Food", "Klook", "TTD"],
      form_data: {
        websiteId: "",
        size: "120x600",
        lang: "en",
        bg_type: "", //每种size的banner包含几种type的bg Experience Food Klook TTD
      },
      form_data_label: {
        size: "* " + __("MULTIPLE_banner_size"),
        lang: __("MULTIPLE_language"),
      },
      script_text: "",
    };
  },
  methods: {
    onClickGenerateCode() {
      // Google Tag Manager for adGenerate Event
      if (!this.ad_id) {
        window.dataLayer.push({
          event: "adGenerate",
          eventCategory: "My Ads",
          eventAction: "Save and Generate Code",
          eventLabel: "Static Banners",
        });
      }
      this.generateAd();
    },
    initBannerSizeList() {
      // 这里目前是后端维护的静态资源, 因此cdn路径走的是后端路径和前端打包不在一块，后续迁移的时候需要做处理
      var bg_img_url_prefix =
        KLK_ENV == "prd" ? "//cdn.klook.com/affiliate_web" : "";
      var bg_list = this.banner_img_name.map(
        (img_name) =>
          bg_img_url_prefix +
          "/s/widgets/imgs/banner_v3/{0}/" +
          img_name +
          "_{1}"
      );
      this.banner_lang_list = LANG_OPTIONS;
      this.banner_size_list = [
        "120x600",
        "200x200",
        "250x250",
        "300x250",
        "468x60",
        "728x90",
      ];
      this.banner_size_map = {};
      this.banner_lang_list.forEach((lang) => {
        var banner_info = {};
        banner_info = this.banner_size_list.reduce((result, cur) => {
          result[cur] = {
            size: cur,
            style: {
              width: cur.split("x")[0],
              height: cur.split("x")[1],
            },
            related_bg_list: bg_list.map((bg_url_formate) =>
              klook.strformat(
                bg_url_formate,
                lang.value == "en" ? "en-US" : lang.value,
                cur.split("x").join("*")
              )
            ),
          };
          return result;
        }, {});
        this.banner_size_map[lang.value] = banner_info;
      });
    },
    renderAd() {
      new Function(AD_SCRIPT)();
    },
    generateAdInfoFormData() {
      return {
        ad_type: this.ad_type,
        ad_detail: {
          t: this.ad_type,
          currency: "",
          lang: this.form_data.lang,
          size: this.form_data.size,
          bg_type: this.form_data.bg_type,
        },
      };
    },

    initEdit(adInfo) {
      this.form_data = _.extend(this.form_data, {
        lang: adInfo.ad_detail.lang,
        size: adInfo.ad_detail.size,
        bg_type: adInfo.ad_detail.bg_type || this.banner_img_name[0], //兼容老数据，默认选择第一个背景
      });
    },
  },
  computed: {
    generated_code: function () {
      var params = this.form_data.size.split("x");
      this.renderAd();
      return `<ins class="klookaff" data-wid="${this.form_data.websiteId}" data-bgtype="${this.form_data.bg_type}" data-adid="${this.ad_id}" data-lang="${this.form_data.lang}" data-prod="${this.ad_type}" data-width="${params[0]}" data-height="${params[1]}"><a href="//www.klook.com/?aid=">Klook.com</a></ins>`;
    },
  },
  mounted() {
    this.renderAd();
  },
  created() {
    this.form_data.bg_type = this.banner_img_name[0];
    this.initBannerSizeList();

    this.script_text =
      "<script type='text/javascript'>" + AD_SCRIPT + "</scr" + "ipt>";

    this.formRules = formRules.call(this);
  },
};
</script>
