<style lang="scss">
.code_ad {
  .code_ad_header {
    font-size: 20px;
    color: #414141;
    margin-bottom: 12px;
  }
  .title {
    margin: 10px 0;
  }
  .desc {
    margin: 24px 0 12px;
    font-size: 14px;
    color: #b0b0b0;
  }
  .country_select_wrapper {
    margin: 24px 0;
    .country_title {
      vertical-align: top;
      display: inline-block;
      margin-top: 13px;
      margin-right: 20px;
      font-size: 14px;
    }
    .klk_select {
      width: 275px;
    }
  }
  .code_ad_list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .code_ad_item {
      width: 540px;
      height: 160px;
      display: flex;
      border: 1px solid #e0e0e0;
      .code_ad_item_detail {
        padding: 20px;
        border-right: 1px dashed #e0e0e0;
        width: 340px;
        .header {
          margin-bottom: 16px;
          font-size: 20px;
          font-weight: 500;
          color: #ff5824;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .tip {
          margin-bottom: 8px;
          color: #666666;
          font-size: 14px;
        }
        .details_partial_wrapper {
          // position: relative;
          line-height: 16px;
          font-size: 14px;
          color: #666666;
          .details_partial {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
      .innner_center {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        position: relative;
        left: -10px;
        width: 1px;
        height: 160px;
        top: -1px;
        .top_circle {
          width: 20px;
          height: 10px;
          border: 1px solid #e0e0e0;
          border-radius: 0 0 10px 10px;
          background: #fff;
          border-top: none;
        }
        .bottom_circle {
          width: 20px;
          height: 10px;
          border: 1px solid #e0e0e0;
          border-radius: 10px 10px 0 0;
          background: #fff;
          border-bottom: none;
        }
      }
      .code_ad_item_brief {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 196px;
        align-items: center;
        padding: 20px 20px 15px;
        .header,
        .title {
          width: 146px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .header {
          font-size: 20px;
          text-align: center;
        }
        .title {
          margin-top: 4px;
          margin-bottom: 3px;
          font-size: 14px;
          font-weight: 400;
          color: #333333;
          text-align: center;
        }
        .expire_date {
          margin: 2px 0;
          font-size: 12px;
          color: #999999;
        }
        .copy_code {
          width: 94px;
          line-height: 24px;
          height: 24px;
          margin-top: 8px;
          padding: 0;
          font-size: 12px;
        }
        .klk_poptip_popper {
          top: 38px !important;
          .poptip_content {
            font-size: 12px;
          }
        }
      }
      margin-bottom: 20px;
    }
  }
}
</style>

<template lang="html">
  <div class="code_ad">
    <h2 class="title">
      {{ $t("MULTIPLE_promo_code") }}
    </h2>
    <div class="desc">
      <span>{{ $t("CODE_AD_promo_code_desc_long_1") }}</span>
      <br />
      <span>{{ $t("CODE_AD_promo_code_desc_long_2") }}</span>
    </div>
    <div class="country_select_wrapper">
      <span class="country_title">{{ $t("search_by_country") }}:</span>
      <klk-select v-model="code_country" filterable>
        <klk-option key="all" value="all">{{
          $t("CODE_AD_all_codes")
        }}</klk-option>
        <klk-option
          v-for="(label, key) in code_country_map"
          :key="key"
          :value="key"
          >{{ label.name }}</klk-option
        >
      </klk-select>
    </div>

    <div class="code_ad_list">
      <div
        class="code_ad_item"
        v-for="(code_info, index) in table_code_list"
        :key="index"
      >
        <div class="code_ad_item_detail">
          <div class="header">{{ code_info.discount_desc }}</div>
          <div class="tip">
            {{ $t("CODE_AD_applicable_platform") }}:
            <span v-if="code_info.client_type == 0">
              {{ $t("MULTIPLE_all") }}</span
            >
            <span v-if="code_info.client_type == 1">
              {{ $t("CODE_AD_only_valid_on_web") }}</span
            >
            <span v-if="code_info.client_type == 2">
              {{ $t("CODE_AD_only_valid_on_app") }}</span
            >
          </div>
          <div class="details_partial_wrapper">
            <klk-poptip trigger="hover" class="poptip_wrapper">
              <div class="poptip_info">
                <div class="details_partial">
                  {{ code_info.affiliate_desc }}
                </div>
              </div>
              <div slot="content" class="poptip_content">
                {{ code_info.affiliate_desc }}
              </div>
            </klk-poptip>
          </div>
        </div>
        <div class="innner_center">
          <div class="top_circle"></div>
          <div class="bottom_circle"></div>
        </div>
        <div class="code_ad_item_brief">
          <div class="header_wrapper">
            <klk-poptip trigger="hover" class="poptip_wrapper">
              <div class="poptip_info">
                <div class="header">
                  {{ code_info.code }}
                </div>
              </div>
              <div slot="content" class="poptip_content">
                {{ code_info.code }}
              </div>
            </klk-poptip>
          </div>
          <div class="title">
            {{ code_info.desc }}
          </div>
          <div class="expire_date">
            {{ $t("CODE_AD_redeem_by") }}:{{ code_info.redeem_end }}
          </div>
          <div class="expire_date">
            {{ $t("CODE_AD_use_by") }}:{{ getUseByInfo(code_info) }}
          </div>
          <div @click="handleClickCopyCode(code_info.code)">
            <copy-code-btn
              :copy_text="code_info.code"
              :copy_btn_class="['copy_code']"
              poptip_popper_top="32px"
            >
            </copy-code-btn>
          </div>
        </div>
      </div>
    </div>

    <klk-pagination
      :show_page_size_opts="false"
      :show_elevator="false"
      :total="pagination.total"
      :page_size="pagination.pageSize"
      :prop_current="pagination.curPage"
      @current_change="handle_current_change"
    >
    </klk-pagination>
  </div>
</template>

<script>
import CopyCodeBtn from "../components/copy_code_btn.vue";
import { requestWithCache, urlObj } from "common_data";
export default {
  name: "CodeAd",
  components: {
    CopyCodeBtn,
  },
  data() {
    return {
      code_country: "",
      code_country_map: [],
      whole_code_list: [],
      selected_code_list: [],
      table_code_list: [],
      pagination: {
        total: 1,
        pageSize: 100,
        curPage: 1,
      },
    };
  },
  methods: {
    handle_current_change(curPage) {
      this.pagination.curPage = curPage;
      this.loadDataFromLocal(curPage);
    },
    loadData() {
      klook.ajaxGet(urlObj.get_affiliate_coupon_codes, "", (res) => {
        if (res.success) {
          this.whole_code_list = res.result;
          this.code_country = "all";
          this.loadDataFromLocal();
        }
      });
    },
    handleClickCopyCode(name) {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Promo Code",
        eventAction: `Copy Code`,
        eventLabel: name,
      });
    },
    loadDataFromLocal(curPage) {
      //从本地截取数据
      var startPage = (curPage || this.pagination.curPage) - 1;
      var selected_code_list_copy = this.selected_code_list.concat([]);
      this.table_code_list = selected_code_list_copy.splice(
        startPage * this.pagination.pageSize,
        this.pagination.pageSize
      );
    },
    getUseByInfo(code_info) {
      if (code_info.valid_date_type == 0) {
        return code_info.use_end_date;
      }
      if (code_info.valid_date_type == 1) {
        return __("CODE_AD_years", [code_info.valid_date_unit]);
      }
      if (code_info.valid_date_type == 2) {
        return __("CODE_AD_months", [code_info.valid_date_unit]);
      }
      if (code_info.valid_date_type == 3) {
        return __("CODE_AD_days", [code_info.valid_date_unit]);
      }
    },
  },
  watch: {
    code_country() {
      var code_list;
      var code_country = this.code_country;
      if (code_country === "all") {
        this.selected_code_list = this.whole_code_list.concat([]);
      } else {
        this.selected_code_list = this.whole_code_list.filter((code_info) => {
          if (
            code_info.countries_or_regions.length === 0 ||
            (code_info.allow_or_exclude_countries &&
              ~code_info.countries_or_regions.indexOf(code_country)) ||
            (!code_info.allow_or_exclude_countries &&
              !~code_info.countries_or_regions.indexOf(code_country))
          ) {
            return code_info;
          }
        });
      }
      this.pagination.total = this.selected_code_list.length;
      this.pagination.curPage = 1;
      this.loadDataFromLocal();
    },
  },
  mounted() {
    requestWithCache(urlObj.get_country_list).then(
      (data) => (this.code_country_map = data.country_list)
    );
    this.loadData();
  },
};
</script>
