<style lang="scss">
.dynamic_widgets {
  .desc {
    margin: 24px 0 12px;
    font-size: 14px;
    color: #b0b0b0;
  }
  .ad_preview_wrapper {
    height: 460px;
  }
  .optional_activity,
  .top_activities {
    width: 100%;
    border: solid 1px #e0e0e0;
    background-color: #f5f5f5;
    padding: 8px 24px 20px;
  }
  .selected_activity_item {
    margin: 12px 0;
    display: flex;
  }
  .icon_delete {
    padding: 8px;
  }
  .invalid_activity {
    margin-top: 10px;
    margin-left: 10px;
    color: red;
  }
  .product {
    width: 100%;
    display: flex;
    align-content: center;
    ::v-deep .klk_form_item_content {
      display: flex;
      height: 40px;
      align-content: center;
    }
    .widget_type {
      height: 40px;
      display: flex;
    }
    .label {
      display: flex;
      align-items: center;
      .text {
        margin-right: 12px;
      }
      .new {
        display: flex;
        color: $theme_color;
        align-items: center;
        font-size: 14px;
        .new_text {
          margin-left: 2px;
        }
      }
    }
  }
}
</style>

<template lang="html">
  <div class="dynamic_widgets">
    <div class="title">
      {{ $t("MULTIPLE_dynamic_widgets") }}
    </div>
    <div class="desc">
      {{ $t("DYNAMIC_WIDGETS_dynamic_widget_desc_long") }}
    </div>
    <div>
      <a href="/v1/affnode/ads_demo?type=0"
        ><button class="theme_btn_base_border demo_btn">
          {{ $t("MULTIPLE_dynamic_widget_demo") }}
        </button></a
      >
    </div>
    <klk-form flex_row :rules="formRules" :model="form_data" ref="ad_form">
      <ad-common-setting
        @ad-info-loaded="onAdInfoLoaded"
        @on-change="onCommonSettingChange"
      ></ad-common-setting>

      <klk-form-item :label="form_data_label.lang" prop="lang">
        <klk-select v-model="form_data.lang">
          <klk-option
            value=""
            :label="$t('MULTIPLE_user_browser_language')"
          ></klk-option>
          <klk-option
            v-for="item in langOptionsWidget"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item :label="form_data_label.currency" prop="currency">
        <klk-select v-model="form_data.currency">
          <klk-option value="">{{
            $t("MULTIPLE_auto_select_currency")
          }}</klk-option>
          <klk-option
            v-for="item in currencyList"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>
      <div class="product">
        <klk-form-item prop="productType">
          <div slot="label" class="label">
            <div class="text">{{ form_data_label.product_type }}</div>
            <div class="new">
              <klk-icon class="icon" type="ring" size="20"></klk-icon>
              <span class="new_text">New</span>
            </div>
          </div>
          <klk-select v-model="form_data.productType" :disabled="!!ad_id">
            <klk-option
              v-for="item in productTypeList"
              :value="item.id"
              :key="item.id"
              >{{ $t(item.name) }}</klk-option
            >
          </klk-select>
        </klk-form-item>
        <klk-form-item
          :label="form_data_label.display_logic"
          prop="activityMode"
        >
          <klk-radio-group
            v-model="form_data.activityMode"
            @on-change="onChangeActivityMode"
            class="widget_type"
          >
            <!-- 如果是编辑模式，不允许更改 widget type，否则会创建新类型的广告 -->
            <klk-radio :disabled="!!ad_id" :label="1">{{
              $t("klook_auto_choice")
            }}</klk-radio>
            <klk-radio :disabled="!!ad_id" :label="2">{{
              $t("TEXT_LINKS_manual_input")
            }}</klk-radio>
          </klk-radio-group>
        </klk-form-item>
      </div>

      <!--  things-to-do     -->
      <div v-if="form_data.productType === 2" style="width: 100%">
        <div class="top_activities" v-show="form_data.activityMode === 1">
          <klk-form-item
            :label="form_data_label.select_city"
            prop="select_city"
          >
            <klk-select
              filterable
              v-model="form_data.selectedCityId"
              :placeholder="$t('select_city')"
              @on-change="loadCategoryList"
              style="margin-right: 20px; margin-bottom: 12px"
            >
              <klk-option value="-1">{{
                $t("MULTIPLE_all_destination")
              }}</klk-option>
              <klk-option
                v-for="item in CITY_LIST"
                :value="item.city_id"
                :key="item.city_id"
                >{{ item.city_name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.category"
            prop="select_category"
          >
            <klk-select
              filterable
              v-model="form_data.categoryId"
              :placeholder="$t('MULTIPLE_select_category')"
              v-loading="loading.loading_category_list"
              style="margin-right: 20px; margin-bottom: 12px"
            >
              <klk-option
                v-for="item in category_list"
                :value="item.id"
                :key="item.id"
                >{{ item.name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.activity_amount"
            prop="activity_amount"
          >
            <klk-select
              filterable
              v-model="form_data.activityAmount"
              :placeholder="$t('MULTIPLE_select_amount')"
              style="margin-bottom: 12px"
            >
              <klk-option
                v-for="item in amount_list"
                :value="item"
                :key="item"
                >{{ item }}</klk-option
              >
            </klk-select>
          </klk-form-item>
        </div>
        <div class="optional_activity" v-show="form_data.activityMode === 2">
          <klk-form-item
            :label="form_data_label.selected_activity"
            prop="selected_activity"
          >
            <div
              class="selected_activity_item"
              v-for="(activity_item, index) in form_data.optional_activity_list"
              :key="index"
            >
              <klk-input
                width="320px"
                v-model="form_data.optional_activity_list[index]"
                :placeholder="enter_activity_url"
              ></klk-input>
              <span
                @click="removeActivity(index)"
                v-show="form_data.optional_activity_list.length > 1"
                style="margin-top: 3px"
              >
                <klk-icon
                  class="icon_delete"
                  :size="34"
                  type="minus"
                ></klk-icon>
              </span>
              <span
                class="invalid_activity"
                v-show="
                  form_data.invalid_activity_list.indexOf(activity_item) > -1
                "
              >
                {{ $t("DYNAMIC_WIDGETS_invalid_activity") }}
              </span>
            </div>
            <div v-show="form_data.optional_activity_list.length < 3">
              <button
                type="button"
                @click="addActivity"
                class="theme_btn_base_border mini_btn"
                name="button"
              >
                {{ $t("DYNAMIC_WIDGETS_add_activity") }}
              </button>
            </div>
          </klk-form-item>
        </div>
      </div>
      <!--   hotel   -->
      <div v-if="form_data.productType === 3" style="width: 100%">
        <div class="top_activities" v-show="form_data.activityMode === 1">
          <klk-form-item
            :label="form_data_label.select_city"
            prop="select_city"
          >
            <klk-select
              filterable
              v-model="form_data.selectedCityId"
              :placeholder="$t('select_city')"
              style="margin-right: 20px; margin-bottom: 12px"
            >
              <klk-option value="-1">{{
                $t("MULTIPLE_all_destination")
              }}</klk-option>
              <klk-option
                v-for="item in CITY_LIST"
                :value="item.city_id"
                :key="item.city_id"
                >{{ item.city_name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.activity_amount"
            prop="activity_amount"
          >
            <klk-select
              filterable
              v-model="form_data.activityAmount"
              :placeholder="$t('MULTIPLE_select_amount')"
              style="margin-bottom: 12px"
            >
              <klk-option
                v-for="item in amount_list"
                :value="item"
                :key="item"
                >{{ item }}</klk-option
              >
            </klk-select>
          </klk-form-item>
        </div>
        <div class="optional_activity" v-show="form_data.activityMode === 2">
          <klk-form-item
            :label="form_data_label.selected_activity"
            prop="selected_activity"
          >
            <div
              class="selected_activity_item"
              v-for="(activity_item, index) in form_data.optional_activity_list"
              :key="index"
            >
              <klk-input
                width="320px"
                v-model="form_data.optional_activity_list[index]"
                :placeholder="enter_activity_url"
              ></klk-input>
              <span
                @click="removeActivity(index)"
                v-show="form_data.optional_activity_list.length > 1"
                style="margin-top: 3px"
              >
                <klk-icon
                  class="icon_delete"
                  :size="34"
                  type="minus"
                ></klk-icon>
              </span>
              <span
                class="invalid_activity"
                v-show="
                  form_data.invalid_activity_list.indexOf(activity_item) > -1
                "
              >
                {{ $t("DYNAMIC_WIDGETS_invalid_activity") }}
              </span>
            </div>
            <div v-show="form_data.optional_activity_list.length < 3">
              <button
                type="button"
                @click="addActivity"
                class="theme_btn_base_border mini_btn"
                name="button"
              >
                {{ $t("Add Item") }}
              </button>
            </div>
          </klk-form-item>
        </div>
      </div>
    </klk-form>

    <button
      class="theme_btn_base small_btn submit_button"
      @click="onClickCode"
      v-loading="loading.generate_code_loading"
    >
      <span v-show="!ad_id">{{ $t("MULTIPLE_save_and_generate_code") }}</span>
      <span v-show="ad_id">{{ $t("MULTIPLE_update_and_generate_code") }}</span>
    </button>

    <div class="is_adid_ready" v-if="is_ad_ready_preview">
      <div class="ad_preview_wrapper" v-html="generated_code"></div>
      <div class="html_code_wrapper">
        <div class="copy_code_header">
          <html-code-title></html-code-title>
          <div>
            <copy-code-btn
              :copy_text="generated_code + script_text"
              eventLabel="Dynamic Widgets"
            >
            </copy-code-btn>
          </div>
        </div>
        <div class="html_code_container">
          {{ generated_code }}{{ script_text }}
        </div>
        <ad-cast-feedback ads_type="dynamic_widget"></ad-cast-feedback>
      </div>
    </div>
  </div>
</template>

<script>
import AdCommonSetting from "../components/ad_common_setting.vue";
import CopyCodeBtn from "../components/copy_code_btn.vue";
import AdCastFeedback from "../components/cast-feedback.vue";
import HtmlCodeTitle from "../components/html_code_title.vue";
import {
  formRules,
  urlObj,
  CITY_LIST,
  AD_SCRIPT_WIDGET_TEMPLATE,
} from "common_data";
import mixin from "../mixin/ad_mixin.js";

export default {
  name: "DynamicWidgets",
  mixins: [mixin],
  components: {
    AdCommonSetting,
    CopyCodeBtn,
    AdCastFeedback,
    HtmlCodeTitle,
  },
  data() {
    return {
      ad_id: "",
      amount_list: Array.from({ length: 3 }, (v, i) => (i + 1).toString()),
      category_list: [],
      activitiesValidatedData: [],
      enter_activity_url: __("widget_enter_activity_info"),
      productTypeList: [],
      form_data: {
        productType: 2, // 'things-to-do'
        activityMode: 1, // 1: system recommend | 2: self specify
        websiteId: "",
        lang: "",
        currency: "",
        selectedCityId: "",
        categoryId: "",
        activityAmount: "",
        optional_activity_list: [""],
        invalid_activity_list: [],
      },
      form_data_label: {
        product_type: `* ${__("activity_type")}`,
        display_logic: "* " + __("activity_choice"),
        lang: __("MULTIPLE_language"),
        currency: __("MULTIPLE_currency"),
        select_city: "* " + __("text_link_city"),
        category: "* " + __("MULTIPLE_category"),
        activity_amount: "* " + __("no_of_items"),
        selected_activity: "* " + __("widget_select_activity"),
      },
    };
  },
  created() {
    this.currencyList = SUPPORT_CURRENCY;
    this.CITY_LIST = CITY_LIST;
    this.formRules = formRules.call(this);
    this.productTypeList = this.verticalList();
  },
  mounted() {
    this.renderAd();
  },
  computed: {
    script_text: function () {
      return (
        "<script type='text/javascript'>" +
        this.iframeScript() +
        "</scr" +
        "ipt>"
      );
    },
    generated_code: function () {
      const cardH = 126,
        padding = 92,
        lgH = 470,
        edgeValue = 655;
      const {
        websiteId,
        lang,
        currency,
        activityMode,
        selectedCityId,
        categoryId,
        activityAmount,
        optional_activity_list,
      } = this.form_data;
      // 通过配置中的id来定义广告类型
      let prod_type = this.vertical.info.type.find((item) => {
        return +item.id === +activityMode;
      }).name;
      let className = this.vertical.info.insClassName;
      // 产线走脚本内置
      let data_host =
        process.env.NODE_ENV === "production"
          ? ""
          : `data-host="${window.location.protocol}//${window.location.host}"`;
      const insElementPrefix = `<ins class="${className}" ${data_host} data-adid="${this.ad_id}" data-lang="${lang}" data-currency="${currency}" data-cardH="${cardH}" data-padding="${padding}" data-lgH="${lgH}" data-edgeValue="${edgeValue}" `;
      if (activityMode === 1) {
        return (
          insElementPrefix +
          `data-cid="${selectedCityId}" data-tid="${categoryId}" data-amount="${activityAmount}" data-prod="${prod_type}"><a href="//www.klook.com/">Klook.com</a></ins>`
        );
      } else if (activityMode === 2) {
        let staticAmount = optional_activity_list.length || 1;
        return (
          insElementPrefix +
          `data-prod="${prod_type}" data-amount="${staticAmount}"><a href="//www.klook.com/">Klook.com</a></ins>`
        );
      }
      this.renderAd();
    },
    vertical: function () {
      return this.RENDER_CONFIG.find((item) => {
        return +item.id === +this.form_data.productType;
      }).render_map.find((item) => {
        return item.id === 1; // 找出 id 为 1 代表渲染 widget
      });
    },
  },
  methods: {
    verticalList() {
      let renderConfig = JSON.parse(JSON.stringify(this.RENDER_CONFIG));
      return renderConfig.filter((item) => {
        // 过滤1 和 4
        if (item.name === "things-to-do") {
          item.name = "activity_sort";
        }
        return item.id !== -1 && item.id !== 4;
      });
    },
    renderAd() {
      // 根据 vertical 类型来加载
      new Function(this.iframeScript())();
    },
    // 根据配置文件，生成对应垂直业务 iframe 脚本
    iframeScript() {
      return AD_SCRIPT_WIDGET_TEMPLATE(
        this.vertical.name,
        this.vertical.info.iframeScriptVersion
      );
    },
    parseActivityListIds(activityList) {
      if (!activityList || !activityList.length) {
        return [];
      }
      const list_ids = activityList.map((inputStr) => {
        if (inputStr.startsWith("http")) {
          // 在Klook的一个C端活动页面的URL里面提取出activity_id, 例如".../activity/123456-...." 中提取出 "123456"
          const regexp = /\/activity\/(\d+)/;
          const targetId = regexp.exec(inputStr)
            ? regexp.exec(inputStr)[1]
            : "";
          return targetId;
        } else if (!isNaN(inputStr)) {
          return inputStr;
        } else {
          return "";
        }
      });
      // eleminate invalid string
      return list_ids.filter((item) => item);
    },
    parseHotelListIds(activityList) {
      if (!activityList || !activityList.length) {
        return [];
      }
      const list_ids = activityList.map((inputStr) => {
        if (inputStr.startsWith("http")) {
          // 在Klook的一个C端活动页面的URL里面提取出activity_id, 例如".../activity/123456-...." 中提取出 "123456"
          const regexp = /\/hotels\/(\d+)/;
          const targetId = regexp.exec(inputStr)
            ? regexp.exec(inputStr)[1]
            : "";
          return targetId;
        } else if (!isNaN(inputStr)) {
          return inputStr;
        } else {
          return "";
        }
      });
      // eleminate invalid string
      return list_ids.filter((item) => item);
    },
    onClickCode() {
      // Google Tag Manager for adGenerate Event
      if (!this.ad_id) {
        window.dataLayer.push({
          event: "adGenerate",
          eventCategory: "My Ads",
          eventAction: "Save and Generate Code",
          eventLabel: "Dynamic Widgets",
        });
      }
      if (this.form_data.activityMode === 1) {
        this.generateAd();
      } else {
        const verticalData = this.productCommonHandler();
        //parse一下输入的所有的url，取出actid,拼接到一起
        this.form_data.optional_activity_list =
          this.form_data.optional_activity_list.filter((item) => item != "");
        const optional_activity_list_ids = verticalData[
          this.form_data.productType
        ].parseId(this.form_data.optional_activity_list);
        this.form_data.invalid_activity_list =
          this.form_data.optional_activity_list.filter(
            (item, index) => optional_activity_list_ids[index] === ""
          );
        if (this.form_data.invalid_activity_list.length > 0) {
          return;
        }
        let ids = optional_activity_list_ids.join();
        if (!ids) {
          return;
        }

        // 然后再发送请求
        const data = verticalData[this.form_data.productType].staticDataCheck();
        klook.ajaxGet(`${data.url}?${data.reqParam}=${ids}`, (resp) => {
          // success: true就是全部validate成功的情况
          if (resp.success) {
            //从结果里面取出每个活动的city_id和id,放到ad_detail里面去
            let arr = (resp.result && resp.result[data.resParam]) || [];
            if (arr.length > 0) {
              let valid_set = new Set(arr);
              // optional_activity_list_ids
              this.form_data.invalid_activity_list =
                this.form_data.optional_activity_list.filter((item) => {
                  const id = verticalData[this.form_data.productType].parseId([
                    item,
                  ])[0];
                  return valid_set.has(+id);
                });
            } else {
              this.activitiesValidatedData = optional_activity_list_ids.map(
                (item) => {
                  return { id: item };
                }
              );
              this.generateAd();
            }
          } else {
            console.error(resp);
          }
        });
      }
    },
    ttdCheckStaticWidget() {
      return {
        url: urlObj.activities_validate,
        reqParam: "actid",
        resParam: "error_actids",
      };
    },
    hotelCheckStaticWidget() {
      return {
        url: urlObj.hotel_static_widget_validate,
        reqParam: "hotel_ids",
        resParam: "error_hotel_ids",
      };
    },
    // 公共维护 不同 vertical 所需业务数据
    productCommonHandler() {
      return {
        2: {
          staticDataCheck: this.ttdCheckStaticWidget,
          generateData: this.generateTTDFormData,
          parseId: this.parseActivityListIds,
        },
        3: {
          staticDataCheck: this.hotelCheckStaticWidget,
          generateData: this.generateHotelFormData,
          parseId: this.parseHotelListIds,
        },
      };
    },
    loadCategoryList() {
      const { lang, currency } = this.form_data;
      this.loading.loading_category_list = true;
      klook.ajaxGet(
        urlObj.activities_get_data_by_city(
          this.form_data.selectedCityId,
          "dynamic_widget"
        ),
        { lang, currency },
        (resp) => {
          this.loading.loading_category_list = false;
          if (resp.success) {
            if (resp.result.categories.length === 0) {
              alert(__("MULTIPLE_no_activity"));
            }
            this.category_list = resp.result.categories;
            if (
              this.category_list
                .map((item) => item.id)
                .indexOf(this.form_data.categoryId) <= -1
            ) {
              this.form_data.categoryId = "";
            }
          } else {
            console.error(resp);
          }
        }
      );
    },
    onChangeActivityMode() {
      this.ad_id = null;
    },
    removeActivity(index) {
      this.form_data.optional_activity_list.splice(index, 1);
    },
    addActivity() {
      this.form_data.optional_activity_list.push("");
    },
    generateAdInfoFormData() {
      // 根据product type 类型来设置各自的数据类型
      const verticalMap = this.productCommonHandler();
      const verticalData =
        verticalMap[this.form_data.productType].generateData();
      verticalData.ad_detail["currency"] = this.form_data.currency;
      verticalData.ad_detail["lang"] = this.form_data.lang;
      return verticalData;
    },
    generateHotelFormData() {
      let formData = {
        ad_detail: {},
      };
      if (this.form_data.activityMode === 1) {
        formData["ad_type"] = "hotel_dynamic_widget";
        formData.ad_detail["t"] = "hotel_dynamic_widget";
        formData.ad_detail["cid"] = this.form_data.selectedCityId;
        formData.ad_detail["total"] = parseInt(this.form_data.activityAmount);
      } else {
        formData["ad_type"] = "hotel_static_widget";
        formData.ad_detail["t"] = "hotel_static_widget";
        formData.ad_detail["hotel_ids"] = this.activitiesValidatedData;
      }
      return formData;
    },
    generateTTDFormData() {
      let formData = {
        ad_detail: {},
      };
      if (this.form_data.activityMode === 1) {
        formData["ad_type"] = "dynamic_widget";
        formData.ad_detail["t"] = "dynamic_widget";
        formData.ad_detail["cid"] = this.form_data.selectedCityId;
        formData.ad_detail["tid"] = this.form_data.categoryId;
        formData.ad_detail["total"] = parseInt(this.form_data.activityAmount);
      } else {
        formData["ad_type"] = "static_widget";
        formData.ad_detail["t"] = "static_widget";
        formData.ad_detail["activities"] = this.activitiesValidatedData;
      }
      return formData;
    },

    ttdInitEdit(adInfo) {
      // 根据 ad_type 来区分是哪一个
      if (adInfo.ad_type === "dynamic_widget") {
        this.form_data = _.extend(this.form_data, {
          activityMode: 1,
          productType: 2,
          currency: adInfo.ad_detail.currency,
          lang: adInfo.ad_detail.lang,
          selectedCityId:
            adInfo.ad_detail.cid === -1
              ? String(adInfo.ad_detail.cid)
              : adInfo.ad_detail.cid,
          categoryId: adInfo.ad_detail.tid,
          activityAmount: adInfo.ad_detail.total.toString(),
        });
      } else if (adInfo.ad_type === "static_widget") {
        this.form_data = _.extend(this.form_data, {
          productType: 2,
          activityMode: 2,
          currency: adInfo.ad_detail.currency,
          lang: adInfo.ad_detail.lang,
          optional_activity_list: _.pluck(
            adInfo.ad_detail.activities,
            "id"
          ).map((item) => item.toString()),
        });
      }
    },
    hotelEdit(adInfo) {
      // 根据 ad_type 来区分是哪一个
      if (adInfo.ad_type === "hotel_dynamic_widget") {
        this.form_data = _.extend(this.form_data, {
          activityMode: 1,
          productType: 3,
          currency: adInfo.ad_detail.currency,
          lang: adInfo.ad_detail.lang,
          selectedCityId:
            adInfo.ad_detail.cid === -1
              ? String(adInfo.ad_detail.cid)
              : adInfo.ad_detail.cid,
          activityAmount: adInfo.ad_detail.total.toString(),
        });
      } else if (adInfo.ad_type === "hotel_static_widget") {
        this.form_data = _.extend(this.form_data, {
          activityMode: 2,
          productType: 3,
          currency: adInfo.ad_detail.currency,
          lang: adInfo.ad_detail.lang,
          optional_activity_list: _.pluck(adInfo.ad_detail.hotel_ids, "id").map(
            (item) => item.toString()
          ),
        });
      }
    },
    initEdit(adInfo) {
      // 编辑状态下，并没有 productType, 用ads_type来映射
      this.ttdInitEdit(adInfo);
      this.hotelEdit(adInfo);
    },
  },
};
</script>
