<style lang="scss" scoped>
.search_box {
  .ad_preview_container {
    margin-top: 20px;
    background: #f5f5f5;
    border: solid 1px #e0e0e0;
    padding: 0 10px 26px 10px;
    .title {
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #333333;
      padding: 28px 0 14px 0;
      display: inline-block;
    }
    .main {
      display: flex;
      justify-content: space-between;
      .search_vertical {
        .title {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.71;
          letter-spacing: normal;
          color: #999999;
          margin-bottom: 12px;
          padding: 0;
          display: inline-block;
        }
      }
    }
    .ad_preview_wrapper {
      margin-top: 0;
    }
    .large_size {
      border: none;
      padding: 0;
      width: 732px;
    }
    .small_size {
      border: none;
      padding: 0;
      width: 320px;
    }
  }
  .tips {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff5722;
    display: flex;
    align-items: center;
    svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  }
  .desc {
    margin: 24px 0 12px;
    font-size: 14px;
    color: #b0b0b0;
  }
}
</style>

<template lang="html">
  <div class="search_box">
    <div class="title">{{ $t("MULTIPLE_search_box") }}</div>
    <div class="desc">{{ $t("SEARCH_BOX_search_box_desc_long") }}</div>
    <klk-form flex_row :rules="formRules" :model="form_data" ref="ad_form">
      <ad-common-setting
        @ad-info-loaded="onAdInfoLoaded"
        @on-change="onCommonSettingChange"
      ></ad-common-setting>
      <klk-form-item :label="form_data_label.lang" prop="lang">
        <klk-select v-model="form_data.lang">
          <klk-option
            value=""
            :label="$t('MULTIPLE_user_browser_language')"
          ></klk-option>
          <klk-option
            v-for="item in langOptions"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item :label="form_data_label.currency" prop="currency">
        <klk-select v-model="form_data.currency">
          <klk-option value="">{{
            $t("MULTIPLE_auto_select_currency")
          }}</klk-option>
          <klk-option
            v-for="item in currencyList"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item
        :label="form_data_label.vertical_business"
        prop="vertical_line"
      >
        <klk-cascader
          :placeholder="$t('SEARCH_BOX_search_vertical_placeholder')"
          :options="verticalOptions"
          @change="handleChange"
          :props="props"
          collapse-tags
          :value="form_data.vertical_business"
          popper-class="klk-ele-popper"
          clearable
        ></klk-cascader>
      </klk-form-item>
    </klk-form>
    <div v-if="form_data.lang === 'ja'" class="tips">
      <klk-icon class="icon" type="icon-other-tips"></klk-icon>
      {{ $t("SEARCH_BOX_search_vertical_jrjp") }}
    </div>

    <button
      class="theme_btn_base small_btn submit_button"
      @click="onClickGenerateCode"
      v-loading="loading.generate_code_loading"
    >
      <span v-show="!ad_id">{{ $t("MULTIPLE_save_and_generate_code") }}</span>
      <span v-show="ad_id">{{ $t("MULTIPLE_update_and_generate_code") }}</span>
    </button>

    <div class="is_adid_ready" v-if="is_ad_ready_preview">
      <div class="ad_preview_container">
        <span class="title">{{
          $t("SEARCH_BOX_search_vertical_seachbox")
        }}</span>
        <div class="main">
          <div class="search_vertical">
            <span class="title">{{
              $t("SEARCH_BOX_search_vertical_width1")
            }}</span>
            <div
              class="ad_preview_wrapper large_size"
              v-html="generated_code"
            ></div>
          </div>
          <div class="search_vertical">
            <span class="title">{{
              $t("SEARCH_BOX_search_vertical_width2")
            }}</span>
            <div
              class="ad_preview_wrapper small_size"
              v-html="generated_code"
            ></div>
          </div>
        </div>
      </div>
      <div class="html_code_wrapper">
        <div class="copy_code_header">
          <html-code-title></html-code-title>
          <copy-code-btn
            eventLabel="Search Box"
            :copy_text="generated_code + script_text"
          >
          </copy-code-btn>
        </div>
        <div class="html_code_container">
          {{ generated_code }}{{ script_text }}
        </div>
      </div>
      <ad-cast-feedback ads_type="search_box"></ad-cast-feedback>
    </div>
  </div>
</template>

<script>
import AdCommonSetting from "../components/ad_common_setting.vue";
import CopyCodeBtn from "../components/copy_code_btn.vue";
import AdCastFeedback from "../components/cast-feedback.vue";
import {
  formRules,
  urlObj,
  CITY_LIST,
  AD_SCRIPT_SEARCH_VERTICAL_TEMPLATE,
} from "common_data";
import mixin from "../mixin/ad_mixin.js";
import KlkCascader from "../../../../components/cascader/src/cascader";
import _extend from "lodash/extend";
import HtmlCodeTitle from "../components/html_code_title";

export default {
  name: "SearchBoxAd",
  mixins: [mixin],
  components: {
    KlkCascader,
    AdCommonSetting,
    CopyCodeBtn,
    AdCastFeedback,
    HtmlCodeTitle,
  },
  data() {
    return {
      ad_type: "search_vertical",
      ad_id: "",
      form_data: {
        websiteId: "",
        lang: "",
        currency: "",
        vertical_business: [],
      },
      form_data_label: {
        size: "*" + __("MULTIPLE_banner_size"),
        lang: __("MULTIPLE_language"),
        currency: __("MULTIPLE_currency"),
        vertical_business: __("SEARCH_BOX_search_vertical_line"),
      },
      script_text: "",
      props: {
        multiple: true,
        label: "name",
        value: "vid",
        children: "svid",
      },
      verticalOptions: [],
    };
  },
  created() {
    this.currencyList = SUPPORT_CURRENCY;
    this.script_text =
      "<script type='text/javascript'>" +
      AD_SCRIPT_SEARCH_VERTICAL_TEMPLATE(
        this.vertical.info.iframeScriptVersion
      ) +
      "</scr" +
      "ipt>";
    // this.script_text = AD_SCRIPT ;
    this.fetchVerticalList();
    this.formRules = formRules.call(this);
  },
  mounted() {
    this.renderAd();
  },
  computed: {
    generated_code: function () {
      this.renderAd();
      let className = this.vertical.info.insClassName;
      let data_host =
        process.env.NODE_ENV === "production"
          ? ""
          : `data-host="${window.location.protocol}//${window.location.host}"`;
      return `<ins class="${className}" ${data_host} data-wid="${this.form_data.websiteId}" data-height="340px"  data-adid="${this.ad_id}" data-lang="${this.form_data.lang}" data-prod="search_vertical" data-currency="${this.form_data.currency}"><a href="//www.klook.com/?aid=">Klook.com</a></ins>`;
    },
    vertical: function () {
      return this.RENDER_CONFIG.find((item) => {
        // 找到 search box
        return +item.id === 4;
      }).render_map.find((item) => {
        return +item.id === 3; // 找出 id 为 3 代表渲染 searchbox
      });
    },
  },
  methods: {
    handleChange(e) {
      this.form_data.vertical_business = e;
    },

    fetchVerticalList() {
      klook.ajaxGet(urlObj.search_box_vertical_list, null, (resp) => {
        resp.result.forEach((item) => {
          item.svid.length === 0 ? (item.svid = undefined) : null;
        });
        if (resp.success) {
          // 根据是否有 adid 来进行设置
          if (!this.ad_id) {
            this.form_data.vertical_business = this.formatDefault(resp.result);
          }
          this.verticalOptions = resp.result;
        }
      });
    },

    onClickGenerateCode() {
      // Google Tag Manager for adGenerate Event
      if (!this.ad_id) {
        window.dataLayer.push({
          event: "adGenerate",
          eventCategory: "My Ads",
          eventAction: "Save and Generate Code",
          eventLabel: "Search Box",
        });
      }
      this.generateAd();
    },

    renderAd() {
      new Function(
        AD_SCRIPT_SEARCH_VERTICAL_TEMPLATE(
          this.vertical.info.iframeScriptVersion
        )
      )();
    },

    formatVertical(data) {
      // 格式化数组
      return data.reduce((accumulator, current) => {
        let s;
        if (current.svid && current.svid.length > 0) {
          s = current.svid.reduce((acc, cur) => {
            let a = [current.vid, cur];
            acc.push(a);
            return acc;
          }, []);
          accumulator = accumulator.concat(s);
        } else {
          accumulator.push([current.vid]);
        }
        return accumulator;
      }, []);
    },

    formatDefault(data) {
      if (data && Array.isArray(data)) {
        return data.reduce((accumulator, current) => {
          let s;
          if (current.svid && current.svid.length > 0) {
            s = current.svid.reduce((acc, cur) => {
              let a = [current.vid, cur.vid];
              acc.push(a);
              return acc;
            }, []);
            accumulator = accumulator.concat(s);
          } else {
            accumulator.push([current.vid]);
          }
          return accumulator;
        }, []);
      }
    },
    // 发送给后端的数据，格式化
    formatData(data) {
      if (data && Array.isArray(data)) {
        let obj = data.reduce((acc, cur) => {
          let key = cur[0];
          if (cur.length >= 2) {
            // 目前只做两级
            let value = cur[1];
            if (!acc[key]) {
              acc[key] = [];
            }
            acc[key].push(value);
          } else {
            acc[key] = [];
          }
          return acc;
        }, {});
        return Object.entries(obj).map(([key, value]) => {
          return {
            vid: +key,
            svid: value,
          };
        });
      }
    },

    generateAdInfoFormData() {
      // 这里需要格式化后端数据结构, 发送给后端
      return {
        ad_type: this.ad_type,
        ad_detail: {
          t: this.ad_type,
          currency: this.form_data.currency,
          lang: this.form_data.lang,
          domains: this.formatData(this.form_data.vertical_business),
        },
      };
    },

    initEdit(adInfo) {
      this.form_data = _extend(this.form_data, {
        currency: adInfo.ad_detail.currency,
        lang: adInfo.ad_detail.lang,
        vertical_business: this.formatVertical(adInfo.ad_detail.domains),
      });
    },
  },
};
</script>
