<style lang="scss">
.text_links {
  .desc {
    margin: 24px 0 12px;
    font-size: 14px;
    color: #b0b0b0;
  }
  .klk_radio_wrapper {
    margin-right: 40px;
  }
  .html_code_container {
    word-break: break-all;
  }
  .type_wrapper {
    display: flex;
    align-items: center;
    .poptip_wrapper,
    .icon {
      width: 18px;
      height: 18px;
    }
    .type {
      margin-right: 4px !important;
    }
  }

  .select_activity_group_tips {
    display: flex;
    width: 100%;
    span {
      flex: 1;
      color: #333;
      font-size: 14px;
      margin-bottom: 8px;
    }
    span:nth-child(1) {
      margin-right: 25px;
    }
  }
}
</style>

<template lang="html">
  <div class="text_links">
    <div class="title">
      {{ $t("MULTIPLE_text_links") }}
    </div>
    <div class="desc">
      {{ $t("TEXT_LINKS_text_links_desc_long") }}
    </div>
    <klk-form flex_row :rules="formRules" :model="form_data" ref="ad_form">
      <ad-common-setting
        @ad-info-loaded="onAdInfoLoaded"
        @on-change="onCommonSettingChange"
      ></ad-common-setting>
      <klk-form-item
        itemWidth="100%"
        :label="form_data_label.url_search_method"
        prop="urlSearchMethod"
      >
        <klk-radio-group v-model="form_data.urlSearchMethod">
          <klk-radio :label="1" :disabled="!!this.ad_id">
            {{ $t("TEXT_LINKS_manual_input") }}</klk-radio
          >
          <klk-radio :label="2" :disabled="!!this.ad_id">
            {{ $t("pulldown_choice") }}</klk-radio
          >
          <klk-radio :label="3" :disabled="!!this.ad_id" v-if="showProduct">
            {{ $t("product_list") }}</klk-radio
          >
        </klk-radio-group>
      </klk-form-item>

      <klk-form-item
        itemWidth="100%"
        style="margin-top: 5px"
        v-if="+form_data.urlSearchMethod === 2"
        prop="selectedActivityId"
      >
        <div style="display: inline-block">
          <div class="select_activity_group_tips">
            <span>{{ "*" + $t("text_link_city") }}</span>
            <span>{{ "*" + $t("text_link_activity") }}</span>
          </div>
          <klk-select
            class="select_wrapper"
            filterable
            :placeholder="$t('select_city')"
            v-model="form_data.selectedCityId"
            @on-change="loadActivityList"
          >
            <klk-option
              v-for="item in CITY_LIST"
              :value="item.city_id"
              :key="item.city_id"
              >{{ item.city_name }}</klk-option
            >
          </klk-select>
          <klk-select
            class="select_wrapper"
            filterable
            :placeholder="$t('widget_select_activity')"
            v-on:on-change="syncLinkTitleAndFixWebsiteUrl_2"
            v-model="form_data.selectedActivityId"
            v-loading="loading.loading_activity_list"
          >
            <klk-option
              v-for="item in activity_list"
              :value="item.id"
              :key="item.id"
              >{{ item.name }} - {{ item.id }}</klk-option
            >
          </klk-select>
        </div>
      </klk-form-item>
      <klk-form-item
        :label="form_data_label.original_klook_url"
        prop="websiteUrl"
        v-if="+form_data.urlSearchMethod !== 3"
      >
        <klk-input
          width="520px"
          :maxlength="3000"
          :disabled="+form_data.urlSearchMethod === 2"
          v-model="form_data.websiteUrl"
        >
        </klk-input>
      </klk-form-item>
      <!--        <klk-form-item :label="form_data_label.link_title" prop="linkTitle">-->
      <!--            <klk-input width="320px" v-model="form_data.linkTitle"></klk-input>-->
      <!--        </klk-form-item>-->
    </klk-form>

    <div v-if="+form_data.urlSearchMethod === 3" style="margin: 20px 0">
      <a :href="`/v1/affnode/product_listing_page?aid=${jumpWid()}`"
        ><button class="theme_btn_base_border demo_btn">
          {{ $t("Product List Page") }}
        </button></a
      >
    </div>
    <div v-else>
      <button
        class="theme_btn_base small_btn submit_button"
        @click="onClickGenerateCode"
        v-loading="loading.generate_code_loading"
        style="margin: 30px 0 0"
      >
        <span v-show="!ad_id">{{ $t("MULTIPLE_save_and_generate_code") }}</span>
        <span v-show="ad_id">{{
          $t("MULTIPLE_update_and_generate_code")
        }}</span>
      </button>
      <div class="html_code_wrapper" v-show="is_ad_ready_preview">
        <!-- <div class="html_code_wrapper"> -->
        <div class="type_header">
          <div class="type_wrapper">
            <div
              class="type"
              v-for="(item, i) in text_link_type_list"
              :key="i"
              @click="choosed_text_link_type = item.type"
              :class="{ active: item.type == choosed_text_link_type }"
            >
              {{ item.title }}
            </div>
            <klk-poptip trigger="hover" class="poptip_wrapper" width="300">
              <klk-icon
                class="klook-icon-information-circled icon"
                type="information-circled"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                <p v-html="$t('generate_code_info')"></p>
              </div>
            </klk-poptip>
          </div>
          <copy-code-btn
            eventLabel="Text Links"
            :copy_text="copy_text"
          ></copy-code-btn>
        </div>
        <div
          class="html_code_container"
          v-show="form_data.urlSearchMethod === 2"
        >
          {{ generated_code }}
        </div>
        <div
          class="html_code_container"
          v-show="form_data.urlSearchMethod === 1"
        >
          {{ link_url }}
        </div>
        <ad-cast-feedback ads_type="text_link"></ad-cast-feedback>
      </div>
    </div>
  </div>
</template>

<script>
import { formRules, urlObj, CITY_LIST } from "common_data";
import AdCommonSetting from "../components/ad_common_setting.vue";
import CopyCodeBtn from "../components/copy_code_btn.vue";
import AdCastFeedback from "../components/cast-feedback.vue";
import mixin from "../mixin/ad_mixin.js";
import url from "url";
export default {
  name: "TextLinks",
  mixins: [mixin],
  components: {
    AdCommonSetting,
    CopyCodeBtn,
    AdCastFeedback,
  },
  data() {
    return {
      choosed_text_link_type: "html_code",
      text_link_type_list: [
        {
          type: "url",
          title: "URL",
        },
      ],
      adInfo: null,
      edit_mode: false,
      link_url: "",

      form_data: {
        websiteId: "",
        urlSearchMethod: 1, //1 | 2 | 3
        websiteUrl: "https://www.klook.com",
        linkTitle: "",

        selectedCityId: "",
        selectedActivityId: "",
      },
      form_data_label: {
        selected_activity: "*" + __("MULTIPLE_selected_activity"),
        url_search_method: "*" + __("activity_choice"),
        original_klook_url: "*" + __("activity_link"),
        link_title: "*" + __("TEXT_LINKS_link_title"),
      },
      link_map: {
        1: "link",
        2: "city_link",
        3: "listing_link",
      },
      activity_list: [],
    };
  },

  created() {
    this.formRules = formRules.call(this);
    this.CITY_LIST = CITY_LIST;
  },

  computed: {
    ad_type() {
      return this.link_map[+this.form_data.urlSearchMethod];
    },
    showProduct() {
      return window.KLK_LANG === "zh-TW";
    },
    generated_code() {
      let redirectPath;
      if (+this.form_data.urlSearchMethod === 2) {
        redirectPath = `redirect/activity/${this.form_data.selectedActivityId}/?aid=${this.form_data.websiteId}&aff_adid=${this.ad_id}`;
      } else {
        if (this.form_data.websiteUrl) {
          const url = decodeURIComponent(this.form_data.websiteUrl);
          try {
            const newUrl = new URL(url);
            const deleteParamsList = [];
            newUrl.searchParams.forEach((item, key) => {
              if (key === "aid" || key.startsWith("aff_")) {
                // searchParam 删除该参数
                deleteParamsList.push(key);
              }
            });
            deleteParamsList.forEach((item) => {
              newUrl.searchParams.delete(`${item}`);
            });
            redirectPath = `redirect?aid=${this.form_data.websiteId}&aff_adid=${
              this.ad_id
            }&k_site=${encodeURIComponent(newUrl)}`;
          } catch (e) {}
        }
      }
      this.link_url = this.getWebsiteUrl(redirectPath);

      return this.link_url;
    },
    copy_text() {
      let code = this.form_data.urlSearchMethod;
      if (code === 1) {
        return this.link_url;
      }
      if (code === 2) {
        return this.generated_code;
      }
    },
  },
  methods: {
    jumpWid() {
      return window.USER_INFO && window.USER_INFO.websites[0].id;
    },
    onClickGenerateCode() {
      // Google Tag Manager for adGenerate Event
      if (!this.ad_id) {
        window.dataLayer.push({
          event: "adGenerate",
          eventCategory: "My Ads",
          eventAction: "Save and Generate Code",
          eventLabel: "Text Links",
        });
      }
      this.generateAd();
    },
    getWebsiteUrl(redirectPath) {
      let current_host = window.location.host;
      let websiteUrl;
      if (KLK_ENV !== "prd") {
        // 测试/开发
        websiteUrl = `http://${current_host}/${redirectPath}`;
      } else {
        // 产线
        websiteUrl = `https://affiliate.klook.com/${redirectPath}`;
      }
      return websiteUrl;
    },
    getIdFromWebsiteUrl(websiteUrl) {
      var match_result = [],
        activity;

      match_result = websiteUrl.match(/\/activity\/(\d+)\-/);
      activity = (match_result && match_result[1]) || "";

      return activity;
    },
    syncLinkTitle(activity, activity_list) {
      if (this.mode !== "editing") {
        //只在editing 模式下动态矫正
        return;
      }

      var selectedActivity = _.find(activity_list, (item) => {
        return item.id == activity;
      });

      this.form_data.linkTitle = selectedActivity ? selectedActivity.name : "";
    },
    fixWebsiteUrl(activity) {
      if (this.mode !== "editing") {
        //只在editing 模式下动态矫正
        return;
      }
      let redirectPath = `redirect/activity/${activity}/?aid=${this.form_data.websiteId}&aff_adid=${this.ad_id}`;
      this.form_data.websiteUrl = this.getWebsiteUrl(redirectPath);
    },
    syncLinkTitleAndFixWebsiteUrl_2(activity) {
      this.syncLinkTitle(activity, this.activity_list);

      this.fixWebsiteUrl(activity);
    },
    loadActivityList() {
      this.loading.loading_activity_list = true;
      let { selectedActivityId } = this.form_data;
      klook.ajaxGet(
        urlObj.activities_get_data_by_city(
          this.form_data.selectedCityId,
          "activity"
        ),
        (resp) => {
          this.loading.loading_activity_list = false;
          if (resp.success) {
            // 判断 activity 过期
            let index = resp.result.activities.findIndex((item) => {
              return +item.id === +selectedActivityId;
            });
            if (index < 0) {
              // 如果对应 cid 下的活动已过期/不存在,则默认取 activities 第一个
              this.selectedActivityId =
                (resp.result.activities[0] && resp.result.activities[0].id) ||
                "";
            }
            this.activity_list = resp.result.activities.reduce(
              (res, cur) => res.concat(cur),
              []
            );
          } else {
            console.error(resp);
          }
        }
      );
    },
    generateAdInfoFormData() {
      return {
        ad_type: this.ad_type,
        ad_detail: {
          activity: this.form_data.selectedActivityId,
          city_id: this.form_data.selectedCityId,
          method: this.form_data.urlSearchMethod,
          t: this.ad_type,
          title: this.form_data.linkTitle,
          url: this.form_data.websiteUrl,
        },
      };
    },

    initEdit(adInfo) {
      // 做一个映射
      let method;
      for (const [key, value] of Object.entries(this.link_map)) {
        if (value === adInfo.ad_type) {
          method = key;
          break;
        }
      }
      this.form_data = {
        urlSearchMethod: +method || 1, //兼容旧数据
        websiteUrl: adInfo.ad_detail.url || "",
        linkTitle: adInfo.ad_detail.title,
        selectedCityId: adInfo.ad_detail.city_id,
        selectedActivityId: adInfo.ad_detail.activity,
      };
      // 获取活动数据
      this.loadActivityList();
    },
  },
};
</script>
