<style lang="scss">
.monthly_report {
  margin-bottom: 30px;
  padding-bottom: 30px;
  .report_type {
    margin-bottom: 6px;
    .report_label {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .frame_title {
    padding-bottom: 8px;
  }

  .small_btn {
    margin-top: 18px;
  }

  .monthly_table {
    margin-top: 24px;

    .klk_table {
      overflow-x: scroll;
    }
  }
}
</style>

<template lang="html">
  <div class="monthly_report" v-loading="searchUidLoading">
    <div class="report_type">
      <div class="report_label">
        {{ $t("ADMIN_MONTHLY_REPORT_report_type") }}
      </div>
      <klk-select
        filterable
        :value="tabValue"
        width="360px"
        @input="handleChangeReportType"
      >
        <klk-option
          v-for="item in reportType"
          :key="item.value"
          :value="item.value"
          >{{ item.name }}
        </klk-option>
      </klk-select>
    </div>
    <klk-form
      flex_row
      class="monthly_form"
      :rules="formRules"
      :model="form_data"
      ref="ref_form"
    >
      <klk-form-item
        :label="$t('ADMIN_MONTHLY_REPORT_please_select_admin_user')"
        prop="admin"
      >
        <klk-select
          filterable
          v-model="form_data.admin"
          width="220px"
          @input="handleChangeAdmin"
        >
          <klk-option
            v-for="item in admin_list"
            :key="item.uid"
            :value="item.email"
            >{{ item.email }}
          </klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item
        :label="$t('ADMIN_MULTIPLE_month_report_UID')"
        prop="month"
      >
        <klk-select
          filterable
          v-model="form_data.uid"
          width="220px"
          @input="handleChangeUID"
        >
          <klk-option v-for="item in uidData" :key="item" :value="item">{{
            item
          }}</klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item
        :label="$t('ADMIN_MONTHLY_REPORT_please_select_month')"
        prop="month"
      >
        <klk-select
          filterable
          v-model="form_data.month"
          width="220px"
          @input="handleChangeMonth"
        >
          <klk-option v-for="item in month_list" :key="item.id" :value="item">{{
            item
          }}</klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item
        :label="$t('ADMIN_MONTHLY_REPORT_report_type')"
        prop="ticket_report_type"
        v-show="tabValue === reportEnum.ticket_status_report"
      >
        <klk-select
          filterable
          v-model="form_data.ticket_report_type"
          width="320px"
        >
          <klk-option
            v-for="item in ticketStatusReportType"
            :key="item.value"
            :value="item.value"
            >{{ item.name }}</klk-option
          >
        </klk-select>
      </klk-form-item>
      <klk-form-item v-show="tabValue !== this.reportEnum.ticket_status_report">
        <button
          type="button"
          class="theme_btn_base_border small_btn"
          name="button"
          @click="search"
          :disabled="nonUidDisabled"
        >
          {{ $t("ADMIN_MULTIPLE_month_report_search") }}
        </button>
      </klk-form-item>
      <klk-form-item>
        <button
          type="button"
          class="theme_btn_base small_btn"
          name="button"
          @click="generateReport"
          :disabled="nonUidDisabled"
        >
          {{ $t("ADMIN_MONTHLY_REPORT_generate_report") }}
        </button>
      </klk-form-item>
    </klk-form>
    <div
      class="monthly_table frame"
      v-loading="loading"
      v-if="tabValue !== this.reportEnum.ticket_status_report"
    >
      <order-report v-if="showOrderReport" :list="tableData" :loading="loading">
      </order-report>
      <ticket-report
        v-if="showTicketReport"
        :list="tableData"
        :loading="loading"
      >
      </ticket-report>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      ></klk-pagination>
    </div>
  </div>
</template>

<script>
import { urlObj, formRules, requestWithCache } from "common_data";
import TicketReport from "./components/ticket_report";
import OrderReport from "./components/order_report";
import _cloneDeep from "lodash/cloneDeep";
const initialPagination = {
  total: 0,
  pageSize: 10,
  curPage: 1,
};
export default {
  name: "MonthlyReport",
  components: {
    TicketReport,
    OrderReport,
  },
  data() {
    const admin = this.$route.params.admin;
    // query 携带参数
    const email = admin || (USER_INFO && USER_INFO.email) || "";
    // 定义 report 类型，统一维护
    const reportEnum = {
      // report 类型
      order_history_report: "order_report",
      ticket_history_report: "ticket_report",
      ticket_status_report: "ticket_status_report",
      // ticket_status 下的业务 report 类型
      ticket_status_billing_report: "ticket_status_billing_report",
      ticket_status_book_report: "ticket_status_book_report",
    };
    return {
      reportEnum,
      reportType: [
        {
          name: __("ADMIN_MONTHLY_REPORT_month_report_order_report"),
          value: reportEnum.order_history_report,
        },
        {
          name: __("ADMIN_MONTHLY_REPORT_month_report_ticket_report"),
          value: reportEnum.ticket_history_report,
        },
        {
          name: __("ADMIN_MONTHLY_REPORT_ticket_status_report"),
          value: reportEnum.ticket_status_report,
        },
      ],
      form_data: {
        admin: email,
        uid: "",
        month: "",
        type: "month",
        ticket_report_type: reportEnum.ticket_status_billing_report,
      },
      admin_list: [],
      month_list: [],
      ticketStatusReportType: [
        {
          name: __("ADMIN_MONTHLY_REPORT_ticket_status_billing_report"),
          value: reportEnum.ticket_status_billing_report,
        },
        // {
        //     name: __('ADMIN_MONTHLY_REPORT_ticket_status_book_report'),
        //     value: reportEnum.ticket_status_book_report
        // }
      ],
      pagination: _cloneDeep(initialPagination),
      tableData: [],
      loading: false,
      searchUidLoading: false,
      tabValue: reportEnum.order_history_report,
      reportTotalType: "order_report_total",
      orderMonth: [],
      ticketMonth: [],
      nonUidDisabled: true,
      uidData: [],
    };
  },
  computed: {
    showTicketReport() {
      return this.tabValue === this.reportEnum.ticket_history_report;
    },
    showOrderReport() {
      return this.tabValue === this.reportEnum.order_history_report;
    },
  },
  created() {
    this.formRules = formRules.call(this);
    this.orderMonth = this.generateOrderMonthList();
    this.ticketMonth = this.generateTicketMonthList();
    this.getMonth();
    const { admin = "" } = this.form_data;
    const uid = this.$route.params.uid;
    this.fetchUidByAdmin(admin, uid, this.loadData);
  },
  watch: {
    "form_data.uid": {
      handler: function (newV, oldV) {
        this.nonUidDisabled = !newV;
      },
      deep: true,
    },
  },
  mounted() {
    requestWithCache(urlObj.get_admin_list).then((data) => {
      this.admin_list = data.admin_list;
    });
  },
  methods: {
    handleChangeReportType(e) {
      // 新增 report 类型
      if (e === this.reportEnum.ticket_status_report) {
        this.tabValue = e;
        this.getMonth();
        this.fetchUidByAdmin(this.form_data.admin, this.form_data.uid, null);
      } else {
        this.handleChangeTabs(e);
      }
    },
    handleChangeUID(value) {
      let category = this.getGACategory();
      this.sendGA("manage", category, "Search By UID", value);
    },
    handleChangeMonth(value) {
      let category = this.getGACategory();
      this.sendGA("manage", category, "Month", value);
    },
    getGACategory() {
      return this.tabValue === this.reportEnum.ticket_history_report
        ? "Ticket Report"
        : "Order Report";
    },
    handleChangeAdmin(value) {
      this.searchUidLoading = true;
      let category = this.getGACategory();
      this.sendGA("manage", category, "Search By Admin", value);
      this.fetchUidByAdmin(value);
    },
    sendGA(event, category, action, label) {
      window.dataLayer.push({
        event: event,
        eventCategory: category,
        eventAction: action,
        eventLabel: label,
      });
    },
    clearData() {
      this.tableData = [];
      this.pagination = _cloneDeep(initialPagination);
    },
    fetchUidByAdmin(admin, uid, callback) {
      klook.ajaxGet(urlObj.get_admin_uid, { email: admin }, (res) => {
        this.searchUidLoading = false;
        if (res.success) {
          this.uidData = (res.result && res.result.uids) || [];
          // 默认取参数，如果有则赋值，否则取接口数据第一个
          let param = uid || this.uidData[0];
          this.form_data.uid = (param && +param) || "";
          if (param) {
            // 如果没有传callback, 默认表格数据为[]
            callback ? callback(param) : this.clearData();
          } else {
            this.clearData();
          }
        } else {
          console.error(res.error.messsage);
        }
      });
    },
    getMonth() {
      if (this.tabValue === this.reportEnum.order_history_report) {
        this.month_list = this.orderMonth;
      } else {
        this.month_list = this.ticketMonth;
      }
      this.form_data.month = this.month_list[0];
    },
    generateOrderMonthList() {
      const cur_year = new Date().getFullYear(),
        start_year = 2016,
        month_list_temp = [];
      let max_month = 0;
      for (let year = cur_year; year >= start_year; year--) {
        year === cur_year
          ? (max_month = new Date().getMonth() + 1)
          : (max_month = 12);
        for (let month = max_month; month > 0; month--) {
          month_list_temp.push(year + "-" + (month < 10 ? "0" + month : month));
        }
      }
      return month_list_temp;
    },
    handleChangeTabs(e) {
      const map = {
        [this.reportEnum.order_history_report]: "Order Report",
        [this.reportEnum.ticket_history_report]: "Ticket Report",
      };
      this.sendGA("manage", "Monthly Report", map[e]);
      this.tabValue = e;
      this.reportTotalType = `${e}_total`;
      this.tableData = [];
      this.getMonth();
      this.pagination = _cloneDeep(initialPagination);
      this.fetchUidByAdmin(
        this.form_data.admin,
        this.form_data.uid,
        this.loadData
      );
    },
    generateTicketMonthList() {
      const cur_year = new Date().getFullYear(),
        start_year = 2019,
        month_list_temp = [];
      let max_month = 0;
      let min_month = 0;
      for (let year = cur_year; year >= start_year; year--) {
        year === cur_year
          ? (max_month = new Date().getMonth() + 1)
          : (max_month = 12);
        // ticket_report 的统计从2019年8月份开始, min_month 初始值为 8
        if (year === start_year) {
          min_month = 8;
        } else {
          min_month = 1;
        }
        for (let month = max_month; month >= min_month; month--) {
          month_list_temp.push(year + "-" + (month < 10 ? "0" + month : month));
        }
      }
      return month_list_temp;
    },
    generateReport() {
      let reportGAMap = {
        order_report: "Order Report",
        ticket_report: "Ticket Report",
        ticket_status_report: "Billing Report",
      };

      window.dataLayer.push({
        event: "trackEventCustom",
        eventCategory: "Admin Report",
        eventAction: "Export",
        eventLabel: reportGAMap[this.tabValue],
      });

      // 定义下载链接映射
      const downLoadMap = {
        [this.reportEnum.ticket_status_billing_report]:
          urlObj.admin_monthly_status_billing_report,
        [this.reportEnum.ticket_status_book_report]:
          urlObj.admin_monthly_status_booking_report,
        [this.reportEnum.order_history_report]:
          urlObj.admin_monthly_order_export,
        [this.reportEnum.ticket_history_report]:
          urlObj.admin_monthly_ticket_export,
      };
      const month = this.form_data.month;
      const uid = this.form_data.uid;
      if (!uid) {
        return;
      }
      if (this.tabValue === this.reportEnum.ticket_status_report) {
        const downloadAPI = downLoadMap[this.form_data.ticket_report_type];
        const downloadURL = klook.strformat(
          downloadAPI + "?month={0}&uid={1}",
          month,
          uid
        );
        klook.downloadFile("", downloadURL);
      } else {
        // let category = this.getGACategory()
        // this.sendGA('export', category, 'export')
        this.$refs["ref_form"].validate((valid) => {
          if (valid) {
            const downloadAPI = downLoadMap[this.tabValue];
            const downloadURL = klook.strformat(
              downloadAPI + "?month={0}&uid={1}",
              month,
              uid
            );
            klook.downloadFile("", downloadURL);
          }
        });
      }
    },
    search() {
      this.pagination.curPage = 1;
      this.loadData();
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    loadData() {
      const uid = this.form_data.uid;
      if (!uid) {
        return;
      }
      this.loading = true;
      const monthRaw = this.form_data.month;
      const month = monthRaw.slice(0, 4) + "-" + monthRaw.slice(4);
      const searchResultAPI =
        this.tabValue === this.reportEnum.order_history_report
          ? urlObj.admin_monthly_order
          : urlObj.admin_monthly_ticket;
      klook.ajaxGet(
        searchResultAPI,
        {
          month: month,
          uid,
          p: this.pagination.curPage,
          pcount: this.pagination.pageSize,
        },
        (res) => {
          this.loading = false;
          if (res.success) {
            this.tableData =
              this.tabValue === this.reportEnum.order_history_report
                ? res.result.orders
                : res.result.tickets;
            this.pagination.total = res.result.total;
          }
        }
      );
    },
  },
};
</script>
