<style lang="scss">
.monthly_report {
  margin-bottom: 30px;
  padding-bottom: 30px;
  .desc {
    margin-bottom: 16px;
    font-size: 14px;
    color: #b0b0b0;
  }
  .report_type {
    margin-bottom: 6px;
    .report_label {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  .frame_title {
    padding-bottom: 8px;
  }

  .small_btn {
    margin-top: 18px;
  }

  .monthly_table {
    margin-top: 24px;

    .klk_table {
      overflow-x: scroll;
    }
  }
}
</style>

<template lang="html">
  <div class="monthly_report" v-loading="searchUidLoading">
    <div class="desc">{{ $t("17781") }}</div>
    <klk-form
      flex_row
      class="monthly_form"
      :rules="formRules"
      :model="form_data"
      ref="ref_form"
    >
      <klk-form-item :label="$t('17676')" prop="month">
        <klk-select filterable v-model="form_data.month" width="220px">
          <klk-option
            v-for="item in ticketMonth"
            :key="item.id"
            :value="item"
            >{{ item }}</klk-option
          >
        </klk-select>
      </klk-form-item>
      <klk-form-item :label="$t('17677')" prop="ticket_report_type">
        <klk-select
          filterable
          v-model="form_data.ticket_report_type"
          width="320px"
        >
          <klk-option
            v-for="item in ticketStatusReportType"
            :key="item.value"
            :value="item.value"
            >{{ item.name }}</klk-option
          >
        </klk-select>
      </klk-form-item>
      <klk-form-item>
        <button
          type="button"
          class="theme_btn_base small_btn"
          name="button"
          @click="generateReport"
        >
          {{ $t("MULTIPLE_export") }}
        </button>
      </klk-form-item>
    </klk-form>
  </div>
</template>

<script>
import { urlObj, formRules } from "common_data";
import moment from "moment";
export default {
  name: "TicketStatusList",
  components: {},
  data() {
    // 定义 report 类型，统一维护
    const reportEnum = {
      // ticket_status 下的业务 report 类型
      ticket_status_billing_report: "ticket_status_billing_report", // 按照结算时间结算的报表
      ticket_status_book_report: "ticket_status_book_report", // 按照下单时间结算的报表
    };
    return {
      reportEnum,
      form_data: {
        month: moment().format("YYYY-MM"),
        ticket_report_type: reportEnum.ticket_status_billing_report,
      },
      month_list: [],
      ticketStatusReportType: [
        {
          name: __("17678"),
          value: reportEnum.ticket_status_billing_report,
        },
        // {
        //     name: __('17679'),
        //     value: reportEnum.ticket_status_book_report
        // }
      ],
      loading: false,
      searchUidLoading: false,
      ticketMonth: [],
      nonUidDisabled: true,
    };
  },
  created() {
    this.formRules = formRules.call(this);
    this.ticketMonth = this.generateTicketMonthList();
  },
  methods: {
    generateTicketMonthList() {
      const cur_year = new Date().getFullYear(),
        start_year = 2019,
        month_list_temp = [];
      let max_month = 0;
      let min_month = 0;
      for (let year = cur_year; year >= start_year; year--) {
        year === cur_year
          ? (max_month = new Date().getMonth() + 1)
          : (max_month = 12);
        // ticket_report 的统计从2019年8月份开始, min_month 初始值为 8
        if (year === start_year) {
          min_month = 8;
        } else {
          min_month = 1;
        }
        for (let month = max_month; month >= min_month; month--) {
          month_list_temp.push(year + "-" + (month < 10 ? "0" + month : month));
        }
      }
      return month_list_temp;
    },
    generateReport() {
      window.dataLayer.push({
        event: "trackEventCustom",
        eventCategory: "Affiliate Report",
        eventAction: "Export",
        eventLabel: "Billing Report",

      });
      // 定义下载链接映射
      const downLoadMap = {
        [this.reportEnum.ticket_status_billing_report]:
          urlObj.user_billing_ticket_report,
        [this.reportEnum.ticket_status_book_report]:
          urlObj.user_booking_ticket_report,
      };
      const month = this.form_data.month;
      const downloadAPI = downLoadMap[this.form_data.ticket_report_type];
      const downloadURL = klook.strformat(downloadAPI + "?month={0}", month);
      klook.downloadFile("", downloadURL);
    },
  },
};
</script>
