<template lang="html">
  <div class="home_experiment">
    <experiment-banner />
    <div class="characteristic">
      <div
        class="characteristic_item"
        :class="{ m_lr_80: index === 1 }"
        v-for="(item, index) in characteristic_list"
        :key="item.icon_type"
      >
        <div>
          <klk-icon :size="72" :type="item.icon_type"></klk-icon>
        </div>
        <div class="characteristic_item_desc">{{ item.desc }}</div>
      </div>
    </div>
    <div class="image_content">
      <div class="wrapper">
        <div class="top_introduce">
          <div class="image_title">
            <div class="green_title">
              {{ $t("home_content") }}
            </div>
            <div class="green_desc">
              {{ $t("home_leading") }}
            </div>
          </div>
          <div class="main_image">
            <klk-icon
              style="width: 524px; height: 268px"
              type="home_main_icon"
            ></klk-icon>
          </div>
        </div>
        <div class="introduce_list">
          <div
            class="introduce_item"
            v-for="(item, index) in introduce_list"
            :key="index"
          >
            <klk-icon
              class="introduce_icon"
              :type="`introduce_${index + 1}`"
            ></klk-icon>
            <div class="introduce_icon_desc">
              <div class="main_desc">
                {{ item.desc }}
              </div>
              <div class="sub_desc">
                {{ item.sub_desc }}
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          class="theme_btn_base start_button"
          name="button"
          @click="sign_up('Travel Writer')"
        >
          {{ $t("home_started") }}
          <klk-icon
            style="margin-left: 3px"
            :size="14"
            type="arrow_right"
          ></klk-icon>
        </button>
      </div>
    </div>
    <div class="introduce_content">
      <div class="wrapper">
        <div class="introduce_title">{{ $t("home_integration") }}</div>
        <div class="introduce_subtitle">{{ $t("home_access") }}</div>
        <button
          type="button"
          class="theme_btn_base touch_button"
          name="button"
          @click="go_contact_us"
        >
          {{ $t("home_touch") }}
          <klk-icon
            style="margin-left: 3px"
            :size="14"
            type="arrow_right"
          ></klk-icon>
        </button>
        <div class="border"></div>
        <div class="choice_klook">{{ $t("home_choose") }}</div>
        <div class="partner_card_wrapper">
          <div class="partner_card" v-for="(card, index) in partner_card_list" :key="index">
            <div class="partner_card_text">
              {{ card.desc }}
            </div>
            <div class="partner_card_img">
              <img
                :style="card.style"
                :src="
                  require('../../../imgs/experiment_partner/' +
                    card.img +
                    '.png')
                "
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="partner_sub_card_wrapper">
          <div class="sub_card" v-for="(card, index) in partner_sub_card_list" :key="index">
            <img
              :style="card.style"
              :src="
                require('../../../imgs/experiment_partner/' + card.img + '.png')
              "
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div id="faq" ref="faq">
      <div class="wrapper">
        <div class="faqs_title">
          {{ $t("HELP_ROUTE_faqs") }}
        </div>
        <faqs :is_home="true"></faqs>
      </div>
    </div>
    <div class="earning_klook">
      <div class="earning_klook_title">{{ $t("home_earning") }}</div>
      <button
        type="button"
        class="theme_btn_base earning_klook_button"
        name="button"
        @click="sign_up('Start Earning')"
      >
        {{ $t("home_Join") }}
        <klk-icon
          style="margin-left: 3px"
          :size="14"
          type="arrow_right"
        ></klk-icon>
      </button>
      <div
        @click="sendGa('Start Earning', 'Contact Us')"
        class="earning_klook_tips"
        v-html="$t('home_questions')"
      ></div>
    </div>
  </div>
</template>

<script>
import ExperimentBanner from "./components/experiment_banner.vue";
import Faqs from "../help/faqs/index.js";

export default {
  name: "HomeExperiment",
  components: {
    ExperimentBanner,
    Faqs,
  },
  data() {
    return {
      user_info: USER_INFO,
      partner_path: "",
      characteristic_list: [
        {
          icon_type: "destination",
          desc: __("home_worldwide"),
        },
        {
          icon_type: "promotional_tools",
          desc: __("home_rewards"),
        },
        {
          icon_type: "earning",
          desc: __("home_currencies"),
        },
      ],
      introduce_list: [
        {
          desc: __("home_partner"),
          sub_desc: __("home_referral"),
        },
        {
          desc: __("home_commission"),
          sub_desc: __("home_targets"),
        },
        {
          desc: __("home_intergration"),
          sub_desc: __("home_tools"),
        },
        {
          desc: __("home_promotion"),
          sub_desc: __("home_readers"),
        },
        {
          desc: __("home_dashboards"),
          sub_desc: __("home_advertising"),
        },
      ],
      partner_card_list: [
        {
          img: "ski",
          desc: __("home_bloggers"),
          style: {
            width: "102px",
            height: "65px",
            marginBottom: "24px",
          },
        },
        {
          img: "shopback",
          desc: __("home_creative"),
          style: {
            width: "171px",
            height: "30px",
            marginBottom: "41.5px",
          },
        },
        {
          img: "aips",
          desc: __("home_easily"),
          style: {
            width: "53px",
            height: "64px",
            marginBottom: "24.5px",
          },
        },
      ],
      partner_sub_card_list: [
        {
          img: "kayak",
          style: {
            width: "122px",
            height: "27px",
          },
        },
        {
          img: "asia",
          style: {
            width: "116px",
            height: "42px",
          },
        },
        {
          img: KLK_LANG !== "ja" ? "line" : "ja_line",
          style: {
            width: KLK_LANG !== "ja" ? "93px" : "123px",
            height: KLK_LANG !== "ja" ? "19px" : "27px",
          },
        },
        {
          img: "cheap_oair",
          style: {
            width: "114px",
            height: "34px",
          },
        },
        {
          img: "google",
          style: {
            width: "140px",
            height: "17px",
          },
        },
      ],
    };
  },
  computed: {
    kepler_id() {
      return this.$store.state.experimentModule.keplerId || "";
    },
    getKeplerGroup() {
      let homeExpGroup = this.$store.state.experimentModule.homeExpGroup || {};
      return `${homeExpGroup.id || ""}_${homeExpGroup.group.id || ""}`;
    },
  },
  methods: {
    go_contact_us() {
      this.sendGa("Start Earning", "Contact Us");
      this.$router.push({
        name: "contact_us",
      });
    },
    sign_up(eventCategory, eventAction = "Join Now") {
      this.sendGa(eventCategory, eventAction);
      window.location.replace("/" + window.KLK_LANG_PATH + "signup_auto");
    },
    sendGa(eventCategory, eventAction) {
      window.dataLayer.push({
        event: "trackEventCustom",
        eventCategory,
        eventAction,
        KeplerID: this.kepler_id,
        AffiliateKeplerGroup: this.getKeplerGroup,
      });
    },
  },
  mounted() {
    if (this.$route.query.home_to_help) {
      this.$nextTick(() => {
        setTimeout(() => {
          this.$refs.faq.scrollIntoView();
        });
      });
      this.$router.push({
        name: "home",
      });
    }
  },
};
</script>
<style lang="scss" scoped>
.home_experiment {
  @mixin btn_style {
    padding: 12px 24px;
    line-height: 28px;
    font-size: 20px;
  }

  .wrapper {
    width: 1060px;
    margin: 0 auto;
  }

  .characteristic {
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

    .characteristic_item {
      width: 200px;
      height: 142px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      .characteristic_item_desc {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .m_lr_80 {
      margin: 0 80px !important;
    }
  }

  .image_content {
    padding: 80px 0;

    .top_introduce {
      display: flex;
      justify-content: space-between;
      width: 1060px;
      margin: 0 auto;

      .image_title {
        width: 416px;

        .green_title {
          font-size: 38px;
          line-height: 46px;
          color: #07b295;
          padding-right: 70px;
          font-weight: bold;
          margin-bottom: 16px;
        }

        .green_desc {
          padding-right: 30px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .introduce_list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 60px;
      justify-content: center;

      .introduce_item:nth-child(3n) {
        margin-right: 0;
      }

      .introduce_item {
        padding: 40px 16px;
        text-align: center;
        width: 342px;
        border-radius: 12px;
        background: #fff;
        margin-right: 16px;
        margin-bottom: 16px;

        .introduce_icon {
          width: 163px;
          height: 142px;
          margin: 0 auto;
          display: block;
          margin-bottom: 24px;
        }

        .introduce_icon_desc {
          .main_desc {
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #333333;
            padding: 0 30px;
            font-weight: bold;
            margin-bottom: 8px;
          }

          .sub_desc {
            color: #333333;
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }

    .start_button {
      display: block;
      margin: 0 auto;
      line-height: 28px;
      @include btn_style;
      font-weight: bold;
      margin-top: 24px;
    }
  }

  .introduce_content {
    padding-top: 80px;
    padding-bottom: 80px;
    background: url("https://res.klook.com/image/upload/v1629887345/ued/Affiliate/img_affiliate_partner.jpg")
      center no-repeat;
    background-size: cover;

    .introduce_title,
    .introduce_subtitle {
      color: #fff;
      width: 800px;
      text-align: center;
      margin: 0 auto;
      padding: 0 60px;
    }

    .introduce_title {
      font-size: 38px;
      font-weight: bold;
      line-height: 46px;
      margin-bottom: 24px;
    }

    .introduce_subtitle {
      line-height: 24px;
      font-size: 16px;
    }

    .touch_button {
      margin: 0 auto;
      display: block;
      margin-top: 40px;
      @include btn_style;
      font-weight: bold;
    }

    .border {
      background: #c4c4c4;
      height: 1px;
      width: 100%;
      margin-top: 40px;
    }

    .choice_klook {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
      color: #fff;
      font-weight: bold;
      width: 800px;
      margin: 40px auto;
    }

    .partner_card_wrapper {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;

      .partner_card {
        width: 342.33px;
        border-radius: 12px;
        padding: 40px 20px;
        background: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #333;
        font-style: italic;
        padding-bottom: 0;

        .partner_card_text {
          margin-bottom: 16px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .partner_sub_card_wrapper {
      display: flex;
      justify-content: space-between;

      .sub_card {
        height: 80px;
        width: 199px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        background: #fff;
      }
    }
  }

  #faq {
    background: #fff;
    padding-top: 80px;
    padding-bottom: 80px;

    .faqs_title {
      font-size: 38px;
      line-height: 46px;
      text-align: center;
      font-weight: bold;
      color: #000;
    }

    ::v-deep .faqs {
      padding-top: 40px !important;

      .desc {
        display: none;
      }

      .content {
        .content-list {
          width: 100% !important;
        }

        .menu-item {
          font-weight: bold;
        }

        .question span {
          color: #333;
          font-weight: bold;
        }
      }
    }
  }

  .earning_klook {
    &_title {
      margin-top: 80px;
      margin-bottom: 24px;
      color: #333;
      font-size: 38px;
      line-height: 46px;
      text-align: center;
    }

    &_button {
      text-align: center;
      font-weight: bold;
      display: block;
      margin: 0 auto;
      @include btn_style;
    }

    &_tips {
      text-align: center;
      color: #333;
      font-size: 16px;
      margin-top: 40px;
      line-height: 19px;
      margin-bottom: 80px;
    }
  }
}
</style>
