<style lang="scss">
.home {
  background: #fff;
  .klk_svg {
    cursor: auto;
  }
  .affiliate_home {
    .affiliate_home_title {
      font-size: 32px;
      font-weight: 500;
      color: #333;
      text-align: center;
      margin: 72px 0 48px;
    }
    .reason_list {
      display: flex;
      flex-wrap: wrap;
      width: 1164px;
      margin: 0 auto 52px;
      .item {
        width: 388px;
        height: 284px;
        padding: 40px 32px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .icon_wrapper {
          width: 72px;
          height: 72px;
        }
        .title {
          margin: 12px 0;
          font-size: 16px;
          font-weight: 500;
        }
        .desc {
          font-size: 14px;
          line-height: 1.5;
          color: #333;
          word-break: keep-all;
        }
        .ja-desc {
          word-break: break-word;
        }
      }
    }
  }
  .our_partners {
    min-height: 584px;
    color: #333;
    text-align: center;
    margin: 0 auto;
    background: #fafafa;
    display: flex;
    align-items: center;
    flex-direction: column;
    .title {
      font-size: 32px;
      font-weight: 500;
      margin: 72px 0 16px;
    }
    .desc {
      margin-bottom: 48px;
      font-size: 16px;
    }
    .partner_list {
      width: 1155px;
      margin-bottom: 17px;
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 165px;
        height: 50px;
        margin-bottom: 70px;
      }
    }
  }
  .join_process {
    text-align: center;
    .title {
      font-size: 32px;
      font-weight: 500;
      padding: 72px 0 16px;
    }
    .desc {
      padding: 0 10px;
    }
    .join_process_sketch {
      display: flex;
      justify-content: center;
      position: relative;
      .center_line {
        width: 750px;
        height: 1px;
        background: #e0e0e0;
        position: absolute;
        top: 210px;
      }
      .step {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 382px;
        margin: 68px 0 48px;
        z-index: 1;
        .step_title {
          height: 25px;
          font-size: 18px;
          font-weight: 500;
          color: #333;
          margin: 12px 0 16px;
        }
        .circle {
          width: 36px;
          height: 36px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: solid 1px #e0e0e0;
          font-size: 14px;
          color: #999;
          background: #fff;
        }
        .desc {
          font-size: 14px;
          line-height: 1.5;
          color: #333;
          margin-top: 16px;
        }
      }
    }
    .btn_wrapper {
      padding-bottom: 72px;
    }
  }
}
</style>

<template lang="html">
  <div class="home">
    <common-banner></common-banner>
    <div class="affiliate_home">
      <div
        class="affiliate_home_title"
        v-html="$t('HOME_why_join_affiliate')"
      ></div>

      <div class="reason_list">
        <div class="item" v-for="(item, index) in reason_list" :key="index">
          <div class="icon_wrapper">
            <klk-icon :size="72" :type="item.icon_type"></klk-icon>
          </div>
          <div class="title">{{ item.title }}</div>
          <div :class="descClass">{{ item.desc }}</div>
        </div>
      </div>
    </div>
    <div class="our_partners">
      <div class="title">
        {{ $t("HOME_our_partners") }}
      </div>
      <div class="desc">
        {{ $t("HOME_our_partners_desc") }}
      </div>
      <div class="partner_list">
        <img
          class="item"
          v-for="n in 24"
          :key="n"
          :src="get_partner_path(n, false)"
          @mouseover="change_path(get_partner_path(n, true), $event)"
          @mouseout="change_path(get_partner_path(n, false), $event)"
          alt=""
        />
      </div>
    </div>
    <div class="join_process">
      <div class="title">
        {{ $t("HOME_start_earning_today") }}
      </div>
      <div class="desc">
        {{ $t("HOME_start_earning_today_desc") }}
      </div>
      <div class="join_process_sketch">
        <div class="center_line"></div>
        <div class="step" v-for="(item, index) in steps" :key="index">
          <klk-icon :size="72" :type="item.icon_type"></klk-icon>
          <div class="step_title">{{ item.title }}</div>
          <div class="circle">{{ item.step }}</div>
          <div class="desc">{{ item.desc }}</div>
        </div>
      </div>
      <div class="btn_wrapper">
        <button
          type="button"
          class="theme_btn_base"
          @click="join"
          name="button"
          v-show="!user_info.id"
        >
          {{ $t("MULTIPLE_join_now") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import CommonBanner from "../../tpl/common_banner.vue";
export default {
  name: "Home",
  data() {
    return {
      user_info: USER_INFO,
      partner_path: "",
    };
  },
  components: {
    CommonBanner,
  },
  computed: {
    descClass: function () {
      return KLK_LANG === "ja" ? ["desc", "ja-desc"] : "desc";
    },
  },
  methods: {
    join() {
      // Google Tag Manager for "Click Join Now" Event
      window.dataLayer.push({
        event: "joinNow",
        eventCategory: "Footer",
        eventAction: "Join Now",
      });
      window.location.href = `/${window.KLK_LANG_PATH}signup_auto`;
    },
    get_partner_path(number, active) {
      return active
        ? require("../../../imgs/partners/" +
            "partner_" +
            number +
            "_active.png")
        : require("../../../imgs/partners/" + "partner_" + number + ".png");
    },
    change_path(path, event) {
      event.currentTarget.src = path;
    },
  },
  created() {
    this.steps = [
      {
        icon_type: "become",
        step: "01",
        title: __("HOME_start_earning_title_1"),
        desc: __("HOME_start_earning_desc_1"),
      },
      {
        icon_type: "integrations",
        step: "02",
        title: __("HOME_start_earning_title_2"),
        desc: __("HOME_start_earning_desc_2"),
      },
      {
        icon_type: "earning",
        step: "03",
        title: __("HOME_start_earning_title_3"),
        desc: __("HOME_start_earning_desc_3"),
      },
    ];
    this.reason_list = [
      {
        icon_type: "destination",
        title: __("HOME_why_join_affiliate_title_1"),
        desc: __("HOME_why_join_affiliate_desc_1"),
      },
      {
        icon_type: "commission_bonus",
        title: __("HOME_why_join_affiliate_title_2"),
        desc: __("HOME_why_join_affiliate_desc_2"),
      },
      {
        icon_type: "easy_integration",
        title: __("HOME_why_join_affiliate_title_3"),
        desc: __("HOME_why_join_affiliate_desc_3"),
      },
      {
        icon_type: "account_manager",
        title: __("HOME_why_join_affiliate_title_4"),
        desc: __("HOME_why_join_affiliate_desc_4"),
      },
      {
        icon_type: "promotional_tools",
        title: __("HOME_why_join_affiliate_title_5"),
        desc: __("HOME_why_join_affiliate_desc_5"),
      },
      {
        icon_type: "visualized_analytics",
        title: __("HOME_why_join_affiliate_title_6"),
        desc: __("HOME_why_join_affiliate_desc_6"),
      },
    ];
  },
};
</script>
