<template>
  <div>
    <home v-if="!isHomePageExperiment"></home>
    <home-experiment v-else></home-experiment>
  </div>
</template>

<script>
import Home from "./home.vue";
import HomeExperiment from "./home_experiment.vue";

export default {
  name: "HomeWrapper",
  components: {
    Home,
    HomeExperiment,
  },
  computed: {
    isHomePageExperiment() {
      return this.$store.getters.isHomePageExperiment;
    },
  },
};
</script>

<style scoped></style>
