<template>
  <div class="container" v-show="show">
    <div class="list">
      <div class="item" v-for="(item, index) in data" :key="index">
        <a
          class="item_link"
          @click="handleClickActivity(item)"
          :href="item.jump_url"
          target="_blank"
        >
          <div
            class="img"
            :style="`background-image: url(${imageUrl(item.image_url_host)})`"
          >
            <div class="info_wrapper">
              <div
                class="discount_tag"
                v-if="item.card_tags && item.card_tags.percentage_off"
              >
                <span>{{ item.card_tags.percentage_off }}</span>
              </div>
            </div>
          </div>
          <div class="desc_info">
            <div class="product_info">
              <span
                :class="{ title: true, iskoa: showData.iskoa }"
                :tabindex="index * 4 + 2"
                style="-webkit-box-orient: vertical"
                >{{ item.title }}</span
              >
              <div class="city_name" :tabindex="index * 4 + 1">
                {{ item.city_name }}
              </div>
              <div
                class="score_info"
                v-if="+item.review_total > 0"
                :tabindex="index * 4 + 3"
              >
                <span class="score">{{ item.score }}</span>
                <span class="review"
                  >({{ item.review_total }}
                  {{ showData.activity_reviews }})</span
                >
              </div>
            </div>
            <div class="price" :tabindex="index * 4 + 4">
              <span class="price_value"
                >{{ item.currency_format }}
                {{ priceFormat(item.sell_price, item.currency) }}</span
              >
              <span class="market_price"
                >{{ item.currency_format }}
                {{ priceFormat(item.market_price, item.currency) }}</span
              >
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="button">
      <a :href="showData.klook_url" target="_blank">
        <div
          @click="handleClickViewMore"
          class="view_more"
          :tabindex="(data.length - 1) * 4 + 5"
        >
          {{ showData.view_more_text }}
        </div>
      </a>
    </div>
    <div class="power_link" v-show="powered_display">
      <a :href="showData.affiliate_url" target="_blank">
        <div
          @click="handleClickPower"
          class="powered"
          :tabindex="(data.length - 1) * 4 + 6"
        >
          {{ $t("powered_by") }}
        </div>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import {
  getUrlParam,
  ads_monitor,
  adsEvent,
  urlObj,
  formatRedirectUrl,
  transformImageUrl,
  priceFormatUtil,
} from "../../util/common_data.js";
import { ajaxGetPromise } from "../../util/request.js";

interface detail_type {
  id: number;
  template_id: number;
  title: string;
  subtitle: string;
  url_seo: string;
  city_id: number;
  city_name: string;
  instance: number;
  image_url: string;
  score: number;
  currency: string;
  market_price: string;
  sell_price: string;
  sell_price_format: string;
  start_time: string;
  sold_out: boolean;
  published: boolean;
  participate: number;
  participants_format: string;
  hot_state: string;
  discount: number;
  review_total: number;
  need_hide_review: boolean;
  image_url_host: string;
  country_id: number;
  country_name: string;
  jump_url: string;
  affiliate_url: string;
  klook_url: string;
  lang: string;

  [key: string]: any;
}

interface show_type {
  klook_url: string;
  affiliate_url: string;
  lang: string;
  iskoa: boolean;
  view_more_text: string;
  activity_reviews: string;

  [key: string]: any;
}

@Component
export default class AutoDynamicWidget extends Vue {
  private data: Array<detail_type> = [];
  private showData: show_type = {
    klook_url: "",
    affiliate_url: "",
    lang: "",
    iskoa: false,
    activity_reviews: "Reviews",
    view_more_text: "View More",
  };

  show: boolean | undefined = false;
  powered_display = true;
  iframeData = "";

  handleClickActivity(item) {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - ${item.id}`,
    });
  }

  priceFormat(sell_price: string, currency: string) {
    return priceFormatUtil(sell_price, currency);
  }

  handleClickViewMore() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - View More`,
    });
  }

  handleClickPower() {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Partner Website`,
      eventLabel: `Dynamic Widget - Power By klook`,
    });
  }

  imageUrl(url: string): string {
    return transformImageUrl(url);
  }

  async fetchData() {
    // 检查total是否符合规范
    const total: number = +getUrlParam("amount");
    const amountValueRange: number[] | any = [1, 2, 3];
    if (!amountValueRange.includes(total)) {
      return;
    }
    let search = this.formatKey(window.location.search);
    let res = await ajaxGetPromise(urlObj.auto_widget + search);
    if (res.success) {
      this.show = true;
      let result = (res && res.result) || {};
      let lang = (result.redirect_url && result.redirect_url.lang) || "en-US";
      this.showData = formatRedirectUrl(result.redirect_url || {}, lang);
      this.data = result.activities;
      this.powered_display = result.powered_display;
      adsEvent(4, this.iframeData);
    } else {
      // 渲染失败: 5
      adsEvent(5, this.iframeData);
    }
  }

  /**
   *  对参数进行转换
   * ?city_id=1121&amount=233&category=123 => ?cid=1121&total=233&tid=123
   */
  formatKey(search: string): string {
    const differentKeys = {
      amount: "total",
      city_id: "cid",
      category: "tid",
    };
    const arr = search.split("?")[1].split("&");
    const s = arr.map((item, index) => {
      const obj = item.split("=");
      const key = obj[0];
      if (differentKeys.hasOwnProperty(key)) {
        obj[0] = differentKeys[key];
        return obj.join("=");
      } else {
        return item;
      }
    });
    return `?${s.join("&")}`;
  }

  created() {
    ads_monitor(getUrlParam("prod"), (data) => {
      this.iframeData = data;
    });
    this.fetchData();
  }
}
</script>
<style lang="scss" scoped>
.container {
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;

  .item {
    background: white;
    border-radius: 4px;

    .item_link {
      .img {
        border-radius: 4px 4px 0 0;
      }
    }
  }

  a {
    text-decoration: none;
    color: black;
    outline: none;
  }

  .button {
    margin-top: 24px;
    display: flex;
    justify-content: center;

    .view_more {
      width: 148px;
      height: 32px;
      border-radius: 4px;
      background-color: white;
      color: #ff5722;
      border: solid 1px #ff5722;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      line-height: 32px;
      text-decoration: none;

      &:hover {
        background-color: #ff5722;
        color: white;
      }
    }
  }

  .power_link {
    display: flex;
    justify-content: center;
    padding: 16px 0;

    .powered {
      font-size: 12px;
      color: #999999;
    }
  }

  .info_wrapper {
    padding: 5px 8px;

    .discount_tag {
      width: 80px;
      height: 34px;
      color: #fff;
      font-weight: bold;
      font-size: 12px;
      display: flex;
      align-items: center;
      background: url("../../../assets/img/discount_tag.svg") center no-repeat,
        url("../../../assets/img/discount_tag_2.svg") 1px 3px no-repeat;

      span {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

  .price {
    .price_value {
      color: #ff5722;
      font-size: 14px;
      font-weight: bold;
      margin-right: 8px;
    }

    .market_price {
      text-decoration: line-through;
      font-size: 12px;
      margin-right: 10px;
    }
  }

  .city_name {
    font-size: 12px;
    color: #999;
    line-height: 16px;
    margin-top: 3px;

    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 655px) {
  .container {
    min-width: 300px;

    .item {
      .item_link {
        .img {
          border-radius: 4px 0 0 4px;
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .item {
        display: block;
        margin: 8px 8px 0;
        height: 120px;
        transition: margin 0.2s ease-out;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

        &:hover {
          outline-width: 0;
          margin-left: 4px;
          margin-right: 12px;
        }

        .item_link {
          display: flex;
          text-decoration: none;
          height: 100%;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            min-width: 144px;
            background-position: center center;
            overflow: hidden;
          }

          .desc_info {
            margin-left: 13px;
            padding-top: 10px;
            padding-bottom: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .product_info {
              .title {
                height: 36px;
                display: inline-block;
                word-break: break-all;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 4px;

              .score {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                margin: 0 2px;
                width: 29px;
                height: 16px;
                background: #ff9d26;
                border-radius: 2px;
                text-align: center;
                position: relative;

                &:after {
                  content: "";
                  width: 3px;
                  display: inline-block;
                  height: 6px;
                  background: url("../../../assets/img/score_horn.svg") center
                    no-repeat;
                  position: absolute;
                  left: -3px;
                  top: 5px;
                }
              }

              .review {
                font-size: 12px;
                color: #999;
              }
            }

            .price {
              display: flex;
              align-items: center;
              font-size: 16px;
              color: #333333;
              //font-weight: 600;
              margin-bottom: 4px;

              .price_value {
                //margin-right: 10px;
              }

              .light {
                display: inline-block;
                width: 12px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 655px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .list {
      display: flex;
      justify-content: center;

      .item {
        display: block;
        width: 210px;
        margin: 24px 4px 0;
        transition: margin 0.2s ease-out;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);

        &:hover {
          outline-width: 0;
          margin-top: 20px;
          margin-bottom: 4px;
        }

        .item_link {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: black;
          outline: none;

          .img {
            background-repeat: no-repeat;
            background-size: cover;
            height: 118px;
            width: 100%;
            background-position: center center;
            overflow: hidden;
            background-image: url("https://res.klook.com/image/upload/activities/wgw7f8n0nlzj063qzyk4.jpg");
          }

          .desc_info {
            padding: 10px 0 13px 13px;

            .product_info {
              min-height: 87px;

              .title {
                height: 36px;
                display: inline-block;
                word-break: break-all;
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 14px;
                line-height: 1.4;
                color: #333333;
                padding-right: 1.4rem;
              }

              .iskoa {
                word-break: keep-all;
              }
            }

            .score_info {
              display: flex;
              align-items: center;
              margin-top: 8px;

              .score {
                color: #fff;
                font-size: 12px;
                font-weight: 600;
                margin: 0 2px;
                width: 29px;
                height: 16px;
                background: #ff9d26;
                border-radius: 2px;
                text-align: center;
                position: relative;

                &:after {
                  content: "";
                  width: 3px;
                  display: inline-block;
                  height: 6px;
                  background: url("../../../assets/img/score_horn.svg") center
                    no-repeat;
                  position: absolute;
                  left: -3px;
                  top: 5px;
                }
              }

              .review {
                font-size: 12px;
                color: #999;
              }
            }

            .price {
              display: flex;
              align-items: center;
              margin-top: 10px;
              font-size: 16px;
              //font-weight: 600;
              color: #333333;

              .price_value {
                //margin-right: 10px;
              }

              .light {
                display: inline-block;
                width: 12px;
                height: 16px;
              }
            }
          }
        }
      }
    }
  }
}
</style>
