<template>
  <Widget />
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import Widget from "./auto_dynamic_widget.vue";

@Component({
  components: {
    Widget,
  },
})
export default class DynamicWidget extends Vue {}
</script>

<style scoped></style>
