<style lang="scss">
.performance_overview {
}
</style>

<template lang="html">
  <div class="performance_overview">
    <dashboard-commission-data></dashboard-commission-data>

    <div class="gray_bar"></div>
    <div class="settlement_records frame">
      <div class="frame_title">
        {{ $t("PERFORMANCE_OVERVIEW_settlement_records") }}
      </div>
      <klk-table :cols="cols" :table_data="list" v-loading="loading_data">
        <tr slot-scope="scope">
          <td>{{ monthFormat(scope.row.month) }}</td>
          <td>USD {{ scope.row.total_order_revenue }}</td>
          <td>{{ scope.row.currency }} {{ scope.row.your_commission }}</td>
          <td>{{ scope.row.bonus_rate }}</td>
          <td>{{ scope.row.currency }} {{ scope.row.total_commission }}</td>
          <td>{{ scope.row.currency }} {{ scope.row.amount_paid_out }}</td>
        </tr>
      </klk-table>
      <!-- <klk-pagination :show_page_size_opts="false" :show_elevator="false" :total="pagination.total" :page_size="pagination.pageSize" :prop_current="pagination.curPage" @current_change="handleCurrentChange"></klk-pagination> -->
    </div>
  </div>
</template>

<script>
import DashboardCommissionData from "../../dashboard/components/dashboard_commission_data.vue";
import moment from "moment";
import { urlObj } from "common_data";

export default {
  name: "PerformanceOverview",
  components: {
    DashboardCommissionData,
  },
  data() {
    return {
      pagination: {
        total: 100,
        pageSize: 8,
        curPage: 1,
      },
      list: [],
      loading_data: true,
    };
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_month"),
      },
      {
        label: __("MULTIPLE_total_order_revenue"),
      },
      {
        label: __("MULTIPLE_your_commission"),
      },
      {
        label: __("MULTIPLE_bonus_rate"),
      },
      {
        label: __("MULTIPLE_total_commission"),
      },
      {
        label: __("MULTIPLE_amount_paid_out"),
      },
    ];

    // this.list = [{
    //         'month': '1',
    //         'total_order_revenue': '1',
    //         'your_commission': '1',
    //         'bonus_rate': '1',
    //         'total_commission': '1',
    //         'amount_paid_out': '1',
    //     },
    //
    // ]
  },
  mounted() {
    this.loadData();
  },
  methods: {
    monthFormat(month) {
      return moment(month, ["YYYYMM"]).format("YYYY-MM");
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    loadData() {
      // "monthly_shares": [
      //      {
      //        "bonus_rate": 0,
      //        "currency": "SGD",
      //        "final_pay": 0,
      //        "month": "201802",
      //        "paid_amount": 0,
      //        "payment_note": "None",
      //        "payment_voucher": "None",
      //        "total_sales": 0,
      //        "total_share": 0,
      //        "uid": 1132
      //      }
      //  ],
      //  "user_balance": {
      //   "currency": "SGD",
      //   "remain_amount": 0,
      //   "remain_amount_usd": 0,
      //   "uid": 1132
      // }

      function processData(list) {
        return list.map((item) => {
          return {
            month: item.month,
            total_order_revenue: klook.transfer_cent_to_usd(item.total_sales),
            your_commission: klook.transfer_cent_to_usd(item.total_share),
            bonus_rate: klook.accMul(item.bonus_rate, 100) + "%",
            total_commission: klook.transfer_cent_to_usd(item.final_pay),
            amount_paid_out: klook.transfer_cent_to_usd(item.paid_amount),
            currency: item.currency,
          };
        });
      }
      this.loading_data = true;
      klook.ajaxGet(urlObj.get_monthly_share, (resp) => {
        if (resp.success) {
          this.loading_data = false;
          this.list = processData(resp.result.monthly_shares);
        } else {
          console.error(resp);
        }
      });
    },
  },
};
</script>
