<template>
  <div class="card_list_container">
    <a
      class="item"
      v-for="item in data.filter((v) => v.vid !== 0)"
      :key="`card_list_${item.vid}`"
      @click.stop="handleClick(item)"
    >
      <img :src="item.img" />
      <a>{{ item.name }}</a>
    </a>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { verticalDetail } from "../interface/search_box";

@Component
export default class CardList extends Vue {
  @Prop(Array) data: verticalDetail[] | undefined;
  @Prop(Function) onClick: Function | undefined;
  @Prop(Function) sendTrackingData;

  handleClick(item: any) {
    if (item.svid && item.svid.length > 0) {
      this.$props.onClick(item);
    } else {
      this.sendTrackingData(item);
      // 跳转
      window.open(`${window.location.host}${item.jump}`, `_blank`);
    }
  }
}
</script>
<style lang="scss" scoped>
.card_list_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  min-height: 120px;
  .item {
    width: 136px;
    height: 52px;
    display: flex;
    text-decoration: none;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    margin-right: 8px;
    font-weight: bolder;
    border-radius: 2px;
    margin-bottom: 8px;
    &:hover {
      box-shadow: 0 2px 4px 0 #cccccc;
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
    img {
      margin-right: 4px;
    }
    a {
      width: 103px;
    }
  }
}

@media screen and (max-width: 448px) {
  .card_list_container {
    min-width: 280px;
    padding: 0 calc((100% - 320px) / 2);
    .item {
      &:nth-child(2n + 0) {
        margin-right: 0;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .card_list_container {
    min-width: 280px;
    .item {
      &:nth-child(2n + 0) {
        margin-right: 0;
      }
    }
  }
}
</style>
