<template>
  <div class="drawer">
    <div class="drawer_container">
      <div :class="['icon_down', showClass()]"></div>
      <div :class="['list', showClass()]" v-clickoutside="handleClose">
        <a
          class="item"
          v-for="item in sub_vertical"
          :href="item.jump"
          target="_blank"
          :key="`draw_item${item.vid}`"
          @click="handleClose(item)"
        >
          {{ item.name }}
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import clickoutside from "../../../../directives/clickoutside";
import { verticalDetail } from "../interface/search_box";
import { SEARCH_VERTICAL_FILLING_POINT_MAP } from "../../../util/common_data.js";

@Component({
  directives: {
    clickoutside,
  },
})
export default class CardList extends Vue {
  @Prop(Array) sub_vertical: verticalDetail[] | undefined;
  @Prop(Function) onClose: Function | undefined;
  @Prop(Function) sendTrackingData;
  showClass() {
    return this.sub_vertical ? "open" : "close";
  }

  handleClose(item: any) {
    let id = item.vid;
    // 埋点
    // kepler 埋点
    this.sendTrackingData(item);
    window.dataLayer.push({
      ...SEARCH_VERTICAL_FILLING_POINT_MAP[id],
    });
    this.$props.onClose();
  }
}
</script>
<style lang="scss" scoped>
.drawer {
  z-index: 2025;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 340px;
  left: 0;
  overflow: hidden;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.38);
  display: flex;
  align-items: flex-end;

  &:hover {
    cursor: pointer;
  }

  .drawer_container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @keyframes drawer-in {
      0% {
        transform: translateY(100%);
      }
      to {
        transform: translate(0);
      }
    }
    @keyframes drawer-out {
      0% {
        transform: translate(0);
      }

      to {
        transform: translateY(100%);
      }
    }

    .icon_down {
      position: absolute;
      top: -14px;
      width: 40px;
      height: 100%;
      object-fit: contain;
      background-repeat: no-repeat;
      background-image: url("../../../../assets/img/pull.svg");
    }

    .list {
      width: 100%;
      box-sizing: border-box;
      background-color: #fff;
      padding: 30px 80px;
      display: flex;
      border-radius: 8px 8px 0 0;
      flex-direction: column;
      box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
        0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12);

      .item {
        border-radius: 8px;
        background-color: #eeeeee;
        padding: 11px 0 12px 13px;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: rgba(0, 0, 0, 0.87);
        text-decoration: none;
        position: relative;

        &:after {
          position: absolute;
          content: "";
          top: 50%;
          transform: translate(0, -50%);
          width: 20px;
          height: 20px;
          right: 10px;
          object-fit: contain;
          background-repeat: no-repeat;
          background-image: url("../../../../assets/img/icon-arrowright.svg");
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .open {
      animation: drawer-in 0.3s 1ms;
    }

    .close {
      animation: drawer-out 0.3s 1ms;
    }
  }
}

@media screen and (max-width: 448px) {
  .drawer {
    .drawer_container {
      min-width: 320px;

      .list {
        width: 100%;
        padding: 30px calc((100% - 288px) / 2);
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .drawer {
    .drawer_container {
      .list {
        width: 320px;
        padding: 30px 16px;
      }
    }
  }
}
</style>
