<template>
  <div class="input_container" :style="inputStyle()">
    <div class="input">
      <input :placeholder="placeHolder()" v-model.trim="query" />
    </div>
    <a class="button" :href="jumpUrl()" target="_blank" @click="handleClick">
      {{ getBtnText() }}
    </a>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { widthCondition, verticalDetail } from "../interface/search_box";
import { RENDER_LANGUAGE_MAP } from "../../../util/common_data.js";

@Component
export default class Input extends Vue {
  @Prop(Array) data: verticalDetail[] | undefined;
  @Prop() size: widthCondition | undefined;
  @Prop(String) lang: string | any;
  // 用于没有选中的url
  @Prop(String) defaultJumpUrl: string | undefined;
  @Prop(String) jump_without_query: string | undefined;
  @Prop(Function) sendTrackingData;
  query = "";

  jumpUrl() {
    let normal = `${this.defaultJumpUrl}&query=${encodeURIComponent(
      this.query
    )}`;
    return this.query && this.query.length > 0
      ? normal
      : this.jump_without_query;
  }

  inputStyle() {
    return this.data && this.data.length > 0 ? "" : "border-radius: 4px";
  }

  placeHolder() {
    return RENDER_LANGUAGE_MAP[this.lang]["search_placeholder"] || "";
  }

  handleClick() {
    this.sendTrackingData();
  }

  getBtnText() {
    return this.size === widthCondition.BIG
      ? RENDER_LANGUAGE_MAP[this.lang]["search"]
      : "";
  }
}
</script>
<style lang="scss" scoped>
.input_container {
  height: 42px;
  display: flex;
  justify-content: center;
  opacity: 0.99;
  padding: 15px 32px;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  width: calc(100% - 64px);
  .input {
    width: calc(100% - 120px);
    input {
      padding: 11px 15px 11px 15px;
      width: calc(100% - 32px);
      height: 18px;
      font-size: 14px;
      line-height: 16px;
      color: #333;
      border-radius: 4px 0 0 4px;
      background-color: #f5f5f5;
      caret-color: #ff5722;
      border: 1px solid #f5f5f5;
      outline: none;
      &:focus,
      &:hover {
        border: solid 1px #ff5722;
      }
    }
  }

  .button {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 42px;
    padding: 0;
    font-weight: bolder;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #ff9557 0%, #ff6b3d 100%);

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 730px) {
  .input_container {
    padding: 0;
    width: 100%;
    border-radius: 4px 0 0 4px;
    .input {
      width: calc(100% - 42px);
    }
    .button {
      width: 42px;
      &:after {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        background-image: url("../../../../assets/img/search.svg");
      }
    }
  }
}

@media screen and (max-width: 442px) {
  .input_container {
    min-width: 280px;
    border-radius: 4px;
    .input {
      min-width: calc(100% - 42px);
    }
  }
  .button {
    min-width: 42px;
    min-height: 42px;
  }
}
</style>
