<template>
  <div class="sub_vertical_container">
    <a
      class="item"
      @click="handleClick(item)"
      :href="item.jump"
      target="_blank"
      v-for="item in sub_vertical"
      :key="`sub_vertical_${item.vid}`"
    >
      <a>{{ item.name }}</a>
    </a>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import { verticalDetail } from "../interface/search_box";
import { SEARCH_VERTICAL_FILLING_POINT_MAP } from "../../../util/common_data.js";

@Component
export default class SubVertical extends Vue {
  @Prop(Array) sub_vertical: verticalDetail[] | undefined;
  @Prop(Function) sendTrackingData;

  handleClick(item: verticalDetail) {
    let id = item.vid;
    // 埋点
    window.dataLayer.push({
      ...SEARCH_VERTICAL_FILLING_POINT_MAP[id],
    });
    // kepler 埋点
    this.sendTrackingData(item);
  }
}
</script>
<style lang="scss" scoped>
.sub_vertical_container {
  width: calc(100% - 64px);
  height: 72px;
  opacity: 0.99;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 32px;
  .item {
    border-radius: 2px;
    border: solid 1px #e0e0e0;
    background-color: #ffffff;
    padding: 8px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    &:hover {
      cursor: pointer;
      border-radius: 2px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 #cccccc;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
</style>
