<template>
  <div class="tab_container">
    <div class="active_bar" :style="style"></div>
    <div
      class="item"
      v-for="item in data"
      :key="`tab_bar_${item.vid}`"
      :ref="`tab_bar_${item.vid}`"
      @click="handleClick(item)"
    >
      <img :src="item.img" />
      <a style="-webkit-box-orient: vertical">{{ item.name }}</a>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { verticalDetail } from "../interface/search_box";
@Component
export default class Input extends Vue {
  @Prop(Array) data: verticalDetail[] | undefined;
  @Prop(Function) onClick: Function | undefined;

  private active: number | null = 0;
  private style: string | undefined = "";
  id: number | any = null;

  @Watch("active", { immediate: true, deep: true })
  getActiveBarStyle() {
    clearTimeout(this.id);
    this.id = setTimeout(() => {
      let s: any = this.$refs[`tab_bar_${this.active}`];
      let offsetWidth = s && s[0].offsetLeft;
      let width = (s && s[0].clientWidth) || "";
      this.style = `width: ${width}px; transform: translateX(${offsetWidth}px)`;
    }, 100);
  }

  beforeDestroy() {
    clearTimeout(this.id);
  }

  handleClick(item: any) {
    this.active = item.vid;
    this.$props.onClick(item);
  }
}
</script>
<style lang="scss" scoped>
.tab_container {
  width: calc(100% - 64px);
  height: 60px;
  opacity: 0.99;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
  border-bottom: 1px solid #cecece;
  display: flex;
  position: relative;
  padding: 0 32px;
  .item {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 22px;
    img {
      margin-right: 4px;
    }
    a {
      font-size: 12px;
      font-weight: bolder;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #333333;
      user-select: none;
      word-break: break-word;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      line-height: 1.4;
    }
    &:hover {
      cursor: pointer;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  .active_bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #ff906e;
    z-index: 1;
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    list-style: none;
  }
}
</style>
