<style lang="scss">
.payments_admin {
  .search_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .select_area_row {
      display: flex;
      align-items: center;
    }
    .klk_select {
      margin-left: 10px;
    }
  }
  .action_wrapper {
    .theme_btn_base_border {
      margin-bottom: 24px;
    }
  }
  .center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
</style>

<template lang="html">
  <div class="payments_admin">
    <div v-show="$route.name != 'payments_admin_history'">
      <div class="frame_title">{{ $t("ADMIN_MULTIPLE_payments_admin") }}</div>
      <div class="search_area">
        <div class="select_area_row">
          <span class="label"> {{ $t("ADMIN_MULTIPLE_select_admin") }} : </span>
          <klk-select
            filterable
            v-model="searchOption.admin"
            placeholder="Admin"
            width="275px"
            @on-change="(value) => changeSearchOption('admin', value)"
          >
            <klk-option key="all" value="all">{{
              $t("MULTIPLE_all")
            }}</klk-option>
            <klk-option
              v-for="item in admin_list"
              :key="item.id"
              :value="item.email"
              >{{ item.email }}</klk-option
            >
          </klk-select>
          <klk-input
            type="text"
            style="margin-left: 20px"
            v-model="searchOption.uid"
            @input="changeSearchOption('uid')"
            :style="{ width: '275px' }"
            placeholder="Uid"
            @on-enter="handleCurrentChange(1)"
          >
            <span slot="append" @click="handleSearch">
              <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
            </span>
          </klk-input>
        </div>
        <div class="action_wrapper" v-show="isAdmin()">
          <button
            type="button"
            style="margin-right: 20px"
            class="theme_btn_base_border mini_btn"
            @click="exportFile"
            name="button"
          >
            {{ $t("MULTIPLE_export") }}
          </button>
          <klk-upload
            :onProgress="onUploadProgress"
            :onSuccess="onUploadSuccess"
            :onError="onUploadError"
            :accept="file_type"
            :action="upload_url"
            name="file"
            style="display: inline-block"
          >
            <button
              type="button"
              class="theme_btn_base_border mini_btn"
              v-loading="uploading_finance"
              @click="handleClickUpload"
              name="button"
            >
              {{ $t("MULTIPLE_upload") }}
            </button>
          </klk-upload>
        </div>
      </div>
      <div class="frame" v-loading="loading_data">
        <klk-table :cols="cols" :table_data="list">
          <tr slot-scope="scope">
            <td>{{ scope.row.user_id }}</td>
            <td>
              {{ scope.row.user_name }}
              <span style="color: grey" v-show="scope.row.status == -1">
                <!-- </br> -->
                ({{ $t("ADMIN_MULTIPLE_terminated") }})
              </span>
            </td>
            <td>{{ scope.row.user_payment_account }}</td>
            <td>{{ scope.row.remain_amount }}</td>
            <td>
              <a
                href="javascript:void(0)"
                class="theme_a"
                @click="goto(scope.row.user_id)"
                >{{ $t("ADMIN_MULTIPLE_history") }}</a
              >
            </td>
          </tr>
        </klk-table>
        <div class="center">
          <klk-pagination
            :show_page_size_opts="false"
            :show_elevator="false"
            :total="pagination.total"
            :page_size="pagination.pageSize"
            :prop_current="pagination.curPage"
            @current_change="handleCurrentChange"
          ></klk-pagination>
        </div>
        <!-- 不能删，为了input 样式 -->
        <klk-form></klk-form>
      </div>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
import { urlObj, requestWithCache } from "common_data";
import { isAdmin } from "../../../../../comm/user_role";
export default {
  name: "PaymentsAdmin",
  data() {
    return {
      file_type: "text/csv", //.csv
      upload_url: urlObj.upload_finance_template,

      searchOption: {
        admin: "",
        uid: "",
      },
      pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      admin_list: [],
      isAdmin,
      list: [],
      loading_data: false,
      uploading_finance: false,
    };
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_user_id"),
        width: "120px",
      },
      {
        label: __("MULTIPLE_user_name"),
      },
      {
        label: __("ADMIN_PAYMENTS_ADMIN_user_payment_account"),
        width: "400px",
      },
      {
        label: __("ADMIN_PAYMENTS_ADMIN_remain_amount"),
      },
      {
        label: __("ADMIN_MULTIPLE_actions"),
        width: "120px",
      },
    ];
  },
  mounted() {
    this.loadData();
    requestWithCache(urlObj.get_admin_list).then((data) => {
      this.admin_list = data.admin_list;
    });
  },
  methods: {
    handleSearch() {
      this.sendGA("search", "Search By UID", this.searchOption.uid);
      this.handleCurrentChange(1);
    },
    changeSearchOption(item, value) {
      if (item !== "uid") {
        this.sendGA("manage", "Search By Admin", value);
      }
      if (this.searchOption[item] === "") {
        return;
      }
      Object.keys(this.searchOption || []).forEach((index) => {
        if (index !== item) {
          this.searchOption[index] = "";
        }
      });
      item !== "uid" ? this.handleCurrentChange(1) : "";
    },
    onUploadProgress(e) {
      if (e.percent != 1) {
        this.uploading_finance = true;
      }
    },
    onUploadSuccess(resp, file) {
      if (resp.success) {
        this.uploading_finance = false;
        this.$Modal.alert({
          title: "success!",
        });
      } else {
        this.onUploadError({
          msg: resp.error.message,
        });
      }
    },
    onUploadError(error) {
      this.uploading_finance = false;
      alert(error.msg);
    },
    goto(user_id) {
      this.$router.push({
        name: "payments_admin_history",
        params: {
          uid: user_id,
        },
      });
    },
    handleClickUpload() {
      this.sendGA("manage", "Upload");
    },
    sendGA(event, action, label) {
      window.dataLayer.push({
        event: event,
        eventCategory: "Payment",
        eventAction: action,
        eventLabel: label,
      });
    },
    exportFile() {
      this.sendGA("export", "Export");
      window.open(urlObj.download_finance_template);
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    loadData() {
      function processData(list) {
        function processPaymentAccount(financial_info) {
          let part_one = "";
          let part_two = "";
          if (financial_info.payment_method == "bank") {
            part_one = "Bank";
            part_two = financial_info.payment_account_detail.bank_account_id;
          } else if (financial_info.payment_method == "paypal") {
            part_one = "Paypal";
            part_two = financial_info.payment_account_detail.paypal_id;
          } else if (financial_info.payment_method == "alipay") {
            part_one = "Alipay";
            part_two = financial_info.payment_account_detail.alipay_id;
          }
          return part_one + ": " + part_two;
        }

        return list.map((item) => {
          item.payment_account_detail = JSON.parse(item.payment_account_detail);
          return {
            user_id: item.id,
            user_name: item.firstname + " " + item.lastname,
            user_payment_account: processPaymentAccount(item),
            remain_amount:
              item.currency +
              " " +
              klook.transfer_cent_to_usd(item.remain_amount),
            status: item.status,
          };
        });
      }
      this.loading_data = true;
      if (isNaN(this.searchOption.uid)) {
        this.searchOption.uid = "";
      }
      const { curPage, pageSize } = this.pagination;
      klook.ajaxGet(
        urlObj.get_admin_payments,
        {
          admin:
            this.searchOption.admin == "all" ? "" : this.searchOption.admin,
          uid: this.searchOption.uid,
          page: curPage,
          pcount: pageSize,
        },
        (resp) => {
          if (resp.success) {
            this.list = processData(resp.result.need_pay_users_info);
            this.loading_data = false;
            const { total } = resp.result;
            this.pagination = {
              pageSize,
              curPage,
              total,
            };
          } else {
            console.error(resp);
          }
        }
      );
    },
  },
};
</script>
