<style lang="scss" scoped>
.form {
  width: 100%;
  padding: 0 30px 30px 30px;
  display: flex;
  align-items: center;
  ::v-deep .klk_form_item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &:first-child {
      margin-top: 0;
    }
    .required_mark {
      width: 170px;
      text-align: left;
      margin-right: 10px;
      display: flex;
      color: black;
      justify-content: center;
      align-items: center;
      line-height: 16px;
    }
    ::v-deep .multiselect__input {
      border-radius: 0;
      border: 0;
    }
    ::v-deep .multiselect__tags {
      border-radius: 0;
      border: 1px solid #e0e0e0;
    }

    .klk_form_item_content {
      margin-top: 0;
    }
    .content {
      width: 320px;
    }
  }
  .poptip_content {
    width: 340px;
    text-align: left;
  }
  .list {
    text-align: center;
    ::v-deep .klk_table table tbody tr td {
      padding: 5px 10px;
    }
    input {
      border: 1px solid #e0e0e0;
      height: 32px;
      width: 90px;
      text-align: center;
      &:focus {
        outline: none;
        border-color: #07b295;
        &:hover {
          border-color: #07b295;
          cursor: pointer;
        }
      }
    }
  }
}
</style>

<template lang="html">
  <div class="form">
    <klk-form :rules="formRules" :model="form_data" ref="ref_form">
      <klk-form-item prop="book_user_country">
        <template slot="label">
          <span class="required_mark">{{
            $t("campaign_rule_form_user_country")
          }}</span>
        </template>
        <multiselect
          class="content"
          key="userCountry"
          :multiple="false"
          v-model="form_data.book_user_country"
          :searchable="true"
          :options="codeCountryMap"
          selectLabel=""
          :show-labels="false"
          deselectLabel=""
          :placeholder="$t('ADMIN_MULTIPLE_commission_country')"
          track-by="alpha-2"
          label="name"
        >
        </multiselect>
      </klk-form-item>
      <klk-form-item prop="city">
        <template slot="label">
          <span class="required_mark">{{ $t("MULTIPLE_destination") }}</span>
        </template>
        <region
          @onChange="handleRegionChange"
          :ranges="ranges"
          :defaultValue="{
            region: form_data.region,
            country: form_data.country,
            city: form_data.city,
          }"
        ></region>
      </klk-form-item>
      <klk-form-item prop="new_booking">
        <template slot="label">
          <span class="required_mark">
            {{ $t("campaign_rule_form_new_booking") }}
            <klk-poptip trigger="hover" class="poptip_wrapper">
              <klk-icon
                class="desc_icon"
                type="information-circled"
                size="18"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                {{ $t("dynamic_campaign_new_repeat_booking") }}
              </div>
            </klk-poptip>
          </span>
        </template>
        <klk-select filterable v-model="form_data.new_booking" class="content">
          <klk-option
            v-for="item in bookType"
            :key="item.value"
            :value="item.value"
            >{{ item.name }}
          </klk-option>
        </klk-select>
      </klk-form-item>
    </klk-form>
    <div class="list">
      <klk-smart-list
        v-if="form_data.template_id_mapping"
        :cols="cols"
        :table_data="form_data.template_id_mapping"
      >
        <tr slot-scope="scope">
          <td>
            {{ scope.row.reference_title }}
          </td>
          <td>{{ scope.row.base_rate }} %</td>
          <td>
            <input
              type="number"
              min="0"
              max="30"
              :value="scope.row.share_rate"
              @input="handleInputCommissionValue($event, scope.$index)"
            />
            %
          </td>
        </tr>
      </klk-smart-list>
    </div>
  </div>
</template>

<script>
import { formRules, urlObj } from "common_data";
import Multiselect from "vue-multiselect";
import _cloneDeep from "lodash/cloneDeep";
import Region from "./region.vue";
export default {
  name: "CampaignsRuleForm",
  components: {
    Multiselect,
    Region,
  },
  props: {
    campaignRuleData: {},
    view: Boolean,
    codeCountryMap: [],
    ranges: [],
  },
  data() {
    return {
      cols: [
        {
          label: __("campaign_rule_form_product_category"),
          width: "100px",
        },
        {
          label: __("campaign_rule_form_base_rate"),
          width: "100px",
        },
        {
          label: __("campaign_rule_form_campaign_rate"),
          width: "100px",
        },
      ],
      form_data: {
        // 初始化时循环创造
        template_id_mapping: [],
        new_booking: null,
        book_user_country: "",
        region: null,
        country: [],
        city: [],
      },
      bookType: [
        {
          name: __("campaign_rule_form_all_new_repeat"),
          value: null,
        },
        {
          name: __("campaign_rule_form_new_only"),
          value: 1,
        },
        {
          name: __("campaign_rule_form_repeat_only"),
          value: 2,
        },
      ],
    };
  },
  watch: {
    campaignRuleData: {
      handler(newVal, oldVal) {
        this.form_data = _cloneDeep(newVal) || {};
      },
      deep: true,
    },
  },
  created() {
    this.formRules = formRules.call(this);
  },
  mounted() {},
  computed: {},
  methods: {
    handleInputCommissionValue(e, index) {
      const target = e.target;
      let value;
      if (!target.validity.valid) {
        if (target.value <= 0) {
          // 小于等于 0
          value = 0;
        } else if (+target.value > 30) {
          // 大于 15
          value = 30;
        } else {
          // 为小数时也会 error, 进行小数点截取处理
          value = target.value.match(/^\d*(\.?\d{0,2})/g)[0] || null;
        }
        let clone_data = _cloneDeep(this.form_data);
        clone_data.template_id_mapping[index].share_rate = +value;
        this.form_data = clone_data;
      } else {
        let value = "";
        if (typeof target.value && target.value === "") {
          value = 0;
        } else {
          value = target.value;
        }
        let clone_data = _cloneDeep(this.form_data);
        clone_data.template_id_mapping[index].share_rate = +value;
        this.form_data = clone_data;
      }
    },
    handleRegionChange(data) {
      Object.keys(data).forEach((item) => {
        this.form_data[item] = data[item];
      });
    },
    validate(cb) {
      this.$refs["ref_form"].validate((valid) => {
        if (valid) {
          let data = _cloneDeep(this.form_data);
          if (
            data.template_id_mapping.findIndex(
              (item) => item.share_rate === ""
            ) > -1
          ) {
            this.$Message.warning("Please fill Campaign Rate");
          } else {
            cb(data);
          }
        }
      });
    },
  },
};
</script>
