<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
.region {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .item {
    margin: 10px 0;
  }
  ::v-deep .multiselect {
    width: 320px;
    margin-right: 20px;
  }

  ::v-deep .multiselect__tags {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
  }
  ::v-deep .multiselect__tag,
  .multiselect__option--highlight {
    background: #07b295;
  }
}
</style>
<template lang="html">
  <div class="region">
    <div class="item">
      <multiselect
        key="range"
        v-model="value.region"
        :searchable="true"
        :options="RANGES"
        selectLabel=""
        @input="handleRegionChange"
        :show-labels="false"
        deselectLabel=""
        :placeholder="$t('ADMIN_MULTIPLE_commission_region')"
        track-by="range_name"
        label="range_name"
      >
      </multiselect>
    </div>
    <div class="item">
      <multiselect
        key="country"
        v-model="value.country"
        :searchable="true"
        @input="handleCountryChange"
        :show-labels="false"
        :options="countryList"
        :multiple="true"
        :placeholder="$t('ADMIN_MULTIPLE_commission_country')"
        track-by="country_id"
        selectLabel=""
        deselectLabel=""
        label="country_name"
      >
      </multiselect>
    </div>
    <div class="item">
      <multiselect
        key="city"
        v-model="value.city"
        :searchable="true"
        @input="handleCityChange"
        :options="cityList"
        :selectLabel="''"
        :show-labels="false"
        deselectLabel=""
        :multiple="true"
        :placeholder="$t('ADMIN_REGION_commission_city')"
        track-by="city_id"
        :disabled="cityDisabled"
        label="city_name"
      >
      </multiselect>
    </div>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";

export default {
  name: "Region",
  props: {
    onChange: {
      type: Function,
      default: () => {},
    },
    defaultValue: {
      type: Object,
      default: () => {
        return {
          region: {
            type: Object,
            default: null,
          },
          country: {
            type: Array,
            default: [],
          },
          city: {
            type: Array,
            default: [],
          },
        };
      },
    },
    ranges: null,
  },
  components: {
    Multiselect,
  },
  data() {
    return {
      cityList: [],
      countryList: [],
      RANGES: this.ranges,
      CITY_LIST: [],
      COUNTRY_LIST: [],
      ID_COUNTRY_MAP: {},
      ID_CITY_MAP: {},
      value: this.defaultValue,
    };
  },
  created() {
    this.initialRanges(this.ranges);
    this.initialList();
    this.formatProps();
  },
  mounted() {},
  watch: {
    ranges: {
      handler: function (newV, oldV) {
        this.RANGES = newV;
        // 格式化 ranges cityList countryList
        this.initialRanges(newV);
        // 初始化数据
        this.initialList();
      },
      deep: true,
    },
    defaultValue: {
      handler: function (newV, oldV) {
        this.value = newV;
        // 初始化数据
        this.initialList();
      },
      deep: true,
    },
  },
  computed: {
    cityDisabled() {
      // Country多选情况下，City为禁选
      // 选择Region，Country为单选，可选择City，此时City可多选
      return this.value.country && this.value.country.length > 1;
    },
  },
  methods: {
    initialList() {
      this.fetchRegionList();
      this.fetchCountryList();
      this.fetchCityList();
    },
    initialRanges(ranges = []) {
      const cityList = ranges.reduce((res, cur) => {
        return res.concat(
          cur.countries.reduce((res2, cur2) => res2.concat(cur2.cities), [])
        );
      }, []);
      const countryList = ranges.reduce((res, cur) => {
        return res.concat(cur.countries);
      }, []);
      const idCountryMap = {};
      const idCityMap = {};
      countryList.forEach((item) => {
        idCountryMap[item.country_id] = item;
      });
      cityList.forEach((item) => {
        idCityMap[item.city_id] = item;
      });
      this.ID_CITY_MAP = idCityMap;
      this.ID_COUNTRY_MAP = idCountryMap;
      this.CITY_LIST = cityList;
      this.COUNTRY_LIST = countryList;
    },
    handleRegionChange(data) {
      if (
        (this.value.country && this.value.country.length > 0) ||
        (this.value.city && this.value.city.length > 0)
      ) {
        this.value.country = [];
        this.value.city = [];
      }
      this.$emit("onChange", this.value);
      this.fetchCountryList();
      this.fetchCityList();
    },
    handleCountryChange(data) {
      if (
        data.length > 1 ||
        data.length === 0 ||
        (this.value.city && this.value.city.length > 1)
      ) {
        // 多个国家， 需要清空 city
        this.value.city = [];
      }
      this.$emit("onChange", this.value);
      this.fetchCityList();
    },
    handleCityChange() {
      this.$emit("onChange", this.value);
    },
    formatProps() {
      let objMethod = {
        region: this.findByName,
        country: this.findByCountryIds,
        city: this.findByCityIds,
      };
      this.value &&
        Object.keys(this.value).forEach((item) => {
          let params = this.value[item];
          if (item === "region") {
            params = params && params.range_name;
          }
          this.value[item] = objMethod[item] && objMethod[item](params);
        });
    },
    findByCityIds(ids) {
      return (
        (ids &&
          Array.isArray(ids) &&
          ids.map((item) => {
            return this.ID_CITY_MAP[item] || {};
          })) ||
        []
      );
    },
    findByCountryIds(ids) {
      return (
        (ids &&
          Array.isArray(ids) &&
          ids.map((item) => {
            return this.ID_COUNTRY_MAP[item] || {};
          })) ||
        []
      );
    },
    findByName(name) {
      return (
        this.RANGES.filter((item) => {
          return item.range_name === name;
        })[0] || null
      );
    },
    fetchRegionList() {
      return (
        this.ranges.map((item) => {
          return {
            name: item.range_name,
            key: item.range_name,
            value: item.range_name,
          };
        }) || []
      );
    },
    fetchCountryList() {
      // 如果 region 为空，默认选所有的 All Country 和 All city
      let list = [];
      if (!this.value.region) {
        list = this.COUNTRY_LIST;
      } else {
        // 选择Region，Country数据源为某个Region下的Country
        let region = this.value.region;
        list = this.RANGES.reduce((res, cur) => {
          return res.concat(
            region.range_name === cur.range_name ? cur.countries : []
          );
        }, []);
      }
      this.countryList = list;
    },
    findCityListByCountryList(countryList) {
      let list = [];
      if (countryList && Array.isArray(countryList)) {
        list = countryList.reduce((res, cur) => {
          return res.concat(cur.cities);
        }, []);
      }
      return list;
    },
    fetchCityList() {
      let list = [];
      if (this.value.country && this.value.country.length === 1) {
        // 筛选 当前 country 下的 city
        let countryID = this.value.country[0].country_id;
        list =
          (this.ID_COUNTRY_MAP[countryID] &&
            this.ID_COUNTRY_MAP[countryID].cities) ||
          [];
      } else if (this.value && this.value.region) {
        // 筛选 当前 region 下的所有 city
        let region = this.value.region;
        list = this.RANGES.reduce((res, cur) => {
          return res.concat(
            region.range_name === cur.range_name
              ? this.findCityListByCountryList(cur.countries)
              : []
          );
        }, []);
      } else {
        list = this.CITY_LIST;
      }
      this.cityList = list;
    },
  },
};
</script>
