<script>
import { urlObj } from "common_data";
import moment from "moment";
import OrderList from "../order_list";
export default {
  name: "TicketList",
  extends: OrderList,
  methods: {
    loadData() {
      function processData(list) {
        return list.map((item) => {
          return _.extend({}, item, {
            order_id: item.order_id,
            ticket_id: item.ticket_id,
            action: item.action,
            order_date: item.order_date,
            order_time: item.order_time,
            participation_date: item.participation_date,
            participation_time: item.participation_time,
            sales_amount: item.sales_amount,
            commission_rate: item.commission_rate,
            commission_amount: item.commission_amount,
            website_name: item.website_name,
            aid: item.aid,
            partner_params: item.partner_params,
            activity_name: item.activity_name,
            activity_category: item.activity_category,
            platform: item.platform,
            promo_code_type: item.promo_code_type,
          });
        });
      }
      this.loading_data = true;
      klook.ajaxGet(urlObj.user_ticket, this.getOrderListParams(), (resp) => {
        if (resp.success) {
          this.loading_data = false;
          this.list = processData.call(this, resp.result.tickets);
          this.pagination.total = resp.result.total;
        } else {
          console.error(resp);
        }
      });
    },
    getExportFileUrl() {
      var date_range = this.searchOption.date_range;
      var start = moment(date_range[0]).format("YYYY-MM-DD");
      var end = moment(date_range[1]).format("YYYY-MM-DD");
      return klook.strformat(
        `${urlObj.user_ticket_export}?wid={0}&start_date={1}&end_date={2}`,
        this.searchOption.wid,
        start,
        end
      );
    },
  },
  created() {
    this.page_title = __("MULTIPLE_ticket_list");
    this.show_ticket_id = true;
    this.show_participation_date = true;
    this.show_participation_time = true;
    this.show_activity_category = true;
    this.cols = [
      {
        label: __("MULTIPLE_order_id"),
        width: "100px",
      },
      {
        label: __("TICKET_LIST_ticket_id"),
        width: "100px",
      },
      {
        label: __("booking_number"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_action"),
        width: "75px",
      },
      {
        label: __("MULTIPLE_order_date"),
        width: "90px",
      },
      {
        label: __("MULTIPLE_order_time"),
        width: "90px",
      },
      {
        label: __("TICKET_LIST_participation_date"),
        width: "90px",
      },
      {
        label: __("TICKET_LIST_participation_time"),
        width: "90px",
      },
      {
        label: __("MULTIPLE_sales_amount"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_commission_rate"),
        width: "90px",
      },
      {
        label: __("MULTIPLE_commission_amount"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_aid"),
        width: "60px",
      },
      {
        label: __("MULTIPLE_website_name"),
        width: "120px",
      },
      {
        label: __("MULTIPLE_partner_params"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_activity_name"),
        width: "120px",
      },
      {
        label: __("MULTIPLE_activity_category"),
        width: "120px",
      },
      {
        label: __("MULTIPLE_platform"),
        width: "60px",
      },
      {
        label: __("MULTIPLE_promo_code_type"),
        width: "130px",
      },
      {
        label: __("supply_category", ["01"]),
        width: "130px",
      },
      {
        label: __("supply_category", ["02"]),
        width: "130px",
      },
      {
        label: __("supply_category", ["03"]),
        width: "130px",
      },
    ];
  },
};
</script>
<style lang="scss" scoped>
$theme_color: #07b295;
.order_list {
  .frame_title {
    padding: 0 0 18px;

    .total {
      float: right;
      font-size: 14px;
      font-weight: 600;
      color: #ff5722;

      .klook-icon-total-amount {
        vertical-align: middle;
      }
    }
  }
  .desc {
    margin-bottom: 30px;
    font-size: 14px;
    color: #b0b0b0;
  }
  .search_area {
    .klk_tabs_nav {
      margin-bottom: 0;
    }

    .select_area_row {
      display: flex;
      align-items: center;

      .date_picker_wrapper,
      .klk_select {
        width: 275px !important;
        margin-right: 20px !important;
      }

      &.second {
        justify-content: space-between;
      }

      .range {
        display: flex;
        align-items: center;
      }

      .klk_select {
        margin: 0 10px;
      }
      ::v-deep .mx-datepicker-popup {
        flex-direction: column;
      }
      ::v-deep .mx-datepicker-footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
      }
      .label {
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }

  .klk_table {
    overflow-x: scroll;
  }

  .tips_wrapper {
    margin-top: 17px;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.87);

    .icon {
      cursor: auto;
      vertical-align: text-bottom;
    }
  }

  .frame {
    margin-top: 30px;

    .klk_table {
      .td_wrapper {
        .td_cell {
          margin: 0 -12px;
          padding: 16px 12px;
          border-bottom: 1px solid #dee4eb;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }

  .link_jump {
    margin-top: 16px;
    padding-bottom: 20px;
    text-align: right;

    .link {
      margin-left: 12px;
      font-size: 12px;
      color: #999999;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $theme_color;
        text-decoration: underline;
      }
    }
  }

  .order_detail_dialog {
    .klk_dialog_body {
      .order_detail_table {
        thead {
          tr {
            text-align: center;
          }
        }
      }
    }
  }
}
</style>
