<style lang="scss" scoped>
.faqs {
  display: flex;
  flex-direction: column;
  .content {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    .menu {
      width: 218px;
      margin-right: 24px;
      height: fit-content;
      background: #ffffff;
      box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      padding: 18px 0;
      position: -webkit-sticky;
      position: sticky;
      top: 200px;
      .menu-item {
        padding: 12px 24px;
        font-weight: 500;
        font-size: 14px;
        &:hover {
          cursor: pointer;
        }
      }
      .active {
        color: #07b295;
      }
    }
    .content-list {
      width: 526px;
      .item {
        .question {
          padding-right: 5px;
          font-weight: 500;
          font-size: 16px;
          line-height: 22px;
          color: #333333;
          margin-bottom: 12px;
          position: relative;
          .klook-icon-arrow-down {
            position: absolute;
            right: 3px;
            top: 3px;
          }
        }
        .answer {
          font-size: 14px;
          line-height: 20px;
          color: #666666;
          margin: 12px 0;
        }
        user-select: none;
        border-bottom: 1px solid #f5f5f5;
        & {
          margin-top: 24px;
        }
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
</style>

<template lang="html">
  <div class="faqs">
    <p class="desc" v-html="$t('FAQS_affiliate_faq_desc')"></p>
    <div class="content">
      <div class="menu">
        <div
          :class="['menu-item', active === item.id ? 'active' : '']"
          v-for="item in menu_list"
          :key="item.id"
          @click="handleClickMenu(item)"
        >
          {{ item.name }}
        </div>
      </div>
      <div class="content-list">
        <div class="item" v-for="(item, index) in content" :key="item.id">
          <div class="question" @click="openAnswer(item)">
            <klk-icon
              v-if="content_active === item.id"
              class="klook-icon-arrow-down"
              type="arrow-down"
            ></klk-icon>
            <klk-icon
              v-else
              class="klook-icon-arrow-down"
              type="icon-arrow-right"
            ></klk-icon>
            <span>{{ item.question }}</span>
          </div>
          <template v-if="content_active === item.id">
            <div class="answer" v-html="item.answer"></div>
            <klk-faq-feedback
              v-model="item.status"
              :helpfulText="$t('helpful')"
              :nothelpfulText="$t('not_helpful')"
              :placeholder="$t('feedback_do_better')"
              :helpfulFeedback="$t('feedback_after_submit')"
              :nothelpfulFeedback="$t('feedback_helpful')"
              :btnSubmitText="$t('submit')"
              mainColor="#07b295"
              @handle-helpful="handleHelpfulFn(item.faq_category_id)"
              @handle-nothelpful="handleNotHelpfulFn(item.faq_category_id)"
              @handle-submit-content="handleSubmitContent(item.faq_category_id)"
              @handle-submit="handleFeedback(arguments, item, index)"
            ></klk-faq-feedback>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { urlObj } from "common_data";
export default {
  name: "Faqs",
  props: {
    is_home: Boolean,
  },
  data() {
    return {
      date_range: [],
      active: 1,
      content_active: 0,
      menu_list: [],
      question_id: 0,
    };
  },
  computed: {
    content() {
      return (this.menu_list.find((item) => item.id === this.active) || {})
        .children;
    },
  },
  created() {
    this.initMenuList();
  },
  methods: {
    handleClickMenu(item) {
      if (+item.id !== +this.active) {
        this.active = item.id;
        this.content_active = item.children[0].id;
        if (!this.is_home) {
          this.$nextTick(() => {
            document.querySelectorAll(".item")[0].scrollIntoView({
              behavior: "smooth",
              block: "end",
              inline: "nearest",
            });
          });
        }
      }
    },
    async initMenuList() {
      const url = USER_INFO.id
        ? urlObj.help_login_menu_list
        : urlObj.help_unlogin_menu_list;
      const data = await klook.ajaxGet(url);
      if (data.success && data.result) {
        this.menu_list = data.result || [];
        this.initOpenQuestion();
      }
    },
    openAnswer(item) {
      if (this.content_active === item.id) {
        this.content_active = 0;
        this.sendGTMTrack("Fold FAQ", item.faq_category_id);
      } else {
        this.content_active = item.id;
        this.sendGTMTrack("unFold FAQ", item.faq_category_id);
      }
    },
    handleFeedback(helpArr, item, innnerIndex) {
      const data = {
        menu_id: this.active,
        item_id: item.id,
        feedback_result: helpArr[0],
        feedback_content: helpArr[1],
      };
      if (!item.status) {
        item.status = helpArr[0];
      }
      //保存数据
      const index = this.menu_list.findIndex((item) => item.id === this.active);
      this.$set(this.menu_list[index].children, innnerIndex, item);
      klook.ajaxPostJSON(urlObj.help_faq_feedback, data, (resp) => {
        if (resp.success) {
          console.log("submit");
        } else {
          console.log(resp.error);
          this.$Message.warning(resp.error.message);
        }
      });
    },
    handleNotHelpfulFn(faq_category_id) {
      this.sendGTMTrack("Not Helpful", faq_category_id);
    },
    sendGTMTrack(type, faq_category_id) {
      window.dataLayer.push({
        event: "faqHelpfulFeedback",
        eventCategory: "FAQs",
        eventAction: type,
        eventLabel: faq_category_id,
      });
    },
    handleHelpfulFn(faq_category_id) {
      this.sendGTMTrack("Helpful", faq_category_id);
    },
    handleSubmitContent(faq_category_id) {
      this.sendGTMTrack("Submit", faq_category_id);
    },
    initOpenQuestion() {
      if (this.menu_list.length && this.menu_list[0].children[0]) {
        this.content_active = this.menu_list[0].children[0].id;
      }
    },
  },
};
</script>
