<!DOCTYPE html>
<html lang="en">

<head>
{% include "./head.njk" %}
</head>

<body>

{% block body %}
  {#  #}
{% endblock %}

<script>window.dataLayer = window.dataLayer || [];</script>
<script>
  var KLK_LANG_PATH = '';
</script>
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
    var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-WNBGXWM');
</script>

{% block js %}
{% if isDev %}
  <script type="text/javascript" src="/widget-static/js/chunk-vendors.js"></script>
  <script type="text/javascript" src="/widget-static/js/chunk-common.js"></script>
  <script type="text/javascript" src="/widget-static/js/{{name}}.js"></script>
{% endif %}
{% endblock %}

</body>

</html>
