<style lang="scss">
.payments_admin_history {
  .h1_title {
    font-size: 16px;
    font-weight: 500;
    height: 30px;
    box-shadow: inset 0 -1px 0 0 #ebebeb;
  }
  .title {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    margin: 40px 0 24px;
  }
  .user_info_wrapper {
    margin-bottom: 30px;
    .left_table {
      th {
        background: #fff;
        border: none;
        padding: 0;
      }
      td {
        padding-left: 20px !important;
        text-align: left;
      }
      .suspended {
        color: #f53828;
      }
      .normal {
        color: #07b295;
      }
    }
    .klk_table table thead tr {
      height: 20px;
    }
  }
  .payment_info_table {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
}
</style>

<template lang="html">
  <div class="payments_admin_history" v-loading="loading_data">
    <div class="user_info_wrapper">
      <div class="title" style="margin-bottom: 4px">
        {{ $t("ADMIN_HISTORY_user_info") }}
      </div>
      <!-- User Info Table -->
      <klk-table
        class="left_table"
        stripe
        :cols="user_info_cols"
        :table_data="user_info"
      >
        <tr slot-scope="scope">
          <td>{{ scope.row.label }}</td>
          <td v-if="!scope.row.payment_account_detail">
            <span v-if="!scope.row.suspense">{{ scope.row.value }}</span>
            <span v-else>
              <span v-if="Boolean(+scope.row.value)" class="suspended">{{
                $t("payment_history_Suspended")
              }}</span>
              <span v-else class="normal">{{
                $t("payment_history_normal")
              }}</span>
            </span>
            <klk-switch
              v-if="scope.row.suspense"
              :value="scope.row.value"
              :disabled="disablePayment()"
              style="margin-left: 20px"
              @input="handleSwitch"
            ></klk-switch>
          </td>
          <td v-if="scope.row.payment_account_detail">
            <template v-for="(value, key) in scope.row.value">
              <div
                v-if="
                  key !== 'paypal_id_confirm' &&
                  key !== 'alipay_id_confirm' &&
                  key !== 'phone_prefix'
                "
                :key="key"
              >
                {{ PAYMENTS_KEY_MAP()[key] }}:
                <span v-if="key === 'phone_number'">{{
                  `(+${scope.row.value["phone_prefix"]}) ${value}`
                }}</span>
                <span v-else>{{ value }}</span>
              </div>
            </template>
          </td>
        </tr>
      </klk-table>
    </div>
    <div class="title">{{ $t("ADMIN_MULTIPLE_history") }}</div>
    <!-- History Table -->
    <klk-table
      class="payment_info_table"
      stripe
      :cols="payment_cols"
      :table_data="list"
    >
      <tr slot-scope="scope">
        <td>{{ monthFormat(scope.row.month) }}</td>
        <td>{{ scope.row.total_sales }}</td>
        <td>{{ scope.row.total_share }}</td>
        <td>{{ scope.row.bonus_rate }}</td>
        <td>{{ scope.row.final_pay }}</td>
        <td>{{ scope.row.currency }} {{ +scope.row.expense / 100 }}</td>
        <td>{{ scope.row.currency }} {{ +scope.row.payable / 100 }}</td>
        <td>{{ scope.row.paid_amount }}</td>
      </tr>
    </klk-table>
  </div>
</template>

<script>
import { urlObj, PAYMENTS_KEY_MAP } from "common_data";
import { isAdmin, isManager } from "../../../../../../comm/user_role";
import KlkSwitch from "../../../../components/switch/src/index";
import moment from "moment";
export default {
  name: "History",
  components: { KlkSwitch },
  data() {
    return {
      uid: "",
      user_info: [],
      list: [],
      isAdmin,
      PAYMENTS_KEY_MAP,
      loading_data: false,
      adminEmail: "",
    };
  },
  created() {
    this.user_info_cols = [
      {
        label: "",
        width: "240",
      },
      {
        label: "",
      },
    ];

    this.payment_cols = [
      {
        label: __("MULTIPLE_month"),
      },
      {
        label: __("MULTIPLE_total_order_revenue"),
      },
      {
        label: __("MULTIPLE_your_commission"),
      },
      {
        label: __("MULTIPLE_bonus_rate"),
      },
      {
        label: __("MULTIPLE_total_commission"),
      },
      {
        label: __("ADMIN_HISTORY_payment_expense"),
      },
      {
        label: __("ADMIN_HISTORY_expense_payment_payable"),
      },
      {
        label: __("MULTIPLE_amount_paid_out"),
      },
    ];
  },
  mounted() {
    this.uid = this.$route.params.uid;
    this.loadData();
  },
  methods: {
    monthFormat(month) {
      return moment(month, ["YYYYMM"]).format("YYYY-MM");
    },
    disablePayment() {
      if (isAdmin()) {
        return false;
      } else if (isManager()) {
        return this.adminEmail !== USER_INFO.email;
      }
      return true;
    },
    handleSwitch(value) {
      const text = value
        ? __("payment_history_alert_suspense")
        : __("payment_history_alert_normal");
      this.$Modal.alert({
        okText: __("MULTIPLE_yes"),
        showCancel: true,
        cancelText: __("MULTIPLE_no"),
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: text,
        onOk: () => {
          // 调用后端接口, 调用成功之后获取数据
          klook.ajaxPutJSON(
            urlObj.change_user_payment(this.uid),
            { payment_suspension: value },
            (res) => {
              if (res.success) {
                this.loadData();
              } else {
                this.$Message.warning(res.error.message);
              }
            }
          );
        },
      });
    },
    loadData() {
      function generateUserInfo(result) {
        var personal_info = _.extend(
          {},
          result.user_info,
          result.user_financial,
          result.user_balance
        );
        return [
          {
            label: __("MULTIPLE_first_name"),
            value: personal_info["firstname"],
          },
          {
            label: __("MULTIPLE_last_name"),
            value: personal_info["lastname"],
          },
          {
            label: __("MULTIPLE_payment_method"),
            value: personal_info["payment_method"],
          },
          {
            label: __("ADMIN_HISTORY_details"),
            payment_account_detail: true,
            value: personal_info["payment_account_detail"],
          },
          {
            label: __("ADMIN_HISTORY_remaining_balance"),
            value:
              personal_info["currency"] +
              " " +
              klook.transfer_cent_to_usd(personal_info["remain_amount"]),
          },
          {
            label: __("payment_history_suspension"),
            suspense: true,
            value: Boolean(+personal_info.payment_suspension),
          },
        ];
      }

      function processData(list) {
        return list.map((item) =>
          _.extend({}, item, {
            total_sales: "USD " + klook.transfer_cent_to_usd(item.total_sales),
            final_pay:
              item.currency + " " + klook.transfer_cent_to_usd(item.final_pay),
            total_share:
              item.currency +
              " " +
              klook.transfer_cent_to_usd(item.total_share),
            paid_amount:
              item.currency +
              " " +
              klook.transfer_cent_to_usd(item.paid_amount),
            bonus_rate: klook.accMul(item.bonus_rate, 100) + "%",
          })
        );
      }

      this.loading_data = true;
      klook.ajaxGet(
        urlObj.get_admin_payment_detail_by_uid_fn(this.uid),
        (resp) => {
          if (resp.success) {
            this.loading_data = false;

            this.list = processData(resp.result.monthly_shares);
            this.user_info = generateUserInfo(resp.result);
            this.adminEmail = resp.result.user_info.klook_admin;
          } else {
            console.error(resp);
          }
        }
      );
    },
  },
};
</script>
