/**
*animation begin
**/
$transition-time        : 0.3s;



//
.collapse-transition {
    transition: $transition-time height ease-in-out, $transition-time padding-top ease-in-out, $transition-time padding-bottom ease-in-out;
}
// fade animation

.fade-enter-active,
.fade-leave-active {
    transition: all $transition-time ease;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}
// slide animation used in select.vue
.slide-enter-active{
    animation: slide $transition-time ;
}
.slide-leave-active{
    animation: slide $transition-time  reverse;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform-origin: 0% 0%;
        transform: scaleY(.8);
    }
    100% {
        opacity: 1;
        transform-origin: 0% 0%;
        transform: scaleY(1);
    }
}

//slide toggle for panel  but why the '' failed while collapse_transition successed
.slide-toggle-enter-active,
.slide-toggle-leave-active {
     transition: height .3s;
}
.slide-toggle-enter-active {
     height: auto;
}
.slide-toggle-enter,
.slide-toggle-leave-active {
    height: 0;
}
.slide-toggle-leave {
    height: auto;
}



// ease animation used in dialog
.ease-enter-active{

    animation: slide_down $transition-time;
}
.ease-leave-active{

    animation: slide_down $transition-time reverse;
}
@keyframes slide_down {
    0% {
        opacity: 0;
        transform: translate3d(0, -10%, 0);

    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

//transition-group list delete
.list_item {
  transition: all $transition-time;
}
.list-enter, .list-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(-30px);
}
.list-leave-active {
  position: absolute;
}


/**
*animation end
**/
