/*Klook CSS Reset Start*/
html {
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}

body {
margin: 0;
font-family: -apple-system, BlinkMacSystemFont,'Segoe UI','Roboto', 'Droid Sans','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
font-size: 14px;
color: black;
/* line-height:1; */
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

body.lang_zh-CN {
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', '微软雅黑', 'Microsoft YaHei', '华文细黑', 'STHeiti', sans-serif;
}

body.lang_zh-TW {
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang TC', '微软雅黑', 'Microsoft YaHei', '华文细黑', 'STHeiti', sans-serif;
}

body.lang_zh-HK {
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang HK', '微软雅黑', 'Microsoft YaHei', '华文细黑', 'STHeiti', sans-serif;
}

body.lang_ko {
word-break:keep-all;
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Apple SD Gothic Neo', '나눔 고딕', 'Nanum Gothic', '맑은 고딕', 'Malgun Gothic', 'dotum', sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
/* table, caption, tbody, tfoot, thead, tr, th,td */
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
}
