$theme_color: #07b295;
/* Colors
-------------------------- */
$--color-white: #fff;
$--color-black: #000;

$--color-primary: #07B295;
$--color-warning: #FF5722;
$--color-link: #4C87E6;
$--color:#eeeee;
