@import "./base.css";
@import "./animation.scss";
@import "./datepicker.css";
@import "./global.scss";

::-moz-placeholder {
  color: #d1d1d1;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}

input[type="password"]:focus,
input[type="password"]:hover,
input[type="text"]:focus,
input[type="text"]:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover {
  border: 1px solid $theme_color;
}

button,
input[type="text"],
input[type="password"],
select,
textarea {
  outline: none;
}

input[type='radio'] {
  height: auto;
}

input:disabled {
  color: #999;
  background: #f5f5f5;
}

.theme_a {
  text-decoration: none;
  color: $theme_color;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
//btn

button:disabled {
  background: #e0e0e0;
  color: #fff;
  border: none;
}

.base_btn {
  padding: 0 40px;
  line-height: 44px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 2px;
  cursor: pointer;
  border: 1px solid $theme_color;

  &:disabled {
    border-color: #e0e0e0!important;
    background: #e0e0e0!important;
    color: #fff;
    cursor: not-allowed;
  }

  &.small_btn {
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
  }

  &.mini_btn {
    line-height: 32px;
    height: 32px;
    padding: 0 20px;
    font-size: 14px;
  }
}

.theme_btn_base {
  @extend .base_btn;
  color: #fff;
  background: $theme_color;
  &:hover {
    background: #05977E;
    border-color: #05977E;
  }
}

.theme_btn_base_border {
  @extend .base_btn;
  background: white;
  color: $theme_color;
  border: solid 1px $theme_color;

  &:hover {
    color: #fff;
    background: $theme_color;
  }
}

.theme_btn_base_white {
  @extend .base_btn;
  color: #767676;
  background: #fff;
  border: solid 1px #b8b8b8;

  &:hover {
    color: #333;
    border-color: #333;
  }
}

.theme_btn_base_red {
  @extend .base_btn;
  color: #fff;
  background: #fd5252;
  border: solid 1px #fd5252;
}

.btn_group {
  button {
    margin: 0 8px;
  }

  .btn_ok {
    margin: 0 8px;
    @extend .theme_btn_base;
  }

  .btn_cancel {
    margin: 0 8px;
    @extend .theme_btn_base_white;
  }
}

.btn_text {
  box-sizing: border-box;
  padding: 0;
  text-align: center;
  font-size: 14px;
  color: #333333;
  border: none;
  background: white;

  &:hover {
    color: $theme_color;
    cursor: pointer;
    text-decoration: underline;
  }
}
/*
*vue loading directive
*/
.vue_loading {
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: wait;
  opacity: 0;
  transition: opacity 0.4s;

  &:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }

  .fixed {
    position: fixed;
  }

  .vue_loading_msg {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;

    .circle_1,
    .circle_2,
    .circle_3 {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      display: inline-block;
      background: $theme_color;
      margin-right: 10px;
      animation: circle-scale-loading 1.4s infinite ease-in-out;
      animation-fill-mode: both;
    }

    .circle_1 {
      animation-delay: -0.32s;
    }

    .circle_2 {
      animation-delay: -0.16s;
    }
  }
  @keyframes circle-scale-loading {
    0%,
    100%,
    80% {
      transform: scale(0.0);
    }

    40% {
      transform: scale(1.0);
    }
  }
}

.admin,
.affiliate_contact_us,
.affiliate_home,
.dashboard,
.help_content,
.join_process,
.my_account,
.my_ads,
.performance_route {
  width: 1160px;
  margin: 20px auto 0;
}
