@import "./main_base.scss";
.datepicker .datepicker-days .table-condensed tbody tr td.active {
    background: $theme_color !important;
}
.circle_icon{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #b5b5b5;
    color: #b5b5b5;
    &:hover{
        color: $theme_color;
        border-color: $theme_color;
        cursor: pointer;
        &:before,&:after{
            background: $theme_color;
        }
    }
    &:before{
        content: '';
        display: inline-block;
        width: 12px;
        height: 1px;
        background: #b5b5b5;
        position: absolute;
    }
    &:after{
        content: '';
        display: inline-block;
        width: 1px;
        height: 12px;
        background: #b5b5b5;
    }
}
.svg_wrapper{
    width: 12px;
    height: 12px;
    cursor: pointer;
    &.up_triangle{
        color:$theme_color;
    }
    &.down_triangle{
        color: #f44b48;
        transform: rotate(180deg);
    }
}

.klk-ele-popper {
    .in-active-path {
        background: $theme_color !important;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff !important;
        .is-checked {
            .el-checkbox__inner{
                border-color: $theme_color !important;
                background-color: $theme_color !important;
            }
        }
        .is-active {
            color: #ffffff !important;
        }
    }
    .el-checkbox__inner:hover{
        border-color: $theme_color !important;
    }
    .el-cascader-node.in-active-path, .el-cascader-node.is-active, .el-cascader-node.is-selectable.in-checked-path {
        color: inherit;
        font-weight: normal;
    }
    .el-checkbox__input.is-focus .el-checkbox__inner {
        border-color: #DCDFE6;
    }
    .is-indeterminate, .is-checked{
        .el-checkbox__inner {
            border-color: $theme_color !important;
            background-color: $theme_color !important;
        }
    }
}
