{% extends "./blocks/page.njk" %}

{% block body %}
  <div id="single_act_banner"></div>
{% endblock %}

{% block script %}
  <script>
    function receiveMessage(event) {
      // 这里可通过配置文件引入
      if(event.data.type === 'single_act_onload') {
        // 发送给 iframe 脚本渲染成功
        event.source.postMessage( {type: 'single_act_success', content : event.data.content}, event.origin)
      }
    }
    window.addEventListener("message", receiveMessage, false);
  </script>
{% endblock %}
