<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .widget-wrapper {
        width: 100%;
        text-align: center;
    }

    .btn-wrapper {
        width: 55%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .btn-wrapper button {
        margin-right: 10px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        background-image: none;
        border: 1px solid #ccc;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        user-select: none;
        color: #333;
        background-color: #fff;
    }

    .btn-wrapper button.checked {
        background: yellowgreen;
        color: #fff;
        border: none;
    }

    .btn-wrapper > div {
        border: 1px solid #000;
        margin-right: 10px;
        padding: 5px;
        cursor: pointer;
    }


    </style>
</head>
<body>
<div class="btn-wrapper">
    <button data-type="dynamicWidget" onclick="renderTemplate('dynamicWidget')">Dynamic Widget ttd</button>
    <button data-type="dynamicWidgetHotel" onclick="renderTemplate('dynamicWidgetHotel')">Dynamic Widget Hotel</button>
    <button data-type="autoDynamicWidget" onclick="renderTemplate('autoDynamicWidget')">
        auto dynamic widget ttd
    </button>
    <button data-type="autoDynamicWidgetHotel" onclick="renderTemplate('autoDynamicWidgetHotel')">
        auto dynamic widget hotel
    </button>
    <button data-type="activityBanner" onclick="renderTemplate('activityBanner')">Activity Banner</button>
    <button data-type="singleBanner" onclick="renderTemplate('singleBanner')">Single Banner</button>
    <button data-type="staticBanner" onclick="renderTemplate('staticBanner')">Static Banner</button>
    <button data-type="searchbox" onclick="renderTemplate('searchbox')">Searchbox</button>
    <button data-type="searchBanner" onclick="renderTemplate('searchBanner')">Search Banner</button>
    <button data-type="" onclick="renderAll()">render all page</button>
</div>
<div class="widget-wrapper"></div>

<script>
const klk_aff_host = "{{klk_aff_host}}";
window.__klk_aff_host = klk_aff_host;
window.isDev = {{isDev}};

const jsMap = {
    dynamicWidget: 'dynamic_widget_v3',
    dynamicWidgetHotel: 'hotel_dynamic_widget_v3',
    autoDynamicWidget: 'auto_dynamic_widget_v3',
    autoDynamicWidgetHotel: 'auto_hotel_dynamic_widget_v3',
    activityBanner: 'affiliate_base_v3.2',
    singleBanner: 'affiliate_base_v3.2',
    staticBanner: 'affiliate_base_v3.2',
    searchbox: 'search_vertical_v3',
    searchBanner: 'affiliate_base_v3.2',
    all: '',
};

function selectBtnStyle() {
    let btns = document.querySelectorAll('.btn-wrapper button');
    let type = sessionStorage.getItem('type');
    btns.forEach(btn=>{
        if(type === btn.dataset.type) {
            btn.classList.add('checked');
        } else {
            btn.classList.remove('checked');
        }
    })

}

function renderTemplate(name) {
    sessionStorage.setItem('type', name);
    selectBtnStyle();
    let html = templateMap[name]();
    window.__klk_aff_host = klk_aff_host;
    removeScripts();
    document.querySelector('.widget-wrapper').innerHTML = '';
    document.querySelector('.widget-wrapper').innerHTML = html;
    createJs(jsMap[name]);
}

function renderAll() {
    sessionStorage.setItem('type', '');
    selectBtnStyle();
    let html = templateMap.renderAll();
    window.__klk_aff_host = '';
    removeScripts();
    document.querySelector('.widget-wrapper').innerHTML = '';
    document.querySelector('.widget-wrapper').innerHTML = html;
    Object.keys(jsMap).map(key => {
        if(jsMap[key]) {
            createJs(jsMap[key]);
        }
    });
}

function removeScripts() {
    let scripts = document.querySelectorAll('script');
    for (let i = 0; i < scripts.length - 1; i++) {
        scripts[i].remove();
    }
}

let templateMap = {
    dynamicWidget: getDynamicWidgetTemplate,
    dynamicWidgetHotel: getHotelDynamicWidgetTemplate,
    autoDynamicWidget: getAutoDynamicWidgetTemplate,
    autoDynamicWidgetHotel: getAutoDynamicWidgetHotelTemplate,
    activityBanner: getActivityBannerTemplate,
    singleBanner: getSingleBannerTemplate,
    staticBanner: getStaticBannerTemplate,
    searchbox: getSearchboxTemplate,
    searchBanner: getSearhBannerTemplate,
    renderAll: renderProdAllTemplate,
};

function getDynamicWidgetTemplate() {
    return `
        <h2> 广告类型: dynamic widget</h2>
        <div>
            <h4>things_to_do</h4>
            <div>
                <h5 class="title">系统推荐</h5>
                <ins class="things_to_do_dynamic_widget" data-host="{{host}}"
                     data-adid="{{dw_ttd}}" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                     data-edgeValue="655" data-cid="-1" data-tid="-1" data-amount="3" data-prod="dynamic_widget"><a
                        href="//www.klook.com/">Klook.com</a></ins>
                <ins class="things_to_do_dynamic_widget widget_v2" data-host="{{host}}"
                     data-adid="{{dw_ttd}}"
                     data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                     data-edgeValue="655" data-cid="2" data-tid="1" data-amount="3" data-prod="dynamic_widget"><a
                        href="//www.klook.com/">Klook.com</a></ins>
            </div>
            <div>
                <h5 class="title">特殊活动</h5>
                <ins class="things_to_do_dynamic_widget" data-host="{{host}}"
                     data-adid="{{static_dw_ttd}}" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                     data-edgeValue="655" data-prod="static_widget" data-amount="1"><a
                        href="//www.klook.com/">Klook.com</a></ins>
                <ins class="things_to_do_dynamic_widget widget_v2" data-host="{{host}}"
                     data-adid="{{static_dw_ttd}}" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                     data-edgeValue="655" data-prod="static_widget" data-amount="1"><a
                        href="//www.klook.com/">Klook.com</a></ins>
            </div>
         </div>
    `;
}

function getHotelDynamicWidgetTemplate() {
    return `
        <h2> 广告类型: hotel dynamic widget</h2>
        <div>
            <h4>hotel</h4>
            <div class="widget-wrapper">
                <div>
                    <h5>系统推荐 </h5>
                    <ins class="klook_hotel_dynamic_widget" data-host="{{host}}"
                         data-adid="{{hotel_dw}}" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                         data-edgeValue="655" data-cid="2" data-tid="" data-amount="3" data-prod="hotel_dynamic_widget"><a
                            href="//www.klook.com/">Klook.com</a></ins>
                    <ins class="klook_hotel_dynamic_widget widget_v2" data-host="{{host}}"
                         data-adid="{{hotel_dw}}" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                         data-edgeValue="655" data-cid="2" data-tid="" data-amount="3" data-prod="hotel_dynamic_widget"><a
                            href="//www.klook.com/">Klook.com</a></ins>
                </div>
                <div>
                    <h5>特殊活动</h5>
                    <ins class="klook_hotel_dynamic_widget" data-host="{{host}}"
                         data-adid="{{hotel_static_dw}}" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                         data-edgeValue="655" data-prod="hotel_static_widget" data-amount="1"><a href="//www.klook.com/">Klook.com</a>
                    </ins>
                    <ins class="klook_hotel_dynamic_widget widget_v2" data-host="{{host}}"
                         data-adid="{{hotel_static_dw}}" data-lang="" data-currency="" data-cardH="126" data-padding="92" data-lgH="470"
                         data-edgeValue="655" data-prod="hotel_static_widget" data-amount="1"><a href="//www.klook.com/">Klook.com</a>
                    </ins>
                </div>
            </div>
        </div>
    `;
}

function getAutoDynamicWidgetTemplate() {
    return `
        <h2> 广告类型: auto dynamic widget</h2>
        <div>
        <h4>things_to_do</h4>
            <div class="widget-wrapper">
                <div>
                    <ins class="klookaff_auto_dynamic_widget" data-aid="{{auto_dw_ttd}}" data-label1="tesrasflsflal 0aa"
                        data-label2="asasda 0asdada a a" data-label3="adad" data-lang="en-US" data-currency=""
                        data-city_id="-1" data-category="-1" data-amount="2" data-pid="" data-sid=""
                        data-host="{{host}}">
                       <a href="//www.klook.com/">Klook.com</a>
                    </ins>
                    <ins class="klookaff_auto_dynamic_widget widget_v2" data-aid="{{auto_dw_ttd}}" data-label1="tesrasflsflal 0aa"
                        data-label2="asasda 0asdada a a" data-label3="adad" data-lang="en-US" data-currency=""
                        data-city_id="-1" data-category="-1" data-amount="2" data-pid="" data-sid=""
                        data-host="{{host}}">
                        <a href="//www.klook.com/">Klook.com</a>
                    </ins>
                </div>
        </div>
        </div>
    `;
}

function getAutoDynamicWidgetHotelTemplate() {
    return `
        <h2> 广告类型: auto dynamic widget</h2>
        <div>
            <h4>hotel</h4>
            <div class="widget-wrapper">
                <div>
                    <ins class="klook_auto_hotel_dynamic_widget"
                        data-aid="{{auto_dw_hotel}}"
                        data-label1="tesrasflsflal 0aa"
                        data-label2="asasda 0asdada a a"
                        data-label3="adad"
                        data-lang="en-US"
                        data-currency=""
                        data-city_id="-1"
                        data-category="-1"
                        data-amount="2"
                        data-pid=""
                        data-sid=""
                        data-host="{{host}}"
                    >
                        <a href="//www.klook.com/">Klook.com</a>
                    </ins>
                      <ins class="klook_auto_hotel_dynamic_widget"
                        data-aid="{{auto_dw_hotel}}"
                        data-label1="tesrasflsflal 0aa"
                        data-label2="asasda 0asdada a a"
                        data-label3="adad"
                        data-lang="en-US"
                        data-currency=""
                        data-city_id="-1"
                        data-category="-1"
                        data-amount="2"
                        data-pid=""
                        data-sid=""
                        data-host="{{host}}">
                        <a href="//www.klook.com/">Klook.com</a>
                    </ins>
                </div>
            </div>
        </div>
    `;
}

function getActivityBannerTemplate() {
    return `
        <h2>广告类型: activity banner</h2>
        <div>
            <ins class="klookaff" data-wid="17012" data-adid="{{act_banner}}" data-actids="749,3634,3634" data-prod="mul_act"
                data-price="false" data-lang="" data-width="160" data-height="600" data-currency=""><a
                href="//www.klook.com/">Klook.com</a>
            </ins>
            <ins class="klookaff widget_v2" data-wid="17012" data-adid="{{act_banner}}" data-actids="749,3634,3634"
                data-prod="mul_act"
                data-price="false" data-lang="" data-width="160" data-height="600" data-currency=""><a
                href="//www.klook.com/">Klook.com</a>
            </ins>
        </div>
    `;
}

function getSingleBannerTemplate() {
    return `
        <h2>广告类型: single banner</h2>
        <div>
           <ins class="klookaff" data-wid="17012" data-adid="108500" data-actids="3634" data-prod="single_act" data-price="false" data-lang="" data-width="250" data-height="250" data-currency=""><a href="//www.klook.com/">Klook.com</a></ins>
            </ins>
           <ins class="klookaff" data-wid="17012" data-adid="108500" data-actids="3634" data-prod="single_act" data-price="false" data-lang="" data-width="250" data-height="250" data-currency=""><a href="//www.klook.com/">Klook.com</a></ins>
        </div>
    `;
}

function getStaticBannerTemplate() {
    return `
        <h2>广告类型: static banner</h2>
        <div>
             <ins class="klookaff" data-wid="17012" data-bgtype="Experience" data-adid="{{static_banner}}" data-lang="en"
                  data-prod="banner" data-width="120" data-height="600"><a href="//www.klook.com/?aid=">Klook.com</a></ins>
            <ins class="klookaff widget_v2" data-wid="17012" data-bgtype="Experience" data-adid="{{static_banner}}" data-lang="en"
                 data-prod="banner" data-width="120" data-height="600"><a href="//www.klook.com/?aid=">Klook.com</a></ins>
        </div>
    `;
}

function getSearchboxTemplate() {
    return `
        <h2>广告类型: search box</h2>
        <div>
              <ins class="klook_aff_search_box"  data-wid="17012" data-height="340px"  data-host="{{host}}"
                   data-adid="{{searchbox}}" data-lang="" data-prod="search_vertical" data-currency=""><a
                   href="//www.klook.com/?aid=">Klook.com</a></ins>
             <ins class="klook_aff_search_box widget_v2" data-wid="17012"
                  data-height="340px"  data-host="{{host}}"
                   data-adid="{{searchbox}}" data-lang="" data-prod="search_vertical" data-currency=""><a
                    href="//www.klook.com/?aid=">Klook.com</a></ins>
        </div>
    `;
}

function getSearhBannerTemplate() {
    return `
        <h2>广告类型: search banner</h2>
        <div>
             <ins class="klookaff" data-wid="856" data-adid="{{search_banner}}" data-lang="zh-TW" data-prod="search_banner"
             data-width="300" data-height="250" data-currency="TWD"></ins>
        </div>
    `;
}

function renderProdAllTemplate() {
    return `
      <h2>广告类型: dynamic widget</h2>
    <div>
        <h4>things_to_do</h4>
        <div class="">
            <div>
                <h5 class="title">系统推荐 </h5>
                <ins class="things_to_do_dynamic_widget" data-adid="548576" data-lang="" data-currency=""
                     data-cardH="126"
                     data-padding="92" data-lgH="470" data-edgeValue="655" data-cid="2" data-tid="1" data-amount="3"
                     data-prod="dynamic_widget"><a href="//www.klook.com/">Klook.com</a></ins>
                <ins class="things_to_do_dynamic_widget widget_v2" data-adid="548576" data-lang="" data-currency=""
                     data-cardH="126"
                     data-padding="92" data-lgH="470" data-edgeValue="655" data-cid="2" data-tid="1" data-amount="3"
                     data-prod="dynamic_widget"><a href="//www.klook.com/">Klook.com</a></ins>
            </div>
            <div>
                <h5 class="title">特殊活动 </h5>
                <ins class="things_to_do_dynamic_widget" data-adid="548577" data-lang="" data-currency=""
                     data-cardH="126"
                     data-padding="92" data-lgH="470" data-edgeValue="655" data-prod="static_widget"
                     data-amount="1"><a
                        href="//www.klook.com/">Klook.com</a></ins>
                <ins class="things_to_do_dynamic_widget widget_v2" data-adid="548577" data-lang="" data-currency=""
                     data-cardH="126"
                     data-padding="92" data-lgH="470" data-edgeValue="655" data-prod="static_widget"
                     data-amount="1"><a
                        href="//www.klook.com/">Klook.com</a></ins>
            </div>
        </div>
    </div>
    <div>
        <h4>hotel</h4>
        <div class="widget-wrapper">
            <div>
                <h5>系统推荐 </h5>
                <ins class="klook_hotel_dynamic_widget" data-adid="548578" data-lang="" data-currency=""
                     data-cardH="126" data-padding="92" data-lgH="470" data-edgeValue="655" data-cid="19"
                     data-tid="" data-amount="2" data-prod="hotel_dynamic_widget"><a
                        href="//www.klook.com/">Klook.com</a>
                </ins>
                <ins class="klook_hotel_dynamic_widget widget_v2" data-adid="548578" data-lang="" data-currency=""
                     data-cardH="126" data-padding="92" data-lgH="470" data-edgeValue="655" data-cid="19"
                     data-tid="" data-amount="2" data-prod="hotel_dynamic_widget"><a
                        href="//www.klook.com/">Klook.com</a>
                </ins>
            </div>
            <div>
                <h5>特殊活动 </h5>
                <ins class="klook_hotel_dynamic_widget" data-adid="548579" data-lang="" data-currency=""
                     data-cardH="126" data-padding="92" data-lgH="470" data-edgeValue="655"
                     data-prod="hotel_static_widget" data-amount="1"><a href="//www.klook.com/">Klook.com</a></ins>
                <ins class="klook_hotel_dynamic_widget widget_v2" data-adid="548579" data-lang="" data-currency=""
                     data-cardH="126" data-padding="92" data-lgH="470" data-edgeValue="655"
                     data-prod="hotel_static_widget" data-amount="1"><a href="//www.klook.com/">Klook.com</a></ins>
            </div>
        </div>
    </div>
    <h2>广告类型: auto_dynamic_widget</h2>
    <div>
        <h4>hotel</h4>
        <div class="widget-wrapper">
            <div>
                <ins class="klook_auto_hotel_dynamic_widget"
                     data-aid="12471"
                     data-label1="tesrasfls"
                     data-label2="asasda"
                     data-label3="adad"
                     data-lang="en-US"
                     data-currency=""
                     data-city_id="-1"
                     data-category="-1"
                     data-amount="3"
                     data-pid=""
                     data-sid="">
                    <a href="//www.klook.com/">Klook.com</a></ins>
                <ins class="klook_auto_hotel_dynamic_widget widget_v2"
                     data-aid="12471"
                     data-label1="tesrasfls"
                     data-label2="asasda"
                     data-label3="adad"
                     data-lang="en-US"
                     data-currency=""
                     data-city_id="-1"
                     data-category="-1"
                     data-amount="3"
                     data-pid=""
                     data-sid="">
                    <a href="//www.klook.com/">Klook.com</a></ins>
            </div>
        </div>
        <h4>things_to_do</h4>
        <div class="widget-wrapper">
            <div>
                <ins class="klookaff_auto_dynamic_widget"
                     data-aid="12471"
                     data-label1="tesrasflsflal 0aa"
                     data-label2="asasda 0asdada a a"
                     data-label3="adad"
                     data-lang="en-US"
                     data-currency=""
                     data-city_id="-1"
                     data-category="-1"
                     data-amount="2"
                     data-pid=""
                     data-sid="">
                    <a href="//www.klook.com/">Klook.com</a></ins>
                <ins class="klookaff_auto_dynamic_widget widget_v2"
                     data-aid="12471"
                     data-label1="tesrasflsflal 0aa"
                     data-label2="asasda 0asdada a a"
                     data-label3="adad"
                     data-lang="en-US"
                     data-currency=""
                     data-city_id="-1"
                     data-category="-1"
                     data-amount="2"
                     data-pid=""
                     data-sid="">
                    <a href="//www.klook.com/">Klook.com</a></ins>
            </div>
        </div>
    </div>
    <h2>广告类型: activity banner</h2>
    <div>
        <ins class="klookaff" data-wid="10572" data-adid="548580" data-actids="17256,506,4270" data-prod="mul_act"
             data-price="false" data-lang="" data-width="160" data-height="600" data-currency=""><a
                href="//www.klook.com/">Klook.com</a></ins>
        <ins class="klookaff widget_v2" data-wid="10572" data-adid="548580" data-actids="17256,506,4270" data-prod="mul_act"
             data-price="false" data-lang="" data-width="160" data-height="600" data-currency=""><a
                href="//www.klook.com/">Klook.com</a></ins>
    </div>
    <h2>广告类型: static banner</h2>
    <div>
        <ins class="klookaff" data-wid="10572" data-bgtype="Experience" data-adid="548581" data-lang="en"
             data-prod="banner" data-width="120" data-height="600"><a href="//www.klook.com/?aid=">Klook.com</a></ins>
        <ins class="klookaff widget_v2" data-wid="10572" data-bgtype="Experience" data-adid="548581" data-lang="en"
             data-prod="banner" data-width="120" data-height="600"><a href="//www.klook.com/?aid=">Klook.com</a></ins>
    </div>
    <h2>广告类型: searchbox</h2>
    <div>
        <ins class="klook_aff_search_box" data-wid="10572" data-height="340px" data-adid="548582" data-lang=""
             data-prod="search_vertical" data-currency=""><a href="//www.klook.com/?aid=">Klook.com</a>
        </ins>
        <ins class="klook_aff_search_box widget_v2" data-wid="10572" data-height="340px" data-adid="548582" data-lang=""
             data-prod="search_vertical" data-currency=""><a href="//www.klook.com/?aid=">Klook.com</a>
        </ins>
    </div>
    <h2>广告类型: search_banner</h2>
    <div>
        <ins class="klookaff" data-wid="856" data-adid="100376" data-lang="zh-TW" data-prod="search_banner"
             data-width="300" data-height="250" data-currency="TWD"></ins>
    </div>
    `;
}

function createJs(name) {
    var s = document.createElement('script'), p = document.getElementsByTagName('script')[0];
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/desktop/' + name + '.js';
    p.parentNode.insertBefore(s, p);
}


window.onload = function () {
    if (!isDev) {
        renderAll();
    } else {
        renderTemplate(sessionStorage.getItem('type') || 'dynamicWidget');
    }
};

</script>
</body>
</html>
