<style lang="scss" scoped>
.form {
  width: 100%;
  padding: 0 30px 30px 30px;

  ::v-deep .klk_form_item {
    display: flex;
    justify-content: center;
    align-items: center;

    .required_mark {
      width: 140px;
      text-align: left;
      margin-right: 10px;
      display: flex;
      color: black;
      justify-content: center;
      align-items: center;
      line-height: 10px;
    }
    ::v-deep .multiselect__input {
      border-radius: 0;
      border: 0;
    }
    ::v-deep .multiselect__tags {
      border-radius: 0;
      border: 1px solid #e0e0e0;
    }
    .content {
      width: 320px;
    }
  }
  .error {
    font-size: 14px;
    color: #ff5722;
    margin-left: 110px;
  }
  .poptip_content {
    width: 340px;
    text-align: left;
  }
  .desc_icon {
  }
}
</style>

<template lang="html">
  <div class="form">
    <klk-form :rules="formRules" :model="form_data" ref="ref_form">
      <klk-form-item prop="campaign_type">
        <template slot="label">
          <span class="required_mark">
            {{ $t("dynamic_commission_form_campaign_type") }}
            <klk-poptip trigger="hover" class="poptip_wrapper">
              <klk-icon
                class="desc_icon"
                type="information-circled"
                size="18"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                {{ $t("dynamic_campaign_type_pop") }}
              </div>
            </klk-poptip>
          </span>
        </template>
        <klk-select
          filterable
          v-model="form_data.campaign_type"
          class="content"
          :disabled="isView || isEdit"
        >
          <klk-option
            v-for="item in campaignTypeList"
            :key="item.value"
            :value="item.value"
            >{{ item.name }}
          </klk-option>
        </klk-select>
      </klk-form-item>
      <klk-form-item prop="wid_list" v-if="showPartnerCampaign">
        <template slot="label">
          <span class="required_mark">{{
            $t("dynamic_commission_form_campaign_aid")
          }}</span>
        </template>
        <multiselect
          :multiple="true"
          class="content"
          v-model="form_data.wid_list"
          :disabled="isView"
          :options="websiteList"
          @open="handleOpen"
          @search-change="handleSearch"
          placeholder="Input & Search"
        ></multiselect>
      </klk-form-item>
      <klk-form-item v-if="showPartnerCampaign">
        <template slot="label">
          <span class="required_mark">{{
            $t("dynamic_commission_form_publisher")
          }}</span>
        </template>
        <multiselect
          class="content"
          :multiple="true"
          :disabled="disabledPid || isView"
          v-model="form_data.pid_list"
          v-loading="searchPidLoading"
          :options="pidList"
          placeholder="Select Pid"
        ></multiselect>
      </klk-form-item>
      <klk-form-item prop="upsize_type" v-if="showPartnerCampaign">
        <template slot="label">
          <span class="required_mark">
            {{ $t("dynamic_commission_form_upsize_type") }}
            <klk-poptip trigger="hover" class="poptip_wrapper">
              <klk-icon
                class="desc_icon"
                type="information-circled"
                size="16"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                {{ $t("dynamic_campaign_commission_setup_pop") }}
              </div>
            </klk-poptip>
          </span>
        </template>
        <klk-radio-group v-model="form_data.upsize_type" class="content">
          <klk-radio :label="0" :disabled="isView">
            <span>{{ $t("dynamic_commission_form_standard") }}</span>
          </klk-radio>
          <klk-radio :label="1" :disabled="isView">
            <span>{{ $t("dynamic_commission_form_special") }}</span>
          </klk-radio>
        </klk-radio-group>
      </klk-form-item>
      <klk-form-item prop="campaign_name">
        <template slot="label">
          <span class="required_mark">{{
            $t("dynamic_commission_form_campaign_name")
          }}</span>
        </template>
        <klk-input
          v-model="form_data.campaign_name"
          maxlength="64"
          class="content"
          :disabled="isView"
        ></klk-input>
      </klk-form-item>
      <klk-form-item prop="ranges">
        <template slot="label">
          <span class="required_mark">
            {{ $t("dynamic_commission_form_campaign_period") }}
            <klk-poptip trigger="hover" class="poptip_wrapper">
              <klk-icon
                class="desc_icon"
                type="information-circled"
                size="16"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                {{ $t("dynamic_campaign_campaign_period_pop") }}
              </div>
            </klk-poptip>
          </span>
        </template>
        <klk-date-picker
          type="datetime"
          v-model="form_data.ranges"
          range
          :disabled="isView"
          :placeholder="$t('ADMIN_SEARCH_commission_duration_placeHolder')"
          :confirm="true"
          :lang="KLK_LANG"
          @change="checkRules"
          format="yyyy-MM-dd HH:mm:ss"
        >
        </klk-date-picker>
      </klk-form-item>
      <div class="error" v-if="errorTime">
        {{ `Start Time must be greater than ${allowStartTime()}` }}
      </div>
    </klk-form>
  </div>
</template>

<script>
import { formRules, urlObj } from "common_data";
import Multiselect from "vue-multiselect";
import _cloneDeep from "lodash/cloneDeep";
import _debounce from "lodash/debounce";
import moment from "moment";
export default {
  name: "CampaignForm",
  components: {
    Multiselect,
  },
  props: {
    campaignData: {},
    view: Boolean,
    gap: [String, Number],
  },
  data() {
    return {
      errorTime: false,
      disabledPid: false,
      searchPidLoading: false,
      websiteList: [],
      pidList: [],
      form_data: {
        campaign_type: 4,
        campaign_name: "",
        ranges: "",
        wid_list: [],
        pid_list: [],
        upsize_type: 0,
      },
      campaignTypeList: [
        {
          name: __("dynamic_commission_form_partner_campaign"),
          value: 4,
        },
        {
          name: __("dynamic_commission_form_region_campaign"),
          value: 3,
        },
      ],
      KLK_LANG: window.KLK_LANG,
    };
  },
  watch: {
    campaignData: {
      handler(newVal, oldVal) {
        this.form_data = _cloneDeep(newVal);
        this.websiteList = newVal.wid_list;
      },
      deep: true,
    },
    "form_data.wid_list": {
      handler(data) {
        if (data) {
          data = Array.isArray(data) ? data : [data];
        }
        if (!this.view) {
          if (data && data.length === 1) {
            // 请求数据接口, 获取 pidList--》加loading
            this.searchPidLoading = true;
            klook.ajaxGet(
              urlObj.get_publish_by_wid,
              { wid: data[0] },
              (res) => {
                this.searchPidLoading = false;
                if (res.success) {
                  let arr = res.result.network_publishers;
                  this.pidList =
                    arr && Array.isArray(arr)
                      ? arr.map((item) => item.pid)
                      : [];
                }
              }
            );
            this.disabledPid = false;
          } else {
            this.pidList = [];
            this.form_data.pid_list = "";
            this.disabledPid = true;
          }
        }
      },
      deep: true,
    },
  },
  created() {
    this.formRules = formRules.call(this);
    this.handleSearch = _debounce(this.handleSearch, 600);
  },
  computed: {
    showPartnerCampaign() {
      return this.form_data && this.form_data.campaign_type === 4;
    },
    isView() {
      return this.view;
    },
    isEdit() {
      return this.form_data && this.form_data.id;
    },
  },
  methods: {
    resetError() {
      this.$refs["ref_form"].resetFields();
      this.checkRules();
    },
    checkRules() {
      this.errorTime = false;
    },
    allowStartTime() {
      // 当前时间 + gap 的时间 为 开始允许的时间
      return moment()
        .add(+this.gap, "m")
        .format("YYYY-MM-DD HH:mm:ss");
    },
    handleOpen() {
      this.websiteList = this.form_data.wid_list;
    },
    handleSearch(searchQuery, id) {
      // 搜索
      if (searchQuery && searchQuery.length > 0) {
        klook.ajaxGet(
          urlObj.get_website_list_by_wid,
          { wid: searchQuery },
          (res) => {
            if (res.success) {
              let arr =
                res.result && Array.isArray(res.result)
                  ? res.result
                      .map((item) => item.id)
                      .concat(this.form_data.wid_list)
                  : [];
              this.websiteList = Array.from(new Set(arr));
            } else {
              this.$Message.warning(res.error.message);
            }
          }
        );
      }
    },
    validate(cb) {
      this.$refs["ref_form"].validate((valid) => {
        if (valid) {
          let data = _cloneDeep(this.form_data);
          // check start_time, 对应对展示 error
          const m = moment(data.ranges[0]);
          let timeRule = moment()
            .add(+this.gap, "m")
            .isBefore(m);
          if (!timeRule) {
            this.errorTime = true;
            return;
          }
          cb(data);
        }
      });
    },
  },
};
</script>
