<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
.dynamic_commission_search {
  display: flex;
  flex-direction: column;
  .search_row {
    display: flex;
    margin: 10px 0;
    ::v-deep .multiselect__input {
      border-radius: 0;
      border: 0;
    }
    ::v-deep .multiselect__tags {
      border-radius: 0;
      border: 1px solid #e0e0e0;
    }
    ::v-deep .klk_select {
      width: 324px;
    }
    .item {
      display: flex;
      align-items: center;
      margin-right: 20px;
      .title {
        width: 120px;
        margin-right: 10px;
        text-align: right;
        &:after {
          content: ":";
        }
      }
      &:last-child {
        margin-right: 0;
      }
      .status {
        width: 50px;
        margin-right: 10px;
      }
      ::v-deep.multiselect {
        width: 280px;
      }
    }
    .aid {
      width: 324px;
    }
    .pid {
      width: 324px;
    }
  }
  .operation {
    display: flex;
    justify-content: space-between;
  }
  .search_btn {
    width: 400px;
    display: flex;
    justify-content: flex-end;
    padding-right: 14px;
    .search {
      margin-right: 30px;
    }
  }
}
</style>

<template lang="html">
  <div class="dynamic_commission_search">
    <div class="search_row">
      <div class="item">
        <span class="title">{{
          $t("ADMIN_MULTIPLE_commission_affiliate")
        }}</span>
        <klk-select
          filterable
          v-model="searchOption.klook_admin"
          placeholder="Select Admin"
          @on-change="(value) => handleSelectAdmin(value)"
        >
          <klk-option value="">{{ $t("MULTIPLE_all") }}</klk-option>
          <klk-option
            v-for="item in adminList"
            :key="item.uid"
            :value="item.email"
            >{{ item.email }}</klk-option
          >
        </klk-select>
      </div>
      <div class="item aid">
        <multiselect
          key="range"
          :multiple="true"
          v-model="searchOption.wid"
          :searchable="true"
          :options="websiteList"
          selectLabel=""
          :show-labels="true"
          :placeholder="$t('ADMIN_MULTIPLE_commission_aid_wid')"
          :taggable="true"
          :loading="website_loading"
          @open="handleClickWid"
          deselectLabel=""
        >
        </multiselect>
      </div>
      <div class="item pid">
        <multiselect
          key="range"
          :multiple="true"
          :disabled="disabledPid"
          v-model="searchOption.pid"
          :searchable="true"
          :options="pidList"
          selectLabel=""
          :loading="searchPidLoading"
          :show-labels="true"
          placeholder="PID"
          :taggable="true"
          deselectLabel=""
        >
        </multiselect>
      </div>
    </div>
    <div class="search_row">
      <div class="item">
        <span class="title">{{
          $t("dynamic_commission_form_campaign_type")
        }}</span>
        <klk-select filterable v-model="searchOption.campaign_type">
          <klk-option
            v-for="item in campaignTypeList"
            :key="item.value"
            :value="item.value"
            >{{ item.name }}</klk-option
          >
        </klk-select>
      </div>
      <div class="item">
        <span class="title status">{{ $t("MULTIPLE_status") }}</span>
        <klk-select
          filterable
          v-model="searchOption.status"
          style="width: 220px"
        >
          <klk-option
            v-for="item in statusOptions"
            :key="item.value"
            :value="item.value"
            >{{ item.name }}
          </klk-option>
        </klk-select>
      </div>
    </div>
    <div class="search_row operation">
      <div class="item">
        <span class="title">{{ $t("ADMIN_SEARCH_commission_duration") }}</span>
        <klk-date-picker
          width="324px"
          type="datetime"
          v-model="searchOption.ranges"
          range
          :placeholder="$t('ADMIN_SEARCH_commission_duration_placeHolder')"
          :confirm="true"
          :lang="KLK_LANG"
          format="yyyy-MM-dd HH:mm:ss"
        >
        </klk-date-picker>
      </div>
      <div class="search_btn">
        <button
          type="button"
          class="theme_btn_base small_btn search"
          name="button"
          @click="handleSearch"
        >
          {{ $t("ADMIN_SEARCH_commission_search") }}
        </button>
        <button
          type="button"
          class="theme_btn_base_white small_btn"
          name="button"
          @click="handleAdd"
        >
          + {{ $t("dynamic_commission_list_add_campaign") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { requestWithCache, urlObj } from "common_data";
import Multiselect from "vue-multiselect";

export default {
  name: "Search",
  components: {
    Multiselect,
  },
  data() {
    return {
      searchPidLoading: false,
      searchOption: {
        klook_admin: "",
        wid: "",
        pid: "",
        ranges: "",
        campaign_type: null,
        status: null,
      },
      adminList: [],
      websiteList: [],
      pidList: [],
      disabledPid: false,
      website_loading: false,
      statusOptions: [
        {
          name: __("ADMIN_MULTIPLE_commission_all"),
          value: null,
        },
        {
          name: __("MULTIPLE_pending"),
          value: 1,
        },
        {
          name: __("dynamic_campaign_rule_freeze"),
          value: 2,
        },
        {
          name: __("dynamic_campaign_rule_running"),
          value: 3,
        },
        {
          name: __("ADMIN_MULTIPLE_terminated"),
          value: 4,
        },
      ],
      campaignTypeList: [
        {
          name: __("ADMIN_MULTIPLE_commission_all"),
          value: null,
        },
        {
          name: __("dynamic_commission_form_partner_campaign"),
          value: 4,
        },
        {
          name: __("dynamic_commission_form_region_campaign"),
          value: 3,
        },
        {
          name: __("dynamic_commission_list_system_campaign"),
          value: 2,
        },
      ],
      KLK_LANG: window.KLK_LANG,
    };
  },
  created() {},
  mounted() {
    this.loadData();
    this.$emit("search", this.searchOption);
  },
  computed: {},
  watch: {
    "searchOption.wid": {
      handler(newVal) {
        if (newVal.length === 1) {
          // 请求数据接口, 获取 pidList--》加loading
          this.searchPidLoading = true;
          klook.ajaxGet(
            urlObj.get_publish_by_wid,
            { wid: newVal[0] },
            (res) => {
              this.searchPidLoading = false;
              if (res.success) {
                let arr = res.result.network_publishers;
                this.pidList =
                  arr && Array.isArray(arr) ? arr.map((item) => item.pid) : [];
              }
            }
          );
          this.disabledPid = false;
        } else {
          this.pidList = [];
          this.searchOption.pid = "";
          this.disabledPid = true;
        }
      },
    },
  },
  methods: {
    handleClickWid() {
      this.websiteList = [];
      this.fetchWebsiteList(this.searchOption.klook_admin || "");
    },
    handleSearch() {
      this.$emit("search", this.searchOption);
    },
    fetchWebsiteList(admin = "") {
      this.website_loading = true;
      klook.ajaxGet(
        urlObj.get_admin_website_list,
        { klook_admin: admin },
        (res) => {
          this.website_loading = false;
          if (res.success) {
            this.websiteList =
              (res.result && res.result.websites.map((item) => item.id)) || [];
          } else {
            console.error(res);
          }
        }
      );
    },
    handleSelectAdmin(data) {
      this.searchOption.wid = [];
    },
    loadData() {
      requestWithCache(urlObj.get_admin_list).then((data) => {
        this.adminList = data.admin_list;
      });
    },
    handleAdd() {
      this.$emit("add");
    },
  },
};
</script>
