<template>
  <a
    :class="['single_banner', `size_${ad_detail.size_price}`]"
    target="_blank"
    :href="data.jump_url"
    @click="handleClickActivity(data)"
  >
    <div
      class="main"
      v-if="data.id"
      :style="`background-image: url(${data.image_url_host})`"
    >
      <div class="content">
        <div
          class="price"
          v-if="+data.sell_price !== 0 || +data.market_price !== 0"
        >
          <div class="sell_price">{{ data.sell_price_format }}</div>
          <del
            class="market_price"
            v-if="+data.market_price !== +data.sell_price"
            >{{ data.market_price_format }}</del
          >
        </div>
        <div class="discount" v-if="showDiscount">
          {{ discountText }}
        </div>
      </div>
    </div>
    <div class="footer">
      <span class="name">{{ data.title }}</span>
      <div class="logo_content">
        <img
          class="icon"
          :src="`https://cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/widgets/imgs/logo_${lang}.png`"
        />
        <div class="button">{{ booktext }}</div>
      </div>
    </div>
  </a>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import {
  getUrlParam,
  urlObj,
  RENDER_LANGUAGE_MAP,
} from "../../util/common_data.js";
import { ajaxGetPromise } from "../../util/request.js";
@Component
export default class Single_act_banner extends Vue {
  lang = "en-US";
  currency = "";
  redirect_url = {
    affiliate_url: "",
    klook_url: "",
    lang: "",
  };
  ad_detail: {
    t: string;
    activities: any;
    size_price: string;
    currency: string;
    label1: string;
    label2: string;
    label3: string;
    lang: string;
  } = {
    activities: [],
    currency: "",
    label1: "",
    label2: "",
    label3: "",
    lang: "",
    size_price: "300x250",
    t: "activity",
  };
  activities: any[] = [];
  aid;
  adid;
  data: { [key: string]: any } = {};
  showDiscount = true;
  off_percent: any;
  booktext = "";
  discountText = "";
  // kepler_id
  private kepler_id = this.$renderStore.state.keplerId;

  get currentExp() {
    return this.$renderStore.state.currentExp;
  }

  discount() {
    let off_percent;
    const { sell_price, market_price } = this.data;
    if (this.lang === "en-US") {
      off_percent = parseInt(
        String(((+market_price - +sell_price) / +market_price) * 100),
        10
      );
      if (off_percent < 5) {
        // 折扣小于5 则不展示
        this.showDiscount = false;
      }
    } else {
      off_percent = parseInt(String((+sell_price / +market_price) * 100.0), 10);
      if (off_percent > 95) {
        // 折扣大于 95 则不展示
        this.showDiscount = false;
      }
      if (off_percent % 10 === 0) {
        // 格式化折扣
        off_percent = off_percent / 10;
      }
    }
    this.off_percent = off_percent;
  }

  handleClickActivity(item) {
    // 获得当前命中的实验，进行上报
    window.dataLayer &&
      window.dataLayer.push({
        event: "adDisplay",
        eventCategory: `Experimentation`,
        eventAction: `Affiliate Ad Click`,
        eventLabel: `Activity Banner`,
        KeplerID: this.kepler_id,
        AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
          this.currentExp.groupId || ""
        }`,
        AffiliateADID: this.adid,
        PartnerWebsiteAID: this.aid,
      });
  }

  async fetchData(adid: any) {
    let res = await ajaxGetPromise(urlObj.activity_banner_render_data(adid));
    if (res.success) {
      const { lang, aid, currency, redirect_url, ad_detail, activities } =
        res.result;
      this.$renderStore.commit("updateSizePrice", ad_detail.size_price || "");
      this.lang = lang;
      this.aid = aid;
      this.currency = currency;
      this.redirect_url = redirect_url;
      this.ad_detail = ad_detail;
      this.activities = activities;
      this.data = this.filterData(ad_detail, activities)[0];
      this.booktext = RENDER_LANGUAGE_MAP[lang].banner_book_now;
      this.discount();
      this.discountText =
        RENDER_LANGUAGE_MAP[lang].discount.replace("%s", this.off_percent) ||
        "";
      // console.log("fetchData single");
      window.dataLayer &&
        window.dataLayer.push({
          event: "adDisplay",
          eventCategory: `Experimentation`,
          eventAction: `Affiliate Ad Impression`,
          eventLabel: `Activity Banner`,
          KeplerID: this.kepler_id,
          AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
            this.currentExp.groupId || ""
          }`,
          AffiliateADID: this.adid,
          PartnerWebsiteAID: this.aid,
        });
    }
  }

  filterData(ad_detail, activities) {
    const d =
      ad_detail &&
      ad_detail.activities.map((item) => {
        let id = item.id;
        const d = activities.find((act) => {
          return +act.id === +id;
        });
        return d || activities[0];
      });
    return d;
  }

  created() {
    let adid = getUrlParam("adid");
    if (!adid || +adid < 0 || !Number.isInteger(+adid)) {
      return;
    }
    this.adid = adid;
    this.fetchData(adid);
  }
}
</script>
<style lang="scss" scoped>
.single_banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
  .main {
    background-size: cover;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    .content {
      display: flex;
      flex-direction: column;
      .price {
        display: flex;
        flex-direction: column;
        border-top-right-radius: 3px;
        background-color: rgba(65, 65, 65, 0.9);
        color: white;
        .sell_price {
          color: white;
        }
        .market_price {
          opacity: 0.5;
          text-decoration: line-through;
        }
      }
      .discount {
        border-bottom-right-radius: 3px;
        color: white;
        background-color: #ff5722;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    background: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    .name {
    }
    .logo_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 4px;
      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #ff5722;
      }
    }
  }
}
.size_300x250 {
  width: 300px;
  height: 250px;
  .main {
    width: 100%;
    height: 186px;
    display: flex;
    justify-content: flex-start;
    .content {
      height: 70px;
      margin-top: 30px;
      .price {
        padding: 8px 8px 4px 8px;
        .sell_price {
          font-size: 20px;
          min-width: 58px;
          line-height: 20px;
          font-weight: 400;
        }
        .market_price {
          margin: 2px 0;
          line-height: 12px;
          font-size: 12px;
        }
      }
      .discount {
        padding: 0 8px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .footer {
    height: 64px;
    padding: 0 10px;
    .name {
      height: 18px;
      margin-top: 6px;
      line-height: 18px;
      overflow: hidden;
      color: black;
      font-size: 14px;
    }
    .logo_content {
      .icon {
        height: 16px;
      }
      .button {
        height: 14px;
        font-size: 14px;
        padding: 7px 10px;
        color: white;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }
}
.size_200x200 {
  width: 200px;
  height: 200px;
  .main {
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: flex-start;
    .content {
      height: 66px;
      margin-top: 30px;
      .price {
        padding: 8px 8px 4px 8px;
        .sell_price {
          font-size: 16px;
          min-width: 58px;
          line-height: 16px;
          font-weight: 400;
        }
        .market_price {
          margin: 2px 0;
          line-height: 12px;
          font-size: 12px;
        }
      }
      .discount {
        padding: 0 8px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .footer {
    height: 60px;
    padding: 0 10px;
    .name {
      height: 18px;
      margin-top: 6px;
      line-height: 18px;
      overflow: hidden;
      color: black;
      font-size: 12px;
    }
    .logo_content {
      .icon {
        height: 14px;
      }
      .button {
        height: 12px;
        font-size: 12px;
        padding: 6px 10px;
        color: white;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }
}
.size_250x250 {
  width: 250px;
  height: 250px;
  .main {
    width: 100%;
    height: 186px;
    display: flex;
    justify-content: flex-start;
    .content {
      height: 70px;
      margin-top: 30px;
      .price {
        padding: 8px 8px 4px 8px;
        .sell_price {
          font-size: 20px;
          min-width: 58px;
          line-height: 20px;
          font-weight: 400;
        }
        .market_price {
          margin: 2px 0;
          line-height: 12px;
          font-size: 12px;
        }
      }
      .discount {
        padding: 0 8px;
        line-height: 22px;
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .footer {
    height: 64px;
    padding: 0 10px;
    .name {
      height: 18px;
      margin-top: 6px;
      line-height: 18px;
      overflow: hidden;
      color: black;
      font-size: 14px;
    }
    .logo_content {
      .icon {
        height: 16px;
      }
      .button {
        height: 14px;
        font-size: 14px;
        padding: 6px 10px;
        color: white;
        border-radius: 3px;
        overflow: hidden;
      }
    }
  }
}
</style>
