<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss" scoped>
.co_brand {
  padding-bottom: 30px;
  margin-bottom: 20px;

  .description_note {
    position: relative;
    &_title {
      font-size: 20px;
      line-height: 24px;
      color: #333333;
    }
    &_content {
      margin: 24px 0 20px;
      padding: 16px 24px;
      font-size: 14px;
      line-height: 24px;
      background: #f5f5f5;
      color: #666666;
    }
    .return_management_btn {
      position: absolute;
      top: -2px;
      right: 0;
      width: 200px;
      height: 36px;
      line-height: 34px;
      border: solid 1px #07b295;
      border-radius: 4px;
      color: #07b295;
      text-align: center;
      cursor: pointer;
    }
  }

  .select_box {
    display: flex;
    margin-bottom: 20px;
    &_label {
      line-height: 40px;
      color: #666666;
    }
     ::v-deep .multiselect {
      width: 205px;
      &--disabled {
        cursor: not-allowed;
      }
    }
  }

  .upload_container {
    display: flex;
    height: 290px;
    margin-bottom: 20px;

    .upload_container_left {
      width: 240px;
      height: 240px;
      background: #f2f8fd;
      border-radius: 2px;
      ::v-deep .klk_upload-select {
        width: 90px;
        margin: 0 auto;
        .img_box {
          height: 132px;
          display: flex;
          align-items: center;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
      .operation_area {
        justify-content: center;
        .operation_btn {
          border: solid 1px #07b295;
          font-size: 14px;
          color: #07b295;
          line-height: 30px;
        }
      }
      .upload_desc {
        margin: 23px auto 0;
        width: 200px;
        font-size: 12px;
        text-align: center;
        color: #999999;
      }
    }

    .upload_container_right {
      width: 855px;
      margin-left: 20px;

      .render_template_area {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -2;
        white-space: nowrap;
        font-size: 0;
      }

      .display_area {
        width: 100%;
        .display_area_item {
          width: 100%;
          height: 120px;
          text-align: center;
          overflow: hidden;
          padding: 36px 0;
          &_black {
            background: #000000;
          }
          &_grey {
            background: #f5f5f5;
          }
          &_init {
            text-align: left;
            img {
              margin-left: 150px;
            }
          }
          img {
            height: 48px;
          }
        }
      }
      .operation_area {
        margin-top: 18px;
        justify-content: flex-end;
        .operation_btn {
          background: #07b295;
          font-size: 14px;
          color: #ffffff;
          line-height: 32px;
        }
      }
    }

    .operation_area {
      display: flex;
      .operation_btn {
        width: 124px;
        border-radius: 2px;
        border: none;
        padding: 0;
        cursor: pointer;
        &:disabled {
          background: #e0e0e0;
          border: none;
          color: #ffffff;
          cursor: not-allowed;
        }
      }
    }
  }
}
.is_admin_operation {
  padding-top: 20px;
}
</style>

<template lang="html">
  <div
    :class="['co_brand', this.$route.query.uid ? 'is_admin_operation' : '']"
    v-loading="is_page_loading_shown"
  >
    <!-- Standard -->
    <div class="co_brand_wrapper" v-if="!type && has_manager">
      <!-- co-brand note -->
      <div class="description_note">
        <div class="description_note_title">
          {{ $t("CO_BRAND_note_title") }}
        </div>
        <div
          class="description_note_content"
          v-html="$t('CO_BRAND_note_desc')"
        ></div>
        <router-link
          v-if="is_return_btn_shown"
          :to="{ name: 'co_brand_management', query: { t: +new Date() } }"
          tag="div"
          class="return_management_btn"
        >
          {{ $t("MULTIPLE_co_brand_title") }}
        </router-link>
      </div>

      <!-- multi-select box -->
      <div class="select_box">
        <span class="select_box_label">{{ $t("joint_marketing_id") }}：</span>
        <multiselect
          v-model="multi_select.aids"
          :searchable="true"
          :options="multi_select.options"
          :show-labels="false"
          :multiple="true"
          :disabled="disabled_group.multi_select"
          :allowEmpty="false"
          @input="handleAidChange"
          :placeholder="$t('MULTIPLE_website_id')"
          key="value"
          label="value"
          track-by="value"
          ref="multiSelect"
        >
        </multiselect>
      </div>

      <!-- upload logo area -->
      <div class="upload_container">
        <!-- upload origin logo -->
        <div
          class="upload_container_left"
          v-loading="upload_box.is_loading_shown"
        >
          <klk-upload
            :onProgress="onUploadProgress"
            :onSuccess="onUploadSuccess"
            :onError="onUploadError"
            :beforeUpload="onBeforeUpload"
            :onExceededSize="onExceededSize"
            :accept="upload_box.file_type"
            :action="upload_box.url"
            :name="upload_box.name"
            :data="upload_box.data"
            :maxSize="upload_box.max_size"
            :disabled="disabled_group.upload_box"
            ref="uploadBox"
          >
            <div class="img_box" v-loading="origin_logo.is_loading_shown">
              <!-- 设置 crossorigin="anonymous"，防止跨域的图片引起 canvas 相关方法报错 -->
              <img
                :src="origin_logo.url"
                crossorigin="anonymous"
                ref="originLogo"
              />
            </div>
          </klk-upload>
          <div class="operation_area">
            <button
              :class="['operation_btn']"
              @click="handleUploadBtnClick"
              :disabled="disabled_group.upload_box"
            >
              {{ $t("MULTIPLE_upload") }}
            </button>
          </div>
          <div class="upload_desc">{{ $t("CO_BRAND_upload_desc") }}</div>
        </div>

        <!-- display composite logos -->
        <div class="upload_container_right">
          <div
            class="render_template_area"
            ref="renderTemplate"
            v-show="!is_page_loading_shown"
          >
            <canvas ref="klookLogoCanvas"></canvas>
            <!-- 设置 crossorigin="anonymous"，防止跨域的图片引起 canvas 相关方法报错 -->
            <img
              :src="origin_logo.clip_url"
              crossorigin="anonymous"
              ref="uploadLogo"
            />
          </div>
          <div class="display_area">
            <div
              :class="[
                'display_area_item',
                'display_area_item_black',
                !binary_logo.url && 'display_area_item_init',
              ]"
              v-loading="binary_logo.is_loading_shown"
            >
              <img :src="binary_logo.url" ref="binaryLogo" />
            </div>
            <div
              :class="[
                'display_area_item',
                'display_area_item_grey',
                !colorful_logo.url && 'display_area_item_init',
              ]"
              v-loading="colorful_logo.is_loading_shown"
            >
              <img :src="colorful_logo.url" ref="colorfulLogo" />
            </div>
          </div>
          <div class="operation_area">
            <button
              class="operation_btn"
              @click="submit"
              :disabled="disabled_group.submit_btn"
            >
              {{ $t("MULTIPLE_submit") }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- history list -->
    <co-brand-history-table
      v-if="history_list.length && has_manager"
      :list="history_list"
      :limit-count="10"
    >
    </co-brand-history-table>

    <!-- co-brand is not available -->
    <div v-if="!has_manager">
      <klk-no-data
        :no_data_title="$t('CO_BRAND_application_pending_review')"
      ></klk-no-data>
    </div>
    <ad-cast-feedback v-if="is_submit" ads_type="co_brand"></ad-cast-feedback>
  </div>
</template>

<script>
import Multiselect from "vue-multiselect";
import { urlObj } from "common_data";
import { isAdmin, isManager, uid, email } from "../../../../../comm/user_role";
import ajax from "../../../components/upload/src/ajax";
import ImageHandler from "../../../../../comm/imageHandler/index";
import CoBrandHistoryTable from "./components/co_brand_history_table.vue";
import AdCastFeedback from "../ad_tools/components/cast-feedback.vue";

export default {
  name: "CoBrand",
  data() {
    return {
      uid: "",
      type: 0, // 当前的类型 0 - Standard | 1 - Customized
      state: 0, // 当前状态 0 - Not Set | 1 - Pending | 2 - In Process | 3 - Active
      can_edit: false, // 当前 user role 是否可操作
      multi_select: {
        // 复选下拉框
        aids: [],
        options: [],
        format_aids: [], // 符合请求格式的 aids 列表
      },
      upload_box: {
        url: urlObj.co_brand_upload_img,
        data: {},
        name: "logo_raw_url",
        max_size: 5 * 1024,
        file_type: "image/png, image/jpeg",
        is_loading_shown: false,
      },
      disabled_group: {
        // 所有按钮禁用状态
        multi_select: false,
        upload_box: false,
        submit_btn: false,
      },
      upload_logos_version: {
        // 存储上传图片 version 的字典
        logo_raw_url: 0,
        logo_url: 0,
        logo_white_url: 0,
      },
      origin_logo: {
        // origin logo
        url: "",
        clip_url: "", // clipped logo url
        is_loading_shown: true,
      },
      colorful_logo: {
        // colorful composite logo
        url: "",
        is_loading_shown: true,
      },
      binary_logo: {
        // binirized composite logo
        url: "",
        is_loading_shown: true,
      },
      history_list: [],
      is_page_loading_shown: true,
      has_manager: true,
      is_return_btn_shown: false,
      is_submit: false,
      from_co_brand_management: false,
    };
  },
  components: {
    Multiselect,
    CoBrandHistoryTable,
    AdCastFeedback,
  },
  created() {
    this.from_co_brand_management =
      this.$route.query.from_co_brand_management || "";
    // 只有 admin 和 manager 可以使用 uid 参数来打开相应的 affiliate Co-brand 页面
    if ((isAdmin() || isManager()) && this.$route.query.uid) {
      this.uid = +this.$route.query.uid;
      this.is_return_btn_shown = true;
    } else {
      this.uid = uid;
    }
    // 自己上传时，不需要带上 uid
    // 管理员或者经理上传别人图片的时候都必须带 uid，且 uid 不能是自己的
    if (this.uid !== uid) {
      this.upload_box.data = {
        uid: this.uid,
      };
    }
    this.getAidList();
    this.loadData();
  },
  mounted() {
    this.logosLoadedListener();
  },
  beforeDestroy() {
    if (!this.type && this.$refs.renderTemplate) {
      // 防止切换路由时，模板露出
      this.$refs.renderTemplate.style.display = "none";
    }
  },
  methods: {
    loadData() {
      Promise.all([this.getCobrandInfo(), this.getHistoryList()])
        .then(() => {
          this.initData();
          setTimeout(() => {
            this.is_page_loading_shown = false;
          }, 0);
        })
        .catch((err) => {
          this.is_page_loading_shown = false;
        });
    },
    initData() {
      // Created 操作
      if (this.state === 0 && this.uid !== uid) {
        this.disabled_group.submit_btn = true;
      }
      // Modify 操作
      if (this.state === 2) {
        this.disabled_group.multi_select = !this.can_edit ? true : false;
        this.disabled_group.upload_box = !this.can_edit ? true : false;
        this.disabled_group.submit_btn = true;
      }
      // 已经 Active 的 Co-brand，不能执行任何操作
      if (this.state === 3) {
        this.disabled_group.multi_select = true;
        this.disabled_group.upload_box = true;
        this.disabled_group.submit_btn = true;
      }
    },
    // 初始化时，监听图片加载完成，再隐藏 loading
    logosLoadedListener() {
      let { originLogo, binaryLogo, colorfulLogo } = this.$refs;
      originLogo.onload = () => (this.origin_logo.is_loading_shown = false);
      binaryLogo.onload = () => (this.colorful_logo.is_loading_shown = false);
      colorfulLogo.onload = () => (this.binary_logo.is_loading_shown = false);
    },
    // 处理选中的 AID 数据
    handleAidList(aids) {
      if (!aids.length) {
        return [];
      }
      let aid = aids[aids.length - 1],
        render_aids = aids.slice();

      // All 与 其他 Aid 为互斥关系
      if (aid.value === "All") {
        render_aids = [aid];
        this.multi_select.format_aids = [0];
      } else {
        render_aids = render_aids.filter((i) => i.value !== "All");
        this.multi_select.format_aids = render_aids.map((i) => i.value);
      }
      this.multi_select.aids = render_aids;
    },
    // 处理 AID 选中事件
    handleAidChange(aids) {
      // 发起请求前，对 AID 数据进行处理
      this.handleAidList(aids);
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Co-boarding",
        eventAction: `Select Website`,
        eventLabel: this.multi_select.aids.map((item) => item.value).join(","),
      });
      this.selectOperationHandler(false);
    },
    // 提交
    submit() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Co-boarding",
        eventAction: `Submit`,
        eventLabel: this.multi_select.aids.map((item) => +item.value).join(","),
      });
      if (this.state === 2 || this.state === 3) {
        return;
      }

      this.$Modal.alert({
        title: `<span style="font-size: 14px; line-height: 21px; font-weight: normal;">${__(
          "CO_BRAND_submit_alert"
        )}</span>`,
        onOk: () => {
          this.setCobrandInfo(3);
          this.is_submit = true;
        },
        okText: __("MULTIPLE_confirm"),
        cancelText: __("MULTIPLE_cancel"),
        showCancel: true,
      });
    },
    onBeforeUpload(file) {
      return new Promise((resolve, reject) => {
        if (!["image/jpeg", "image/png"].includes(file.type)) {
          this.onUploadError({ msg: __("CO_BRAND_upload_desc") });
          reject();
        }
        let reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = (theFile) => {
          let image = new Image();
          image.src = theFile.target.result;
          image.onload = () => {
            let scale = image.width / image.height;
            if (scale > 6) {
              this.onUploadError({ msg: __("CO_BRAND_upload_oversize") });
              reject();
            } else {
              resolve(file);
            }
          };
        };
      });
    },
    onUploadProgress(e, file) {
      if (e.percent != 1) {
        this.upload_box.is_loading_shown = true;
      }
    },
    onUploadSuccess(res) {
      if (res.success) {
        const { cobrand_img } = res.result;
        // 防止浏览器缓存图片，加上时间戳
        const logo_url = `${cobrand_img.url}?t=${new Date().getTime()}`;
        this.upload_logos_version.logo_raw_url = cobrand_img.version;
        this.generateLogos(logo_url);
      } else {
        this.onUploadError({ msg: res.error.message });
      }
    },
    onUploadError(err) {
      this.upload_box.is_loading_shown = false;
      this.$Message.warning(err.msg);
    },
    onExceededSize(file) {
      this.$Message.warning(__("CO_BRAND_upload_oversize"));
    },
    handleUploadBtnClick() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Co-boarding",
        eventAction: `Upload`,
        eventLabel: this.multi_select.aids.map((item) => +item.value).join(","),
      });
      if (this.disabled_group.upload_box) {
        return;
      }
      this.$refs.uploadBox.$refs.input.click();
    },
    // 根据页面信息执行相应的操作
    selectOperationHandler(is_trans_version) {
      let operation = 0;

      if (this.state === 0) {
        operation = this.uid === uid ? 0 : 1;
      } else if (this.state === 1) {
        operation = 2;
      } else if (this.state === 2) {
        operation = 5;
      }

      this.setCobrandInfo(operation, is_trans_version);
    },
    // 生成需要的三张 logo
    generateLogos(origin_url) {
      this.origin_logo.clip_url = origin_url;
      this.clipLogo()
        .then((dataUrl) => {
          this.origin_logo.clip_url = dataUrl;
          this.compositeLogo()
            .then((res) => {
              this.origin_logo.url = origin_url;
              this.$refs.originLogo.onload = () => {
                this.upload_box.is_loading_shown = false;
                this.colorful_logo.url = res.colorful_base64_url;
                this.binary_logo.url = res.binary_base64_url;
              };
              // 每次上传完 logo，都需要更新 version 字段
              this.$nextTick(() => {
                this.selectOperationHandler(true);
              });
            })
            .catch((err) => {
              this.onUploadError({ msg: __("CO_BRAND_upload_failed") });
            });
        })
        .catch((err) => {
          this.onUploadError({ msg: __("CO_BRAND_upload_failed") });
        });
    },
    // 裁剪、透明化原 logo
    clipLogo() {
      return new Promise((resolve, reject) => {
        let { uploadLogo } = this.$refs;

        uploadLogo.onload = () => {
          ImageHandler().clip(uploadLogo, {
            callback: (dataUrl) => {
              resolve(dataUrl);
            },
          });
        };
        uploadLogo.onerror = (err) => {
          reject(err);
        };
      });
    },
    // 合成 logo
    compositeLogo() {
      return new Promise((resolve, reject) => {
        let { klookLogoCanvas, uploadLogo } = this.$refs;
        let colorful_url = "",
          colorful_base64_url = "",
          binary_url = "",
          binary_base64_url = "";

        uploadLogo.onload = () => {
          const ctx = klookLogoCanvas.getContext("2d");
          const klook_logo = new Image();
          // 需要按原图宽高比来设置 logo 宽、高
          const h = uploadLogo.naturalHeight;
          const w = h * 4.5;

          klook_logo.src = require("../../../../imgs/co-brand/shopback.svg");
          klook_logo.width = w;
          klook_logo.height = h;
          klook_logo.onload = () => {
            // 图片的高度与间距比为 1.98，这里直接将间距设置到 canvas 的宽度中
            klookLogoCanvas.width = w + Math.floor(h / 1.98);
            klookLogoCanvas.height = h;
            ctx.drawImage(klook_logo, 0, 0, w, h);

            // start handle logos
            ImageHandler()
              .composite(this.$refs.renderTemplate, {
                transType: "all",
                callback: (res) => {
                  this.uploadBlob(
                    res.blob,
                    "logo_url",
                    (data) => {
                      colorful_url = data.url;
                      colorful_base64_url = res.base64;
                      this.upload_logos_version.logo_url = data.version;
                      if (!!colorful_url && !!binary_url) {
                        resolve({ colorful_base64_url, binary_base64_url });
                      }
                    },
                    reject
                  );
                },
              })
              .binarize(null, {
                transType: "all",
                specialValues: [202, 203, 204],
                callback: (res) => {
                  this.uploadBlob(
                    res.blob,
                    "logo_white_url",
                    (data) => {
                      binary_url = data.url;
                      binary_base64_url = res.base64;
                      this.upload_logos_version.logo_white_url = data.version;
                      if (!!colorful_url && !!binary_url) {
                        resolve({ colorful_base64_url, binary_base64_url });
                      }
                    },
                    reject
                  );
                },
              });
          };
        };
        uploadLogo.onerror = (err) => {
          reject(err);
        };
      });
    },

    /**
     * @field
     * @description send request
     */
    getHistoryList() {
      // 获取历史记录列表
      return new Promise((resolve) => {
        const params = {
          uid: this.uid,
          page: 1,
          pcount: 10,
        };
        let url = this.from_co_brand_management
          ? urlObj.co_brand_admin_history_list
          : urlObj.co_brand_history_list;
        klook.ajaxGet(url, params, (res) => {
          if (res.success) {
            this.history_list = res.result.operations;
          } else {
            this.$Message.warning(res.error.message);
          }
          resolve();
        });
      });
    },
    // 获取 AID 列表
    getAidList() {
      let url = this.from_co_brand_management
        ? urlObj.get_admin_site_list
        : urlObj.co_brand_aid_list;
      klook.ajaxGet(url, { uid: this.uid }, (res) => {
        if (res.success) {
          let temp_list = res.result.websites.map((i) => ({ value: i.id }));
          temp_list.unshift({ value: "All" });
          this.multi_select.options = temp_list;
        } else {
          this.$Message.warning(res.error.message);
        }
      });
    },
    // 获取当前用户 Co-brand 信息
    getCobrandInfo() {
      return new Promise((resolve) => {
        klook.ajaxGet(
          urlObj.co_brand_websites_cobrands,
          { uid: this.uid },
          (res) => {
            if (res.success) {
              const list = res.result.applications;

              // 如果用户没有网站或者网站正在审批中, 即未被分配 Manager, 则显示提示文案
              if (!list.length) {
                this.has_manager = false;
                this.is_page_loading_shown = false;
                return;
              }

              const { state, type, wids, urls } = list[0];
              const defaultUploadLogo = require("../../../../imgs/co-brand/default-upload-logo.svg");
              const shopback = require("../../../../imgs/co-brand/shopback.svg");
              const shopbackWhite = require("../../../../imgs/co-brand/shopback-white.svg");

              this.state = state;
              this.type = type;
              if (list[0].manager_email === email || isAdmin()) {
                this.can_edit = true;
              }
              if (!state) {
                this.multi_select.aids = [{ value: "All" }];
                this.multi_select.format_aids = [0];
                this.origin_logo.url = defaultUploadLogo;
                this.colorful_logo.url = shopback;
                this.binary_logo.url = shopbackWhite;
              } else {
                const { logo_raw_url, logo_url, logo_white_url } = urls;

                if (!wids.length || wids.includes(0)) {
                  this.multi_select.aids = [{ value: "All" }];
                  this.multi_select.format_aids = [0];
                } else {
                  this.multi_select.aids = wids.map((i) => ({ value: i }));
                  this.multi_select.format_aids = wids;
                }
                if (!!logo_raw_url && !!logo_url && !!logo_white_url) {
                  this.origin_logo.url = logo_raw_url;
                  this.colorful_logo.url = logo_url;
                  this.binary_logo.url = logo_white_url;
                } else {
                  this.origin_logo.url = defaultUploadLogo;
                  this.colorful_logo.url = shopback;
                  this.binary_logo.url = shopbackWhite;
                }
              }
            } else {
              this.$Message.warning(res.error.message);
            }
            resolve();
          }
        );
      });
    },
    /**
     * @description 设置当前用户 Co-brand 信息
     * @param {Number} operation_type 0-upload | 1-create | 2-reupload | 3-submit | 4-reject | 5-modify | 6-approve | 7-recall
     */
    setCobrandInfo(operation_type, is_trans_version = false) {
      if (!this.checkRequestData()) {
        operation_type === 3
          ? this.onUploadError({ msg: __("CO_BRAND_submit_failed") })
          : "";
        return;
      }

      const params = {
        uid: this.uid,
        operation: operation_type,
        wids: this.multi_select.format_aids,
      };

      if (is_trans_version) {
        params.version = this.upload_logos_version;
      }

      // 发起请求改变 Aids
      klook.ajaxPostJSON(urlObj.co_brand_websites_cobrands, params, (res) => {
        if (res.success) {
          this.loadData();
        } else {
          let errMsg = "failed";
          if (operation_type === 3) {
            errMsg = __("CO_BRAND_submit_failed");
          } else {
            errMsg = __("CO_BRAND_website_id_change_failed");
          }
          this.$Message.warning(errMsg);
        }
      });
    },
    // 上传 blob 格式数据
    uploadBlob(blob, filename, callback, rejectFn) {
      let params = {};

      if (this.uid !== uid) {
        params = {
          uid: this.uid,
        };
      }

      blob.name = `${filename}.png`;
      ajax({
        file: blob,
        isBlob: true,
        filename,
        data: params,
        action: this.upload_box.url,
        onSuccess: (res) => {
          if (res.success) {
            const { cobrand_img } = res.result;
            callback &&
              callback({
                url: `${cobrand_img.url}?t=${new Date().getTime()}`,
                version: cobrand_img.version,
              });
          } else {
            rejectFn({ msg: res.error.message });
          }
        },
        onProgress: (e) => {},
        onError: (err) => {
          rejectFn({ msg: __("CO_BRAND_upload_failed") });
        },
      });
    },
    // 发起请求前，对 AID 和 logo 相关数据进行检验
    checkRequestData() {
      if (
        !this.origin_logo.url.includes("http") ||
        !this.multi_select.format_aids.length
      ) {
        return false;
      }
      return true;
    },
  },
};
</script>
