<style lang="scss">
$theme_color: #07b295;
.order_list {
  .frame_title {
    padding: 0 0 18px;

    .total {
      float: right;
      font-size: 14px;
      font-weight: 600;
      color: #ff5722;

      .klook-icon-total-amount {
        vertical-align: middle;
      }
    }
  }
  .desc {
    margin-bottom: 30px;
    font-size: 14px;
    color: #b0b0b0;
  }
  .search_area {
    .klk_tabs_nav {
      margin-bottom: 0;
    }

    .select_area_row {
      display: flex;
      align-items: center;

      .date_picker_wrapper,
      .klk_select {
        width: 275px !important;
        margin-right: 20px !important;
      }

      &.second {
        justify-content: space-between;
      }

      .range {
        display: flex;
        align-items: center;
      }

      .klk_select {
        margin: 0 10px;
      }
      ::v-deep .mx-datepicker-popup {
        flex-direction: column;
      }
      ::v-deep .mx-datepicker-footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
      }
      .label {
        font-size: 14px;
        margin-right: 10px;
      }
    }
  }

  .klk_table {
    overflow-x: scroll;
  }

  .tips_wrapper {
    margin-top: 17px;
    font-size: 12px;
    color: rgba(51, 51, 51, 0.87);

    .icon {
      cursor: auto;
      vertical-align: text-bottom;
    }
  }

  .frame {
    margin-top: 30px;

    .klk_table {
      .td_wrapper {
        .td_cell {
          margin: 0 -12px;
          padding: 16px 12px;
          border-bottom: 1px solid #dee4eb;

          &:first-child {
            padding-top: 0;
          }

          &:last-child {
            padding-bottom: 0;
            border-bottom: none;
          }
        }
      }
    }
  }

  .link_jump {
    margin-top: 16px;
    padding-bottom: 20px;
    text-align: right;

    .link {
      margin-left: 12px;
      font-size: 12px;
      color: #999999;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        color: $theme_color;
        text-decoration: underline;
      }
    }
  }

  .order_detail_dialog {
    .klk_dialog_body {
      .order_detail_table {
        thead {
          tr {
            text-align: center;
          }
        }
      }
    }
  }
}
</style>

<template lang="html">
  <div class="order_list">
    <div class="frame_title">
      {{ page_title }}
      <span class="total">
        <klk-icon
          class="klook-icon-total-amount"
          :size="24"
          type="total-amount"
        ></klk-icon>
        {{ $t("MULTIPLE_total_commission") }} : {{ total_commission }}
      </span>
    </div>
    <div v-if="show_ticket_id" class="desc">
      {{ $t("ORDER_LIST_ticket_desc") }}
    </div>
    <div class="search_area">
      <div class="select_area_row">
        <span class="label"> {{ $t("ORDER_LIST_select_website") }} : </span>
        <klk-select v-model="searchOption.wid">
          <klk-option
            v-for="item in website_list"
            :value="item.id"
            :key="item.id"
            >{{ item.name }}</klk-option
          >
        </klk-select>
        <div class="range">
          <div class="label">{{ $t("ORDER_LIST_date_range") }}:</div>
          <klk-date-picker
            class="date_picker_wrapper"
            :interval="{ type: 'days', value: 190 }"
            v-model="searchOption.date_range"
            :confirm="true"
            :clearable="true"
            :showCloseIcon="true"
            range
            :lang="klk_lang"
            @change="handleDatePickerChange"
            format="yyyy-MM-dd"
          >
          </klk-date-picker>
        </div>
        <button
          type="button"
          class="theme_btn_base small_btn"
          @click="searchData"
          name="button"
          :disabled="disabled"
        >
          {{ $t("ORDER_LIST_search") }}
        </button>
        <button
          type="button"
          class="theme_btn_base small_btn"
          style="margin-left: 20px"
          @click="exportFile"
          name="button"
          :disabled="disabled"
        >
          {{ $t("MULTIPLE_export") }}
        </button>
      </div>
    </div>
    <div class="tips_wrapper">
      <klk-icon class="icon" type="information-circled" :size="16"></klk-icon>
      {{ $t("ORDER_LIST_order_list_daterange_tips") }}
    </div>
    <div class="settlement_records frame" v-if="loaded_website">
      <klk-table :cols="cols" :table_data="list" v-loading="loading_data">
        <tr slot-scope="scope">
          <td>
            <a
              href="javascript:void(0)"
              class="theme_a"
              @click="showOrderDetailDialog(scope.row)"
            >
              {{ scope.row.order_id }}
            </a>
          </td>
          <td v-show="show_ticket_id">{{ scope.row.ticket_id }}</td>
          <td v-show="isTicketPage">{{ scope.row.booking_number }}</td>
          <td>{{ scope.row.action }}</td>
          <td>{{ scope.row.order_date }}</td>
          <td>{{ scope.row.order_time }}</td>
          <td v-show="show_participation_date">
            {{ scope.row.participation_date }}
          </td>
          <td v-show="show_participation_time">
            {{ scope.row.participation_time }}
          </td>
          <td>{{ scope.row.sales_amount }}</td>
          <td v-show="show_usd_columns">
            USD {{ scope.row.sales_amount_usd }}
          </td>
          <td>{{ scope.row.commission_rate }}</td>
          <td>{{ scope.row.commission_amount }}</td>
          <td v-show="show_usd_columns">
            USD {{ scope.row.commission_amount_usd }}
          </td>
          <td>{{ scope.row.aid }}</td>
          <td>{{ scope.row.website_name }}</td>
          <td>{{ scope.row.partner_params }}</td>
          <td>{{ scope.row.activity_name }}</td>
          <td v-show="show_activity_category">
            {{ scope.row.activity_category }}
          </td>
          <td>{{ scope.row.platform }}</td>
          <td>{{ scope.row.promo_code_type }}</td>
          <td v-show="show_promo_code">{{ scope.row.promo_code }}</td>
          <td v-show="isTicketPage">{{ scope.row.supply_category_01 }}</td>
          <td v-show="isTicketPage">{{ scope.row.supply_category_02 }}</td>
          <td v-show="isTicketPage">{{ scope.row.supply_category_03 }}</td>
        </tr>
      </klk-table>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      ></klk-pagination>
    </div>

    <klk-dialog
      class="order_detail_dialog"
      v-model="dialog.order_detail_dialog_show"
      width="800"
      close_icon
    >
      <div class="klk_dialog_title">
        {{ $t("ORDER_LIST_order_details") }}
      </div>
      <div class="klk_dialog_body">
        <klk-table
          class="order_detail_table"
          :cols="order_detail_cols"
          :table_data="order_detail_data.order_detail.tickets"
          v-loading="loading_data"
        >
          <tr slot-scope="scope">
            <td v-html="generateActivityUrl(scope.row)"></td>
            <td>{{ scope.row.activity_id }}</td>
            <td>{{ scope.row.package_name }}</td>
            <td>{{ scope.row.participant }}</td>
            <td>
              {{ scope.row.ticket_price }}
              {{ order_detail_data.order_detail.action_currency }}
            </td>
          </tr>
        </klk-table>

        <div class="link_jump">
          <router-link
            :to="{ name: 'commission_rates' }"
            target="_blank"
            class="link"
          >
            {{ $t("ORDER_LIST_view_details_share_rate") }}
          </router-link>
        </div>
      </div>
    </klk-dialog>
  </div>
</template>

<script>
import {
  urlObj,
  AD_TYPE_LIST,
  generateActivityUrlByActivityId,
} from "common_data";
import moment from "moment";

export default {
  // be cautious when editing this component ,it's reused in admin -> affiliate_admin -> order_list
  name: "OrderList",
  data() {
    return {
      searchOption: {
        start: "",
        end: "",
        wid: "",
        uid: "",
        ad_type: "",
        date_range: [moment().startOf("month").valueOf(), new Date().getTime()],
      },
      pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      page_title: __("MULTIPLE_order_list"),
      total_commission: "",
      website_list: [],
      list: [],
      klk_lang: KLK_LANG,
      AD_TYPE_LIST: AD_TYPE_LIST,
      loading_data: false,
      loaded_website: false,
      show_promo_code: false,
      show_usd_columns: false, // 在affiliate侧的order_list中不需要显示USD锚定的两个Columns,隐藏
      show_ticket_id: false,
      show_participation_date: false,
      show_participation_time: false,
      show_activity_category: false,
      order_detail_data: {
        order_detail: {
          tickets: [],
        },
        time: new Date(),
      },
      dialog: {
        order_detail_dialog_show: false,
      },
      disabled: false,
    };
  },
  computed: {},
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_order_id"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_action"),
        width: "75px",
      },
      {
        label: __("MULTIPLE_order_date"),
        width: "90px",
      },
      {
        label: __("MULTIPLE_order_time"),
        width: "90px",
      },
      {
        label: __("MULTIPLE_sales_amount"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_commission_rate"),
        width: "90px",
      },
      {
        label: __("MULTIPLE_commission_amount"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_aid"),
        width: "60px",
      },
      {
        label: __("MULTIPLE_website_name"),
        width: "120px",
      },
      {
        label: __("MULTIPLE_partner_params"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_activity_name"),
        width: "120px",
      },
      {
        label: __("MULTIPLE_platform"),
        width: "60px",
      },
      {
        label: __("MULTIPLE_promo_code_type"),
        width: "130px",
      },
    ];

    this.order_detail_cols = [
      {
        label: __("MULTIPLE_activity_name"),
      },
      {
        label: __("MULTIPLE_activity_id"),
      },
      {
        label: __("ORDER_LIST_package_name"),
      },
      {
        label: __("ORDER_LIST_participants"),
      },
      {
        label: __("ORDER_LIST_total_price"),
      },
    ];
  },
  mounted() {
    const name = this.$route.name;
    // 在 admin->order_list 才去判断
    if (name === "admin_order_list") {
      const uid = USER_INFO.id;
      //  uid 限制为正整数
      if (!(Number.isInteger(uid) && uid > 0)) {
        this.$router.push({
          name: "dashboard",
        });
        return;
      }
    }
    this.loadData();
    this.getSiteList();
    this.fetchCommissionTotal();
  },
  methods: {
    handleDatePickerChange(value) {
      // 保证日期有值
      this.disabled = !(value && value.length === 2 && value[0] && value[1]);
    },
    getSiteListParams() {
      return {};
    },
    showOrderDetailDialog(data) {
      this.order_detail_data = data;
      this.dialog.order_detail_dialog_show = true;
    },
    getSiteList() {
      klook.ajaxGet(urlObj.get_site_list, this.getSiteListParams(), (resp) => {
        //load website list
        if (resp.success) {
          this.website_list = resp.result.websites;
          this.loaded_website = true;
        } else {
          console.error(resp);
        }
      });
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    getOrderListParams() {
      var date_range = this.searchOption.date_range;
      var start = moment(date_range[0]).format("YYYY-MM-DD");
      var end = moment(date_range[1]).format("YYYY-MM-DD");
      return {
        wid: this.searchOption.wid,
        start_date: start,
        end_date: end,
        p: this.pagination.curPage,
        pcount: this.pagination.pageSize,
      };
    },
    getOrderListUrl() {
      return urlObj.user_order;
    },
    getExportFileUrl() {
      var date_range = this.searchOption.date_range;
      var start = moment(date_range[0]).format("YYYY-MM-DD");
      var end = moment(date_range[1]).format("YYYY-MM-DD");
      return klook.strformat(
        `${urlObj.user_order_export}?wid={0}&start_date={1}&end_date={2}`,
        this.searchOption.wid,
        start,
        end
      );
    },
    generateActivityUrl(activity) {
      var url = generateActivityUrlByActivityId(activity.activity_id);
      return `<a target="__blank" class="theme_a" href="${url}">${activity.activity_name}</a>`;
    },
    isTicketPage() {
      return this.$route.name === "ticket_list";
    },
    getListName() {
      const route = this.$route.name;
      return route === "order_list" ? "Order List" : "Ticket List";
    },
    searchData() {
      const name = this.getListName();
      let wid = this.searchOption.wid;
      window.dataLayer.push({
        event: "search",
        eventCategory: name,
        eventAction: `Search`,
        eventLabel: `${wid}`,
      });
      this.pagination.curPage = 1;
      this.loadData();
      this.fetchCommissionTotal();
    },
    loadData() {
      function processData(list) {
        return list.map((item) => {
          return _.extend({}, item, {
            order_id: item.order_id,
            action: item.action,
            order_date: item.order_date,
            order_time: item.order_time,
            sales_amount: item.sales_amount,
            commission_rate: item.commission_rate,
            commission_amount: item.commission_amount,
            website_name: item.website_name,
            aid: item.aid,
            partner_params: item.partner_params,
            activity_name: item.activity_name,
            platform: item.platform,
            promo_code_type: item.promo_code_type,
          });
        });
      }
      this.loading_data = true;
      klook.ajaxGet(
        this.getOrderListUrl(),
        this.getOrderListParams(),
        (resp) => {
          if (resp.success) {
            this.loading_data = false;
            this.list = processData.call(this, resp.result.orders);
            this.pagination.total = resp.result.total;
          } else {
            console.error(resp);
          }
        }
      );
    },
    fetchCommissionTotal() {
      let date_range = this.searchOption.date_range;
      let start = moment(date_range[0]).format("YYYY-MM-DD");
      let end = moment(date_range[1]).format("YYYY-MM-DD");
      klook.ajaxGet(
        urlObj.get_commission_total,
        {
          start_date: start,
          end_date: end,
          wid: this.searchOption.wid,
          uid: this.$route.params.uid,
        },
        (res) => {
          if (res.success) {
            this.total_commission = res.result && res.result.total_commission;
          } else {
            console.error(res);
          }
        }
      );
    },
    exportFile() {
      const name = this.getListName();
      window.dataLayer.push({
        event: "export",
        eventCategory: name,
        eventAction: `Export`,
      });
      const url = this.getExportFileUrl();
      klook.downloadFile("", url);
    },
  },
};
</script>
