<style lang="scss" scoped></style>

<template lang="html">
  <klk-form :rules="formRules" :model="form_data" ref="ref_form">
    <klk-form-item
      :label="form_data_label.edit_website_name_english"
      prop="name"
      :required="true"
    >
      <klk-input maxlength="128" v-model="form_data.name"></klk-input>
    </klk-form-item>
    <klk-form-item
      :label="form_data_label.website_name_local"
      prop="name_local"
    >
      <klk-input maxlength="128" v-model="form_data.name_local"></klk-input>
    </klk-form-item>
    <klk-form-item
      :label="form_data_label.website_type"
      prop="category"
      :required="true"
    >
      <klk-select v-model="form_data.category">
        <klk-option
          v-for="(item, key) in WEBSITE_TYPE_MAP()"
          :key="key"
          :value="item.value"
          >{{ item.name }}</klk-option
        >
      </klk-select>
    </klk-form-item>
    <klk-form-item
      :label="form_data_label.target_audience_region"
      prop="region"
      :required="true"
    >
      <klk-select filterable v-model="form_data.region">
        <klk-option
          v-for="(value, key) in code_country_map"
          :key="key"
          :value="key"
          >{{ value.name }}</klk-option
        >
      </klk-select>
    </klk-form-item>
    <klk-form-item
      :label="form_data_label.website_url"
      prop="url"
      :required="true"
    >
      <klk-input maxlength="255" v-model="form_data.url"></klk-input>
    </klk-form-item>
  </klk-form>
</template>

<script>
import {
  formRules,
  WEBSITE_TYPE_MAP,
  requestWithCache,
  urlObj,
} from "common_data";

export default {
  name: "AddWebsiteForm",
  props: {
    data: {
      id: "",
      name: "",
      name_local: "",
      category: "",
      region: "",
      url: "",
    },
  },
  data() {
    return {
      form_data: this.data,
      form_data_label: {
        website_name_local: __("MULTIPLE_edit_website_name_local"),
        edit_website_name_english: __("MULTIPLE_edit_website_name_english"),
        website_name: __("MULTIPLE_website_name"),
        website_type: __("MULTIPLE_website_type"),
        target_audience_region: __("MULTIPLE_target_audience_region"),
        website_url: __("MULTIPLE_website_url"),
      },
      code_country_map: [],
    };
  },
  watch: {
    data: {
      handler: function (newVal) {
        this.form_data = newVal;
      },
      deep: true,
    },
  },
  created() {
    this.formRules = formRules.call(this);
    this.WEBSITE_TYPE_MAP = WEBSITE_TYPE_MAP;
  },
  mounted() {
    this.loadData();
  },
  methods: {
    loadData() {
      requestWithCache(urlObj.get_country_list).then(
        (data) => (this.code_country_map = data.country_list)
      );
    },
  },
};
</script>
