<style lang="scss" scoped>
.financial_info {
  background: #fff;
  padding: 24px;
  .header {
    display: flex;
    align-items: center;
    .my_account_title {
      margin-right: 40px;
      margin-bottom: 0;
    }
    .edit_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 15px !important;
        height: 15px;
        stroke: #07b295;
        shape-rendering: crispEdges;
        margin-right: 3px;
      }
      &:hover {
        svg {
          stroke: white;
        }
      }
    }
  }
  .taxation_section {
    margin-top: 32px;
  }
  .title {
    line-height: 2;
    font-size: 14px;
    color: #666666;
    .icon {
      width: 18px;
      height: 18px;
      vertical-align: text-bottom;
    }
    .poptip_content {
      width: 196px;
      color: #333333;
      font-size: 12px;
    }
  }
  .billing_currency_section {
    margin-top: 32px;
    .lable_style {
      margin: 12px 0;
      font-size: 14px;
      color: #333;
    }
  }
  .payment_method {
    .icon {
      width: 60px;
      height: 30px;
    }
    .text {
      margin-left: 5px;
      font-size: 18px;
      font-weight: 500;
    }
    .klk_radio_group_item {
      margin-right: 40px;
    }
  }
  .fill_form_note {
    font-size: 14px;
    padding: 4px 0;
    color: #07b295;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 20px;
    .tax_note_link {
      margin-right: 8px;
    }
  }
  .corporate_note {
    font-size: 14px;
    padding: 4px 0;
    font-weight: bold;
    margin-top: 20px;
  }
  .alert_a {
    text-decoration: none;
    color: red;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  ::v-deep .klk_checkbox_wrapper {
    margin-bottom: 10px;
    height: 44px;
    display: flex;
    line-height: 26px;
    cursor: pointer;
    font-size: 14px;
    .klk_checkbox {
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      cursor: pointer;
      outline: 0;
      line-height: 1;
      position: relative;
      margin: 6px 14px 6px 0;
    }
    .klk_checkbox_inner {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      top: 0;
      left: 0;
      border: 1px solid #dddee1;
      border-radius: 2px;
      background-color: #fff;
      transition: border-color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
      &::after {
        content: "";
        display: table;
        width: 4px;
        height: 8px;
        position: absolute;
        top: 0;
        left: 4px;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        transform: rotate(45deg) scale(1);
        transition: all 0.2s ease-in-out;
      }
    }
    &.klk_checkbox_wrapper_checked {
      .klk_checkbox_inner {
        border-color: $theme_color;
        background-color: $theme_color;
      }
    }
    .klk_checkbox_input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      cursor: pointer;
    }
    &.klk_checkbox_wrapper_disabled {
      .klk_checkbox_inner {
        border-color: #e0e0e0;
        background-color: #e0e0e0;
      }
    }
  }
  .checkbox_wrapper {
    margin-top: 18px;
    .desc {
      margin-bottom: 22px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
    }
    ::v-deep .klk_radio_group {
      width: 190px;
      justify-content: space-between;
      margin-left: 10px;
    }
  }
  .tax_input {
    margin-bottom: 10px;
  }
  .btn_groups {
    display: flex;
    align-items: center;
  }
}
</style>

<template lang="html">
  <div class="financial_info">
    <div class="header">
      <div class="my_account_title">
        {{ $t("FINANCIAL_INFO_financial_info") }}
      </div>
      <button
        v-show="show_edit"
        type="button"
        class="theme_btn_base_border mini_btn edit_btn"
        name="button"
        @click="handleClickEdit"
      >
        <klk-icon type="edit"></klk-icon>
        <span>{{ $t("MULTIPLE_edit") }}</span>
      </button>
    </div>
    <p class="title">
      {{ $t("FINANCIAL_INFO_financial_info_desc_prefix")
      }}{{ $t("FINANCIAL_INFO_financial_info_desc") }}
      <klk-poptip trigger="hover" class="poptip_wrapper">
        <klk-icon
          class="klook-icon-information-circled icon"
          type="information-circled"
        ></klk-icon>
        <div slot="content" class="poptip_content">
          <p v-html="$t('FINANCIAL_INFO_minimum_payout_limit')"></p>
        </div>
      </klk-poptip>
    </p>
    <div class="billing_currency_section">
      <div class="lable_style">{{ currency_label }}</div>
      <klk-input
        disabled
        width="250px"
        v-model="currency_value_shown"
      ></klk-input>
    </div>
    <klk-form
      flex_row
      ref="ref_form"
      v-loading="loading.loading_user_financial"
      :model="form_data"
    >
      <klk-form-item
        class="payment_method"
        v-if="form_data.payment_method"
        itemWidth="100%"
        :label="form_data_label.payment_method"
        prop="payment_method"
        :required="true"
      >
        <klk-radio-group
          v-model="form_data.payment_method"
          @on-change="handlePaymentMethodChange"
        >
          <klk-radio
            v-for="(value, name) in payment_method_map_view"
            :label="name"
            :key="name"
            :disabled="!shouldEdit"
            v-show="
              !(
                (name === 'paypal' &&
                  withoutPaypalCurrency.includes(prefer_currency)) ||
                (name === 'alipay' &&
                  withoutAlipayCurrency.includes(prefer_currency))
              )
            "
          >
            <span class="text" v-if="name === 'bank'">
              {{ $t("FINANCIAL_INFO_bank") }}
            </span>
            <img
              v-else
              class="icon"
              :src="require('../../../../imgs/pay/' + name + '.png')"
              :alt="name"
            />
          </klk-radio>
        </klk-radio-group>
      </klk-form-item>
      <keep-alive>
        <component
          v-bind:is="currentView"
          :edit="edit"
          ref="payment_info_view"
          :form_data_prop="form_data.payment_account_detail"
        >
          <!-- component 在父组件之后才mount -->
        </component>
      </keep-alive>
    </klk-form>
    <div class="taxation_section">
      <p class="tax_title">{{ $t("FINANCIAL_INFO_taxation_info") }}</p>
      <div v-if="tax_info.taxation_type">
        <klk-form
          flex_row
          :model="tax_info"
          ref="ref_form_tax_type"
          v-loading="loading.loading_user_taxation"
        >
          <klk-form-item
            class="payment_method"
            itemWidth="100%"
            :label="form_data_label.account_type"
            prop="taxation_type"
            :required="true"
          >
            <klk-radio-group
              v-model="tax_info.taxation_type"
              @on-change="handleChangeTaxInfoType"
            >
              <klk-radio
                :label="individual.label"
                :key="individual.key"
                :disabled="!shouldEdit"
              >
                <span>{{ $t("FINANCIAL_INFO_individual") }}</span>
              </klk-radio>
              <klk-radio
                :label="corporate.label"
                :key="corporate.key"
                :disabled="!shouldEdit"
              >
                <span>{{ $t("FINANCIAL_INFO_corporate") }}</span>
              </klk-radio>
            </klk-radio-group>
          </klk-form-item>
        </klk-form>
      </div>
      <div v-if="tax_info.taxation_type == 'individual'">
        <klk-form
          flex_row
          :rules="formRules"
          :model="tax_info.taxation_detail"
          ref="individual"
        >
          <klk-form-item
            :label="tax_label.nationality"
            prop="nationality"
            :required="true"
            class="tax_input"
          >
            <klk-select
              filterable
              v-model="tax_info.taxation_detail.nationality"
              maxlength="100"
              width="250px"
              :disabled="!shouldEdit"
            >
              <klk-option
                v-for="(value, key) in form_data.payment_account_detail
                  .country_obj_map"
                :key="key"
                :value="key"
                >{{ value.name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.id_passport_type"
            prop="id_passport_type"
            :required="true"
            class="tax_input"
          >
            <klk-select
              v-model="tax_info.taxation_detail.id_passport_type"
              maxlength="100"
              width="250px"
              :disabled="!shouldEdit"
            >
              <klk-option
                v-for="item in id_passport_type_list"
                :key="item.value"
                :value="item.value"
                >{{ item.label }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.id_passport_number"
            prop="id_passport_number"
            :required="true"
            class="tax_input"
          >
            <klk-input
              maxlength="100"
              v-model="tax_info.taxation_detail.id_passport_number"
              width="250px"
              :disabled="!shouldEdit"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.id_passport_name"
            prop="id_passport_name"
            :required="true"
            class="tax_input"
          >
            <klk-input
              maxlength="100"
              v-model="tax_info.taxation_detail.id_passport_name"
              width="250px"
              :disabled="!shouldEdit"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.country_code"
            prop="country_code"
            :required="true"
            class="tax_input"
          >
            <klk-select
              :disabled="!shouldEdit"
              filterable
              v-model="tax_info.taxation_detail.country_code"
              maxlength="100"
              width="250px"
            >
              <klk-option
                v-for="(value, key) in form_data.payment_account_detail
                  .country_obj_map"
                :key="key"
                :value="key"
                >{{ value.name + "(+" + value.phone_prefix + ")" }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.phone_number"
            prop="phone_number"
            :required="true"
            class="tax_input"
          >
            <klk-input
              :disabled="!shouldEdit"
              maxlength="100"
              v-model="tax_info.taxation_detail.phone_number"
              width="250px"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.gender"
            prop="gender"
            :required="true"
            class="tax_input"
          >
            <klk-select
              :disabled="!shouldEdit"
              v-model="tax_info.taxation_detail.gender"
              maxlength="100"
              width="250px"
            >
              <klk-option :value="gender_value.male" :key="1">{{
                $t("FINANCIAL_INFO_male")
              }}</klk-option>
              <klk-option :value="gender_value.female" :key="2">{{
                $t("FINANCIAL_INFO_female")
              }}</klk-option>
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.date_of_birth"
            prop="date_of_birth"
            :required="true"
            class="tax_input"
          >
            <klk-date-picker
              :disabled="!shouldEdit"
              type="date"
              v-model="tax_info.taxation_detail.date_of_birth"
              :confirm="true"
              :clearable="false"
              format="yyyy-MM-dd"
              width="250px"
            ></klk-date-picker>
          </klk-form-item>
          <klk-form-item
            :label="tax_label.residential_address"
            prop="residential_address"
            :required="true"
            class="tax_input"
          >
            <klk-input
              :disabled="!shouldEdit"
              maxlength="100"
              v-model="tax_info.taxation_detail.residential_address"
              width="700px"
            ></klk-input>
          </klk-form-item>
          <klk-form-item v-if="is_chinese_note_shown">
            <div class="checkbox_wrapper">
              <p class="desc">* {{ tax_label.stay_in_china }}</p>
              <klk-radio-group
                v-model="tax_info.display_for_chinese_residents"
                :disabled="!shouldEdit"
              >
                <klk-radio
                  :label="true"
                  :key="individual.key"
                  :disabled="!shouldEdit"
                >
                  <span>{{ $t("MULTIPLE_yes") }}</span>
                </klk-radio>
                <klk-radio
                  :label="false"
                  :key="corporate.key"
                  :disabled="!shouldEdit"
                >
                  <span>{{ $t("MULTIPLE_no") }}</span>
                </klk-radio>
              </klk-radio-group>
            </div>
          </klk-form-item>
        </klk-form>
      </div>
      <div v-if="tax_info.taxation_type === 'corporate'">
        <klk-form
          flex_row
          :rules="formRules"
          ref="corporate"
          :model="tax_info.taxation_detail"
        >
          <klk-form-item
            :label="$t('FINANCIAL_INFO_business_id')"
            prop="business_license_id"
            key="business_license_id"
            :required="true"
            class="tax_input"
          >
            <klk-input
              maxlength="100"
              v-model="tax_info.taxation_detail.business_license_id"
              width="250px"
              :disabled="!shouldEdit"
            ></klk-input>
          </klk-form-item>
          <klk-form-item
            :label="$t('FINANCIAL_INFO_tax_id')"
            prop="tax_id"
            class="tax_input"
            key="tax_id"
          >
            <klk-input
              maxlength="100"
              v-model="tax_info.taxation_detail.tax_id"
              width="250px"
              :disabled="!shouldEdit"
            ></klk-input>
          </klk-form-item>
        </klk-form>
        <p class="corporate_note">
          {{ $t("FINANCIAL_INFO_tax_note_corporate") }}
        </p>
      </div>
    </div>
    <div class="checkbox_wrapper">
      <klk-checkbox
        :value="confirm"
        @on-change="handleChangeConfirm"
        :htmlStr="$t('FINANCIAL_INFO_confirm_info')"
        :disabled="!shouldEdit"
      ></klk-checkbox>
    </div>
    <div v-show="shouldEdit" class="btn_groups">
      <button
        type="button"
        @click="validate"
        style="margin-right: 12px"
        class="theme_btn_base submit_btn small_btn"
        name="button"
        :disabled="!confirm"
      >
        {{ $t("MULTIPLE_Save") }}
      </button>
      <button
        type="button"
        class="theme_btn_base_border submit_btn small_btn"
        name="button"
        @click="handleClickCancel"
      >
        {{ $t("MULTIPLE_cancel") }}
      </button>
    </div>
  </div>
</template>

<script>
import AlipayTpl from "../payment_tpl/alipay.vue";
import PaypalTpl from "../payment_tpl/paypal.vue";
import BankTpl from "../payment_tpl/bank.vue";
import { urlObj, formRules, requestWithCache } from "common_data";
import moment from "moment";

export default {
  name: "FinancialInfo",

  data() {
    const payment_method_map_view = {
      alipay: AlipayTpl,
      paypal: PaypalTpl,
      bank: BankTpl,
    };
    return {
      form_data: {
        payment_method: "",
        payment_account_detail: {
          country_obj_map: {},
        },
      },
      date_of_birth_placeholder: "YYYY-MM-DD",
      currency_label: __("MULTIPLE_billing_currency"),
      currency_value_shown: "",
      form_data_label: {
        payment_method: __("MULTIPLE_payment_method"),
        account_type: __("FINANCIAL_INFO_account_type"),
      },
      payment_method_map_view: payment_method_map_view,
      tax_info: {
        taxation_detail: {},
        taxation_type: "individual",
        taxation_completed: false,
        display_for_chinese_residents: false,
      },
      individual: {
        label: "individual",
        key: "individual",
      },
      corporate: {
        label: "corporate",
        key: "corporate",
      },
      loading: {
        loading_user_financial: false,
        loading_user_taxation: false,
      },
      is_taxation_dialog_shown: false,
      is_chinese_note_shown: false,
      show_edit: false,
      prefer_currency_val: "",
      id_passport_type_list: [
        {
          label: __("FINANCIAL_INFO_id_type_1"),
          value: "1",
        },
        {
          label: __("FINANCIAL_INFO_id_type_2"),
          value: "2",
        },
        {
          label: __("FINANCIAL_INFO_id_type_3"),
          value: "3",
        },
        {
          label: __("FINANCIAL_INFO_id_type_4"),
          value: "4",
        },
        {
          label: __("FINANCIAL_INFO_id_type_5"),
          value: "5",
        },
        {
          label: __("FINANCIAL_INFO_id_type_6"),
          value: "6",
        },
        {
          label: __("FINANCIAL_INFO_id_type_7"),
          value: "7",
        },
        {
          label: __("FINANCIAL_INFO_id_type_8"),
          value: "8",
        },
      ],
      gender_value: {
        male: "1",
        female: "2",
      },
      tax_label: {
        nationality: __("FINANCIAL_INFO_nationality"),
        id_passport_type: __("FINANCIAL_INFO_id_passport_type"),
        id_passport_number: __("FINANCIAL_INFO_id_passport_number"),
        id_passport_name: __("FINANCIAL_INFO_id_passport_name"),
        country_code: __("MULTIPLE_country_code"),
        phone_number: __("MULTIPLE_phone_number"),
        gender: __("FINANCIAL_INFO_gender"),
        date_of_birth: __("FINANCIAL_INFO_date_of_birth"),
        residential_address: __("FINANCIAL_INFO_residential_address"),
        stay_in_china: __("FINANCIAL_INFO_stay_in_china"),
      },
      edit: false,
      confirm: true,
      withoutAlipayCurrency: [
        "HKD",
        "USD",
        "TWD",
        "SGD",
        "AUD",
        "EUR",
        "GBP",
        "JPY",
        "MYR",
        "AED",
      ],
      withoutPaypalCurrency: ["CNY", "MYR", "AED"],
    };
  },
  methods: {
    handleChangeConfirm(value) {
      this.confirm = value;
    },
    handleClickCancel() {
      this.edit = false;
      this.handleChangeConfirm(true);
      this.loadData();
    },
    handleChangeTaxInfoType(value) {
      if (value === "corporate") {
        this.tax_info.taxation_detail = {
          business_license_id: "",
          tax_id: "",
        };
      }
    },
    handleClickEdit() {
      this.edit = true;
      this.show_edit = false;
      this.handleChangeConfirm(false);
    },
    handleClickClose() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "My Account",
        eventAction: `Taxation Info Cancel`,
      });
      this.is_taxation_dialog_shown = false;
    },
    showTaxDialog() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "My Account",
        eventAction: `Taxation Link`,
        eventLabel: this.tax_info.taxation_completed,
      });
      this.is_taxation_dialog_shown = true;
    },
    loadData() {
      this.loading.loading_user_financial = true;
      this.loading.loading_user_taxation = true;
      // load financial info
      requestWithCache(urlObj.get_country_list).then((data) => {
        klook.ajaxGet(urlObj.user_payment, (resp) => {
          this.loading.loading_user_financial = false;
          this.loading.loading_user_taxation = false;
          this.show_edit = true;
          if (resp.success) {
            if (!Array.isArray(resp.result.financial_info)) {
              this.form_data = _.extend({}, resp.result.financial_info);
            }
            this.form_data.payment_account_detail.country_obj_map =
              data.country_list;
            if (
              this.withoutAlipayCurrency.includes(this.prefer_currency) &&
              this.form_data.payment_method === "alipay"
            ) {
              this.form_data.payment_method = "paypal";
            }
            this.tax_info = resp.result.taxation_info;
          } else {
            console.error(resp);
          }
        });
      });
    },

    submitData() {
      var payment_account_detail = this.$refs["payment_info_view"].form_data;
      if (this.form_data.payment_method == "paypal") {
        delete payment_account_detail["paypal_id_confirm"];
      } else if (this.form_data.payment_method == "alipay") {
        delete payment_account_detail["alipay_id_confirm"];
      }
      let taxation_data = Object.assign({}, this.tax_info);
      delete taxation_data["taxation_completed"];
      if (taxation_data.taxation_type === "individual") {
        taxation_data.taxation_detail.date_of_birth = moment(
          taxation_data.taxation_detail.date_of_birth.valueOf()
        ).format("YYYY-MM-DD");
      }
      klook.ajaxPostJSON(
        urlObj.user_payment,
        {
          financial_info: {
            payment_account_detail: payment_account_detail,
            payment_method: this.form_data.payment_method,
          },
          taxation_info: taxation_data,
        },
        (resp) => {
          if (resp.success) {
            this.$Modal.alert({
              onOk: () => {
                this.$emit("on-financial_info_changed");
              },
              title: __("MULTIPLE_save_success") + "!",
            });
          } else {
            console.error(resp);
          }
          this.show_edit = true;
        }
      );
    },

    handleTaxTypeChange(val) {
      // const validTypes = ["individual", "corporate"];
      // if (validTypes.includes(val)) {
      //     this.tax_info.taxation_type = val;
      // }
    },
    handlePaymentMethodChange(val) {
      const prefer_currency = this.prefer_currency_val;
      if (
        (prefer_currency == "CNY" && val == "alipay") ||
        (prefer_currency == "HKD" && val == "alipay") ||
        (prefer_currency == "TWD" && val == "alipay") ||
        (prefer_currency == "CNY" && val == "bank")
      ) {
        this.is_chinese_note_shown = true;
      } else {
        this.is_chinese_note_shown = false;
      }
    },
    validate() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "My Account",
        eventAction: `Payment Info Save`,
      });
      var paymentInfoView = this.$refs["payment_info_view"];
      paymentInfoView.$refs["ref_form"].validate((valid, message) => {
        if (valid) {
          this.$refs[this.tax_info.taxation_type].validate((valid) => {
            if (valid) {
              this.submitData();
            }
          });
        }
      });
    },
  },
  computed: {
    shouldEdit() {
      return this.edit;
    },
    currentView: function () {
      return this.payment_method_map_view[this.form_data.payment_method];
    },
    prefer_currency() {
      let prefer_currency = this.$store.state.accountModule.prefer_currency;
      SUPPORT_CURRENCY.forEach((element) => {
        if (element.value == prefer_currency) {
          this.currency_value_shown = element.title;
        }
      });
      if (
        (prefer_currency == "CNY" &&
          this.form_data.payment_method == "alipay") ||
        (prefer_currency == "HKD" &&
          this.form_data.payment_method == "alipay") ||
        (prefer_currency == "TWD" &&
          this.form_data.payment_method == "alipay") ||
        (prefer_currency == "CNY" && this.form_data.payment_method == "bank")
      ) {
        this.is_chinese_note_shown = true;
      } else {
        this.is_chinese_note_shown = false;
      }
      this.prefer_currency_val = prefer_currency;
      return prefer_currency;
    },
  },
  mounted() {
    this.loadData();
  },
  created() {
    this.formRules = formRules.call(this);
  },
};
</script>
