<style lang="scss" scoped>
.my_info {
  padding: 24px;
  background: #fff;
  .header {
    display: flex;
    align-items: center;
    .my_account_title {
      margin-right: 40px;
      margin-bottom: 0;
    }
    .edit_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 15px !important;
        height: 15px;
        stroke: #07b295;
        shape-rendering: crispEdges;
        margin-right: 3px;
      }
      &:hover {
        svg {
          stroke: white;
        }
      }
    }
  }
  .btn_groups {
    button {
      margin-right: 12px;
      padding: 0 30px;
      width: 117px;
    }
  }
}
</style>

<template lang="html">
  <div class="my_info">
    <div class="header">
      <div class="my_account_title">{{ $t("MULTIPLE_my_info") }}</div>
      <button
        v-show="show_edit"
        type="button"
        class="theme_btn_base_border mini_btn edit_btn"
        name="button"
        @click="handleClickEdit"
      >
        <klk-icon type="edit"></klk-icon>
        <span>{{ $t("MULTIPLE_edit") }}</span>
      </button>
    </div>
    <klk-form
      flex_row
      :rules="formRules"
      :model="form_data"
      ref="ref_form"
      v-loading="loading_data"
    >
      <klk-form-item
        :label="form_data_label.first_name"
        prop="firstname"
        :required="true"
      >
        <klk-input
          :maxlength="20"
          v-model="form_data.firstname"
          width="260px"
          :disabled="!shouldEdit"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :label="form_data_label.last_name"
        prop="lastname"
        :required="true"
      >
        <klk-input
          :maxlength="20"
          v-model="form_data.lastname"
          width="260px"
          :disabled="!shouldEdit"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :label="form_data_label.email"
        prop="email"
        :required="true"
      >
        <klk-input disabled v-model="form_data.email" width="260px"></klk-input>
      </klk-form-item>
      <klk-form-item
        :label="form_data_label.prefer_lang"
        prop="prefer_lang"
        :required="true"
      >
        <klk-select v-model="form_data.prefer_lang" :disabled="!shouldEdit">
          <klk-option
            v-for="item in langOptions"
            :key="item.title"
            v-text="item.title"
            :value="item.value"
          ></klk-option>
        </klk-select>
      </klk-form-item>
    </klk-form>
    <div v-show="shouldEdit" class="btn_groups">
      <button
        type="button"
        @click="validate"
        class="theme_btn_base submit_btn small_btn"
        name="button"
      >
        {{ $t("MULTIPLE_Save") }}
      </button>
      <button
        type="button"
        class="theme_btn_base_border submit_btn small_btn"
        name="button"
        @click="handleClickCancel"
      >
        {{ $t("MULTIPLE_cancel") }}
      </button>
    </div>
  </div>
</template>

<script>
import { urlObj, formRules } from "common_data";
import _ from "lodash";
import Cookies from "js-cookie";
export default {
  name: "MyInfo",
  data() {
    return {
      form_data: {
        firstname: "",
        lastname: "",
        email: "",
        prefer_currency: "USD",
        prefer_lang: "",
      },
      pre_form_data: {},
      form_data_label: {
        first_name: __("MULTIPLE_first_name"),
        last_name: __("MULTIPLE_last_name"),
        email: __("MULTIPLE_email"),
        prefer_lang: __("MULTIPLE_language"),
      },
      currencyList: SUPPORT_CURRENCY,
      langOptions: LANG_OPTIONS,
      passValidation: true,
      errorMessage: "",
      loading_data: false,
      edit: false,
      show_edit: true,
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  mounted() {
    this.loadData();
  },
  computed: {
    shouldEdit() {
      return this.edit;
    },
  },
  methods: {
    handleClickCancel() {
      this.form_data = this.pre_form_data;
      this.edit = false;
      this.show_edit = true;
    },
    handleClickEdit() {
      this.pre_form_data = _.cloneDeep(this.form_data);
      this.edit = true;
      this.show_edit = false;
    },
    loadData() {
      this.loading_data = true;
      klook.ajaxGet(urlObj.user_info, (resp) => {
        this.show_edit = true;
        if (resp.success) {
          let user_info = (resp.result && resp.result.user_info) || {};
          this.loading_data = false;
          this.form_data = _.extend({}, user_info);
          this.form_data.prefer_lang =
            user_info.prefer_lang === "en-US" ? "en" : user_info.prefer_lang;
          this.$store.commit(
            "set_prefer_currency",
            this.form_data.prefer_currency
          );
        } else {
          console.error(resp);
        }
      });
    },
    validate() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "My Account",
        eventAction: `My Info Save`,
      });
      this.$refs["ref_form"].validate((valid, message) => {
        console.log(valid);
        if (!valid) {
          this.errorMessage = this.errorMessage || message;
        } else {
          this.submitData();
        }
      });
    },
    submitData() {
      this.form_data.prefer_lang =
        this.form_data.prefer_lang === "en"
          ? "en-US"
          : this.form_data.prefer_lang;
      klook.ajaxPostJSON(
        urlObj.user_info,
        {
          user_info: this.form_data,
        },
        (resp) => {
          if (resp.success) {
            this.$Modal.alert({
              onOk: () => {
                let lang =
                  this.form_data.prefer_lang === "en-US"
                    ? "en"
                    : this.form_data.prefer_lang;
                Cookies.set("locale", lang === "en" ? "" : lang, {
                  path: "/",
                });
                lang === "en"
                  ? window.location.replace(this.$route.path)
                  : window.location.replace("/" + lang + this.$route.path);
                // this.loadData()
                // this.handleClickCancel()
              },
              // showCancel:true,
              title: __("MULTIPLE_save_success") + "!",
            });
          } else {
            console.error(resp);
          }
        }
      );
    },
  },
};
</script>
