<style lang="scss">
.website_admin {
  margin-bottom: 20px;
  padding: 20px 20px 40px;
  background: #fff;
  .website_admin_header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .title {
      font-size: 20px;
      margin-right: 40px;
      font-weight: 500;
      color: #333;
    }
  }
  .btn_add_website {
    padding: 0 24px;
  }
  .add_website_form_dialog {
    .klk_dialog_body {
      margin: 12px 40px 24px;
    }
    .klk_dialog_footer {
      .btn_group {
        padding-top: 16px;
        button {
          width: 168px;
        }
      }
    }
    .klk_select {
      width: 100%;
    }
  }
}
</style>

<template lang="html">
  <div class="website_admin">
    <div class="website_admin_header">
      <span class="title">
        {{ $t("WEBSITE_ADMIN_website_admin") }}
      </span>
      <button
        class="theme_btn_base_border mini_btn btn_add_website"
        @click="handleCLickAddWebsite"
        type="button"
      >
        {{ $t("WEBSITE_ADMIN_add_website") }}
      </button>
    </div>
    <klk-table
      :cols="cols"
      :table_data="site_list"
      v-loading="loading.loading_site_list"
    >
      <tr slot-scope="scope">
        <td>{{ scope.row.id }}</td>
        <td>{{ scope.row.name }}</td>
        <td>{{ scope.row.name_local }}</td>
        <td>{{ scope.row.url }}</td>
        <td>{{ scope.row.website_type_text }}</td>
        <td>{{ scope.row.region_text }}</td>
        <td>
          <a
            class="theme_a"
            href="javascript:void(0)"
            @click="() => handleClickEditWebsiteName(scope.row)"
            >{{ $t("MULTIPLE_config") }}</a
          >
        </td>
      </tr>
    </klk-table>
    <klk-dialog
      class="add_website_form_dialog"
      v-model="dialog.add_website_dialog"
      width="460"
    >
      <div class="klk_dialog_title">
        {{
          data.id
            ? $t("WEBSITE_ADMIN_edit_website_name_edit_website")
            : $t("WEBSITE_ADMIN_add_website")
        }}
      </div>
      <div class="klk_dialog_body">
        <add-website-form
          ref="ref_add_website_form"
          :data="data"
        ></add-website-form>
      </div>
      <div class="klk_dialog_footer">
        <div class="btn_group">
          <button
            type="button"
            name="button"
            class="theme_btn_base_white small_btn"
            style="margin-right: 24px"
            @click="handleClickClose"
          >
            {{ $t("WEBSITE_ADMIN_close") }}
          </button>
          <button
            type="button"
            name="button"
            class="theme_btn_base small_btn"
            @click="addWebsite"
          >
            {{ $t("MULTIPLE_Save") }}
          </button>
        </div>
      </div>
    </klk-dialog>
  </div>
</template>

<script>
import AddWebsiteForm from "../add_website_tpl/add_website_form.vue";
import { urlObj, WEBSITE_TYPE_MAP, requestWithCache } from "common_data";
export default {
  name: "WebsiteAdmin",
  data() {
    return {
      website: "",
      adType: "",
      site_list: [],
      dialog: {
        add_website_dialog: false,
      },
      loading: {
        loading_site_list: false,
      },
      data: {
        id: "",
        name: "",
        name_local: "",
        category: "",
        region: "",
        url: "",
      },
    };
  },
  components: {
    AddWebsiteForm,
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_affiliate_ID") + "(AID)",
      },
      {
        label: __("MULTIPLE_edit_website_name_english"),
      },
      {
        label: __("MULTIPLE_edit_website_name_local"),
      },
      {
        label: __("MULTIPLE_website_url"),
      },
      {
        label: __("MULTIPLE_website_type"),
      },
      {
        label: __("MULTIPLE_target_audience_region"),
      },
      {
        label: __("MULTIPLE_action"),
      },
    ];
  },
  mounted() {
    this.loadData();
  },
  methods: {
    handleClickClose() {
      const targetComponent = this.$refs["ref_add_website_form"];
      targetComponent.$refs["ref_form"].resetFields();
      this.dialog.add_website_dialog = false;
    },
    handleClickEditWebsiteName(data) {
      const { id, name, name_local, category, region, url } = data;
      this.data = {
        id,
        name,
        name_local,
        category: String(category),
        region,
        url,
      };
      this.dialog.add_website_dialog = true;
    },
    handleCLickAddWebsite() {
      this.data = {
        name: "",
        name_local: "",
        category: "",
        region: "",
        url: "",
      };
      this.dialog.add_website_dialog = true;
    },
    addWebsite() {
      var targetComponent = this.$refs["ref_add_website_form"],
        form_data = targetComponent.form_data;
      targetComponent.$refs["ref_form"].validate((valid, message) => {
        if (!valid) {
          this.passValidation = valid;
          this.errorMessage = this.errorMessage || message;
        } else {
          this.dialog.add_website_dialog = false;
          if (form_data.id) {
            // 编辑
            klook.ajaxPutJSON(
              urlObj.update_website_list,
              { websites: [form_data] },
              (resp) => {
                if (resp.success) {
                  // 清除 data 状态
                  this.data = {};
                  this.loadData();
                } else {
                  console.error(resp);
                }
              }
            );
          } else {
            // 添加
            klook.ajaxPostJSON(
              urlObj.update_website_list,
              form_data,
              (resp) => {
                if (resp.success) {
                  this.data = {};
                  this.loadData();
                } else {
                  console.error(resp);
                }
              }
            );
          }
        }
      });
    },
    showWebsiteType(value) {
      const website = WEBSITE_TYPE_MAP().filter(
        (item) => +item.value === +value
      )[0];
      return (website && website.name) || "";
    },
    loadData() {
      var country_list_map = {};
      this.loading.loading_site_list = true;
      klook.ajaxGet(urlObj.get_site_list, (resp) => {
        if (resp.success) {
          requestWithCache(urlObj.get_country_list).then((data) => {
            this.loading.loading_site_list = false;
            country_list_map = data.country_list;
            this.site_list = (resp.result.websites || []).map((item) => {
              // 如果用户填写了 category other 内容，那么 website_type 就显示 other 的内容
              item.website_type_text =
                item.category === -1
                  ? item.category_info
                  : this.showWebsiteType(item.category);
              item.region_text = country_list_map[item.region].name;
              return item;
            });
          });
        } else {
          console.error(resp);
        }
      });
    },
  },
};
</script>
