<template lang="html">
  <div class="my_account">
    <my-info></my-info>
    <module-bar></module-bar>
    <financial-info
      v-on:on-financial_info_changed="reloadFinancialInfo"
      :key="financial_info_key"
    ></financial-info>
    <module-bar></module-bar>
    <website-admin></website-admin>
  </div>
</template>

<script>
import MyInfo from "./account_module/my_info.vue";
import FinancialInfo from "./account_module/financial_info.vue";
import WebsiteAdmin from "./account_module/website_admin.vue";
import ModuleBar from "../../tpl/module_bar.vue";

export default {
  name: "MyAccount",
  data() {
    return {
      financial_info_key: 1,
    };
  },
  components: {
    ModuleBar,
    MyInfo,
    FinancialInfo,
    WebsiteAdmin,
  },
  methods: {
    reloadFinancialInfo() {
      this.financial_info_key++;
    },
  },
};
</script>

<style lang="scss">
.my_account {
  .my_account_title {
    margin-bottom: 4px;
    font-size: 20px;
  }
  .taxation_section {
    .tax_title {
      margin: 12px 0;
      font-size: 20px;
    }
  }
  .submit_btn {
    margin-top: 16px;
  }
}
</style>
