<template>
  <div class="container" :style="`background-image: url(${this.background})`">
    <div class="body">
      <div class="klk-logo"></div>
      <span class="title" :style="titleStyle()">{{ title() }}</span>
      <tab-bar
        v-if="showTabBar()"
        :data="data"
        ref="tabbar"
        :onClick="handleClick"
      />
      <search-input
        v-if="showSearchInput()"
        :data="data"
        :size="size"
        :jump_without_query="jump_without_query"
        :lang="lang"
        :defaultJumpUrl="defaultJumpUrl"
        :sendTrackingData="sendTrackingData"
      />
      <sub-vertical
        v-if="showSubVertical()"
        :sub_vertical="sub_vertical"
        :sendTrackingData="sendTrackingData"
      />
      <card-list
        :data="data"
        v-if="showCardList()"
        :onClick="handleClick"
        :sendTrackingData="sendTrackingData"
      />
      <drawer
        :sub_vertical="sub_vertical"
        v-if="showDrawer()"
        :onClose="handleCloseDrawer"
        :sendTrackingData="sendTrackingData"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import { widthCondition, verticalDetail } from "./interface/search_box";
import {
  getUrlParam,
  urlObj,
  ads_monitor,
  adsEvent,
  RENDER_LANGUAGE_MAP,
} from "../../util/common_data.js";
import { ajaxGetPromise } from "../../util/request.js";
import searchInput from "./component/input.vue";
import TabBar from "./component/tabbar.vue";
import SubVertical from "./component/sub_vertical.vue";
import CardList from "./component/cardList.vue";
import Drawer from "./component/drawer.vue";

@Component({
  components: {
    TabBar,
    searchInput,
    SubVertical,
    CardList,
    Drawer,
  },
})
export default class SearchBox extends Vue {
  private size: any =
    window.innerWidth > 730 ? widthCondition.BIG : widthCondition.SMALL;
  private data: verticalDetail[] = [];
  private sub_vertical: any = null;

  active: verticalDetail | any;
  background = "";
  lang = "en-US";
  defaultJumpUrl = "";
  jump_without_query = "";
  private adid;
  private aid;
  iframeData = "";

  // kepler_id
  private kepler_id = this.$renderStore.state.keplerId;

  get currentExp() {
    return this.$renderStore.state.currentExp;
  }

  title() {
    return RENDER_LANGUAGE_MAP[this.lang]["search_title"];
  }

  titleStyle() {
    return this.size === widthCondition.SMALL &&
      this.data &&
      this.data.length === 0
      ? "padding-top: 40px"
      : "";
  }

  // 展示垂直子页面
  showSubVertical() {
    return (
      this.size === widthCondition.BIG &&
      this.sub_vertical &&
      this.active.vid !== 0
    );
  }
  // 移动端向上滑动图层
  showDrawer() {
    return (
      this.size === widthCondition.SMALL &&
      this.sub_vertical &&
      this.sub_vertical.length > 0
    );
  }
  // 展示输入框
  showSearchInput() {
    return (
      (this.active && this.active.vid === 0) ||
      !this.active ||
      this.size === widthCondition.SMALL
    );
  }

  showTabBar() {
    return this.size === widthCondition.BIG && this.data.length > 0;
  }

  showCardList() {
    return this.size === widthCondition.SMALL && this.data.length > 0;
  }

  handleCloseDrawer() {
    this.sub_vertical = null;
  }

  resizeHandler(event: any) {
    let width = event.currentTarget.innerWidth;
    if (width <= 730 && (this.size === widthCondition.BIG || !this.size)) {
      this.active = null;
      this.sub_vertical = null;
      this.size = widthCondition.SMALL;
    } else if (
      width > 730 &&
      (this.size === widthCondition.SMALL || !this.size)
    ) {
      this.active = null;
      this.sub_vertical = null;
      this.size = widthCondition.BIG;
    }
  }

  mounted() {
    // 需要获取到当前宽度
    window.innerWidth > 730
      ? (this.size = widthCondition.BIG)
      : (this.size = widthCondition.SMALL);
    // 需要根据当前视口宽度设置状态
    window.addEventListener("resize", this.resizeHandler);
  }

  beforeDestroy() {
    window.removeEventListener("resize", this.resizeHandler);
  }

  created() {
    ads_monitor(getUrlParam("prod"), (data) => {
      this.iframeData = data;
    });
    // 获取 query 中参数 adid
    let adid: any = getUrlParam("adid");
    if (!adid || +adid < 0) {
      adid = 0;
    }
    this.adid = adid;
    this.fetchData(adid);
  }

  async fetchData(adid: number) {
    let res = await ajaxGetPromise(urlObj.search_box_render_data(adid));
    // 对接口做判断
    if (res.success) {
      this.data = res.result.domains || [];
      this.lang = res.result.lang || "en-US";
      this.background =
        res.result.background || "../../../../imgs/render/search_box/bg.jpg";
      let d = this.data.filter((item) => item.vid === 0);
      this.active = (d && d[0]) || this.data[0];
      this.defaultJumpUrl = res.result.jump;
      this.jump_without_query = res.result.jump_without_query;
      this.aid = res.result.aid || "";
      window.dataLayer &&
        window.dataLayer.push({
          event: "adDisplay",
          eventCategory: `Experimentation`,
          eventAction: `Affiliate Ad Impression`,
          eventLabel: `Search Box`,
          KeplerID: this.kepler_id,
          AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
            this.currentExp.groupId || ""
          }`,
          AffiliateADID: this.adid,
          PartnerWebsiteAID: this.aid,
        });
      // 渲染成功: 4
      adsEvent(4, this.iframeData);
    } else {
      // 渲染失败: 5
      adsEvent(5, this.iframeData);
    }
  }

  handleClick(item: any) {
    this.active = item;
    this.sub_vertical = item.svid || [];
  }

  sendTrackingData(item) {
    // kepler 埋点
    window.dataLayer &&
      window.dataLayer.push({
        event: "adDisplay",
        eventCategory: `Experimentation`,
        eventAction: `Affiliate Ad Click`,
        eventLabel: `Search Box`,
        KeplerID: this.kepler_id,
        AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
          this.currentExp.groupId || ""
        }`,
        AffiliateADID: this.adid,
        PartnerWebsiteAID: this.aid,
      });
  }
}
</script>
<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  padding: 0 200px;
  user-select: none;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc((100% - 690px) / 2);
    height: 255px;
    .klk-logo {
      width: 100%;
      height: 25px;
      background-repeat: no-repeat;
      background-image: url("../../../assets/img/klk-logo.svg");
    }
  }
  .title {
    width: 100%;
    padding-top: 64px;
    margin-bottom: 8px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}

@media screen and (max-width: 1090px) {
  .container {
    min-width: 690px;
    padding: 0 calc((100% - 690px) / 2);
  }
}

@media screen and (max-width: 730px) {
  .container {
    min-width: 320px;
    padding: 0;
    .body {
      width: calc(100% - 162px);
      padding: 0;
      height: 280px;
      margin-top: 22px;
      .title {
        padding-top: 19px;
      }
    }
  }
}

@media screen and (max-width: 442px) {
  .container {
    padding: 0 calc((100% - 320px) / 2);
    .body {
      width: 280px;
      height: 280px;
      margin-top: 22px;
    }
  }
}

@media screen and (max-width: 320px) {
  .container {
    .body {
      width: calc(100% - 40px);
    }
  }
}
</style>
