<template>
  <div class="notification">
    <NotificationList
      ref="notification_list"
      :handleClickItem="handleClickItem"
    ></NotificationList>
    <div class="body" v-if="content.id" v-loading="loading">
      <div class="header">
        <div class="info">
          <div class="type">
            <NotificationType
              v-if="content.id"
              :type="content.type"
            ></NotificationType>
          </div>
          <div class="time" v-if="content.publish_time">
            {{ formatTime(content.publish_time) }}
          </div>
        </div>
        <div class="title">{{ content.title }}</div>
      </div>
      <div class="content" v-html="content.html"></div>
    </div>
    <div class="empty" v-else>
      <klk-icon class="icon" type="empty_search" size="100"></klk-icon>
      <div class="text">{{ $t("27387") }}</div>
    </div>
  </div>
</template>
<script>
import NotificationType from "./component/notification_type";
import NotificationList from "./component/notification_list";
import { urlObj } from "common_data";
import moment from "moment";
export default {
  name: "Notification",
  components: {
    NotificationType,
    NotificationList,
  },
  data: function () {
    return {
      content: {},
      changeStatus: false,
      loading: false,
    };
  },
  methods: {
    handleClickItem(data, notification_filter) {
      const { id } = data;
      this.fetchInfo(id);
      if (!data.read_status) {
        this.setReadStatus(id, notification_filter);
      }
    },
    fetchInfo(id) {
      this.loading = true;
      klook.ajaxGet(urlObj.notification_publisher_detail(id), null, (res) => {
        this.loading = false;
        if (res.success) {
          this.content = res.result;
        } else {
          this.$Message({
            type: "warning",
            content: res.error.message,
          });
        }
      });
    },
    formatTime(time) {
      return moment(time).format("YYYY-MM-DD HH:mm:ss");
    },
    setReadStatus(id, notification_filter) {
      klook.ajaxPutJSON(urlObj.notification_publisher_read(id), null, (res) => {
        if (res.success) {
          // 请求列表
          if (!notification_filter) {
            this.$refs["notification_list"].loadData &&
              this.$refs["notification_list"].loadData(false);
          } else {
            this.$refs["notification_list"].loadDataById &&
              this.$refs["notification_list"].loadDataById(false);
          }
          this.$store.dispatch({
            type: "notificationTotal",
          });
        } else {
          this.$Message({
            type: "warning",
            content: res.error.message,
          });
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.notification {
  width: 1160px;
  margin: 20px auto 0;
  padding: 0 30px;
  display: flex;
  .body {
    border-radius: 2px;
    background: white;
    width: 756px;
    //height: fit-content;
    height: 710px;
    padding: 20px;
    margin: 0 0 20px 20px;
    .header {
      min-height: 86px;
      padding: 12px 20px;
      display: flex;
      flex-direction: column;
      .title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 28px;
        line-height: 32px;
        color: #333333;
        margin-bottom: 14px;
        word-break: keep-all;
      }
      .info {
        display: flex;
        height: 44px;
        justify-content: space-between;
        box-shadow: inset 0px -0.5px 0px #eeeeee;
        .time {
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          color: #999999;
        }
      }
    }
    .content {
      word-break: break-all;
      overflow: scroll;
      height: 536px;
      box-sizing: border-box;
      padding: 10px 20px;

      @mixin initial_style {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0;
        margin-inline-end: 0;
      }

      ::v-deep * {
        word-break: keep-all;
      }
      ::v-deep h1 {
        font-size: 2em !important;
      }

      ::v-deep h2 {
        font-size: 1.5em;
      }

      ::v-deep h3 {
        font-size: 1.17em;
      }

      ::v-deep h5 {
        font-size: 0.83em;
      }

      ::v-deep h6 {
        font-size: 0.67em;
      }

      ::v-deep ul {
        list-style-type: disc;
        padding-inline-start: 40px;
        @include initial_style;
      }

      ::v-deep ol {
        list-style-type: decimal;
        padding-inline-start: 40px;
        @include initial_style;
      }
      ::v-deep p {
        @include initial_style;
      }
    }
  }
  .empty {
    background: white;
    width: 756px;
    margin: 0 0 20px 20px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .icon {
      background: #fafafa;
      border-radius: 50%;
      padding-top: 26px;
    }
    .text {
      margin-top: 20px;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      color: #333333;
    }
  }
}
</style>
