<template>
  <div class="header">
    <div class="info">
      <div class="desc">
        {{ $t("product_list_page_promotion") }}：{{ showTime() }}
      </div>
      <div class="copy_text">{{ $t("product_list_page_copy_link") }}</div>
    </div>
    <div class="header_right_wrapper">
      <div class="lang_info_wrapper">
        <klk-poptip trigger="hover" class="poptip_wrapper">
          <div class="poptip_info header_right_text">
            {{ lang_name }}
            <klk-icon
              class="klook-icon-arrow-down"
              type="arrow-down"
            ></klk-icon>
          </div>
          <div slot="content" class="poptip_content">
            <ul class="ul_content lang">
              <li
                v-for="(item, index) in klk_lang_options"
                :key="index"
                class="li_item"
                :class="{ active: klk_lang == item.value }"
                @click="change_lang(item.value)"
              >
                {{ item.title }}
              </li>
            </ul>
          </div>
        </klk-poptip>
      </div>
      <img
        src="../../../../../imgs/logo.png"
        class="logo"
        alt=""
        @click="go_home"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import * as moment from "moment";

@Component
export default class Header extends Vue {
  klk_lang = window.KLK_LANG;
  klk_lang_options = window.LANG_OPTIONS.filter((item) => {
    return item.value === "en" || item.value === "zh-TW";
  });

  showTime() {
    return moment().format("YYYY-MM-DD");
  }

  get lang_name() {
    var self = this;
    var lang_name;
    this.klk_lang_options.forEach((item) => {
      if (self.klk_lang == item.value) {
        lang_name = item.title;
      }
    });
    return lang_name;
  }

  go_home() {
    window.location.replace("/");
  }

  change_lang(lang) {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "Header",
      eventAction: `Demo Page`,
      eventLabel: `${lang}`,
    });
    let path = window.location.pathname;
    if (!path.startsWith("/v1/affnode")) {
      path = `/${path.split("/").slice(2).join("/")}`;
    }
    lang === "en"
      ? window.location.replace(path + window.location.search)
      : window.location.replace("/" + lang + path + window.location.search);
  }
}
</script>
<style lang="scss" scoped>
.header {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  top: 0;
  margin: 20px 0 0 0;
  .info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .desc {
      font-size: 18px;
      font-weight: 800;
    }
    .copy_text {
      font-size: 12px;
      color: #b0b0b0;
    }
  }
  .logo {
    width: 184px;
    height: 24px;
    cursor: pointer;
  }

  .header_right_wrapper {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 64px;
    color: #666666;

    .klk_svg {
      width: 10px;
      height: 10px;
    }

    .lang_info_wrapper,
    .log_in_wrapper,
    .sign_up_wrapper {
      position: relative;
      display: inline-block;
      margin-right: 40px;
    }

    .user_info_wrapper {
      display: inline-block;
    }

    .header_right_text {
      font-size: 14px;
      color: #666666;
      font-weight: 500;
      cursor: pointer;
    }

    .poptip_wrapper {
      .klk_svg_arrow-down {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
      }

      .poptip_info {
        position: relative;
        display: inline-block;
      }

      .poptip_content {
        width: 140px;

        .ul_content {
          text-align: left;
          margin: 0;
          padding: 0;
          .li_item {
            list-style: none;
            line-height: 40px;
            padding-left: 16px;
            font-size: 14px;
            color: #333333;
            cursor: pointer;
            vertical-align: top;

            &.active,
            &:hover {
              background: #f5f5f5;
            }

            .icon {
              width: 24px;
              height: 24px;
              vertical-align: text-bottom;
            }

            .text {
              vertical-align: super;
            }
          }

          &.lang {
            text-align: center;

            .li_item {
              padding-left: 0;
            }
          }
        }
      }
    }
  }
}
</style>
