<style lang="scss">
.admin_bonus_setting {
  th {
    text-align: center;
  }
  .input_group_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .error {
      border-color: red;
    }
    .split_line {
      width: 14px;
      height: 1px;
      background-color: #dee4eb;
      margin: 0 10px;
    }
    input {
      height: 28px;
    }
  }
  .bonus_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      height: 28px;
      padding: 0;
      width: 66px;
      text-align: center;
      margin-right: 10px;
      &:hover {
        border: 1px solid #07b295;
        outline: none;
      }
    }
  }
  .add_level {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    cursor: pointer;
  }
}
</style>

<template lang="html">
  <div class="admin_bonus_setting">
    <klk-table :cols="cols" :table_data="list">
      <tr slot-scope="scope">
        <td>{{ scope.row.level }}</td>
        <td>
          <div
            class="input_group_wrapper"
            v-if="list.length != scope.$index + 1"
          >
            <input
              disabled
              type="text"
              :class="{
                error: scope.row.sales_bottom > scope.row.sales_top,
              }"
              v-model.number="scope.row.sales_bottom"
              @input="correctSales($event, scope.$index, 'sales_bottom')"
            />
            <span class="split_line"></span>
            <input
              type="text"
              :class="{
                error:
                  scope.row.sales_bottom > scope.row.sales_top ||
                  scope.row.sales_top == '',
              }"
              v-model.number="scope.row.sales_top"
              @input="correctSales($event, scope.$index, 'sales_top')"
            />
          </div>
          <div class="max_than" v-show="list.length == scope.$index + 1">
            <span> > </span>
            <span> {{ scope.row.sales_bottom }} </span>
          </div>
        </td>
        <td>
          <div class="bonus_wrapper">
            <input
              type="number"
              :step="0.1"
              name=""
              v-model="scope.row.additional_bonus_commission"
              @input="correctBonus($event, scope.$index)"
            />
            <span>%</span>
          </div>
        </td>
        <td>
          <a
            href="javascript:void(0)"
            @click="deleteListItem(scope.$index)"
            class="delete theme_a"
            v-show="scope.$index == list.length - 1 && list.length > 2"
            >{{ $t("MULTIPLE_delete") }}</a
          >
        </td>
      </tr>
      <tfoot slot="tfoot" v-show="list.length < 5">
        <tr>
          <td colspan="4">
            <span class="add_level theme_a" @click="addListProxy">
              + {{ $t("ADMIN_ADMIN_BONUS_SETTING_add_a_level") }}
            </span>
          </td>
        </tr>
      </tfoot>
    </klk-table>
  </div>
</template>

<script lang="ts">
import {
  number_or_undefined_ts,
  bonus_setting_list_ts,
  bonus_setting_list_item_ts,
  sales_bottom_or_top_ts,
  cols_item_ts,
  level_data_ts,
} from "./modals";

import Vue from "vue";

export default Vue.extend({
  name: "AdminBonusSetting",
  filters: {
    trimLeftZero: function (value: any): any {
      return parseInt(String(value).replace(/^0+/, ""));
    },
  },

  props: ["activated_bonus_setting_data"],
  // props: {
  //     'activated_bonus_setting_data':{
  //         type:Array
  //     }
  // },

  data() {
    const cols: cols_item_ts[] = [];
    const list: level_data_ts[] = [];
    return {
      list: list,
      cols: cols,
      bonus_rate_limit: 50,
    };
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_affiliate_level"),
      },
      {
        label: __("MULTIPLE_monthly_sales_volume") + "(USD $)",
        width: "40%",
      },
      {
        label: __("ADMIN_ADMIN_BONUS_SETTING_additional_bonus_commission"),
      },
      {
        label: "",
        width: "10%",
      },
    ];
    this.addList();
    this.addList();
    this.addList();
    this.addList();
  },
  watch: {
    activated_bonus_setting_data: function (
      newVal: bonus_setting_list_ts,
      oldVal: bonus_setting_list_ts
    ) {
      this.list = [];
      this.generateNewListFromProp(newVal);
    },
  },
  methods: {
    modifyNumber(number: string | number): number {
      var modifiedNumber = parseInt(String(number));
      if (!modifiedNumber || modifiedNumber < 0) {
        //数量不合法
        modifiedNumber = 0;
      }
      return modifiedNumber;
    },
    correctSales(e: any, index: number, key: sales_bottom_or_top_ts) {
      var levelData: level_data_ts = this.list[index];

      levelData[key] = this.modifyNumber(e.target.value);
      //dynamically set next sales_bottom
      this.list[index + 1].sales_bottom = this.list[index].sales_top + 1;
    },
    correctBonus(e: any, index: number) {
      //bonus rate 不能超过50
      const target = e.target;
      if (+target.value) {
        let resultNumber;
        if (+target.value <= 0) {
          resultNumber = 0;
        } else if (+target.value > this.bonus_rate_limit) {
          resultNumber = this.bonus_rate_limit;
        } else {
          resultNumber = target.value.match(/^\d*(\.?\d?)/g)[0] || null;
        }
        this.list[index].additional_bonus_commission = resultNumber;
      }
    },
    deleteListItem(index: number) {
      this.list.splice(index, 1);
    },
    addListProxy() {
      //防止vue自动给函数填充event参数
      this.addList();
    },
    addList(
      sales_bottom?: number_or_undefined_ts,
      sales_top?: number_or_undefined_ts,
      additional_bonus_commission?: number_or_undefined_ts
    ) {
      this.list.push(
        this.generateLevelData(
          sales_bottom,
          sales_top,
          additional_bonus_commission
        )
      );
    },
    generateNewListFromProp(list: bonus_setting_list_ts) {
      var tempList = list.concat([]).reverse();
      tempList.forEach((item: bonus_setting_list_item_ts, index: number) => {
        var top = this.modifyNumber(
          tempList[index + 1] && tempList[index + 1][0]
        );
        var bottom = this.modifyNumber(item[0]);
        var commission = item[1];

        top = top > 0 ? top - 1 : 0;

        this.addList(bottom, top, commission);
      });
    },
    generateLevelData(
      sales_bottom?: number_or_undefined_ts,
      sales_top?: number_or_undefined_ts,
      additional_bonus_commission?: number_or_undefined_ts
    ) {
      var len = this.list.length;
      var prevData: level_data_ts, levelData: level_data_ts, level: string;

      function getRealValue(
        inputValue: number_or_undefined_ts,
        defaultValue: number
      ) {
        return inputValue || defaultValue;
      }
      if (len == 0) {
        return {
          level: "level0",
          sales_bottom: getRealValue(sales_bottom, 0),
          sales_top: getRealValue(sales_top, 0),
          additional_bonus_commission: getRealValue(
            additional_bonus_commission,
            0
          ), //less than 50 (%)
        };
      }

      prevData = this.list[len - 1];
      level = "level" + len;
      sales_bottom = getRealValue(sales_bottom, prevData.sales_top + 1);
      sales_top = getRealValue(sales_top, sales_bottom + 1);
      additional_bonus_commission = getRealValue(
        additional_bonus_commission,
        prevData.additional_bonus_commission
      );

      levelData = {
        level: level,
        sales_bottom: sales_bottom,
        sales_top: sales_top,
        additional_bonus_commission: additional_bonus_commission,
      };

      return levelData;
    },
    validate(): boolean {
      //validate error
      return this.$el.querySelectorAll("input.error").length > 0 ? false : true;
    },
    getData(): bonus_setting_list_ts {
      if (this.validate()) {
        return this.list
          .concat([])
          .reverse()
          .map((item: level_data_ts): bonus_setting_list_item_ts => {
            return [item.sales_bottom, item.additional_bonus_commission];
          });
      } else {
        return [];
      }
    },
  },
});
</script>
