<style lang="scss">
.affiliate_admin {
  .search_area {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .select_area_row {
      display: flex;
      align-items: center;
    }
    .klk_select {
      margin-left: 10px;
    }
    .search_input {
      margin-left: -1px;
      margin-bottom: 24px;
      .icon_search {
        line-height: 40px;
      }
    }
  }
  .user_info_list {
    .operation {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 22px;
      font-size: 12px;
    }
    .klk_table {
      overflow-x: scroll;
    }
  }
  .transfer_dialog_class {
    .klk_select {
      width: 100%;
    }
    button {
      width: 158px;
    }
  }
  .manager_user {
    color: #07b295;
    cursor: pointer;
  }
  .manage_user_content {
    font-size: 12px;
  }
  .aff_admin_main {
    ::v-deep.klk_table {
      overflow-x: scroll;
    }
  }
}

.status_box_1,
.status_box_0,
.status_box_-1 {
  box-sizing: border-box;
  border-radius: 2px;
  padding: 4px;
}
.status_box_1 {
  color: #07b295;
  background: rgba(7, 178, 149, 0.1);
  border: 1px solid #07b295;
}
.status_box_0 {
  color: #4d87e5;
  border: 1px solid #4d87e5;
  background: rgba(77, 135, 229, 0.1);
}
.status_box_-1 {
  color: #666666;
  background: rgba(102, 102, 102, 0.1);
  border: 1px solid #666666;
}
.desc_icon {
  vertical-align: middle;
}
</style>

<template>
  <div class="affiliate_admin">
    <div v-show="$route.name == 'affiliate_admin'" class="aff_admin_main">
      <div class="search_area">
        <div class="select_area_row">
          <klk-select
            filterable
            v-model="searchOption.admin"
            placeholder="Select Admin"
            width="180px"
            @on-change="(value) => changeSearchOption(value, 'admin')"
          >
            <klk-option value="all">{{ $t("MULTIPLE_all") }}</klk-option>
            <klk-option
              v-for="item in admin_list"
              :key="item.uid"
              :value="item.email"
              >{{ item.email }}
            </klk-option>
          </klk-select>
          <klk-select
            filterable
            v-model="searchOption.country_code"
            width="180px"
            :placeholder="$t('ADMIN_MULTIPLE_affiliate_country')"
            @on-change="(value) => changeSearchOption(value, 'country_code')"
          >
            <klk-option value="all">{{ $t("MULTIPLE_all") }}</klk-option>
            <klk-option
              v-for="(value, key) in code_country_map"
              :key="key"
              :value="key"
              >{{ value.name }}
            </klk-option>
          </klk-select>
          <klk-select
            filterable
            v-model="searchOption.status"
            width="180px"
            :placeholder="$t('MULTIPLE_status')"
            @on-change="(value) => changeSearchOption(value, 'status')"
          >
            <klk-option value="all">{{ $t("MULTIPLE_all") }}</klk-option>
            <klk-option value="-1">{{
              $t("ADMIN_MULTIPLE_terminated")
            }}</klk-option>
            <klk-option value="0">{{
              $t("ADMIN_AFFILIATE_ADMIN_applied")
            }}</klk-option>
            <klk-option value="1">{{ $t("MULTIPLE_active") }}</klk-option>
          </klk-select>
          <klk-select filterable v-model="searchOption.type" width="90px">
            <klk-option
              v-for="item in search_type_list"
              :key="item.value"
              :value="item.value"
              >{{ item.label }}</klk-option
            >
          </klk-select>
        </div>

        <klk-input
          type="text"
          class="search_input"
          v-model="searchOption.info"
          @input="(value) => changeSearchOption(value, 'info')"
          :style="{ width: '200px' }"
          :placeholder="$t(searchOption.type)"
          @on-enter="handleSearch"
        >
          <span slot="append" @click="handleSearch">
            <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
          </span>
        </klk-input>
        <button
          type="button"
          class="theme_btn_base small_btn"
          style="margin-left: 12px; margin-bottom: auto"
          @click="exportContactList"
          name="button"
        >
          {{ $t("ADMIN_AFFILIATE_ADMIN_export_contact_list") }}
        </button>
      </div>
      <div class="user_info_list frame" v-loading="loading_data">
        <klk-smart-list :cols="cols" :table_data="list" :thead_slot="true">
          <tr slot="thead">
            <th
              v-for="(item, i) in cols"
              slot="thead"
              :width="item.width"
              :key="i"
            >
              <klk-poptip
                v-if="item.label_desc"
                trigger="hover"
                class="poptip_wrapper"
              >
                <span>{{ item.label }}</span>
                <klk-icon
                  class="desc_icon"
                  type="information-circled"
                  size="16"
                ></klk-icon>
                <div slot="content" class="poptip_content">
                  <p
                    style="width: 360px; textalign: left"
                    v-html="$t(item.label_desc)"
                  ></p>
                </div>
              </klk-poptip>
              <span v-else>
                {{ item.label }}
              </span>
            </th>
          </tr>
          <tr slot-scope="scope">
            <td>{{ scope.row.user_id }}</td>
            <td>
              <a
                class="theme_a"
                href="javascript:void(0)"
                @click="handleClickShowWebsite(scope.row)"
                >Show Website</a
              >
            </td>
            <td>{{ scope.row.user_name }}</td>
            <td>{{ scope.row.email }}</td>
            <td>
              {{
                scope.row.affiliate_country &&
                code_country_map[scope.row.affiliate_country]
                  ? code_country_map[scope.row.affiliate_country].name
                  : ""
              }}
            </td>
            <td>{{ AFFILIATE_TYPE()[scope.row.affiliate_type] || "" }}</td>
            <td>{{ scope.row.admin }}</td>
            <td>
              <span :class="'status_box_' + scope.row.status">{{
                status_label_map[scope.row.status]
              }}</span>
            </td>
            <td>
              <klk-table-poptip
                trigger="hover"
                class="poptip_wrapper"
                width="148"
                v-show="scope.row.status !== 0"
              >
                <span class="manager_user">Manage User</span>
                <div slot="content" class="poptip_content manage_user_content">
                  <span class="operation">
                    <a
                      ><router-link
                        class="theme_a"
                        :to="{
                          name: 'monthly_report',
                          params: {
                            uid: scope.row.user_id,
                            admin: scope.row.admin,
                          },
                        }"
                        >{{
                          $t("ADMIN_PARTNER_MANAGEMENT_monthly_report")
                        }}</router-link
                      ></a
                    >
                    <a @click="handleClickAdManagement">
                      <router-link
                        class="theme_a"
                        v-show="shouldShowAdManagement(scope.row)"
                        :to="{
                          name: 'admin_ad_management',
                          params: { uid: scope.row.user_id },
                          query: { user_name: scope.row.user_name },
                        }"
                        >{{ $t("ADMIN_MULTIPLE_ad_management") }}</router-link
                      ></a
                    >
                    <a @click="handleClickAdminManagement">
                      <router-link
                        class="theme_a"
                        v-show="shouldShowNetworkManagement(scope.row)"
                        :to="{
                          name: 'admin_network_publisher_management',
                          params: { uid: scope.row.user_id },
                          query: { user_name: scope.row.user_name },
                        }"
                      >
                        {{ $t("ADMIN_MULTIPLE_network_publisher_management") }}
                      </router-link>
                    </a>
                    <a
                      href="javascript:void(0)"
                      v-show="shouldShowTerminate(scope.row)"
                      class="theme_a"
                      @click="dialogTerminate(scope.row.user_id)"
                      >{{ $t("ADMIN_AFFILIATE_ADMIN_terminate") }}</a
                    >
                    <a
                      href="javascript:void(0)"
                      v-show="shouldShowReactivate(scope.row)"
                      class="theme_a"
                      @click="dialogRecover(scope.row.user_id)"
                      >{{ $t("ADMIN_AFFILIATE_ADMIN_reactivate") }}</a
                    >
                    <a
                      href="javascript:void(0)"
                      v-show="shouldShowBonusSetting(scope.row)"
                      class="theme_a"
                      @click="dialogSetBonus(scope.row.user_id)"
                      >{{ $t("ADMIN_AFFILIATE_ADMIN_bonus_setting") }}</a
                    >
                    <a
                      href="javascript:void(0)"
                      v-show="shouldShowTransfer(scope.row)"
                      class="theme_a"
                      @click="dialogTrafer(scope.row)"
                      >{{ $t("ADMIN_AFFILIATE_ADMIN_transfer") }}</a
                    >
                    <a
                      href="javascript:void(0)"
                      v-show="shouldShowEditSettings(scope.row)"
                      class="theme_a"
                      @click="dialogEditSettings(scope.row)"
                      >{{ $t("ADMIN_AFFILIATE_ADMIN_edit_settings") }}</a
                    >
                    <a
                      href="javascript:void(0)"
                      v-if="shouldShowEditInfo(scope.row)"
                      class="theme_a"
                      @click="dialogEditInfo(scope.row)"
                      >{{ $t("ADMIN_AFFILIATE_ADMIN_edit_info") }}</a
                    >
                    <a @click="handleClickBannerManagement">
                      <router-link
                        v-show="scope.row.user_id == special_customer_id"
                        class="theme_a"
                        :to="{
                          name: 'admin_special_customer_ad_list',
                          params: { uid: scope.row.user_id },
                        }"
                        >{{
                          $t("ADMIN_MULTIPLE_banner_management")
                        }}</router-link
                      >
                    </a>

                    <a
                      href="javascript:void(0)"
                      v-show="shouldShowKeepActive(scope.row)"
                      class="theme_a"
                      @click="dialogKeepActive(scope.row.user_id)"
                      >{{ $t("ADMIN_AFFILIATE_ADMIN_keep_active") }}</a
                    >
                  </span>
                </div>
              </klk-table-poptip>
            </td>
            <td>USD {{ transferCentToUsd(scope.row.total_sales || "") }}</td>
            <td>{{ scope.row.preferred_language }}</td>
            <td>{{ scope.row.join_date }}</td>
            <td>{{ scope.row.remark }}</td>
          </tr>
        </klk-smart-list>
        <klk-pagination
          :show_page_size_opts="false"
          :show_elevator="false"
          :total="pagination.total"
          :page_size="pagination.pageSize"
          :prop_current="pagination.curPage"
          @current_change="handleCurrentChange"
        ></klk-pagination>
      </div>
      <klk-dialog v-model="dialog.is_set_bonus_dialog_shown" width="900">
        <div class="klk_dialog_title" style="text-align: center">
          {{ $t("ADMIN_AFFILIATE_ADMIN_bonus_setting") }}
        </div>
        <div class="klk_dialog_body">
          <admin-bonus-setting
            :activated_bonus_setting_data="activated_bonus_setting_data"
            ref="ref_bonus_setting"
          ></admin-bonus-setting>
        </div>
        <div class="klk_dialog_footer">
          <div class="btn_group">
            <button
              type="button"
              name="button"
              class="theme_btn_base_white"
              @click="dialog.is_set_bonus_dialog_shown = false"
            >
              {{ $t("MULTIPLE_no") }}
            </button>
            <button
              type="button"
              name="button"
              class="theme_btn_base"
              @click="saveBonusSetting"
            >
              {{ $t("MULTIPLE_yes") }}
            </button>
          </div>
        </div>
      </klk-dialog>

      <klk-dialog
        class="transfer_dialog_class"
        v-model="dialog.is_transfer_dialog_shown"
        width="420"
      >
        <div class="klk_dialog_title" style="text-align: center">
          {{ $t("ADMIN_AFFILIATE_ADMIN_transfer") }}
        </div>
        <div class="klk_dialog_body">
          <klk-form :rules="formRules" :model="form_data" ref="ref_form">
            <klk-form-item :label="form_data.label" prop="admin_email">
              <klk-select filterable v-model="form_data.admin_email">
                <klk-option
                  v-for="item in admin_list"
                  :key="item.uid"
                  :value="item.email"
                  >{{ item.email }}</klk-option
                >
              </klk-select>
            </klk-form-item>
          </klk-form>
        </div>
        <div class="klk_dialog_footer">
          <div class="btn_group">
            <button
              type="button"
              name="button"
              class="theme_btn_base_white"
              @click="dialog.is_transfer_dialog_shown = false"
            >
              {{ $t("MULTIPLE_no") }}
            </button>
            <button
              type="button"
              name="button"
              class="theme_btn_base"
              @click="transferUser"
            >
              {{ $t("MULTIPLE_confirm") }}
            </button>
          </div>
        </div>
      </klk-dialog>

      <klk-dialog v-model="dialog.is_edit_settings_dialog_shown" width="800">
        <div class="klk_dialog_title" style="text-align: center">
          {{ $t("ADMIN_AFFILIATE_ADMIN_edit_settings") }}
        </div>
        <div class="klk_dialog_body">
          <admin-edit-settings-dialog
            :edit_settings_data="edit_settings_data"
            ref="ref_edit_setting"
          ></admin-edit-settings-dialog>
        </div>
        <div class="klk_dialog_footer">
          <div class="btn_group">
            <button
              type="button"
              name="button"
              class="theme_btn_base_white"
              @click="dialog.is_edit_settings_dialog_shown = false"
            >
              {{ $t("ADMIN_MULTIPLE_Cancel") }}
            </button>
            <button
              type="button"
              name="button"
              class="theme_btn_base"
              @click="saveEditSetting"
            >
              {{ $t("MULTIPLE_Save") }}
            </button>
          </div>
        </div>
      </klk-dialog>
      <klk-dialog v-model="dialog.is_edit_info_dialog_shown" width="500">
        <div class="klk_dialog_title" style="text-align: center">
          {{ $t("ADMIN_AFFILIATE_ADMIN_edit_info") }}
        </div>
        <div class="klk_dialog_body">
          <admin-edit-info-dialog
            :admin_edit_info_data="admin_edit_info_data"
            ref="ref_admin_edit_info"
          ></admin-edit-info-dialog>
        </div>
        <div class="klk_dialog_footer">
          <div class="btn_group">
            <button
              type="button"
              name="button"
              class="theme_btn_base_white small_btn"
              @click="dialog.is_edit_info_dialog_shown = false"
            >
              {{ $t("ADMIN_MULTIPLE_Cancel") }}
            </button>
            <button
              type="button"
              name="button"
              class="theme_btn_base small_btn"
              @click="saveEditInfo"
            >
              {{ $t("MULTIPLE_Save") }}
            </button>
          </div>
        </div>
      </klk-dialog>
    </div>
    <klk-dialog v-model="dialog.is_show_website_name" width="1000">
      <div class="klk_dialog_title">
        {{ $t("ADMIN_AFFILIATE_ADMIN_edit_website_name_website_list") }} -
        {{ showWebsiteData.user_name }} - {{ $t("MULTIPLE_user_id") }}:
        {{ showWebsiteData.user_id }}
      </div>
      <div class="klk_dialog_body" style="text-align: center">
        <klk-smart-list
          :cols="showWebsiteCols"
          :table_data="showWebsiteData.sites"
        >
          <tr slot-scope="scope">
            <td>{{ scope.row.aid }}</td>
            <td>{{ scope.row.website_name }}</td>
            <td>{{ scope.row.wbsite_name_local }}</td>
            <td>{{ scope.row.website_url }}</td>
            <td>{{ showWebsiteType(scope.row.website_category) }}</td>
            <td>{{ scope.row.target_audience_region }}</td>
          </tr>
        </klk-smart-list>
      </div>
      <div class="klk_dialog_footer">
        <div
          class="btn_group"
          style="display: flex; justify-content: flex-end; margin-right: 20px"
        >
          <button
            type="button"
            name="button"
            class="theme_btn_base"
            @click="handleClickConfirm"
          >
            {{ $t("MULTIPLE_confirm") }}
          </button>
        </div>
      </div>
    </klk-dialog>
    <router-view></router-view>
  </div>
</template>

<script>
import {
  urlObj,
  formRules,
  requestWithCache,
  WEBSITE_TYPE_MAP,
} from "common_data";

import { isAdmin } from "../../../../../comm/user_role";
import AdminBonusSetting from "./admin_bonus_setting.vue";
import AdminEditSettingsDialog from "./admin_dialogs/admin_edit_settings_dialog.vue";
import AdminEditInfoDialog from "./admin_dialogs/admin_edit_info_dialog.vue";
import { AFFILIATE_TYPE } from "common_data";
// 针对后端字段的映射表
export default {
  name: "AffiliateAdmin",
  components: {
    AdminBonusSetting,
    AdminEditSettingsDialog,
    AdminEditInfoDialog,
  },
  data() {
    return {
      WEBSITE_TYPE_MAP,
      USER_INFO: USER_INFO,
      form_data: {
        label: __("ADMIN_AFFILIATE_ADMIN_transfer_to") + ":",
        admin_email: "",
        admin_email_from: "",
      },
      searchOption: {
        admin: "",
        country_code: "",
        info: "",
        type: "aid",
        status: "",
      },
      pagination: {
        total: 0,
        pageSize: 20,
        curPage: 1,
      },
      dialog: {
        is_set_bonus_dialog_shown: false,
        is_transfer_dialog_shown: false,
        is_edit_settings_dialog_shown: false,
        is_edit_info_dialog_shown: false,
        is_show_website_name: false,
      },
      list: [],
      admin_list: [],
      code_country_map: [],
      activated_bonus_setting_data: [],
      edit_settings_data: {},
      admin_edit_info_data: {},
      activated_user_id: "",
      loading_data: false,
      special_customer_id: 269, //具有独特的banner ad，线上是博客大方
      search_type_list: [
        {
          label: __("MULTIPLE_aid"),
          value: "aid",
        },
        {
          label: __("ADMIN_MULTIPLE_uid"),
          value: "uid",
        },
        {
          label: __("MULTIPLE_email"),
          value: "email",
        },
      ],
      isAdmin,
      status_label_map: {
        "-1": __("ADMIN_MULTIPLE_terminated"),
        0: __("ADMIN_AFFILIATE_ADMIN_applied"),
        1: __("MULTIPLE_active"),
      },
      AFFILIATE_TYPE,
      showWebsiteData: { sites: [] },
    };
  },
  created() {
    this.showWebsiteCols = [
      {
        label: `${__("MULTIPLE_affiliate_ID")} (AID)`,
        width: "80px",
      },
      {
        label: __("MULTIPLE_edit_website_name_english"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_edit_website_name_local"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_website_url"),
        width: "200px",
      },
      {
        label: __("MULTIPLE_website_type"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_target_audience_region"),
        width: "100px",
      },
    ];
    this.cols = [
      {
        label: __("MULTIPLE_user_id"),
        width: "70px",
      },
      {
        label: __("MULTIPLE_website"),
        width: "150px",
      },
      {
        label: __("MULTIPLE_user_name"),
        width: "110px",
      },
      {
        label: __("MULTIPLE_email"),
        width: "170px",
      },
      {
        label: __("ADMIN_MULTIPLE_affiliate_country"),
        width: "103px",
      },
      {
        label: __("ADMIN_MULTIPLE_affiliate_type"),
        width: "75px",
      },
      {
        label: __("MULTIPLE_admin"),
        width: "180px",
      },
      {
        label: __("MULTIPLE_status"),
        width: "100px",
        label_desc: __("ADMIN_AFFILIATE_ADMIN_status_desc"),
      },
      {
        label: __("ADMIN_MULTIPLE_actions"),
        width: "140px",
      },
      {
        label: __("ADMIN_AFFILIATE_ADMIN_last_month_revenue"),
        width: "115px",
      },
      {
        label: __("MULTIPLE_preferred_language"),
        width: "70px",
      },
      {
        label: __("ADMIN_AFFILIATE_ADMIN_join_date"),
        width: "100px",
      },
      {
        label: __("ADMIN_AFFILIATE_ADMIN_remark"),
        width: "400px",
      },
    ];
    this.formRules = formRules.call(this);
  },
  mounted() {
    this.loadData();
    requestWithCache(urlObj.get_country_list).then((data) => {
      this.code_country_map = data.country_list;
    });
    requestWithCache(urlObj.get_admin_list).then((data) => {
      this.admin_list = data.admin_list;
    });
  },
  methods: {
    showWebsiteType(value) {
      const website = WEBSITE_TYPE_MAP().filter(
        (item) => +item.value === +value
      )[0];
      return (website && website.name) || "";
    },
    handleClickOrderList() {
      this.sendActionGA("Order List");
    },
    handleClickAdManagement() {
      this.sendActionGA("Ad Management");
    },
    handleClickAdminManagement() {
      this.sendActionGA("Network Management");
    },
    handleClickBannerManagement() {
      this.sendActionGA("Banner Management");
    },
    sendActionGA(name) {
      window.dataLayer.push({
        event: "affiliateAction",
        eventCategory: "Affiliates Admin",
        eventAction: name,
      });
    },
    handleSearch() {
      const map = {
        aid: "Search By AID",
        uid: "Search By UID",
        email: "Search By Email",
      };
      this.sendSearchGA(map[this.searchOption.type], this.searchOption.info);
      this.handleCurrentChange(1);
    },
    sendSearchGA(name, label) {
      window.dataLayer.push({
        event: "search",
        eventCategory: "Affiliates Admin",
        eventAction: name,
        eventLabel: label,
      });
    },
    handleClickConfirm() {
      this.dialog.is_show_website_name = false;
    },
    handleClickShowWebsite(data) {
      this.dialog.is_show_website_name = true;
      this.showWebsiteData = data;
    },
    shouldShowKeepActive(user_data) {
      return isAdmin() && user_data.status == 1 && user_data.to_keep_active;
    },
    shouldShowEditSettings(user_data) {
      return isAdmin() && user_data.status == 1;
    },
    shouldShowEditInfo(user_data) {
      return USER_INFO.email === user_data.admin && user_data.status == 1;
    },
    shouldShowTransfer(user_data) {
      return (
        (USER_INFO.email == user_data.admin || isAdmin()) &&
        user_data.status == 1
      );
    },
    shouldShowBonusSetting(user_data) {
      return isAdmin() && user_data.status == 1;
    },
    shouldShowNetworkManagement(user_data) {
      return (
        user_data.affiliate_type === "network" &&
        (USER_INFO.email == user_data.admin || isAdmin()) &&
        user_data.status == 1
      );
    },
    shouldShowAdManagement(user_data) {
      return USER_INFO.email == user_data.admin || isAdmin();
    },
    shouldShowTerminate(user_data) {
      return user_data.status == 1 && USER_INFO.email == user_data.admin;
    },
    shouldShowReactivate(user_data) {
      return user_data.status == -1 && USER_INFO.email == user_data.admin;
    },
    changeSearchOption(value, item) {
      if (this.searchOption[item] === "") {
        return;
      }
      Object.keys(this.searchOption || []).forEach((index) => {
        if (index !== item && index !== "type") {
          this.searchOption[index] = "";
        }
      });
      if (item !== "info") {
        const map = {
          admin: "Search By Admin",
          country_code: "Search By User Country",
          status: "Search By Status",
        };
        if (item === "status") {
          const statusText = {
            all: "All",
            "-1": "Terminated",
            0: "Applied",
            1: "Active",
          };
          value = statusText[value];
        }
        this.sendSearchGA(map[item], value);
      }
      item !== "info" ? this.handleCurrentChange(1) : "";
    },
    saveBonusSetting() {
      var bonus_setting_list = this.$refs["ref_bonus_setting"].getData();
      if (bonus_setting_list.length != 0) {
        klook.ajaxPostJSON(
          urlObj.update_bonus_rate,
          {
            uid: this.activated_user_id,
            bonus_data: bonus_setting_list.map((item) => [
              klook.transfer_usd_to_cent(item[0]),
              klook.accMul(item[1], 0.01),
            ]), //第二个参数是百分比
          },
          (resp) => {
            this.dialog.is_set_bonus_dialog_shown = false;
            if (resp.success) {
              this.loadData();
            } else {
              this.$Modal.alert({
                title: resp.error.message,
              });
            }
          }
        );
      }
    },
    transferUser() {
      this.$refs["ref_form"].validate((valid) => {
        if (valid) {
          klook.ajaxPostJSON(
            urlObj.transfer_users,
            {
              email: this.form_data.admin_email,
              email_from: this.form_data.admin_email_from,
              user_id_list: [this.activated_user_id],
            },
            (resp) => {
              if (resp.success) {
                this.loadData();
                this.dialog.is_transfer_dialog_shown = false;
                this.activated_user_id = "";
              } else {
                console.error(resp);
              }
            }
          );
        }
      });
    },
    dialogTrafer(row) {
      this.sendActionGA("Transfer");
      this.dialog.is_transfer_dialog_shown = true;
      this.activated_user_id = row.user_id;
      this.form_data.admin_email_from = row.admin;
    },
    dialogSetBonus(user_id) {
      this.sendActionGA("Bonus Setting");
      let user_bonus_data = _.find(
        this.list,
        (item) => item.user_id == user_id
      ).bonus_data;
      this.activated_bonus_setting_data = user_bonus_data.map((item) => {
        return [
          klook.transfer_cent_to_usd(item[0]),
          klook.accMul(item[1], 100),
        ];
      });
      this.activated_user_id = user_id;
      this.dialog.is_set_bonus_dialog_shown = true;
    },
    dialogTerminate(user_id) {
      this.sendActionGA("Terminate");
      this.$Modal.alert({
        onOk: () => {
          this.terminateUser(user_id);
        },
        okText: __("MULTIPLE_yes"),
        showCancel: true,
        cancelText: __("MULTIPLE_no"),
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: __("ADMIN_AFFILIATE_ADMIN_terminate_affiliate_title"), //Are you certain to terminate this affiliate?
      });
    },
    dialogKeepActive(user_id) {
      this.sendActionGA("Keep Active");
      this.$Modal.alert({
        onOk: () => {
          this.keepActive(user_id);
        },
        okText: __("MULTIPLE_yes"),
        showCancel: true,
        cancelText: __("MULTIPLE_no"),
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: __("ADMIN_AFFILIATE_ADMIN_keep_active_title"), //Are you certain to keep this affiliate active?
      });
    },
    dialogRecover(user_id) {
      this.sendActionGA("Reactivate");
      this.$Modal.alert({
        onOk: () => {
          this.recoverUser(user_id);
        },
        okText: __("MULTIPLE_yes"),
        showCancel: true,
        cancelText: __("MULTIPLE_no"),
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: __("ADMIN_AFFILIATE_ADMIN_terminate_recover_title2"),
      });
    },
    dialogEditSettings(row) {
      let { affiliate_type, solution_types, commission_model, user_id } = row;
      this.sendActionGA("Edit Setting");
      // 兼容 solution_types 是字符串数组的类型
      if (typeof solution_types === "string") {
        solution_types = JSON.parse(solution_types);
      }
      this.activated_user_id = user_id;
      this.dialog.is_edit_settings_dialog_shown = true;
      this.edit_settings_data = {
        affiliate_type,
        solution_types,
        commission_model,
      };
    },
    dialogEditInfo(row) {
      this.sendActionGA("Edit Info");
      let { first_name, last_name, preferred_language, user_id } = row;
      this.activated_user_id = user_id;
      this.dialog.is_edit_info_dialog_shown = true;
      this.admin_edit_info_data = {
        first_name,
        last_name,
        preferred_language,
      };
    },
    saveEditSetting() {
      const { affiliate_type, solution_types } =
        this.$refs["ref_edit_setting"].getData();
      klook.ajaxPostJSON(
        urlObj.update_solution_type(this.activated_user_id),
        {
          affiliate_type,
          solution_types,
        },
        (res) => {
          if (res.success) {
            // 考虑如果出错，用户还能继续操作
            this.dialog.is_edit_settings_dialog_shown = false;
            this.loadData();
          } else {
            this.$Modal.alert({
              title: res.error.message,
            });
            console.error(res);
          }
        }
      );
    },
    saveEditInfo() {
      const { first_name, last_name, preferred_language } =
        this.$refs["ref_admin_edit_info"].getData();
      klook.ajaxPostJSON(
        urlObj.admin_post_affiliate_info,
        {
          firstname: first_name,
          lastname: last_name,
          preferred_language,
          uid: this.activated_user_id,
        },
        (res) => {
          if (res.success) {
            this.dialog.is_edit_info_dialog_shown = false;
            this.loadData();
          } else {
            this.$Modal.alert({
              title: res.error.message,
            });
            console.error(res);
          }
        }
      );
    },
    terminateUser(user_id) {
      klook.ajaxPutJSON(
        urlObj.change_user_status(user_id),
        { status: -1 },
        (resp) => {
          if (resp.success) {
            this.loadData();
          } else {
            console.error(resp);
          }
        }
      );
    },
    keepActive(user_id) {
      klook.ajaxPutJSON(
        urlObj.change_user_checkstatus(user_id),
        { status: 0 },
        (resp) => {
          if (resp.success) {
            this.loadData();
          } else {
            console.error(resp);
          }
        }
      );
    },
    recoverUser(user_id) {
      klook.ajaxPutJSON(
        urlObj.change_user_status(user_id),
        { status: 1 },
        (resp) => {
          if (resp.success) {
            this.loadData();
          } else {
            console.error(resp);
          }
        }
      );
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    loadData() {
      this.loading_data = true;
      var data = {
        p: this.pagination.curPage,
        pcount: this.pagination.pageSize,
        admin: this.searchOption.admin === "all" ? "" : this.searchOption.admin,
        country:
          this.searchOption.country_code === "all"
            ? ""
            : this.searchOption.country_code,
        status:
          this.searchOption.status === "all" ? "" : this.searchOption.status,
      };
      data[this.searchOption.type] = this.searchOption.info;
      klook.ajaxGet(urlObj.admin_get_affiliates_list, data, (resp) => {
        this.loading_data = false;
        if (resp.success) {
          this.list = resp.result.users;
          this.pagination.total = resp.result.total;
        } else {
          console.error(resp);
        }
      });
    },
    transferCentToUsd(money) {
      return klook.transfer_cent_to_usd(money);
    },
    exportContactList() {
      window.dataLayer.push({
        event: "export",
        eventCategory: "Affiliates Admin",
        eventAction: "Export",
      });
      const currentPage = this.pagination.curPage;
      const pcount = this.pagination.pageSize;
      const admin =
        this.searchOption.admin === "all" ? "" : this.searchOption.admin;
      const country =
        this.searchOption.country_code === "all"
          ? ""
          : this.searchOption.country_code;
      const searchType = this.searchOption.type;
      const searchInfo = this.searchOption.info;
      const statusValue =
        this.searchOption.status === "all" ? "" : this.searchOption.status;
      const downLoadURL = klook.strformat(
        `${urlObj.admin_export_affiliates_list}?p={0}&pcount={1}&admin={2}&country={3}&${searchType}={4}&status={5}`,
        currentPage,
        pcount,
        admin,
        country,
        searchInfo,
        statusValue
      );
      klook.downloadFile("", downLoadURL);
    },
  },
};
</script>
