<template>
  <div class="list">
    <div class="header">
      <div>{{ $t("27385") }}</div>
      <div class="flex-center">
        <div @click="showUnread">
          <klk-poptip trigger="hover" width="123">
            <klk-icon
              :type="
                !notification_filter
                  ? 'notification_filter'
                  : 'notification_filter_hover'
              "
              size="14"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              {{ $t("filter_by_unread") }}
            </div>
          </klk-poptip>
        </div>
        <div
          @click="setAllRead"
          @mouseenter="notification_all_icon = true"
          @mouseleave="notification_all_icon = false"
        >
          <klk-poptip style="margin-left: 25px" trigger="hover" width="133">
            <klk-icon
              :type="
                !notification_all_icon
                  ? 'notification_all_read'
                  : 'notification_all_read_hover'
              "
              size="14"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              {{ $t("mark_all_as_read") }}
            </div>
          </klk-poptip>
        </div>
      </div>
    </div>
    <div
      :class="`content ${list.length === 0 ? 'center' : ''}`"
      v-loading="loading_data"
    >
      <div v-if="list.length > 0">
        <StatusItem
          class="item"
          :handleClickItem="handleClick"
          v-for="item in list"
          :key="item.id"
          :data="item"
        ></StatusItem>
        <div
          v-loading="loading_data"
          v-if="has_more"
          class="view_more"
          @click="viewMore"
        >
          <span v-if="!loading_data">{{ $t("view_more") }}</span>
        </div>
      </div>
      <div v-else class="empty">
        <klk-icon class="icon" type="ring" size="60"></klk-icon>
        <div class="text">{{ $t("27386") }}</div>
      </div>
    </div>
  </div>
</template>
<script>
import StatusItem from "./status_item";
import { urlObj } from "common_data";

export default {
  name: "NotificationList",
  props: ["handleClickItem", "changeStatus"],
  components: {
    StatusItem,
  },
  data: function () {
    return {
      pagination: {
        pageSize: 30,
        curPage: 0,
      },
      loading_data: false,
      has_more: false,
      notification_filter: false,
      notification_all_icon: false,
      list: [],
      noti_ids: [],
      unread_noti_ids: [],
    };
  },
  mounted() {
    this.loadData();
  },
  computed: {
    end() {
      return (
        this.pagination.pageSize +
        this.pagination.curPage * this.pagination.pageSize
      );
    },
  },
  methods: {
    async loadData(shouldClick = true) {
      let res = await this.getAllNotificationId();
      if (res.success) {
        let result = (res && res.result) || {};
        this.noti_ids = result.noti_ids.reverse() || [];
        this.unread_noti_ids = result.unread_noti_ids.reverse() || [];
        await this.loadDataById();
        !this.notification_filter &&
          shouldClick &&
          this.list.length > 0 &&
          this.handleClickItem(this.list[0]);
      }
    },
    loadDataById() {
      return new Promise((resolve) => {
        this.loading_data = true;
        let noti_ids = !this.notification_filter
          ? this.noti_ids
          : this.unread_noti_ids;
        let ids = this.getPageId(noti_ids);
        klook.ajaxGet(urlObj.getNotificationDetailById(ids), (res) => {
          let result = (res && res.result) || [];
          this.loading_data = false;
          this.list = result;
          this.has_more = this.list.length < noti_ids.length;
          resolve();
        });
      });
    },
    getPageId(ids) {
      return ids.slice(0, this.end);
    },
    showUnread() {
      this.pagination.curPage = 0;
      this.notification_filter = !this.notification_filter;
      this.loadData();
    },
    setAllRead() {
      klook.ajaxPutJSON(urlObj.setAllRead, (res) => {
        if (res && res.success) {
          this.$Message({
            type: "success",
            content: "Success",
          });
          this.loadData();
        } else {
          this.$Message({
            type: "warning",
            content: res.error.message,
          });
        }
      });
    },
    getAllNotificationId() {
      return new Promise((resolve) => {
        klook.ajaxGet(urlObj.getAllNotificationId, (res) => {
          resolve(res);
        });
      });
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
    },
    handleClick(data) {
      this.handleClickItem &&
        this.handleClickItem(data, this.notification_filter);
    },
    viewMore() {
      this.pagination.curPage++;
      this.loadData();
    },
  },
};
</script>
<style lang="scss" scoped>
.list {
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  border-radius: 2px;
  width: 404px;
  height: 710px;
  background: white;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  //min-height: 726px;

  .header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    height: 56px;
    color: #666666;
    font-size: 20px;
    box-shadow: inset 0px -0.5px 0px #eeeeee;

    .flex-center {
      display: flex;
      align-items: center;
    }

    .poptip_content {
      text-align: center;
    }
  }

  .content {
    overflow-y: scroll;
    width: 404px;
    //height: 575px;

    .view_more {
      margin-top: 20px;
      margin-bottom: 20px;

      span {
        margin: 0 auto;
        width: 94px;
        height: 32px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #e0e0e0;
        box-sizing: border-box;
        color: #333333;
        font-size: 14px;
        cursor: pointer;
      }
    }

    .empty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 290px;

      .icon {
        background: #fafafa;
        border-radius: 50%;
      }

      .text {
        margin-top: 20px;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
      }
    }

    .item {
      width: 100%;
      height: 86px;
      padding: 20px;
      //box-shadow: inset 0px -0.5px 0px #EEEEEE;

      &:hover {
        cursor: pointer;
        background: #fafafa;
      }
    }
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.11);

    ::v-deep .pagination {
      margin-top: 0;

      ul {
        li {
          width: fit-content;
          padding: 0 6px;
          height: 28px;
          line-height: 28px;
          min-width: 0;
          font-size: 12px;
        }
      }

      .prev::before {
        margin-left: 3px;
        width: 8px;
        height: 8px;
      }

      .next::before {
        margin-right: 3px;
        width: 8px;
        height: 8px;
      }
    }
  }
}
</style>
