<template>
  <div :class="`item ${dataMap[type].type}`">
    {{ dataMap[type].name }}
  </div>
</template>
<script>
export default {
  name: "NotificationType",
  props: {
    type: {
      type: Number,
    },
  },
  data: function () {
    return {
      dataMap: {
        3: {
          type: "account_updates",
          name: __("27398"),
        },
        4: {
          type: "promotions",
          name: __("27399"),
        },
        5: {
          type: "program_upgrades",
          name: __("27400"),
        },
      },
    };
  },
};
</script>
<style lang="scss" scoped>
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 4px;
  font-size: 12px;
  border-radius: 2px;
}
.promotions {
  background: rgba(255, 206, 191, 0.2);
  color: #ff5722;
}
.account_updates {
  color: #4c87e6;
  background: rgba(0, 145, 255, 0.05);
}
.program_upgrades {
  color: #07b295;
  background: rgba(54, 179, 126, 0.05);
}
</style>
