<template>
  <div class="item" @click="handleClick">
    <ul>
      <li :class="`title ${data.read_status ? 'read' : 'unread'}`">
        {{ data.title }}
      </li>
    </ul>
    <div class="typeInfo">
      <NotificationType :type="data.type"></NotificationType>
      <div class="text">{{ formatTime(data.publish_time) }}</div>
    </div>
  </div>
</template>
<script>
import NotificationType from "./notification_type";
import moment from "moment";
export default {
  name: "StatusItem",
  props: ["data", "handleClickItem"],
  components: {
    NotificationType,
  },
  methods: {
    formatTime(time) {
      return moment(time).format("YYYY-MM-DD");
    },
    handleClick() {
      window.dataLayer.push({
        event: "notification",
        eventCategory: "Notification",
        eventAction: "Message Open",
        eventLabel: this.data.id,
        notificationType: this.data.type,
      });
      this.handleClickItem(this.data);
    },
  },
};
</script>
<style lang="scss" scoped>
.item {
  .title {
    width: 348px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
  }
  .unread {
    &:before {
      content: "\2022";
      color: #07b295;
      font-size: 20px;
      margin-right: 10px;
      width: 10px;
      height: 14px;
    }
  }
  .read {
    font-weight: normal;
    &:before {
      content: "\2022";
      color: #e0e0e0;
      font-size: 20px;
      margin-right: 10px;
      width: 10px;
      height: 14px;
    }
  }
  .typeInfo {
    padding-left: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #999999;
    }
  }
}
</style>
