<style lang="scss">
.admin_ad_management {
  .operation_area {
    margin-bottom: 20px;
    .search_area {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      width: 100%;
      .search_input {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
    .btn_group {
      .theme_btn_base {
        line-height: 38px;
        margin-left: 0;
        &:first-child {
          margin-right: 15px;
        }
      }
    }
  }
  .klk_table {
    th {
      .icon {
        vertical-align: text-bottom;
      }
    }
  }
  .label-item {
    display: block;
  }
}
</style>

<template lang="html">
  <div class="admin_ad_management">
    <div class="frame_title">
      {{ `${$t("ADMIN_MULTIPLE_ad_management")} for ${uid} - ${user_name}` }}
    </div>
    <div class="operation_area">
      <div class="search_area">
        <div class="date_range">
          <klk-date-picker
            v-model="search_options.date_range"
            :interval="{ type: 'days', value: 88 }"
            range
            :confirm="true"
            :lang="datepicker_lang"
            format="yyyy-MM-dd"
            @change="handleCurrentChange(1)"
          ></klk-date-picker>
        </div>
        <klk-input
          type="text"
          class="search_input"
          v-model="search_options.search_content"
          :placeholder="$t('MULTIPLE_pid') + ' / ' + $t('MULTIPLE_sid')"
          @on-enter="handleCurrentChange(1)"
          width="200px"
        >
          <span slot="append" @click="handleCurrentChange(1)">
            <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
          </span>
        </klk-input>
        {{ $t("MULTIPLE_ad_type") }}:
        <klk-select
          filterable
          v-model="search_options.ad_type"
          width="180px"
          @on-change="handleCurrentChange(1)"
        >
          <klk-option
            v-for="(item, index) in ad_type_list"
            :key="index"
            :value="item.value"
            >{{ item.label }}</klk-option
          >
        </klk-select>
      </div>
      <div class="btn_group">
        <button
          type="button"
          class="theme_btn_base small_btn"
          @click="showDialog"
        >
          {{ $t("ADMIN_MULTIPLE_create_ads") }}
        </button>
        <button
          type="button"
          class="theme_btn_base small_btn"
          @click="exportFile"
        >
          {{ $t("MULTIPLE_export") }}
        </button>
      </div>
    </div>
    <div class="frame" v-loading="is_loading_shown">
      <klk-smart-list :cols="cols" :table_data="table_list" :thead_slot="true">
        <tr slot="thead">
          <th v-for="(item, i) in cols" slot="thead" :key="i">
            <klk-poptip
              v-if="item.label_desc"
              trigger="hover"
              class="poptip_wrapper"
            >
              {{ item.label }}
              <klk-icon
                class="icon"
                type="information-circled"
                size="16"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                <p style="width: 250px">
                  {{ item.label_desc }}
                </p>
              </div>
            </klk-poptip>
            <span v-else>
              {{ item.label }}
            </span>
          </th>
        </tr>
        <tr slot-scope="scope">
          <td>{{ scope.row.adid || "-" }}</td>
          <td>{{ getAdType(scope.row.ad_type) || "-" }}</td>
          <td>{{ scope.row.pid || "-" }}</td>
          <td>{{ scope.row.sid || "-" }}</td>
          <td>
            <span
              class="label-item"
              v-for="(item, index) in scope.row.placement_labels"
              :key="index"
              >{{ `${item.key}: ${item.value}` }}</span
            >
          </td>
          <td>{{ scope.row.impression }}</td>
          <td>{{ scope.row.click }}</td>
          <td>{{ scope.row.ctr }}</td>
          <td>{{ scope.row.paid_order }}</td>
          <td>{{ scope.row.shared_amount }}</td>
          <td>{{ scope.row.epc }}</td>
          <td>
            <span class="operation" v-if="showConfig(scope.row)">
              <router-link
                class="theme_a"
                :to="{
                  name: 'ad_tool_module',
                  params: { ad_tool_type: scope.row.ad_type },
                  query: { ad_id: scope.row.adid, uid },
                }"
                >{{ $t("MULTIPLE_config") }}</router-link
              >
            </span>
          </td>
        </tr>
      </klk-smart-list>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      ></klk-pagination>
    </div>
    <create-ads-dialog
      :dialog_data="dialog_data"
      :uid="uid"
      :showDialog="showDialog"
    ></create-ads-dialog>
  </div>
</template>

<script>
import AdListMixin from "../../../my_ads/ad_list/ad_list_mixin";
import CreateAdsDialog from "../admin_dialogs/create_ads_dialog.vue";

export default {
  name: "AdminAdManagement",
  mixins: [AdListMixin],
  data() {
    return {
      dialog_data: {
        is_dialog_shown: false,
        page_type: "admin_ad_management",
      },
    };
  },
  components: {
    CreateAdsDialog,
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_adid"),
      },
      {
        label: __("MULTIPLE_ad_type"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_pid"),
      },
      {
        label: __("MULTIPLE_sid"),
      },
      {
        label: __("MULTIPLE_placement_labels"),
        width: "180px",
      },
      {
        label: __("MULTIPLE_impressions"),
        label_desc: __("MULTIPLE_impressions_desc"),
      },
      {
        label: __("MULTIPLE_clicks"),
        label_desc: __("MULTIPLE_clicks_desc"),
      },
      {
        label: __("MULTIPLE_ctr"),
        label_desc: __("MULTIPLE_ctr_desc"),
      },
      {
        label: __("MULTIPLE_paid_orders"),
        label_desc: __("MULTIPLE_paid_orders_desc"),
      },
      {
        label: __("MULTIPLE_shared_amount"),
        label_desc: __("MULTIPLE_shared_amount_desc"),
      },
      {
        label: __("MULTIPLE_epc"),
        label_desc: __("MULTIPLE_epc_desc"),
      },
      {
        label: __("MULTIPLE_action"),
      },
    ];
  },
  mounted() {
    this.uid = this.$route.params.uid || USER_INFO.id;
    this.fetchAdType(this.uid);
    this.user_name = this.$route.query.user_name;
    this.loadData();
  },
  methods: {
    showConfig(row) {
      // 旧的 search 不支持编辑, placement_link 也不支持
      return row.ad_type !== "search" && row.ad_type !== "placement_link";
    },
    showDialog(show = true) {
      this.dialog_data.is_dialog_shown = !!show;
    },
  },
};
</script>
