<style lang="scss" scoped>
.campaign_rule {
  padding: 10px;
  .header {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
      .title {
        font-size: 16px;
        font-weight: bolder;
      }
      .label {
        margin-right: 10px;
      }
    }
    .operation {
      margin-top: 20px;
    }
  }
  .list {
    margin: 18px 0;
  }
  a {
    color: #07b295;
    &:hover {
      cursor: pointer;
    }
  }
  .poptip_content {
    display: flex;
    flex-direction: column;
    a {
      color: #07b295;
      margin: 4px 0;
    }
  }
}
.klk_dialog_footer {
  .btn_group {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
  }
}
</style>

<template lang="html">
  <div class="campaign_rule">
    <div class="header">
      <div class="row">
        <span class="title"
          >Manage Campaign Rules: #{{ campaignViewData && campaignViewData.id }}
        </span>
        <button
          type="button"
          name="button"
          class="theme_btn_base_white small_btn"
          @click="handleJump"
        >
          {{ $t("dynamic_campaign_back_dynamic_commission") }}
        </button>
      </div>
      <div class="row">
        <div>
          <span class="label"
            >{{ $t("dynamic_campaign_rule_campaign_set_up") }}:
          </span>
          <button
            type="button"
            name="button"
            class="theme_btn_base_white small_btn"
            @click="handleClickView"
          >
            {{ $t("ADMIN_CO_BRAND_MANAGEMENT_view") }}
          </button>
        </div>
      </div>
      <div class="row operation">
        <div>
          <span class="label"
            >{{ $t("campaign_rule_form_new_booking") }}:
          </span>
          <klk-select
            filterable
            v-model="new_booking"
            width="240px"
            @input="handleBookingTypeChange"
          >
            <klk-option
              v-for="item in bookList"
              :key="item.value"
              :value="item.value"
              >{{ item.name }}
            </klk-option>
          </klk-select>
        </div>
        <button
          type="button"
          name="button"
          class="theme_btn_base_white small_btn"
          @click="handleAdd"
        >
          {{ $t("dynamic_campaign_rule_add") }}
        </button>
      </div>
    </div>
    <div class="list" v-loading="loadingSearch">
      <klk-smart-list :cols="cols" :table_data="list">
        <tr slot-scope="scope">
          <td>
            {{ scope.row.id }}
          </td>
          <td>
            {{ formatUserCountry(scope.row.book_user_country) }}
          </td>
          <td>
            <div>{{ scope.row.region_list && scope.row.region_list[0] }}</div>
            <div v-if="Array.isArray(scope.row.country_list)">
              {{ countryText(scope.row.country_list.slice(0, 1)) }}
              <klk-poptip
                v-if="scope.row.country_list.length > 1"
                trigger="hover"
                class="poptip_wrapper"
              >
                <a>and {{ scope.row.country_list.slice(1).length }} More</a>
                <div slot="content" class="poptip_content">
                  <p style="width: 250px">
                    {{ countryText(scope.row.country_list.slice(1)) }}
                  </p>
                </div>
              </klk-poptip>
            </div>
            <div v-if="Array.isArray(scope.row.city_list)">
              {{ cityText(scope.row.city_list.slice(0, 1)) }}
              <klk-poptip
                v-if="scope.row.city_list.length > 1"
                trigger="hover"
                class="poptip_wrapper"
              >
                <a> and {{ scope.row.city_list.slice(1).length }} More</a>
                <div slot="content" class="poptip_content">
                  <p style="width: 250px">
                    {{
                      cityText(
                        Array.isArray(scope.row.city_list) &&
                          scope.row.city_list.slice(1)
                      )
                    }}
                  </p>
                </div>
              </klk-poptip>
            </div>
          </td>
          <td>
            {{ showBookingText(scope.row.booking_type || "") }}
          </td>
          <td>
            <klk-table-poptip
              trigger="hover"
              class="poptip_wrapper"
              width="240"
            >
              <a>{{ $t("dynamic_commission_list_operation") }}</a>
              <div slot="content" class="poptip_content">
                <a @click="handleEdit(scope.row)">{{
                  $t("dynamic_campaign_rule_campaign_rule_edit")
                }}</a>
                <a @click="handleClickDelete(scope.row)">{{
                  $t("dynamic_campaign_rule_campaign_rule_delete")
                }}</a>
              </div>
            </klk-table-poptip>
          </td>
        </tr>
      </klk-smart-list>
      <klk-dialog
        v-model="showModal"
        width="1000"
        :close_icon="true"
        @close_icon_fn="handleCloseModal"
      >
        <div v-loading="formLoading">
          <div
            class="klk_dialog_title"
            style="text-align: center; margin-bottom: 20px"
          >
            {{ title }}
          </div>
          <campaigns-rule-form
            :ranges="ranges"
            :code-country-map="codeCountryMap"
            :campaign-rule-data="campaignRuleData"
            ref="campaign_rule_form"
          ></campaigns-rule-form>
          <div class="klk_dialog_footer">
            <div class="btn_group">
              <button
                type="button"
                name="button"
                class="theme_btn_base_white small_btn"
                @click="handleCancel"
              >
                {{ $t("ADMIN_MULTIPLE_Cancel") }}
              </button>
              <button
                type="button"
                name="button"
                class="theme_btn_base small_btn"
                @click="handleConfirm"
              >
                {{ $t("MULTIPLE_confirm") }}
              </button>
            </div>
          </div>
        </div>
      </klk-dialog>
      <klk-dialog
        v-model="showViewModal"
        width="540"
        :close_icon="true"
        @close_icon_fn="showViewModal = false"
      >
        <div class="klk_dialog_title" style="text-align: center">
          {{ $t("dynamic_campaign_rule_campaign_rule_view") }}
        </div>
        <campaign-form
          :campaign-data="campaignViewData"
          :view="true"
        ></campaign-form>
      </klk-dialog>
    </div>
  </div>
</template>

<script>
import CampaignsRuleForm from "./components/campaign_rule_form";
import CampaignForm from "../dynamic_commission/components/campaign_form";
import _cloneDeep from "lodash/cloneDeep";
import { urlObj } from "../../../../../comm/common_data";
import moment from "moment";
export default {
  name: "CampaignRule",
  components: {
    CampaignsRuleForm,
    CampaignForm,
  },
  data() {
    return {
      formLoading: false,
      showViewModal: false,
      list: [],
      new_booking: "",
      campaignViewData: null,
      codeCountryMap: [],
      ranges: [],
      cityList: [],
      countryList: [],
      idCountryMap: [],
      idCityMap: [],
      bookList: [
        {
          name: __("MULTIPLE_all"),
          value: "",
        },
        {
          name: __("campaign_rule_form_new_only"),
          value: "1",
        },
        {
          name: __("campaign_rule_form_repeat_only"),
          value: "2",
        },
      ],
      cols: [
        {
          label: __("dynamic_campaign_rule_rule_id"),
          width: "60px",
        },
        {
          label: __("dynamic_campaign_rule_orion"),
          width: "100px",
        },
        {
          label: __("MULTIPLE_destination"),
          width: "120px",
        },
        {
          label: __("campaign_rule_form_new_booking"),
          width: "60px",
        },
        {
          label: __("dynamic_commission_list_action"),
          width: "100px",
        },
      ],
      loadingSearch: false,
      campaignRuleData: null,
      showModal: false,
      baseCommission: [],
    };
  },
  created() {},
  mounted() {
    const campaign_id = this.$route.params.campaign_id;
    if (campaign_id) {
      klook.ajaxGet(urlObj.campaign_search_by_id(campaign_id), null, (res) => {
        if (res.success) {
          let data = res.result;
          data.ranges = [
            moment(data.start_time_gmt8).toDate(),
            moment(data.end_time_gmt8).toDate(),
          ];
          data.wid_list = data.wid_list.split(",").map((item) => +item);
          data.pid_list = data.pid_list.length > 0 && data.pid_list.split(",");
          this.campaignViewData = data;
        } else {
          this.$Message.warning(res.error.message);
        }
      });
    }
    this.fetchList();
    this.templateMapping();
    this.fetchCountryList();
    this.fetchRanges();
  },
  computed: {
    title() {
      return this.campaignRuleData && this.campaignRuleData.id
        ? __("dynamic_campaign_rule_edit_campaign_rule")
        : __("dynamic_campaign_rule_add_campaign_rule");
    },
  },
  watch: {},
  methods: {
    formatRange(data) {
      return (
        (Array.isArray(data) &&
          data.map((o) => {
            let filterRangeMap = this.ranges.filter((item) => {
              return o === item.range_name;
            });
            return filterRangeMap[0];
          })) ||
        []
      );
    },
    templateMapping() {
      klook.ajaxGet(urlObj.template_id_mapping, null, (res) => {
        if (res.success) {
          this.baseCommission = res.result;
        } else {
          this.$Message.warning(res.error.message);
        }
      });
    },
    handleClickView() {
      const campaignId = this.$route.params.campaign_id;
      if (campaignId) {
        // 调用接口， 获取数据
        this.showViewModal = true;
      }
    },
    fetchCountryList() {
      this.loading = true;
      klook.ajaxGet(urlObj.get_book_user_country, null, (res) => {
        this.loading = false;
        if (res.success) {
          this.codeCountryMap =
            res.result && Array.isArray(res.result) ? res.result : [];
        } else {
          console.error(res);
        }
      });
    },
    showBookingText(id) {
      const d = this.bookList.filter((item) => {
        return +item.value === +id;
      });
      return d && d[0] && d[0].name;
    },
    handleBookingTypeChange() {
      this.fetchList();
    },
    handleEdit(data) {
      // 调用接口设置
      klook.ajaxGet(
        urlObj.campaign_rule_search_by_id(
          this.$route.params.campaign_id,
          data.id
        ),
        null,
        (res) => {
          if (res.success) {
            let data = res.result;
            data.region =
              data.region_list &&
              data.region_list.map((name) => {
                let filterRangeMap = this.ranges.filter((item) => {
                  return name === item.range_name;
                });
                return filterRangeMap[0];
              })[0];
            data.country =
              data.country_list &&
              data.country_list.map((item) => {
                return this.idCountryMap[+item];
              });
            data.city =
              data.city_list &&
              data.city_list.map((item) => {
                return this.idCityMap[+item];
              });
            // 格式化 userCountry
            let arr = this.codeCountryMap.filter((item) => {
              return item["alpha-2"] === data.book_user_country;
            });
            data.book_user_country = arr && arr[0];
            data.new_booking = data.booking_type;
            this.campaignRuleData = this.formatDataByCondition(data);
            this.showModal = true;
          } else {
            this.$Message.warning(res.error.message);
          }
        }
      );
    },
    handleClickDelete(data) {
      this.$Modal.alert({
        onOk: () => {
          const campaign_id = this.$route.params.campaign_id;
          this.deleteCampaignRule(campaign_id, data.id);
        },
        okText: __("MULTIPLE_confirm"),
        showCancel: true,
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: __("dynamic_campaign_rule_campaign_rule_terminate_delete"),
      });
    },
    deleteCampaignRule(campaignId, campaignRuleId) {
      klook.ajaxGet(
        urlObj.campaign_rule_delete(campaignId, campaignRuleId),
        null,
        (res) => {
          if (res.success) {
            this.$Message.success("Delete Success");
            this.fetchList();
          } else {
            this.$Message.error(res.error.message);
          }
        }
      );
    },
    handleJump() {
      this.$router.push({
        name: "dynamic_commission",
      });
    },
    handleCloseModal() {
      this.showModal = false;
      this.campaignRuleData = null;
    },
    handleCancel() {
      this.showModal = false;
      this.campaignRuleData = null;
    },
    handleConfirm() {
      this.$refs["campaign_rule_form"].validate((data) => {
        // 格式化数据
        data.book_user_country =
          (data.book_user_country && data.book_user_country["alpha-2"]) || "";
        data.city_list =
          (data.city && data.city.map((item) => item.city_id)) || null;
        data.country_list =
          (data.country && data.country.map((item) => item.country_id)) || null;
        data.region_list =
          (data.region && data.region.range_name && [data.region.range_name]) ||
          null;
        data.booking_type = data.new_booking || null;
        const campaign_id = this.$route.params.campaign_id;
        data.template_id_mapping = data.template_id_mapping.map((item) => {
          return {
            share_rate: String(item.share_rate),
            activity_template_id: item.activity_template_id,
          };
        });
        this.formLoading = true;
        if (!data.id) {
          klook.ajaxPostJSON(
            urlObj.campaign_rule_create(campaign_id),
            data,
            (res) => {
              this.formLoading = false;
              // 处理添加编辑逻辑
              if (res.success) {
                this.$Message.success("Save Success");
                this.fetchList();
                this.handleCancel();
              } else {
                this.$Message.warning(res.error.message);
              }
            }
          );
        } else {
          klook.ajaxPostJSON(
            urlObj.campaign_rule_update(campaign_id, data.id),
            { ...data },
            (res) => {
              // 处理编辑逻辑
              this.formLoading = false;
              if (res.success) {
                this.$Message.success("Save Success");
                this.fetchList();
                this.handleCancel();
              } else {
                this.$Message.warning(res.error.message);
              }
            }
          );
        }
      });
    },
    countryText(arr) {
      let result = "";
      if (arr && Array.isArray(arr)) {
        result =
          (arr &&
            arr
              .map((item) => {
                return (
                  (this.idCountryMap[+item] &&
                    this.idCountryMap[+item].country_name) ||
                  ""
                );
              })
              .join(",")) ||
          "";
      }
      return result;
    },
    cityText(arr) {
      let result = "";
      if (arr && Array.isArray(arr)) {
        result =
          (arr &&
            arr
              .map((item) => {
                return (
                  (this.idCityMap[+item] && this.idCityMap[+item].city_name) ||
                  ""
                );
              })
              .join(",")) ||
          "";
      }
      return result;
    },
    fetchList() {
      const campaign_id = this.$route.params.campaign_id;
      const booking_type = this.new_booking;
      this.loadingSearch = true;
      klook.ajaxGet(
        urlObj.campaign_rule_query,
        { campaign_id, booking_type },
        (res) => {
          this.loadingSearch = false;
          if (res.success) {
            this.list = res.result || [];
          }
        }
      );
    },
    formatUserCountry(value) {
      // 格式化 userCountry
      let formatData = this.codeCountryMap.filter((item) => {
        return item["alpha-2"] === value;
      });
      return formatData && formatData[0] && formatData[0].name;
    },
    formatDataByCondition(data) {
      const cloneDeepData = _cloneDeep(data);
      const base = _cloneDeep(this.baseCommission);
      cloneDeepData.template_id_mapping = base.map((base) => {
        const d = cloneDeepData.template_id_mapping.findIndex((sys) => {
          return +base.activity_template_id === +sys.activity_template_id;
        });
        base.share_rate = +base.share_rate;
        base.base_rate = base.share_rate;
        // 找到对应 template_id 下的 share_rate, 找不到默认为base_commission
        if (d > -1) {
          base.share_rate = +cloneDeepData.template_id_mapping[d].share_rate;
        }
        return base;
      });
      return cloneDeepData;
    },
    fetchRanges() {
      klook.ajaxGet(urlObj.commission_get_klook_ranges, null, (res) => {
        if (res.success) {
          this.ranges = res.result && res.result.ranges;
          this.initialRanges(res.result.ranges);
        } else {
          console.error(res);
        }
      });
    },
    handleAdd() {
      this.showModal = true;
      let data = {
        region: null,
        country: [],
        city: [],
        template_id_mapping: [],
        new_booking: null,
        book_user_country: "",
      };
      this.campaignRuleData = this.formatDataByCondition(data);
    },
    initialRanges(ranges = []) {
      const cityList = ranges.reduce((res, cur) => {
        return res.concat(
          cur.countries.reduce((res2, cur2) => res2.concat(cur2.cities), [])
        );
      }, []);
      const countryList = ranges.reduce((res, cur) => {
        return res.concat(cur.countries);
      }, []);
      const idCountryMap = {};
      const idCityMap = {};
      countryList.forEach((item) => {
        idCountryMap[item.country_id] = item;
      });
      cityList.forEach((item) => {
        idCityMap[item.city_id] = item;
      });
      this.idCityMap = idCityMap;
      this.idCountryMap = idCountryMap;
      this.cityList = cityList;
      this.countryList = countryList;
    },
  },
};
</script>
