<style lang="scss"></style>

<template lang="html">
  <klk-form flex_row :rules="formRules" :model="form_data" ref="ref_form">
    <klk-form-item
      :label="form_data_label.alipay_account"
      prop="alipay_id"
      :required="true"
    >
      <klk-input
        maxlength="100"
        v-model="form_data.alipay_id"
        width="260px"
        :disabled="!edit"
      ></klk-input>
    </klk-form-item>
    <klk-form-item
      :label="form_data_label.confirm_alipay_account"
      prop="alipay_id_confirm"
      :required="true"
    >
      <klk-input
        maxlength="100"
        v-model="form_data.alipay_id_confirm"
        width="260px"
        :disabled="!edit"
      ></klk-input>
    </klk-form-item>
  </klk-form>
</template>

<script lang="ts">
import { formRules } from "common_data";

import Vue from "vue";

export default Vue.extend({
  name: "Alipay",
  props: ["form_data_prop", "edit"],
  data() {
    return {
      form_data: {
        alipay_id: "",
        alipay_id_confirm: "",
      },
      form_data_label: {
        alipay_account: __("ALIPAY_alipay_account"),
        confirm_alipay_account: __("ALIPAY_confirm_alipay_account"),
      },
      formRules: {},
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  mounted() {
    this.form_data = {
      alipay_id: this.form_data_prop.alipay_id,
      alipay_id_confirm:
        this.form_data_prop.alipay_id_confirm || this.form_data_prop.alipay_id,
    }; //_.extend({}, this.form_data_prop)
  },
});
</script>
