<style lang="scss" scoped>
.icon {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}
.bank_input {
  margin-bottom: 10px;
}
</style>

<template lang="html">
  <klk-form
    flex_row
    :rules="formRules"
    :model="form_data"
    ref="ref_form"
    v-loading="loading_fields"
  >
    <klk-form-item
      itemWidth="100%"
      :label="form_data_label.country_and_region"
      prop="country_code"
      :required="true"
    >
      <klk-select
        :disabled="!edit"
        filterable
        v-model="form_data.country_code"
        width="250px"
      >
        <klk-option
          v-for="(obj, country_code) in country_obj_map"
          :area="obj.area"
          :key="country_code"
          :value="country_code"
          >{{ obj.name }}</klk-option
        >
      </klk-select>
    </klk-form-item>
    <template v-for="(item, i) in valid_field_names">
      <klk-form-item
        :key="i"
        v-if="item == 'bank_name'"
        prop="bank_name"
        :required="true"
        class="bank_input"
      >
        <template slot="label">
          <span class="required_mark">*</span>
          {{ form_data_label.bank_name }}
          <klk-poptip
            trigger="hover"
            class="poptip_wrapper"
            width="400"
            v-if="should_show_bank_note"
          >
            <klk-icon
              class="klook-icon-information-circled icon"
              type="information-circled"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              <p v-html="$t('BANK_chinese_note')"></p>
            </div>
          </klk-poptip>
        </template>
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.bank_name"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'bank_code'"
        :label="form_data_label.bank_code"
        prop="bank_code"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.bank_code"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'branch_code'"
        :label="form_data_label.branch_code"
        prop="branch_code"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.branch_code"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'bank_account_name'"
        prop="bank_account_name"
        :required="true"
        class="bank_input"
      >
        <template slot="label">
          <span class="required_mark">*</span>
          {{ form_data_label.account_name }}
          <klk-poptip
            trigger="hover"
            class="poptip_wrapper"
            width="400"
            v-if="should_show_bank_note"
          >
            <klk-icon
              class="klook-icon-information-circled icon"
              type="information-circled"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              <p v-html="$t('BANK_chinese_note')"></p>
            </div>
          </klk-poptip>
        </template>
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.bank_account_name"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'bank_account_id'"
        :label="form_data_label.account_number"
        prop="bank_account_id"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.bank_account_id"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'swift_code'"
        :label="form_data_label.swift_code"
        prop="swift_code"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.swift_code"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'iban_number'"
        :label="form_data_label.iban_number"
        prop="iban_number"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.iban_number"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'ifsc_code'"
        :label="form_data_label.ifsc_code"
        prop="ifsc_code"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.ifsc_code"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'routing_code'"
        :label="form_data_label.routing_code"
        prop="routing_code"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.routing_code"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'bsb_code'"
        :label="form_data_label.bsb_code"
        prop="bsb_code"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.bsb_code"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'sort_code'"
        :label="form_data_label.sort_code"
        prop="sort_code"
        :required="true"
        class="bank_input"
      >
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.sort_code"
          width="250px"
        ></klk-input>
      </klk-form-item>
      <klk-form-item
        :key="i"
        v-if="item == 'bank_name_branch_name'"
        prop="bank_name_branch_name"
        :required="true"
        class="bank_input"
      >
        <template slot="label">
          <span class="required_mark">*</span>
          {{ form_data_label.bank_name_branch_name }}
          <klk-poptip
            trigger="hover"
            class="poptip_wrapper"
            width="400"
            v-if="should_show_bank_note"
          >
            <klk-icon
              class="klook-icon-information-circled icon"
              type="information-circled"
            ></klk-icon>
            <div slot="content" class="poptip_content">
              <p v-html="$t('BANK_chinese_note')"></p>
            </div>
          </klk-poptip>
        </template>
        <klk-input
          :disabled="!edit"
          maxlength="100"
          v-model="form_data.bank_name_branch_name"
          width="250px"
        ></klk-input>
      </klk-form-item>
    </template>
  </klk-form>
</template>

<script>
import { formRules, urlObj } from "common_data";
export default {
  name: "Bank",
  props: ["form_data_prop", "edit"],
  data() {
    var country_obj_map = {};
    var form_data_cache = {
      country_code: "",
    };

    return {
      form_data: {
        country_code: "",
        bank_name: "",
        bank_account_name: "",
        bank_account_id: "",
        swift_code: "",
        branch_code: "",
        bank_name_branch_name: "",
        bank_code: "",
        sort_code: "",
        iban_number: "",
        ifsc_code: "",
        routing_code: "",
        bsb_code: "",
      },
      form_data_label: {
        country_and_region: __("BANK_country_and_region"),
        bank_name: __("MULTIPLE_bank_name"),
        account_name: __("MULTIPLE_account_name"),
        account_number: __("MULTIPLE_account_number"),
        swift_code: __("MULTIPLE_swift_code"),
        branch_code: __("MULTIPLE_branch_code"),
        bank_name_branch_name: __("MULTIPLE_bank_name_branch_name"),
        bank_code: __("MULTIPLE_bank_code"),
        sort_code: __("MULTIPLE_sort_code"),
        iban_number: __("MULTIPLE_iban_number"),
        ifsc_code: __("MULTIPLE_ifsc_code"),
        routing_code: __("MULTIPLE_routing_code"),
        bsb_code: __("MULTIPLE_bsb_code"),
      },
      loading_fields: false,
      payment_bank_fields: {},
      valid_field_names: [],
      area: "default",
      country_obj_map: country_obj_map,
      formRules: {},
      form_data_cache: form_data_cache,
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  mounted() {
    this.initArea(this.form_data_prop);
    this.setFormDataCache(this.form_data);
  },
  watch: {
    form_data_prop: {
      handler: function (newVal) {
        this.initArea(newVal);
      },
      deep: true,
    },
    "form_data.country_code": function (newVal, oldVal) {
      this.initArea(this.form_data);
    },
  },
  computed: {
    should_show_bank_note() {
      const prefer_currency = this.$store.state.accountModule.prefer_currency;
      console.log("--prefer_currency: ", prefer_currency);
      const should_show_bank_note = ["TWD", "CNY"].includes(prefer_currency);
      console.log("--should_show_bank_note: ", should_show_bank_note);
      return should_show_bank_note;
    },
  },
  methods: {
    setFormDataCache(form_data) {
      _.extend(this.form_data_cache, this.form_data);
    },
    initArea(data) {
      var country_code = data.country_code;
      this.country_obj_map = this.form_data_prop.country_obj_map;
      this.area = country_code
        ? this.country_obj_map[country_code].area
        : "default";

      // 通过 currency + country code 来调用接口获得对应的fields
      const prefer_currency = this.$store.state.accountModule.prefer_currency;
      if (prefer_currency && country_code) {
        this.queryFields(prefer_currency, country_code, data);
      }
    },
    queryFields(currency, country, form_data) {
      this.loading_fields = true;
      klook.ajaxGet(
        urlObj.get_payment_bank_fields,
        { country: country, currency: currency },
        (resp) => {
          this.loading_fields = false;
          if (resp.success) {
            this.payment_bank_fields = resp.result;
            this.setFormDataCache(form_data);
            this.initFormData(form_data);
          } else {
            console.error(resp);
          }
        }
      );
    },
    initFormData(form_data) {
      var temp_form_data = {};
      this.valid_field_names = [];
      const sorted_fields = [
        "bank_name",
        "bank_code",
        "branch_code",
        "bank_account_name",
        "bank_account_id",
        "swift_code",
        "iban_number",
        "ifsc_code",
        "routing_code",
        "bsb_code",
        "bank_name_branch_name",
        "sort_code",
      ];
      sorted_fields.forEach((filed) => {
        if (this.payment_bank_fields[filed]) {
          this.valid_field_names.push(filed);
        }
      });
      temp_form_data = this.valid_field_names.reduce((res, cur) => {
        res[cur] = form_data[cur] || this.form_data_cache[cur];
        return res;
      }, {});
      this.form_data = _.extend(
        {},
        {
          country_code: form_data.country_code,
        },
        temp_form_data
      );
    },
  },
};
</script>
