<template lang="html">
  <klk-form flex_row :rules="formRules" :model="form_data" ref="ref_form">
    <klk-form-item prop="paypal_id" :required="true">
      <template slot="label">
        <span class="required_mark">*</span>
        {{ form_data_label.paypal_account }}
        <klk-poptip trigger="hover" class="poptip_wrapper" width="300">
          <klk-icon
            class="klook-icon-information-circled icon"
            type="information-circled"
          ></klk-icon>
          <div slot="content" class="poptip_content">
            <p v-html="$t('PAYPAL_paypal_account_note')"></p>
          </div>
        </klk-poptip>
      </template>
      <klk-input
        :disabled="!edit"
        maxlength="100"
        v-model="form_data.paypal_id"
        width="260px"
      ></klk-input>
    </klk-form-item>
    <klk-form-item
      :label="form_data_label.confirm_paypal_account"
      prop="paypal_id_confirm"
      :required="true"
    >
      <klk-input
        :disabled="!edit"
        maxlength="100"
        v-model="form_data.paypal_id_confirm"
        width="260px"
      ></klk-input>
    </klk-form-item>
  </klk-form>
</template>

<script lang="ts">
import { formRules } from "common_data";

import Vue from "vue";

export default Vue.extend({
  name: "Paypal",
  props: ["form_data_prop", "edit"],
  data() {
    return {
      form_data: {
        paypal_id: "",
        paypal_id_confirm: "",
      },
      form_data_label: {
        paypal_account: __("PAYPAL_paypal_account"),
        confirm_paypal_account: __("PAYPAL_confirm_paypal_account"),
      },
      formRules: {},
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  mounted() {
    this.form_data = {
      paypal_id: this.form_data_prop.paypal_id,
      paypal_id_confirm:
        this.form_data_prop.paypal_id_confirm || this.form_data_prop.paypal_id,
    };
  },
});
</script>

<style lang="scss">
.icon {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
}
</style>
