<style lang="scss">
.admin_special_customer_ad_list {
  .search_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .select_area_row {
      display: flex;
      align-items: center;
    }
  }
  .klk_form {
    .klk_form_item {
      margin-top: 0;
    }
  }
}
</style>

<template lang="html">
  <div class="admin_special_customer_ad_list">
    <div class="frame_title">{{ $t("ADMIN_MULTIPLE_banner_management") }}</div>
    <div class="search_area">
      <div class="select_area_row">
        <span class="label"> {{ $t("ADMIN_MULTIPLE_select_admin") }} : </span>
        <klk-select filterable v-model="searchOption.admin" @change="loadData">
          <klk-option
            v-for="item in admin_list"
            :key="item.id"
            :value="item.email"
            >{{ item.email }}</klk-option
          >
        </klk-select>

        <button
          type="button"
          class="theme_btn_base"
          name="button"
          @click="add"
          style="margin-left: 20px"
        >
          {{ $t("ADMIN_AD_LIST_add_new_ad") }}
        </button>
      </div>
    </div>
    <div class="frame" v-loading="loading.loading_data">
      <klk-form ref="ref_form" :model="form_data" :rules="formRules">
        <klk-table :cols="cols" :table_data="list">
          <template slot-scope="scope">
            <tr v-show="editing_index == scope.$index" v-loading="saving_data">
              <td>{{ form_data.id }}</td>
              <td>
                <klk-form-item prop="lohas_destination">
                  <klk-input
                    :maxlength="64"
                    v-model="form_data.lohas_destination"
                  ></klk-input>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item>
                  <klk-select filterable v-model="form_data.banner_size">
                    <klk-option
                      v-for="banner_size in size_list"
                      :key="banner_size"
                      :value="banner_size"
                      >{{ banner_size }}</klk-option
                    >
                  </klk-select>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item prop="banner_img">
                  <klk-input
                    :maxlength="255"
                    v-model="form_data.banner_img"
                  ></klk-input>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item prop="lohas_url">
                  <klk-input
                    :maxlength="255"
                    v-model="form_data.lohas_url"
                  ></klk-input>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item prop="keywords">
                  <klk-input v-model="form_data.keywords"></klk-input>
                </klk-form-item>
              </td>
              <td>
                <a
                  href="javascript:void(0)"
                  class="theme_a"
                  @click="submitAdInfo()"
                  >{{ $t("ADMIN_AD_LIST_save") }}</a
                >
              </td>
            </tr>

            <tr v-show="editing_index != scope.$index">
              <td>{{ scope.row.id }}</td>
              <td>{{ scope.row.lohas_destination }}</td>
              <td>{{ scope.row.banner_size }}</td>
              <td>
                <img style="height: 20px" :src="scope.row.banner_img" alt="" />
              </td>
              <td>{{ scope.row.url }}</td>
              <td>{{ scope.row.keywords }}</td>
              <td>
                <a
                  href="javascript:void(0)"
                  class="theme_a"
                  @click="edit(scope.$index)"
                  >{{ $t("MULTIPLE_edit") }}</a
                >
                <a
                  href="javascript:void(0)"
                  class="theme_a"
                  @click="del(scope.$index)"
                  >{{ $t("MULTIPLE_delete") }}</a
                >
              </td>
            </tr>
          </template>
          <tfoot
            v-show="editing_index == 'adding'"
            slot="tfoot"
            v-loading="saving_data"
          >
            <tr>
              <td>{{ form_data.id }}</td>
              <td>
                <klk-form-item prop="lohas_destination">
                  <klk-input
                    :maxlength="64"
                    v-model="form_data.lohas_destination"
                  ></klk-input>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item>
                  <klk-select filterable v-model="form_data.banner_size">
                    <klk-option
                      v-for="banner_size in size_list"
                      :key="banner_size"
                      :value="banner_size"
                      >{{ banner_size }}</klk-option
                    >
                  </klk-select>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item prop="banner_img">
                  <klk-input
                    :maxlength="255"
                    v-model="form_data.banner_img"
                  ></klk-input>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item prop="lohas_url">
                  <klk-input
                    :maxlength="255"
                    v-model="form_data.lohas_url"
                  ></klk-input>
                </klk-form-item>
              </td>
              <td>
                <klk-form-item prop="keywords">
                  <klk-input v-model="form_data.keywords"></klk-input>
                </klk-form-item>
              </td>
              <td>
                <a
                  href="javascript:void(0)"
                  class="theme_a"
                  @click="submitAdInfo()"
                  >{{ $t("ADMIN_AD_LIST_save") }}</a
                >
              </td>
            </tr>
          </tfoot>
        </klk-table>
      </klk-form>
    </div>
  </div>
</template>

<script>
import { urlObj, requestWithCache, formRules } from "common_data";
export default {
  name: "AdminSpecialCustomerAdList",
  data() {
    return {
      size_list: ["580x80"],
      form_data: {
        lohas_destination: "", //lohas_destination
        banner_size: "580x80",
        banner_img: "",
        lohas_url: "",
        keywords: "",
      },
      searchOption: {
        admin: "",
      },
      admin_list: [],
      list: [],
      loading: {
        loading_data: false,
        saving_data: false,
      },
      editing_index: -1,
    };
  },
  created() {
    this.cols = [
      {
        label: __("ADMIN_AD_LIST_id"),
        width: "50px",
      },
      {
        label: __("MULTIPLE_destination"),
      },
      {
        label: __("MULTIPLE_banner_size"),
      },
      {
        label: __("ADMIN_AD_LIST_banner_url"),
      },
      {
        label: __("ADMIN_AD_LIST_banner_target_url"),
      },
      {
        label:
          __("ADMIN_AD_LIST_keywords") +
          "(" +
          __("ADMIN_AD_LIST_seperate_with_comma") +
          ")",
      },
      {
        label: __("ADMIN_MULTIPLE_actions"),
      },
    ];

    this.formRules = formRules.call(this);
  },
  mounted() {
    this.loadData();
    requestWithCache(urlObj.get_admin_list).then((data) => {
      this.admin_list = data.admin_list;
    });
  },
  methods: {
    add() {
      //                 {
      //   "banner_img": "http://res.klook.com/image/upload/v1496902717/%E6%96%B0%E5%8A%A0%E5%9D%A1_qucjzz.png",
      //   "banner_size": "580x280",
      //   "keywords": "澳門,大三巴",
      //   "name": "test banner",
      //   "url": "https://www.klook.com/zh-TW/promo/bigbkk/"
      // }
      this.editing_index = "adding";
      this.form_data = _.extend({}, this.$options.data().form_data);
    },
    edit(index) {
      this.editing_index = index;
      this.form_data = _.extend(
        {},
        this.$options.data().form_data,
        this.list[index]
      );
      //                 {
      //   "banner_img": "http://res.klook.com/image/upload/v1496902717/%E6%96%B0%E5%8A%A0%E5%9D%A1_qucjzz.png",
      //   "banner_size": "580x280",
      //   "id": 3,
      //   "keywords": "澳門,大三巴",
      //   "name": "test banner",
      //   "url": "https://www.klook.com/zh-TW/promo/bigbkk/"
      // }
    },
    del(id) {
      //                 {
      //   "id": 1
      // }
      klook.ajaxPostJSON(
        urlObj.lohas_ad_delete,
        {
          id: id,
        },
        (resp) => {
          if (resp.success) {
            this.loadData();
          } else {
            console.error(resp);
          }
        }
      );
    },
    submitAdInfo() {
      var url,
        form_data = {
          banner_img: this.form_data.banner_img,
          banner_size: this.form_data.banner_size,
          keywords: this.form_data.keywords,
          name: this.form_data.lohas_destination,
          url: this.form_data.lohas_url,
        };

      if (this.editing_index !== "adding") {
        form_data.id = this.form_data.id;
        url = urlObj.lohas_ad_update;
      } else {
        url = urlObj.lohas_ad_add;
      }

      // var data = {
      //     lohas_destination
      //     lohas_url
      // }

      this.loading.saving_data = true;
      this.$refs["ref_form"].validate((valid) => {
        if (valid) {
          klook.ajaxPostJSON(url, form_data, (resp) => {
            if (resp.success) {
              this.loadData();
            } else {
              console.error(resp);
            }
            this.loading.saving_data = false;
            this.editing_index = -1;
          });
        }
      });
    },
    loadData() {
      // "ads": [
      //   {
      //     "banner_img": "https://res.klook.com/image/upload/v1478751063/%E6%97%A5%E6%9C%AC_eqkhoq.png",
      //     "banner_size": "580x80",
      //     "id": 1,
      //     "keywords": "日本,北陸,九州,姬路,岡山,東北,青森,秋田,山形,群馬,埼玉,神奈川,橫濱,新潟,富山,石川,福井,山梨,長野,靜岡,岐阜,愛知,兵庫,島根,廣島,滋賀,知歌山",
      //     "name": "日本",
      //     "status": 0,
      //     "url": "https://www.klook.com/zh-TW/promo/bigjrpass/"
      //   }
      // ]
      function processData(list) {
        return list.map((item) => {
          return _.extend(item, {
            lohas_destination: item.name,
            lohas_url: item.url,
          });
        });
      }
      this.loading.loading_data = true;
      klook.ajaxGet(urlObj.list_lohas_ads, (resp) => {
        if (resp.success) {
          this.list = processData(resp.result.ads);
          this.loading.loading_data = false;
        } else {
          console.error(resp);
        }
      });
    },
  },
};
</script>
