<template>
  <div class="demo_component">
    <div class="text">
      {{ $t("ADS_DEMO_dynamic_widget_demo_activities") }}
    </div>
    <div class="circle_list">
      <div
        v-for="item in ads_data"
        :key="item.key"
        class="circle_item"
        :style="active === item.key ? { background: '#07B295' } : ''"
        @click="() => handleClickNumber(item.key)"
      >
        {{ item.key }}
      </div>
    </div>
    <div class="long_demo demo">
      <div class="demo_text">{{ $t("ADS_DEMO_ads_demo_page_width1") }}</div>
      <div v-html="ads_data[active - 1].frame"></div>
    </div>
    <div class="short_demo demo">
      <div class="demo_text">{{ $t("ADS_DEMO_ads_demo_page_width2") }}</div>
      <div v-html="ads_data[active - 1].frame"></div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
@Component
export default class Ads_demo extends Vue {
  @Prop(String) type!: boolean | number;

  get ads_data() {
    return [
      {
        key: 1,
        frame: `<ins class="klookaff_auto_dynamic_widget" data-aid="12755" data-city_id="" data-lang=${window.KLK_LANG} data-currency="" data-category="" data-amount="1" data-pid="" data-sid="" data-label1="" data-label2="" data-label3=""><a href="//www.klook.com/">Klook.com</a></ins>`,
      },
      {
        key: 2,
        frame: `<ins class="klookaff_auto_dynamic_widget" data-aid="12755" data-city_id="" data-lang=${window.KLK_LANG} data-currency="" data-category="" data-amount="2" data-pid="" data-sid="" data-label1="" data-label2="" data-label3=""><a href="//www.klook.com/">Klook.com</a></ins>`,
      },
      {
        key: 3,
        frame: `<ins class="klookaff_auto_dynamic_widget" data-aid="12755" data-city_id="" data-lang=${window.KLK_LANG} data-currency="" data-category="" data-amount="3" data-pid="" data-sid="" data-label1="" data-label2="" data-label3=""><a href="//www.klook.com/">Klook.com</a></ins>`,
      },
    ];
  }

  private active = 2;

  mounted() {
    this.renderAds();
  }

  renderAutoAds() {
    (function (d, sc, u) {
      var s: any = d.createElement(sc),
        p: any = d.getElementsByTagName(sc)[0];
      s.type = "text/javascript";
      s.async = true;
      s.src = u;
      p.parentNode.insertBefore(s, p);
    })(
      document,
      "script",
      "https://cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/desktop/auto_dynamic_widget_v1.js"
    );
  }

  renderAds() {
    this.renderAutoAds();
  }

  handleClickNumber(number) {
    this.active = number;
    this.renderAds();
  }
}
</script>
<style lang="scss" scoped>
.demo_component {
  display: flex;
  flex-direction: column;
  align-items: center;
  .text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-top: 120px;
    color: #333333;
  }
  .circle_list {
    width: 208px;
    display: flex;
    margin-top: 60px;
    justify-content: space-around;
    .circle_item {
      width: 48px;
      height: 48px;
      background: #e0e0e0;
      color: #ffffff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
  .demo {
    .demo_text {
      text-align: center;
      font-size: 18px;
    }
  }
  .long_demo {
    width: 700px;
    .demo_text {
      margin-top: 60px;
    }
  }
  .short_demo {
    width: 450px;
    .demo_text {
      margin-bottom: 20px;
    }
  }
}
</style>
