<template>
  <div class="ads_video">
    <video controls width="72%" autoplay="autoplay">
      <source :src="url" type="video/mp4" />
    </video>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Video extends Vue {
  @Prop(String) url!: string;
}
</script>
<style lang="scss" scoped>
.ads_video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 60px 0;
  video {
    border: 2px solid rgba(0, 0, 0, 0.04);
    border-radius: 5px;
  }
}
</style>
