<template>
  <div class="ads_footer">
    <klk-icon type="ads_demo_footer" :size="128"></klk-icon>
    <div class="easy">
      {{
        +type === 0
          ? $t("ADS_FOOTER_quick_affiliates")
          : $t("ADS_FOOTER_reusable_cross_selling")
      }}
    </div>
    <ul>
      <li
        v-html="
          +type === 0
            ? $t('ADS_FOOTER_goto_Ads')
            : $t('ADS_FOOTER_auto_dynamic_widget_template')
        "
      ></li>
      <li
        v-html="
          +type === 0
            ? $t('ADS_FOOTER_to_affiliate_portal')
            : $t('ADS_FOOTER_contact_us_aff')
        "
      ></li>
    </ul>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component
export default class Ads_footer extends Vue {
  @Prop(String) type!: boolean | number;
}
</script>
<style lang="scss" scoped>
.ads_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 142px;
  .portal {
    margin-top: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.87);
  }
  .easy {
    margin-top: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #999999;
  }
  ul {
    margin-top: 42px;
    list-style-type: none;
    font-size: 14px;
    li {
      margin-bottom: 10px;
    }
  }
  ul li:before {
    display: inline-block;
    content: "\02022";
    padding-right: 10px;
    color: #07b295;
    font-size: 6px;
  }
}
</style>
