<template>
  <div class="auto_ads_demo">
    <div class="header">
      {{ $t("MULTIPLE_dynamic_widget_demo") }}
    </div>
    <div class="content">
      <div class="form">
        <div class="header">{{ $t("AUTO_ADS_DEMO_customization") }}</div>
        <klk-form :rules="formRules" :model="form_data" ref="ad_form">
          <klk-form-item
            :label="form_data_label.select_city"
            prop="select_city"
          >
            <klk-select
              filterable
              v-model="form_data.selectedCityId"
              :placeholder="$t('MULTIPLE_select_city')"
              @on-change="loadCategoryList"
              class="item"
            >
              <klk-option value="-1">{{
                $t("MULTIPLE_all_destination")
              }}</klk-option>
              <klk-option
                v-for="item in CITY_LIST"
                :value="item.city_id"
                :key="item.city_id"
                >{{ item.city_name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.category"
            prop="select_category"
          >
            <klk-select
              filterable
              v-model="form_data.categoryId"
              class="item"
              @on-change="handleSelectCategory"
              :placeholder="$t('MULTIPLE_select_category')"
            >
              <klk-option
                v-for="item in category_list"
                :value="item.id"
                :key="item.id"
                >{{ item.name }}
              </klk-option>
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="form_data_label.activity_amount"
            prop="activity_amount"
          >
            <klk-select
              filterable
              v-model="form_data.activityAmount"
              class="item"
              @on-change="handleSelectAmount"
              :placeholder="$t('MULTIPLE_select_amount')"
            >
              <klk-option
                v-for="item in amount_list"
                :value="item"
                :key="item"
                >{{ item }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item :label="form_data_label.lang" prop="lang">
            <klk-select
              v-model="form_data.lang"
              class="item"
              @on-change="handleSelectLanguage"
            >
              <klk-option
                value=""
                :label="$t('MULTIPLE_user_browser_language')"
              ></klk-option>
              <klk-option
                v-for="item in langOptionsWidget"
                :key="item.title"
                v-text="item.title"
                :value="item.value"
              ></klk-option>
            </klk-select>
          </klk-form-item>
          <klk-form-item :label="form_data_label.currency" prop="currency">
            <klk-select
              v-model="form_data.currency"
              class="item"
              @on-change="handleSelectCurrency"
            >
              <klk-option value="">{{
                $t("MULTIPLE_auto_select_currency")
              }}</klk-option>
              <klk-option
                v-for="item in currencyList"
                :key="item.title"
                v-text="item.title"
                :value="item.value"
              ></klk-option>
            </klk-select>
          </klk-form-item>
        </klk-form>
      </div>
      <div class="render">
        <div class="widget" v-html="iframeScript"></div>
        <div class="script">{{ iframeScript }}{{ scriptStr }}</div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
import {
  AD_SCRIPT_WIDGET_TEMPLATE,
  CITY_LIST,
  formRules,
  urlObj,
} from "common_data";

@Component
export default class Auto_ads_demo extends Vue {
  private amount_list = Array.from({ length: 3 }, (v, i) => (i + 1).toString());
  private category_list = [];

  form_data = {
    lang: "",
    currency: "",
    selectedCityId: "-1",
    categoryId: "-1",
    activityAmount: "3",
  };
  private currencyList = window.SUPPORT_CURRENCY;
  private CITY_LIST = CITY_LIST;
  private formRules;
  //widget当中支持的语言
  private langOptionsWidget = window.LANG_OPTIONS_WIDGET;
  private form_data_label = {
    widget_type: "* " + __("MULTIPLE_widget_type"),
    lang: __("MULTIPLE_language"),
    currency: __("MULTIPLE_currency"),
    select_city: "* " + __("MULTIPLE_destination"),
    category: "* " + __("MULTIPLE_category"),
    activity_amount: "* " + __("MULTIPLE_activity_amount"),
    selected_activity: "* " + __("MULTIPLE_selected_activity"),
  };

  private scriptStr =
    "<script type='text/javascript'>" +
    `(function(d, sc, u) { var s = d.createElement(sc), p = d.getElementsByTagName(sc)[0]; s.type = 'text/javascript'; s.async = true; s.src = u; p.parentNode.insertBefore(s,p); })(document, 'script', 'https://cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/desktop/auto_dynamic_widget_v1.js')` +
    "</scr" +
    "ipt>";

  get iframeScript() {
    return `<ins class="klookaff_auto_dynamic_widget" data-aid="12755" data-city_id="${this.form_data.selectedCityId}" data-lang="${this.form_data.lang}" data-currency="${this.form_data.currency}" data-category="${this.form_data.categoryId}" data-amount="${this.form_data.activityAmount}" data-pid="" data-sid="" data-label1="" data-label2="" data-label3="" > <a href="//www.klook.com/">Klook.com</a> </ins>`;
  }

  renderAutoAds() {
    (function (d, sc, u) {
      var s: any = d.createElement(sc),
        p: any = d.getElementsByTagName(sc)[0];
      s.type = "text/javascript";
      s.async = true;
      s.src = u;
      p.parentNode.insertBefore(s, p);
    })(
      document,
      "script",
      "https://cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/desktop/auto_dynamic_widget_v1.js"
    );
  }

  @Watch("form_data", { immediate: true, deep: true })
  onPersonChanged(val, oldVal) {
    this.renderAutoAds();
  }

  created() {
    this.formRules = formRules.call(this);
  }

  mounted() {
    this.renderAutoAds();
  }

  handleSelectAmount(v) {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Demo Page`,
      eventLabel: `Auto Dynamic Widget - ${v}`,
    });
  }

  handleSelectCurrency(v) {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Demo Page`,
      eventLabel: `Auto Dynamic Widget - ${v}`,
    });
  }

  handleSelectLanguage(v) {
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Demo Page`,
      eventLabel: `Auto Dynamic Widget - ${v}`,
    });
  }

  handleSelectCategory(v) {
    const obj: any = this.category_list.filter((item: any) => {
      return item.id === v;
    })[0];
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Demo Page`,
      eventLabel: `Auto Dynamic Widget - ${(obj && obj.name) || ""}`,
    });
  }

  loadCategoryList(v) {
    const data = CITY_LIST.filter((item) => {
      return item.city_id === v;
    });
    const name = (data && data[0] && data[0].city_name) || "";
    window.dataLayer.push({
      event: "adDisplay",
      eventCategory: "My Ads",
      eventAction: `Demo Page`,
      eventLabel: `Auto Dynamic Widget - ${name}`,
    });
    const { lang, currency } = this.form_data;
    klook.ajaxGet(
      urlObj.activities_get_data_by_city(
        this.form_data.selectedCityId,
        "dynamic_widget"
      ),
      {
        lang,
        currency,
      },
      (resp) => {
        if (resp.success) {
          if (resp.result.categories.length === 0) {
            alert(__("MULTIPLE_no_activity"));
          }
          this.category_list = resp.result.categories;
          if (
            this.category_list
              .map((item: any) => item.id)
              .indexOf(this.form_data.categoryId) <= -1
          ) {
            this.form_data.categoryId = "";
          }
        } else {
          console.error(resp);
        }
      }
    );
  }
}
</script>
<style lang="scss" scoped>
.auto_ads_demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 0;

  .header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 60px;
  }

  .content {
    display: flex;
    width: 100%;
    justify-content: space-around;
    .form {
      width: 220px;
      margin-right: 20px;
      .header {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.87);
      }
      .item {
        width: 220px;
      }
      button {
        margin-top: 37px;
      }
    }
    .render {
      width: 800px;
      display: flex;
      flex-direction: column;
      .widget {
        background: #f5f5f5;
        height: 400px;
      }
      .script {
        margin-top: 10px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        width: 100%;
        line-height: 1.7;
        background: #f5f5f5;
        border: 1px solid #e0e0e0;
        font-size: 12px;
        color: #000000;
      }
    }
  }
}
</style>
