<template lang="html">
  <div class="admin">
    <klk-tabs
      type="line"
      @on-click="goto"
      v-model="name"
      :showChildContent="false"
    >
      <klk-tab-pane
        v-for="child in child_modules"
        :key="child.name"
        :label="child.title"
        :name="child.name"
      ></klk-tab-pane>
    </klk-tabs>
    <transition :name="is_tab_shown ? 'fade' : ''" mode="out-in">
      <router-view :key="$route.query.t"></router-view>
    </transition>
  </div>
</template>
<script>
export default {
  name: "Admin",
  data() {
    let tab_panes = [
      {
        name: "affiliate_admin",
        title: __("ADMIN_ADMIN_ROUTE_affiliate_admin"),
      },
      {
        name: "partner_management",
        title: __("ADMIN_ADMIN_ROUTE_partner_management"),
      },
    ];
    return {
      child_modules: tab_panes,
      is_tab_shown: true,
    };
  },
  $route: {
    handler(newVal) {
      let is_tab_shown = newVal.meta.is_admin_route_shown;

      if (is_tab_shown === false) {
        this.is_tab_shown = false;
        return;
      }
      this.is_tab_shown = true;
    },
    immediate: true,
  },
  computed: {
    name: {
      get() {
        //主要解决children route深层次嵌套后 前面banner还能锁定正确
        return (
          _.find(this.$route.matched, (routeObj) => {
            return (
              this.child_modules.findIndex(
                (item) => item.name === routeObj.name
              ) != -1
            );
          }) || ""
        ).name;
      },
      set(val) {},
    },
  },
  methods: {
    goto(name) {
      this.$router.push({
        name: name,
        query: {
          //同一路由的刷新
          t: +new Date(),
        },
      });
    },
  },
};
</script>

<style lang="scss">
.admin {
  background: #fff;
  padding: 0 30px;

  .frame {
    margin-bottom: 20px;
    padding-bottom: 40px;
    background: #fff;
  }

  .frame_title {
    font-size: 20px;
    font-weight: 500;
    padding: 4px 0 24px;
  }

  .select_area_row {
    margin-bottom: 24px;

    .label {
      margin-right: 16px;
      font-size: 14px;
    }

    .klk_select {
      width: 275px;
    }
  }
}
</style>
