<template>
  <div>
    <Mul_act_banner v-if="!hitExperiment" />
    <ab1058 v-else>
      <Mul_act_banner />
    </ab1058>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import AB from "../../util/ab_test";
import Mul_act_banner from "./mul_act_banner.vue";

const experimentName = "AFF_K0005_AB_DW";
const controlName = "AFF_K0005_AB_DW_Control";
@Component({
  components: {
    Mul_act_banner,
    ab1058: AB({
      experimentName,
      groupComponents: {
        control: () => import("./mul_act_banner.vue"),
        AFF_K0005_AB_DW_Control: () => import("./mul_act_banner.vue"),
        AFF_K0005_AB_DW_Variant: () =>
          import("../../../experiment/ab1232/variant.vue"),
      },
    }),
  },
})
export default class Banner extends Vue {
  //针对Activity banner的336*280、300*250、250*250尺寸改为Dynamic widget 样式
  noRenderSize: string[] = ["336x280", "300x250", "250x250"];

  get searchSize() {
    let w = this.getQueryString("w");
    let h = this.getQueryString("h");
    if (w && h) {
      return w + "x" + h;
    } else {
      return "";
    }
  }

  /**
   * 没有命中实验, 命中了但是id -1 和 group.name 为controlName, size不为336*280、300*250、250*250 就显示原始组
   */
  get hitExperiment() {
    let experimentsGroup = this.$renderStore.state.experimentsGroup;
    if (!experimentsGroup) return false;
    for (let exp of Object.keys(experimentsGroup)) {
      let group = experimentsGroup[exp]["group"];
      // id -1 和 group.name 为controlName显示原始组
      if (
        exp === experimentName &&
        group.id !== -1 &&
        group.name !== controlName &&
        this.normalRender
      ) {
        return true;
      }
    }
  }

  get normalRender() {
    let size_price = this.$renderStore.state.size_price || this.searchSize;
    for (let s of this.noRenderSize) {
      if (size_price.includes(s)) {
        return true;
      }
    }
    return false;
  }

  getQueryString(name) {
    let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
    let r = decodeURI(window.location.search.substr(1)).match(reg);
    if (r != null) return unescape(r[2]);
    return null;
  }

  created() {
    const { [experimentName]: hitExp } =
      this.$renderStore.state.experimentsGroup;
    if (hitExp) {
      this.$renderStore.commit("SET_CURRENT_HIT_EXP", {
        name: experimentName,
        groupName: hitExp.group.name,
        id: hitExp.id,
        groupId: hitExp.group.id,
      });
    }
  }
}
</script>
