<template>
  <div>
    <div
      class="mul_act_160x600"
      v-if="['160x600', '160x600_price'].includes(ad_detail.size_price)"
    >
      <div class="logo">
        <img
          class="icon"
          :src="`https://cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/widgets/imgs/logo_${lang}.png`"
          alt=""
        />
      </div>
      <div class="content">
        <template v-if="data.length > 0">
          <a
            class="item"
            target="_blank"
            v-for="(item, i) in data"
            :key="i"
            @click="handleClickActivity(item)"
            :href="item.jump_url"
          >
            <div class="img">
              <div
                class="discount"
                :style="`background-image: url(${item.image_url_host})`"
              >
                <span class="text" v-show="item.off_percent">{{
                  disCountText(item)
                }}</span>
              </div>
            </div>
            <div class="footer">
              <div class="name">
                {{ item.title }}
              </div>
              <div class="button">
                {{ booktext }}
              </div>
            </div>
          </a>
        </template>
      </div>
    </div>
    <div
      class="mul_act_336x280"
      v-if="['336x280', '336x280_price'].includes(ad_detail.size_price)"
    >
      <div class="content">
        <template v-if="data.length > 0">
          <a
            class="item"
            v-for="(item, i) in data"
            target="_blank"
            :key="i"
            @click="handleClickActivity(item)"
            :href="item.jump_url"
          >
            <div class="img">
              <div
                class="discount"
                :style="`background-image: url(${item.image_url_host})`"
              ></div>
            </div>
            <div class="footer">
              <div class="text">{{ disCountText(item) }}</div>
              <div class="name">
                {{ item.title }}
              </div>
              <div class="button">
                {{ booktext }}
              </div>
            </div>
          </a>
        </template>
      </div>
      <div class="logo">
        <img
          class="icon"
          :src="`https://cdn.klook.com/s/dist_web/klook-affiliate-front/s/dist/widgets/imgs/logo_${lang}.png`"
        />
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import {
  getUrlParam,
  urlObj,
  RENDER_LANGUAGE_MAP,
} from "../../util/common_data.js";
import { ajaxGetPromise } from "../../util/request.js";

@Component
export default class Mul_act_banner extends Vue {
  lang = "en-US";
  currency = "";
  redirect_url = {
    affiliate_url: "",
    klook_url: "",
    lang: "",
  };
  ad_detail: {
    t: string;
    activities: any;
    size_price: string;
    currency: string;
    label1: string;
    label2: string;
    label3: string;
    lang: string;
  } = {
    activities: [],
    currency: "",
    label1: "",
    label2: "",
    label3: "",
    lang: "",
    size_price: "300x250",
    t: "activity",
  };
  activities: any[] = [];
  aid;
  adid;
  data: { [key: string]: any } = {};
  booktext = "";

  // kepler_id
  private kepler_id = this.$renderStore.state.keplerId;

  get currentExp() {
    return this.$renderStore.state.currentExp;
  }

  discount(data) {
    const { sell_price, market_price } = data;
    let off_percent;
    let showDiscount = true;
    if (this.lang === "en-US") {
      // 差额占市场价格比例: 省了多少钱
      off_percent = parseInt(
        String(((+market_price - +sell_price) / +market_price) * 100),
        10
      );
      if (off_percent < 5) {
        // 折扣小于5 则不展示
        showDiscount = false;
        off_percent = "";
      }
    } else {
      // 售卖价占市场价比例: 折扣比例
      off_percent = parseInt(String((+sell_price / +market_price) * 100.0), 10);
      if (off_percent > 95) {
        showDiscount = false;
        off_percent = "";
      }
      if (off_percent % 10 === 0) {
        // 格式化折扣
        off_percent = off_percent / 10;
      }
    }
    data.off_percent = off_percent;
    data.showDiscount = showDiscount;
    return data;
  }

  handleClickActivity() {
    // 获得当前命中的实验，进行上报
    window.dataLayer &&
      window.dataLayer.push({
        event: "adDisplay",
        eventCategory: `Experimentation`,
        eventAction: `Affiliate Ad Click`,
        eventLabel: `Activity Banner`,
        KeplerID: this.kepler_id,
        AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
          this.currentExp.groupId || ""
        }`,
        AffiliateADID: this.adid,
        PartnerWebsiteAID: this.aid,
      });
  }

  async fetchData(adid: any) {
    let res = await ajaxGetPromise(urlObj.activity_banner_render_data(adid));
    if (res.success) {
      const { lang, aid, currency, redirect_url, ad_detail, activities } =
        res.result;
      this.$renderStore.commit("updateSizePrice", ad_detail.size_price || "");
      this.lang = lang;
      this.aid = aid;
      this.currency = currency;
      this.redirect_url = redirect_url;
      this.ad_detail = ad_detail;
      this.activities = activities;
      this.data = this.filterData(ad_detail, activities);
      this.booktext = RENDER_LANGUAGE_MAP[lang].banner_book_now;
      // console.log("fetchData  mulbanner");
      window.dataLayer &&
        window.dataLayer.push({
          event: "adDisplay",
          eventCategory: `Experimentation`,
          eventAction: `Affiliate Ad Impression`,
          eventLabel: `Activity Banner`,
          KeplerID: this.kepler_id,
          AffiliateKeplerGroup: `${this.currentExp.id || ""}_${
            this.currentExp.groupId || ""
          }`,
          AffiliateADID: this.adid,
          PartnerWebsiteAID: this.aid,
        });
    }
  }

  disCountText(item) {
    if (this.ad_detail && this.ad_detail.size_price.includes("price")) {
      return item.sell_price_format;
    } else {
      if (item.off_percent) {
        return RENDER_LANGUAGE_MAP[this.lang].discount.replace(
          "%s",
          item.off_percent
        );
      }
    }
  }

  filterData(ad_detail, activities) {
    const d =
      ad_detail &&
      ad_detail.activities.map((item) => {
        let id = item.id;
        const d = activities.find((act) => {
          return +act.id === +id;
        });
        const data = d || activities[0];
        return this.discount(data);
      });
    return d;
  }

  created() {
    let adid = getUrlParam("adid");
    if (!adid || +adid < 0 || !Number.isInteger(+adid)) {
      return;
    }
    this.adid = adid;
    this.fetchData(adid);
  }
}
</script>
<style lang="scss" scoped>
.mul_act_160x600 {
  width: 160px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  a {
    text-decoration: none;
  }
  .logo {
    padding: 10px;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 23px;
    }
  }
  .content {
    flex: 1;
    background-color: #ff5722;
    padding: 0 10px;
    .item {
      display: block;
      &:hover {
        cursor: pointer;
      }
      border-radius: 3px;
      margin: 10px 0;
      &:last-child {
        margin-bottom: 0;
      }
      .img {
        .discount {
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          height: 100px;
          background-size: cover;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .text {
            width: fit-content;
            background-color: rgba(65, 65, 65, 0.9);
            border-radius: 3px;
            font-size: 12px;
            color: white;
            padding: 4px 6px;
          }
        }
      }
      .footer {
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .name {
          padding: 0 3px;
          height: 14px;
          line-height: 14px;
          text-align: center;
          overflow: hidden;
          color: black;
          font-size: 12px;
          margin-top: 14px;
        }
        .button {
          font-size: 14px;
          line-height: 14px;
          padding: 6px 8px;
          color: white;
          background-color: #ff5722;
          border: 0;
          margin: 7px 0;
          border-radius: 3px;
          overflow: hidden;
        }
      }
    }
  }
}
.mul_act_336x280 {
  width: 336px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  a {
    text-decoration: none;
  }
  .content {
    display: flex;
    background-color: #ff5722;
    padding: 8px;
    .item {
      display: block;
      width: 100px;
      &:hover {
        cursor: pointer;
      }
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      .img {
        .discount {
          height: 100px;
          background-size: cover;
        }
      }
      .footer {
        height: 128px;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        .text {
          color: #ff5722;
          height: 16px;
          padding: 10px 0;
          .number {
            font-weight: 800;
          }
        }
        .name {
          height: 28px;
          line-height: 14px;
          margin-top: 4px;
          margin-bottom: 12px;
          text-align: center;
          overflow: hidden;
          padding: 0 3px;
          color: black;
          font-size: 12px;
        }
        .button {
          font-size: 14px;
          padding: 6px 8px;
          color: white;
          background-color: #ff5722;
          border: 0;
          margin: 7px 0;
          border-radius: 3px;
          overflow: hidden;
        }
      }
    }
  }
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 6px 0;
    height: 20px;
    background-color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    img {
      height: 16px;
      background-size: cover;
    }
  }
}
</style>
