<style lang="scss"></style>

<template lang="html">
  <div class="term_conditions">
    <iframe
      :src="`/static/web/agreement.html?date=${new Date().getDate()}`"
      width="100%"
      height="12900px"
    ></iframe>
  </div>
</template>

<script>
export default {
  name: "TermsConditions",
  data() {
    return {};
  },
};
</script>
