<style lang="scss">
.activation_feedback {
  width: 360px;
  margin: 20px auto;
  .act_logo {
    width: 240px;
    flex: 0 0 240px;
    display: flex;
    align-items: center;
    .logo {
      width: 184px;
      height: 24px;
      cursor: pointer;
    }
  }
  .act_content {
    margin: 30px 0 16px;
    background-color: #ffffff;
    border-radius: 2px;
    padding-top: 130px;
    text-align: center;
    height: 400px;
    .content_logo {
      width: 60px;
      height: 60px;
      margin: 0 auto 20px;
    }
    .content_title {
      font-size: 24px;
      line-height: 29px;
    }
  }
  .act_footer {
    font-size: 17px;
    line-height: 21px;
    color: #666666;
    text-align: center;
  }
  .content_expired {
    font-size: 18px;
    line-height: 24px;
    color: #666666;
    margin: 36px 20px 0;
  }
  .login_button {
    margin-top: 12px;
  }
}
</style>

<template lang="html">
  <div class="activation_feedback">
    <div class="act_logo">
      <img
        src="../../../imgs/affiliate_logo.png"
        class="logo"
        alt=""
        @click="go_home"
      />
    </div>
    <div class="act_content" v-loading="is_pending">
      <div class="content_logo" v-if="currentState">
        <img :src="get_logo()" class="content_logo" />
      </div>
      <div class="content_title">
        {{ get_content_title() }}
      </div>
      <div class="content_expired" v-if="shouldShowExpiredDesc()">
        {{ $t("ACTIVATION_FEEDBACK_expired_note") }}
        <div class="login_button">
          <button
            type="button"
            class="theme_btn_base small_btn"
            style="width: 320px"
            @click="log_in"
          >
            {{ $t("MULTIPLE_log_in") }}
          </button>
        </div>
      </div>
    </div>
    <div class="act_footer">
      <div v-if="currentState == 'success' || currentState == 'again'">
        <span>{{ $t("ACTIVATION_FEEDBACK_footer_login_text_left") }}</span>
        <a class="theme_a" @click="go_to_home">{{
          $t("ACTIVATION_FEEDBACK_footer_login_link")
        }}</a>
        <span>{{ $t("ACTIVATION_FEEDBACK_footer_login_text_right") }}</span>
      </div>
      <div v-if="currentState == 'fail'">
        <span>{{ $t("ACTIVATION_FEEDBACK_footer_fail_text_left") }}</span>
        <a class="theme_a" @click="go_to_contact_us">{{
          $t("ACTIVATION_FEEDBACK_footer_fail_link")
        }}</a>
        <span>{{ $t("ACTIVATION_FEEDBACK_footer_fail_text_right") }}</span>
      </div>
    </div>
    <common-join-now-dialog-content> </common-join-now-dialog-content>
  </div>
</template>

<script>
import CommonJoinNowDialogContent from "../../tpl/common_join_now_dialog_content.vue";
import { urlObj } from "common_data";
export default {
  name: "ActivationFeedback",
  components: {
    CommonJoinNowDialogContent,
  },
  data() {
    return {
      currentState: "", // 'success', 'fail', 'expired', 'again'
      is_pending: false,
    };
  },
  computed: {},
  methods: {
    go_to_home() {
      if (this.currentState == "success") {
        // Google Tag Manager
        window.dataLayer.push({
          event: "activate",
          eventCategory: "Activation",
          eventAction: "Activate Success",
        });
        this.go_home();
      } else if (this.currentState == "again") {
        // Google Tag Manager
        window.dataLayer.push({
          event: "activate",
          eventCategory: "Activation",
          eventAction: "Activate Again",
        });
        this.go_home();
      }
    },
    go_to_contact_us() {
      // Google Tag Manager
      window.dataLayer.push({
        event: "activate",
        eventCategory: "Activation",
        eventAction: "Activate Fail",
      });
      this.$router.push({
        name: "contact_us",
      });
    },
    log_in() {
      // Google Tag Manager
      window.dataLayer.push({
        event: "activate",
        eventCategory: "Activation",
        eventAction: "Expired Link",
      });
      this.$store.commit("change_join_now_type", "login");
      this.$store.commit("change_login_event_category", "Header");
    },
    get_logo() {
      if (this.currentState == "success") {
        return require("../../../imgs/activation/success.png");
      } else if (this.currentState == "fail") {
        return require("../../../imgs/activation/fail.png");
      } else if (this.currentState == "expired") {
        return require("../../../imgs/activation/expired.png");
      } else if (this.currentState == "again") {
        return require("../../../imgs/activation/success.png");
      } else {
        return "";
      }
    },
    get_content_title() {
      if (this.currentState == "success") {
        return __("ACTIVATION_FEEDBACK_title_success");
      } else if (this.currentState == "fail") {
        return __("ACTIVATION_FEEDBACK_title_fail");
      } else if (this.currentState == "expired") {
        return __("ACTIVATION_FEEDBACK_title_expired");
      } else if (this.currentState == "again") {
        return __("ACTIVATION_FEEDBACK_title_again");
      } else {
        return "";
      }
    },
    shouldShowExpiredDesc() {
      return this.currentState == "expired";
    },
    activation_user(token) {
      this.is_pending = true;
      klook.ajaxGet(urlObj.user_activation(token), (resp) => {
        this.is_pending = false;
        if (resp.success) {
          this.currentState = "success"; // success
          window.dataLayer.push({
            event: "activate",
            eventCategory: "Activation",
            eventAction: "Activate Success",
          });
        } else if (resp.error.code == "-10018") {
          // expired
          this.currentState = "expired";
        } else if (resp.error.code == "-10017") {
          // again
          this.currentState = "again";
        } else {
          this.currentState = "fail";
        }
      });
    },
    go_home() {
      window.dataLayer.push({
        event: "activate",
        eventCategory: "Activation",
        eventAction: "Klook Affiliate Portal",
      });
      if (USER_INFO && USER_INFO.id) {
        klook.ajaxGet(urlObj.logout, (resp) => {
          if (resp.success) {
            window.location.replace("/" + window.KLK_LANG_PATH + "home");
          } else {
            console.error(resp);
          }
        });
      } else {
        this.$router.push({
          name: "home",
        });
      }
    },
  },
  mounted() {
    let token = this.$route.params.activation_token;
    if (token && token.length > 0) {
      this.activation_user(token);
    } else {
      console.error("wrong activation token");
    }
  },
};
</script>
