<template lang="html">
  <div class="performance_route">
    <klk-tabs
      type="line"
      @on-click="goto"
      v-model="name"
      :showChildContent="false"
    >
      <template v-for="child in child_modules">
        <klk-tab-pane
          v-if="child.name !== 'order_list'"
          :key="child.name"
          :label="child.title"
          :name="child.name"
        ></klk-tab-pane>
      </template>
    </klk-tabs>
    <transition name="fade" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "PerformanceRoute",
  data() {
    return {
      child_modules: [
        {
          name: "performance_overview",
          title: __("PERFORMANCE_ROUTE_performance_overview"),
        },
        {
          name: "ticket_list",
          title: __("MULTIPLE_ticket_list"),
        },
        {
          name: "order_list",
          title: __("MULTIPLE_order_list"),
        },
        {
          name: "ticket_status_list",
          title: __("17675"),
        },
      ],
    };
  },
  computed: {
    name: {
      get() {
        //主要解决children route深层次嵌套后 前面banner还能锁定正确
        return _.find(this.$route.matched, (routeObj) => {
          return (
            this.child_modules.findIndex(
              (item) => item.name === routeObj.name
            ) != -1
          );
        }).name;
      },
      set(val) {},
    },
  },
  methods: {
    goto(name) {
      this.$router.push({
        name: name,
      });
    },
  },
};
</script>

<style lang="scss">
.performance_route {
  background: #fff;
  padding: 0 30px;
  .klk_tabs {
    .klk_tabs_nav {
      margin-bottom: 24px;
    }
  }
  .frame {
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fff;
  }
  .gray_bar {
    width: 110%;
    background: #f5f5f5;
    height: 8px;
    position: relative;
    left: -30px;
  }
  .frame_title {
    font-size: 20px;
    font-weight: 500;
    padding: 30px 0;
  }
}
</style>
