<template>
  <div class="card" @click="handleClick">
    <span class="head">
      {{ headText }}
    </span>
    <span class="content">
      {{ contentText }}
    </span>
  </div>
</template>
<script>
export default {
  name: "Card",
  props: {
    headText: {
      type: String,
      default: "",
    },
    contentText: {
      type: String,
      default: "",
    },
    onClick: {
      type: Function,
    },
  },
  methods: {
    handleClick() {
      this.onClick && this.onClick();
    },
  },
};
</script>
<style lang="scss" scoped>
.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 140px;
  border-radius: 3px;
  padding: 20px;
  transition: 0.3s all;
  color: #333;
  margin: 10px;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    transform: translateY(-4px);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
  }
  .head {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .content {
    font-size: 12px;
    line-height: 1.5;
  }
}
</style>
