<style lang="scss" scoped>
.notification {
  .search_area {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .select_area_row {
      display: flex;
      align-items: center;
    }

    .klk_select {
      margin-left: 10px;
    }

    .create_btn {
      width: fit-content;
      height: 40px;
      line-height: 38px;
    }

    ::v-deep .klk_input_wrapper {
      margin-left: 0 !important;
    }
  }

  .action_wrapper {
    margin-bottom: 24px;
  }

  .center {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  ::v-deep .klk_table {
    th {
      text-align: center;
    }
  }

  ::v-deep .poptip_wrapper {
    a {
      color: $theme_color;
    }

    .operator {
      display: flex;
      flex-direction: column;

      .delete {
        color: red;
      }

      a {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  ::v-deep .klk_dialog {
    .log {
      margin: 0 0 10px 0;
      word-break: break-all;
      font-size: 14px;
      color: #333333;
      .id {
        color: #999999;
        margin-right: 12px;
      }
    }
  }
  ::v-deep .klk_dialog_footer {
    .confirm_btn {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
</style>

<template lang="html">
  <div class="notification">
    <div>
      <div class="frame_title">{{ $t("Notification Management") }}</div>
      <div class="search_area">
        <div class="select_area_row">
          <klk-input
            type="text"
            style="margin-left: 20px"
            v-model="query"
            :style="{ width: '280px' }"
            placeholder="Title or Composer or Email"
            @on-enter="handleCurrentChange(1)"
          >
            <span slot="append" @click="handleSearch">
              <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
            </span>
          </klk-input>
          <klk-select
            filterable
            v-model="searchOption.status"
            placeholder="Select status"
            width="180px"
          >
            <klk-option
              v-for="item in statusList"
              :key="item.value"
              :value="item.value"
              >{{ item.name }}</klk-option
            >
          </klk-select>
          <klk-select
            filterable
            v-model="searchOption.type"
            placeholder="Select type"
            width="200px"
          >
            <klk-option
              v-for="item in typeList"
              :key="item.value"
              :value="item.value"
              >{{ item.name }}</klk-option
            >
          </klk-select>
          <klk-select
            filterable
            v-model="searchOption.prefer_lang"
            placeholder="Select language"
            width="180px"
          >
            <klk-option
              v-for="item in klk_lang_options"
              :key="item.value"
              :value="item.value"
              >{{ item.title }}</klk-option
            >
          </klk-select>
        </div>
        <div class="action_wrapper">
          <button
            type="button"
            class="theme_btn_base create_btn"
            @click="handleClickCreate"
            name="button"
          >
            {{ $t("Create Notification") }}
          </button>
        </div>
      </div>
      <div class="frame" v-loading="loading_data">
        <klk-table :cols="cols" :table_data="list">
          <tr slot-scope="scope">
            <td>{{ scope.row.id }}</td>
            <td>
              <a
                class="theme_a"
                href="javascript:void(0)"
                @click="() => handleClickEdit(scope.row)"
                >{{ scope.row.title }}</a
              >
            </td>
            <td>
              <StatusText :status="scope.row.status"></StatusText>
            </td>
            <td>
              {{ scope.row.creator_email }}
            </td>
            <td>{{ langMap[scope.row.prefer_lang] }}</td>
            <td>{{ typeMap[scope.row.type] }}</td>
            <td>{{ formatTime(scope.row.last_modify_time) }}</td>
            <td>
              <klk-table-poptip
                trigger="hover"
                class="poptip_wrapper"
                width="148"
              >
                <a>{{ $t("Management") }}</a>
                <div slot="content" class="poptip_content">
                  <div class="operator">
                    <a
                      v-if="+scope.row.status === 1"
                      @click="handleClickSubmit(scope.row)"
                      >Submit</a
                    >
                    <a @click="handleLClickLog(scope.row)">View log</a>
                    <a
                      class="delete"
                      @click="handleClickDelete(scope.row.id)"
                      v-if="showDelete(scope.row)"
                      >Delete</a
                    >
                  </div>
                </div>
              </klk-table-poptip>
            </td>
          </tr>
        </klk-table>
        <div class="center">
          <klk-pagination
            :show_page_size_opts="false"
            :show_elevator="false"
            :total="pagination.total"
            :page_size="pagination.pageSize"
            :prop_current="pagination.curPage"
            @current_change="handleCurrentChange"
          ></klk-pagination>
        </div>
        <!-- 不能删，为了input 样式 -->
        <klk-form></klk-form>
      </div>
      <klk-dialog v-model="showModal" width="960px" :close_icon="false">
        <EditorForm
          :content="content"
          :typeList="typeList"
          :klk_lang_options="klk_lang_options"
          :handleChangeStatus="handleChangeStatus"
          :handleClickClose="handleCloseModal"
          :admin_list="admin_list"
          :handleSaveSuccess="handleSaveSuccess"
        ></EditorForm>
      </klk-dialog>
      <klk-dialog
        v-model="showLogModal"
        width="800"
        :close_icon="true"
        @close_icon_fn="showModal = false"
      >
        <div class="klk_dialog_title" style="text-align: left">Log</div>
        <div style="padding: 20px 40px 40px 40px">
          <div class="log">
            <span class="id">ID-Title: </span> {{ log_id }}-{{ log_name }}
          </div>
          <klk-table :cols="logCols" :table_data="logList">
            <tr slot-scope="scope">
              <td>{{ formatTime(scope.row.time) }}</td>
              <td>{{ scope.row.email }}</td>
              <td>{{ scope.row.before }}</td>
              <td>{{ scope.row.after }}</td>
            </tr>
          </klk-table>
          <div class="klk_dialog_footer">
            <klk-pagination
              :show_page_size_opts="false"
              :show_elevator="false"
              :total="log_pagination.total"
              :page_size="log_pagination.pageSize"
              :prop_current="log_pagination.curPage"
              @current_change="handleLogCurrentChange"
            ></klk-pagination>
          </div>
        </div>
      </klk-dialog>
    </div>
  </div>
</template>

<script>
import { urlObj } from "common_data";
import { isAdmin } from "../../../../../comm/user_role";
import EditorForm from "./component/editor_form";
import StatusText from "./component/status";
import moment from "moment";

export default {
  name: "NotificationManagement",
  components: {
    EditorForm,
    StatusText,
  },
  data() {
    return {
      showLogModal: false,
      showModal: false,
      content: {},
      query: "",
      searchOption: {
        status: -1,
        type: -1,
        prefer_lang: "",
      },
      klk_lang_options: LANG_OPTIONS,
      typeList: [
        {
          name: __("27398"),
          value: 3,
        },
        {
          name: __("27399"),
          value: 4,
        },
        {
          name: __("27400"),
          value: 5,
        },
      ],
      statusList: [
        {
          name: "Draft",
          value: 1,
        },
        {
          name: "Abandon",
          value: 2,
        },
        {
          name: "Pending",
          value: 3,
        },
        {
          name: "Published",
          value: 4,
        },
      ],
      pagination: {
        total: 0,
        pageSize: 10,
        curPage: 1,
      },
      log_pagination: {
        total: 0,
        pageSize: 10,
        curPage: 1,
      },
      langMap: {},
      typeMap: {},
      logList: [],
      admin_list: [],
      isAdmin,
      log_id: "",
      log_name: "",
      list: [],
      loading_data: false,
      uploading_finance: false,
    };
  },
  created() {
    this.logCols = [
      {
        label: __("Timestamp"),
      },
      {
        label: __("Performed by"),
      },
      {
        label: __("Before"),
      },
      {
        label: __("After"),
      },
    ];
    this.cols = [
      {
        label: __("ID"),
      },
      {
        label: __("Title"),
      },
      {
        label: __("Status"),
      },
      {
        label: __("Composer"),
      },
      {
        label: __("Target Affiliate"),
      },
      {
        label: __("Type"),
      },
      {
        label: __("Last Updated"),
      },
      {
        label: __("Action"),
      },
    ];
    let langMap = {};
    this.klk_lang_options.forEach((item) => {
      langMap[item.value] = item.title;
    });
    let typeMap = {};
    this.typeList.forEach((item) => {
      typeMap[item.value] = item.name;
    });
    this.typeMap = typeMap;
    this.langMap = langMap;
    this.loadData();
    this.getAdminList();
  },
  mounted() {},
  watch: {
    searchOption: {
      handler(newVal, oldVal) {
        this.handleSearch();
      },
      deep: true,
    },
  },
  methods: {
    showDelete(data) {
      return +data.status === 1 && USER_INFO.email === data.creator_email;
    },
    handleClickEdit(data) {
      klook.ajaxGet(urlObj.notification_detail(data.id), null, (res) => {
        if (res.success) {
          this.content = res.result;
          this.showModal = true;
        } else {
          this.$Message({
            type: "warning",
            content: res.error.message,
          });
        }
      });
    },
    handleSaveSuccess() {
      this.handleCloseModal();
      this.loadData();
    },
    formatTime(time) {
      return moment(time).format("YYYY-MM-DD HH:mm:ss");
    },
    handleLClickLog(data) {
      const id = data.id;
      this.log_id = id;
      this.log_name = data.title;
      this.fetchNotificationHistory(id);
      this.showLogModal = true;
    },
    handleLogCurrentChange(curPage) {
      this.log_pagination.curPage = curPage;
      this.fetchNotificationHistory(this.log_id);
    },
    fetchNotificationHistory(id) {
      const { curPage, pageSize } = this.log_pagination;
      klook.ajaxGet(
        urlObj.notification_history,
        {
          page: curPage,
          pcount: pageSize,
          noti_id: id,
        },
        (resp) => {
          if (resp.success) {
            const { total } = resp.result;
            this.log_pagination = {
              pageSize,
              curPage,
              total,
            };
            this.logList = resp.result.actions;
          } else {
            console.error(resp);
          }
        }
      );
    },
    handleClickSubmit(data) {
      this.changeStatus(3, data.id);
    },
    handleClickDelete(id) {
      this.$Modal.alert({
        onOk: () => {
          this.changeStatus(2, id);
        },
        okText: __("MULTIPLE_yes"),
        showCancel: true,
        cancelText: __("MULTIPLE_no"),
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: __("Are you sure you want to delete the Notification? "), //Are you certain to keep this affiliate active?
      });
    },
    changeStatus(action, id) {
      const url = `${urlObj.notification_create}/${id}`;
      klook.ajaxPutJSON(
        url,
        {
          action: action,
        },
        (res) => {
          if (res && res.success) {
            this.$Message({
              type: "success",
              content: "Success",
            });
            this.loadData();
          } else {
            this.$Message({
              type: "warning",
              content: res.error.message,
            });
          }
        }
      );
    },
    handleChangeStatus(action) {
      if (action === 3 || action === 4 || action === 5) {
        this.loadData();
        this.handleCloseModal();
        if (action === 5) {
          this.$store.dispatch({
            type: "notificationTotal",
          });
        }
      } else {
        this.handleClickEdit(this.content);
      }
    },
    handleCloseModal() {
      this.showModal = false;
      setTimeout(() => {
        this.content = {};
      }, 200);
    },
    handleClickCreate() {
      this.content = {
        html: "",
        text: "",
        status: -1,
        title: "",
        prefer_lang: "en",
        type: 3,
        klook_admin: "",
      };
      this.showModal = true;
    },
    handleSearch() {
      this.handleCurrentChange(1);
    },
    onUploadProgress(e) {
      if (e.percent != 1) {
        this.uploading_finance = true;
      }
    },
    onUploadSuccess(resp, file) {
      if (resp.success) {
        this.uploading_finance = false;
        this.$Modal.alert({
          title: "success!",
        });
      } else {
        this.onUploadError({
          msg: resp.error.message,
        });
      }
    },
    onUploadError(error) {
      this.uploading_finance = false;
      alert(error.msg);
    },
    goto(user_id) {
      this.$router.push({
        name: "payments_admin_history",
        params: {
          uid: user_id,
        },
      });
    },
    getAdminList() {
      klook.ajaxGet(urlObj.getAdminList, (res) => {
        if (res && res.success) {
          this.admin_list = (res.result && res.result.user_info) || [];
        }
      });
    },
    handleClickUpload() {
      this.sendGA("manage", "Upload");
    },
    sendGA(event, action, label) {
      window.dataLayer.push({
        event: event,
        eventCategory: "Payment",
        eventAction: action,
        eventLabel: label,
      });
    },
    exportFile() {
      this.sendGA("export", "Export");
      window.open(urlObj.download_finance_template);
    },
    handleCurrentChange(curPage) {
      this.pagination.curPage = curPage;
      this.loadData();
    },
    loadData() {
      const { curPage, pageSize } = this.pagination;
      this.loading_data = true;
      klook.ajaxGet(
        urlObj.notification_create,
        {
          ...this.searchOption,
          page: curPage,
          pcount: pageSize,
          query: this.query,
        },
        (resp) => {
          if (resp.success) {
            this.loading_data = false;
            const { total } = resp.result;
            this.pagination = {
              pageSize,
              curPage,
              total,
            };
            this.list = resp.result.notifications;
          } else {
            console.error(resp);
          }
        }
      );
    },
  },
};
</script>
