<style lang="scss" scoped>
.monthly_report {
  margin-bottom: 30px;
  padding-bottom: 30px;

  .frame_title {
    padding-bottom: 8px;
  }

  .small_btn {
    margin-top: 18px;
  }

  .monthly_table {
    margin-top: 24px;

    .klk_table {
      overflow-x: scroll;
    }
  }
}
</style>

<template>
  <div class="ticket_report">
    <klk-smart-list :cols="cols" :table_data="list" v-loading="loading">
      <tr slot-scope="scope">
        <td>{{ scope.row.user_id }}</td>
        <td>{{ scope.row.user_name }}</td>
        <td>{{ scope.row.order_id }}</td>
        <td>{{ scope.row.action }}</td>
        <td>{{ monthFormat(scope.row.order_date) }}</td>
        <td>{{ scope.row.order_time }}</td>
        <td>{{ scope.row.sales_amount }}</td>
        <td>{{ scope.row.sales_amount_usd }}</td>
        <td>{{ scope.row.commission_rate }}</td>
        <td>{{ scope.row.commission_amount }}</td>
        <td>{{ scope.row.commission_amount_usd }}</td>
        <td>{{ scope.row.website_name }}</td>
        <td>{{ scope.row.platform }}</td>
        <td>{{ scope.row.activity_name }}</td>
        <td>{{ scope.row.affiliate_country }}</td>
        <td>{{ scope.row.is_new_booking }}</td>
        <td>{{ scope.row.promo_code_type }}</td>
        <td>{{ scope.row.promo_code }}</td>
      </tr>
    </klk-smart-list>
  </div>
</template>

<script>
import moment from "moment";

export default {
  props: {
    list: {
      type: Array,
      require: true,
    },
    loading: {
      type: Boolean,
      require: true,
    },
  },
  data() {
    return {
      cols: [
        {
          label: __("MULTIPLE_user_id"),
          width: "130px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_username"),
          width: "86px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_orderID"),
          width: "180px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_action"),
          width: "86px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_order_date"),
          width: "100px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_order_time"),
          width: "80px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_sales_amount"),
          width: "80px",
        },
        {
          label: `${__("ADMIN_MULTIPLE_month_report_sales_amountUSD")}`,
          width: "106px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_commission_rate"),
          width: "86px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_commission_amount"),
          width: "86px",
        },
        {
          label: `${__("ADMIN_MULTIPLE_month_report_commission_amountUSD")}`,
          width: "106px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_partner_website_name"),
          width: "160px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_platform"),
          width: "74px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_partner_activity"),
          width: "200px",
        },
        {
          label: __("ADMIN_DYNAMIC_COMMISSION_commission_table_user_country"),
          width: "100px",
        },
        {
          label: __("ADMIN_ORDER_REPORT_month_report_is_new_booking"),
          width: "114px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_promo_code_type"),
          width: "130px",
        },
        {
          label: __("ADMIN_MULTIPLE_month_report_promo_code"),
          width: "100px",
        },
      ],
    };
  },
  methods: {
    monthFormat(month) {
      return moment(month, ["YYYYMMDD"]).format("YYYY-MM-DD");
    },
  },
};
</script>
