<style lang="scss">
.commission_rates {
  .commission_title {
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 500;
    &.margin {
      margin-top: 40px;
    }
  }
}
</style>

<template lang="html">
  <div class="commission_rates">
    <div class="commission_table_wrapper">
      <p class="commission_title">
        {{ $t("COMMISSION_RATES_commission_percentages") }}
      </p>
      <klk-table
        stripe
        :cols="commission_percentages_cols"
        :table_data="categoryList"
        v-loading="loading_commissions"
      >
        <tr slot-scope="scope">
          <td>
            <a
              v-if="category_map[scope.row.category].link"
              class="theme_a"
              :href="category_map[scope.row.category].link"
              >{{ category_map[scope.row.category].label }}</a
            >
            <span v-else>{{ category_map[scope.row.category].label }}</span>
          </td>
          <td>{{ scope.row.share_rate }}</td>
        </tr>
      </klk-table>
    </div>
    <div class="bonus_scheme_wrapper">
      <p class="commission_title margin">
        {{ $t("COMMISSION_RATES_addition_bonus_scheme") }}
      </p>
      <klk-table
        stripe
        :cols="bonus_schem_cols"
        :table_data="bonus_schem_data"
        v-loading="loading_bonus"
      >
        <tr slot-scope="scope">
          <td>{{ scope.row.affiliate_level }}</td>
          <td>{{ scope.row.monthly_sales_volume }}</td>
          <td>{{ scope.row.bonus_commission }}</td>
        </tr>
      </klk-table>
    </div>
  </div>
</template>

<script>
import { urlObj } from "common_data";
export default {
  name: "CommissionRates",
  data() {
    return {
      categoryList: [],
      commission_percentages_cols: [
        {
          label: __("MULTIPLE_activity_category"),
        },
        {
          label: __("COMMISSION_RATES_commission_rate_on_revenue"),
        },
      ],
      category_map: {
        1: { label: __("COMMISSION_RATES_activity_category_list_1"), link: "" },
        2: { label: __("COMMISSION_RATES_activity_category_list_2"), link: "" },
        3: { label: __("COMMISSION_RATES_activity_category_list_4"), link: "" },
        4: { label: __("authentic_food"), link: "" },
        5: { label: __("COMMISSION_RATES_activity_category_list_3"), link: "" },
        6: {
          label: __("MULTIPLE_activity_category_list_6"),
          link: "special_activity",
        },
        10: { label: __("excluded_activities"), link: "gift_card_activity" },
        15: { label: __("car_rental"), link: "" },
        16: { label: __("hotel"), link: "" },
        19: { label: __("e_gift_card"), link: "" },
        1000: { label: __("Staycation"), link: "" },
      },
      bonus_schem_cols: [
        {
          label: __("MULTIPLE_affiliate_level"),
        },
        {
          label: __("MULTIPLE_monthly_sales_volume"),
        },
        {
          label: __("COMMISSION_RATES_bonus_commission"),
        },
      ],
      bonus_schem_data: [],
      loading_commissions: false,
      loading_bonus: false,
    };
  },
  mounted() {
    this.loading_commissions = true;
    this.loading_bonus = true;
    klook.ajaxGet(urlObj.user_info, "", (res) => {
      this.loading_commissions = false;
      //bonus_data -> [[10000000, 0.15], [2000000, 0.1], [500000, 0.06], [0, 0.0]]
      var bonus_data = JSON.parse(res.result.user_info.bonus_data);
      var bonus_data_length = bonus_data.length;
      for (let i = 0; i < bonus_data_length; i++) {
        var min_volume =
          "US$" +
          klook.formatPriceThousands(
            klook.transfer_cent_to_usd(bonus_data[bonus_data_length - 1 - i][0])
          );
        var max_volume =
          i != bonus_data_length - 1
            ? " - US$" +
              klook.formatPriceThousands(
                klook.transfer_cent_to_usd(
                  bonus_data[bonus_data_length - 2 - i][0]
                ) - 1
              )
            : __("COMMISSION_RATES_and_above");
        this.bonus_schem_data.push({
          affiliate_level: __("MULTIPLE_level") + i,
          monthly_sales_volume: min_volume + max_volume,
          bonus_commission:
            klook.accMul(bonus_data[bonus_data_length - 1 - i][1], 100) + "%",
        });
      }
    });
    klook.ajaxGet(urlObj.get_category_commission, "", (resp) => {
      this.loading_bonus = false;
      if (resp.success) {
        this.categoryList = resp.result;
      } else {
        console.error(resp);
      }
    });
  },
};
</script>
