<template lang="html">
  <div class="editor_form" v-loading="loading">
    <div class="header">
      <div>Notification</div>
      <div @click="handleClickCancel">
        <klk-icon type="close" class="svg_wrapper"></klk-icon>
      </div>
    </div>
    <div class="operation">
      <div class="statusInfo">
        <div v-if="form_data.id" class="operator">
          <div class="status">
            <div class="text">{{ $t("Status") }}:</div>
            <StatusText :status="form_data.status"></StatusText>
          </div>
          <div class="buttons">
            <button
              type="button"
              class="theme_btn_base small_btn search"
              name="button"
              v-if="+form_data.status === 1"
              @click="handleClickSubmit"
            >
              {{ $t("Submit") }}
            </button>
            <div v-if="isAdmin()">
              <button
                type="button"
                class="theme_btn_base small_btn search"
                name="button"
                v-if="showOperation"
                @click="handleClickApprove"
              >
                {{ $t("Approve") }}
              </button>
              <button
                type="button"
                class="theme_btn_base_border small_btn"
                name="button"
                v-if="showOperation"
                @click="handleClickRecall"
              >
                {{ $t("Recall") }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="edit" v-if="+form_data.status === 1 || !form_data.id">
        <div v-if="edit || !form_data.id">
          <button
            type="button"
            class="theme_btn_base_border small_btn"
            name="button"
            @click="handleClickCancel"
          >
            {{ $t("Cancel") }}
          </button>
          <button
            type="button"
            style="margin: 0 15px"
            class="theme_btn_base small_btn search"
            name="button"
            @click="handleClickSave"
          >
            {{ $t("Save as Draft") }}
          </button>
          <button
            type="button"
            class="theme_btn_base small_btn search"
            name="button"
            @click="richTextPreview"
          >
            {{ preview ? $t("Edit") : $t("Preview") }}
          </button>
        </div>
        <div v-if="form_data.id && !edit">
          <button
            type="button"
            class="theme_btn_base_border mini_btn edit_btn"
            name="button"
            @click="handleClickEdit"
          >
            <klk-icon type="edit"></klk-icon>
            <span>{{ $t("MULTIPLE_edit") }}</span>
          </button>
        </div>
      </div>
      <span
        class="operator_tips"
        v-if="form_data.id && +form_data.status === 1"
      >
        {{ $t("submit_tips") }}
      </span>
    </div>
    <div class="content">
      <klk-form
        :rules="formRules"
        :model="form_data"
        ref="ref_form"
        style="width: 100%; margin-bottom: 20px"
      >
        <div class="inline">
          <klk-form-item
            label="Notification Type"
            prop="type"
            class="type"
            :required="true"
            style="width: 280px"
          >
            <klk-select
              :disabled="disabled"
              filterable
              v-model="form_data.type"
              placeholder="Select type"
              width="280px"
            >
              <klk-option
                v-for="item in typeList"
                :key="item.value"
                :value="item.value"
                >{{ item.name }}
              </klk-option>
            </klk-select>
          </klk-form-item>
          <klk-form-item
            class="type"
            label="Affiliate Preferred Language"
            prop="prefer_lang"
            :required="true"
            style="width: 260px"
          >
            <klk-select
              :disabled="disabled"
              filterable
              v-model="form_data.prefer_lang"
              placeholder="Select language"
              width="260px"
            >
              <klk-option
                v-for="item in klk_lang_options"
                :key="item.value"
                :value="item.value"
                >{{ item.title }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            label="Admin List"
            prop="klook_admin"
            :required="true"
            style="width: 260px"
          >
            <klk-select
              :disabled="disabled"
              filterable
              v-model="form_data.klook_admin"
              placeholder="Select Admin"
              width="260px"
            >
              <klk-option value="">{{ $t("MULTIPLE_all") }}</klk-option>
              <klk-option
                v-for="(item, index) in admin_list"
                :key="index"
                :value="item.email"
                >{{ item.email }}</klk-option
              >
            </klk-select>
          </klk-form-item>
        </div>
        <klk-form-item
          label="Title"
          prop="title"
          :required="true"
          style="width: 624px"
        >
          <klk-input
            :disabled="disabled"
            type="text"
            v-model="form_data.title"
          ></klk-input>
        </klk-form-item>
        <klk-form-item prop="html">
          <editor
            v-if="(!form_data.id || edit) && !preview"
            :default-content="form_data.html"
            :disabled="disabled"
            :on-change="handleEditorChange"
          ></editor>
          <div v-else class="preview" v-html="form_data.html"></div>
        </klk-form-item>
      </klk-form>
    </div>
  </div>
</template>
<script>
import TinyEditor from "./tiny_editor";
import _cloneDeep from "lodash/cloneDeep";
import { isAdmin } from "@/comm/user_role";
import { formRules, urlObj } from "common_data";
import StatusText from "./status";

export default {
  name: "EditorForm",
  components: {
    editor: TinyEditor,
    StatusText,
  },
  props: {
    content: {
      type: Object,
      default: function () {
        return {};
      },
    },
    handleSaveSuccess: {
      type: Function,
    },
    handleChangeStatus: {
      type: Function,
    },
    handleClickClose: {
      type: Function,
    },
    typeList: [],
    admin_list: [],
    klk_lang_options: [],
  },
  data() {
    return {
      form_data: this.content,
      disabled: false,
      edit: false,
      preview: false,
      loading: false,
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  computed: {
    showOperation() {
      return +this.form_data.status === 3 && isAdmin();
    },
  },
  watch: {
    content: {
      handler: function (newVal) {
        // 根据状态设置 disabled
        this.form_data = _cloneDeep(newVal);
        if (!this.form_data.klook_admin) {
          this.form_data.klook_admin = "";
        }
        if (newVal.id) {
          this.disabled = true;
        }
      },
      deep: true,
    },
  },
  methods: {
    handleClickApprove() {
      this.changeStatus(5);
    },
    handleClickRecall() {
      this.changeStatus(4, "Notification has been recalled!");
    },
    changeStatus(action, tips = "Notification published successfully!") {
      console.log("changeStatus", action);
      const url = `${urlObj.notification_create}/${this.form_data.id}`;
      this.loading = true;
      klook.ajaxPutJSON(
        url,
        {
          ...this.form_data,
          action: action,
        },
        (res) => {
          this.loading = false;
          if (res && res.success) {
            this.disabled = false;
            this.$Message({
              type: "success",
              content: tips,
            });
            if (action === 5) {
              let match_user_count = res.result && res.result.match_user_count;
              window.dataLayer.push({
                event: "notification",
                eventCategory: "Notification",
                eventAction: "Notification Publish",
                eventLabel: this.form_data.id,
                eventValue: match_user_count,
                notificationType: this.form_data.type,
                notificationLanguage: this.form_data.prefer_lang,
              });
            }
            this.handleChangeStatus && this.handleChangeStatus(action);
          } else {
            this.$Message({
              type: "warning",
              content: res.error.message,
            });
          }
        }
      );
    },
    handleClickSubmit() {
      this.changeStatus(3);
    },
    richTextPreview() {
      this.preview = !this.preview;
    },
    handleClickSave() {
      this.$refs["ref_form"].validate((valid) => {
        if (valid) {
          this.loading = true;
          if (this.form_data.id) {
            const url = `${urlObj.notification_create}/${this.form_data.id}`;
            klook.ajaxPutJSON(
              url,
              {
                ...this.form_data,
                action: 1,
              },
              (res) => {
                this.loading = false;
                if (res && res.success) {
                  this.$Message({
                    type: "success",
                    content: "Notification has been saved as draft!",
                  });
                  this.edit = false;
                  this.handleSaveSuccess &&
                    this.handleSaveSuccess(this.form_data);
                } else {
                  this.$Message({
                    type: "warning",
                    content: res.error.message,
                  });
                }
              }
            );
          } else {
            klook.ajaxPostJSON(
              urlObj.notification_create,
              {
                ...this.form_data,
              },
              (res) => {
                this.loading = false;
                if (res && res.success) {
                  this.edit = false;
                  this.$Message({
                    type: "success",
                    content: "save Success",
                  });
                  this.handleSaveSuccess &&
                    this.handleSaveSuccess(this.form_data);
                } else {
                  this.$Message({
                    type: "warning",
                    content: res.error.message,
                  });
                }
              }
            );
          }
        }
      });
    },
    handleEditorChange(value) {
      this.form_data.html = value;
      this.form_data.text = value;
    },
    handleClickCancel(type) {
      this.disabled = false;
      if (this.form_data.status === 4) {
        this.handleClickClose && this.handleClickClose();
      } else {
        if (this.edit || !this.form_data.id || this.form_data.status === 1) {
          this.$Modal.alert({
            onOk: () => {
              this.edit = false;
              this.preview = false;
              if (type === "close") {
                this.$refs["ref_form"].resetFields();
                this.handleClickClose();
              } else {
                // cancel
                this.handleClickClose();
                this.form_data = this.content;
              }
            },
            okText: __("MULTIPLE_yes"),
            showCancel: true,
            cancelText: __("MULTIPLE_no"),
            okClass: "theme_btn_base mini_btn",
            cancelClass: "theme_btn_base_white mini_btn",
            title: __("Are you sure you want to cancel?"), //Are you certain to keep this affiliate active?
          });
        } else {
          this.handleClickClose && this.handleClickClose();
        }
      }
    },
    handleClickEdit() {
      this.edit = true;
      this.disabled = false;
    },
    isAdmin() {
      return isAdmin();
    },
  },
};
</script>
<style lang="scss" scoped>
.editor_form {
  .header {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 32px;
    border-bottom: 1px solid #ebebeb;

    .svg_wrapper {
      width: 16px;
      height: 16px;
    }
  }

  .operation {
    width: 960px;
    background: #fafafa;
    display: flex;
    padding: 20px 32px;
    padding-bottom: 32px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .operator_tips {
      position: absolute;
      bottom: 10px;
      left: 32px;
      color: red;
      font-size: 12px;
      width: 100%;
    }

    .statusInfo {
      display: flex;
      justify-content: center;
      align-items: center;

      .operator {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

      .status {
        display: flex;
        align-items: center;
        margin-right: 24px;

        .text {
          margin-right: 16px;
          color: #999999;
          font-size: 14px;
        }
      }
    }

    .edit {
      .edit_btn {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 15px !important;
          height: 15px;
          stroke: #07b295;
          shape-rendering: crispEdges;
          margin-right: 3px;
        }

        &:hover {
          svg {
            stroke: white;
          }
        }
      }
    }
  }

  .content {
    padding: 12px 32px;
    margin-bottom: 20px;

    .inline {
      display: flex;

      .type {
        margin-right: 24px;
      }
    }
    .edit_text {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
  }

  .preview {
    width: 100%;
    height: 584px;
    overflow-y: scroll;
    padding: 10px 20px;
    border: 1px solid #ebebeb;
    border-radius: 3px;

    @mixin initial_style {
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }

    ::v-deep h1 {
      font-size: 2em !important;
    }

    ::v-deep h2 {
      font-size: 1.5em;
    }

    ::v-deep h3 {
      font-size: 1.17em;
    }

    ::v-deep h5 {
      font-size: 0.83em;
    }

    ::v-deep h6 {
      font-size: 0.67em;
    }

    ::v-deep ul {
      list-style-type: disc;
      padding-inline-start: 40px;
      @include initial_style;
    }

    ::v-deep ol {
      list-style-type: decimal;
      padding-inline-start: 40px;
      @include initial_style;
    }
    ::v-deep p {
      @include initial_style;
    }
  }
}
</style>
