<template>
  <div class="status">
    <div :class="dataMap[status].className">{{ dataMap[status].text }}</div>
  </div>
</template>
<script>
export default {
  name: "StatusText",
  props: {
    status: {
      type: [String, Number],
      default: function () {
        return 1;
      },
    },
  },
  data() {
    return {
      dataMap: {
        1: {
          text: "Draft",
          className: "draft",
        },
        2: {
          text: "Abandon",
          className: "abandon",
        },
        3: {
          text: "Pending",
          className: "pending",
        },
        4: {
          text: "Published",
          className: "published",
        },
      },
    };
  },
};
</script>
<style lang="scss" scoped>
.status {
  display: flex;
  justify-content: center;
  div {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 2px;
  }
  .draft {
    color: #333333;
    background: #f5f5f5;
  }
  .pending {
    color: #ffa628;
    background: rgba(255, 171, 0, 0.05);
  }
  .published {
    color: #07b295;
    background: rgba(7, 178, 149, 0.1);
  }
  .abandon {
    color: red;
    background: rgba(178, 7, 60, 0.11);
  }
}
</style>
