<template>
  <editor
    :output-format="outputFormat"
    :disabled="disabled"
    v-model="value"
    tag-name="div"
    :initial-value="defaultContent"
    :init="{
      width,
      height,
      menubar: false,
      paste_data_images: true,
      images_upload_handler: uploadImage,
      plugins: [
        'table advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount',
      ],
      toolbar:
        'undo redo | formatselect | link underline bold italic backcolor forecolor | \
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | table tabledelete | help',
      default_link_target: '_blank',
      target_list: [
        { title: 'New window', value: '_blank' },
        { title: 'Current window', value: '' },
      ],
    }"
  />
</template>
<script>
import Editor from "@tinymce/tinymce-vue";

export default {
  name: "TinyEditor",
  props: {
    width: {
      type: Number,
      default: function () {
        return 887;
      },
    },
    height: {
      type: Number,
      default: function () {
        return 584;
      },
    },
    defaultContent: {
      type: String,
      default: function () {
        return null;
      },
    },
    onChange: {
      type: Function,
    },
    outputFormat: {
      type: String,
      default: "html",
    },
    disabled: {
      type: Boolean,
      default: function () {
        return false;
      },
    },
  },
  data() {
    return {
      value: this.defaultContent,
    };
  },
  watch: {
    value(newVal, oldValue) {
      if (newVal !== oldValue) {
        this.onChange(newVal);
      }
    },
    defaultContent(newVal, oldValue) {
      this.value = newVal || "";
    },
  },
  components: {
    editor: Editor,
  },
  methods: {
    async uploadImage(blobInfo, success, failure, progress) {
      let xhr, formData;
      const headers = {};
      const URL = "/v3/affsrv/admin/notification/image";
      xhr = new XMLHttpRequest();
      xhr.open("POST", URL);
      xhr.upload.onprogress = function (e) {
        progress((e.loaded / e.total) * 100);
      };
      try {
        let token = await klook.getTokenByCookie(URL);
        headers["X-CSRF-Token"] = `JWT ${token}`;
        // headers['Content-Type'] = "application/json"
      } catch (e) {
        throw new Error(e);
      }

      for (let item in headers) {
        if (headers.hasOwnProperty(item) && headers[item] !== null) {
          xhr.setRequestHeader(item, headers[item]);
        }
      }
      xhr.onload = function () {
        var json;

        if (xhr.status === 403) {
          failure("HTTP Error: " + xhr.status, { remove: true });
          return;
        }

        if (xhr.status < 200 || xhr.status >= 300) {
          failure("HTTP Error: " + xhr.status);
          return;
        }
        json = JSON.parse(xhr.responseText);

        success(json.result.image.secure_url);
      };

      xhr.onerror = function () {
        failure(
          "Image upload failed due to a XHR Transport error. Code: " +
            xhr.status
        );
      };

      formData = new FormData();
      formData.append("image", blobInfo.blob(), blobInfo.filename());

      xhr.send(formData);
    },
  },
};
</script>
<style>
.tox-notification--warning {
  display: none !important;
}
</style>
