<style lang="scss">
.experiment_banner {
    height: 560px;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), center
    url("https://res.klook.com/image/upload/v1629887269/ued/Affiliate/img_affiliate_header.jpg") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .banner_wrapper {
        .banner_content {
            width: 594px;
            margin: 0 auto;
            color: #fff;
            div {
                display: flex;
                align-items: center;
            }
            .title {
                font-size: 48px;
                font-weight: bold;
                line-height: 56px;
                white-space: pre-line;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                &.lh_70 {
                    line-height: 70px;
                }
            }
            .content {
                font-size: 20px;
                line-height: 28px;
                margin: 24px 0;
                width: 100%;
                font-weight: bold;
                text-align: center;
                word-break: keep-all;
            }

            .join_button {
                display: block;
                margin: 0 auto;
                font-size: 20px;
                font-weight: bold;
                padding: 12px 24px;
                line-height: 28px;
            }

        }
    }
}
</style>

<template lang="html">

<div class="experiment_banner">
  <div class="banner_wrapper">
    <div class="banner_content">
        <div class="title" :class="{'lh_70': lang === 'th'}">{{$t('home_conversion')}}</div>
        <div class="content">{{$t('home_connect')}}</div>
        <button type="button" v-show="!user_info.id" class="theme_btn_base join_button" @click="join" name="button">
            {{$t('home_Join')}}
            <klk-icon style="margin-left: 3px;" :size="14" type="arrow_right"></klk-icon>
        </button>
    </div>
  </div>
</div>

</template>

<script>
export default {
    name: 'ExperimentBanner',
    data() {
        return {
            user_info: USER_INFO,
            lang: KLK_LANG
        }
    },
    computed: {
        kepler_id() {
            return this.$store.state.experimentModule.keplerId || '';
        },
        getKeplerGroup() {
            let homeExpGroup = this.$store.state.experimentModule.homeExpGroup || {};
            return `${homeExpGroup.id || ''}_${homeExpGroup.group.id || ''}`;
        }
    },
    methods: {
        join() {
            window.dataLayer.push({
                event: "joinNow",
                eventCategory: "Banner",
                eventAction: "Join Now",
                KeplerID: this.kepler_id,
                AffiliateKeplerGroup: this.getKeplerGroup,
            });
            window.location.href = `/${window.KLK_LANG_PATH}signup_auto`;
        },
    }
}
</script>
