<style lang="scss">
.commission_data_wrapper {
  width: 100%;
  background: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 24px 30px 30px!important !important;
  position: relative;
  .see_details {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }
  .recent_summary_detail {
    display: flex;
    justify-content: space-between;
  }
  .klk_tabs_nav {
    margin-bottom: 24px;
    .klk_tabs_tab {
      font-weight: 400;
    }
  }
}
</style>

<template lang="html">
  <div
    class="dashboard_commission_data commission_data_wrapper"
    v-loading="loading.loading_recent_summary"
  >
    <klk-tabs type="card" @on-click="loadRecentSummary">
      <klk-tab-pane
        v-for="time_gap in time_gap_list"
        :key="time_gap"
        :name="time_gap + ''"
        :label="$t('DASHBOARD_COMMISSION_DATA_last_n_days', [time_gap])"
      >
      </klk-tab-pane>
    </klk-tabs>
    <div class="recent_summary_detail">
      <commission-card
        v-for="item in recent_summary"
        :key="item.title"
        :title="item.title"
      >
        <span class="amount">{{ item.amount }}</span>
        <span class="currency">{{ item.currency }}</span>
        <div
          :class="{
            ratio_status: true,
            up: item.percentage > 0,
            down: item.percentage < 0,
          }"
        >
          <klk-icon
            v-show="item.percentage > 0"
            type="triangle"
            class="up_triangle"
          ></klk-icon>
          <klk-icon
            v-show="item.percentage < 0"
            type="triangle"
            class="down_triangle"
          ></klk-icon>

          {{ item.variation }} ({{ item.percentage }}%)
        </div>
      </commission-card>
    </div>
    <slot></slot>
  </div>
</template>

<script>
import moment from "moment";
import { urlObj } from "common_data";

import CommissionCard from "../../../tpl/commission_card.vue";

export default {
  name: "DashboardCommissionData",
  components: {
    CommissionCard,
  },
  data() {
    return {
      time_gap_list: [7, 30, 90],
      recent_summary: [],
      loading: {
        loading_recent_summary: false,
      },
    };
  },
  mounted() {
    this.loadRecentSummary();
  },
  methods: {
    loadRecentSummary(time_gap) {
      time_gap = time_gap || this.time_gap_list[0];

      this.loading.loading_recent_summary = true;
      klook.ajaxGet(
        urlObj.get_recent_summary,
        {
          start_date: moment(new Date())
            .subtract(time_gap, "days")
            .format("YYYY-MM-DD"),
          end_date: moment(new Date()).format("YYYY-MM-DD"),
        },
        (resp) => {
          this.loading.loading_recent_summary = false;
          if (resp.success) {
            var summary = resp.result.summary,
              currency = resp.result.currency,
              variation = resp.result.variation;

            var recent_summary = {
              commission_amount: summary ? summary.shared_revenue : "-",
              paid_orders: summary ? summary.paid_orders : "-",
              refunded_orders: summary ? summary.canceled_orders : "-",
              currency: currency || "-",
            };

            this.recent_summary = [
              {
                title: __("17672"),
                amount: klook.transfer_cent_to_usd_with_formate_thousand(
                  recent_summary.commission_amount
                ),
                currency: currency,
                variation: variation
                  ? klook.transfer_cent_to_usd_with_formate_thousand(
                      variation.commission_variation
                    )
                  : "-",
                percentage: variation ? variation.percentage_commission : "-",
              },
              {
                title: __("17674"),
                amount: recent_summary.paid_orders,
                currency: "",
                variation: variation ? variation.paid_orders_variation : "-",
                percentage: variation ? variation.percentage_paid_orders : "-",
              },
              {
                title: __("DASHBOARD_COMMISSION_DATA_canceled_orders"),
                amount: recent_summary.refunded_orders,
                currency: "",
                variation: variation
                  ? variation.canceled_orders_variation
                  : "-",
                percentage: variation
                  ? variation.percentage_canceled_orders
                  : "-",
              },
            ];
          } else {
            console.error(resp);
          }
        }
      );
    },
  },
};
</script>
