<style lang="scss" scoped>
.affiliate_admin {
  min-height: 440px;
  .search_area {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .select_area_row {
      display: flex;
      align-items: center;
    }
    .klk_select {
      margin-left: 10px;
    }
    .search_input {
      margin-left: 20px;
      margin-bottom: 24px;
    }
    .icon_search {
      line-height: 40px;
    }
  }
  ::v-deep .klk_input_group_append {
    padding: 0 5px;
  }
  ::v-deep .pagination {
    margin: 30px;
  }
  .content {
    padding: 10px 0;
  }
}
</style>
<template lang="html">
  <div class="affiliate_admin" v-loading="loading">
    <div class="frame_title">{{ $t("ADMIN_MULTIPLE_internal_user") }}</div>
    <div class="search_area">
      <div class="select_area_row">
        <span class="label">
          {{ $t("ADMIN_INTERNAL_USER_internal_user_filter") }} :
        </span>
        <klk-select
          filterable
          v-model="searchOptions.gid"
          :placeholder="$t('ADMIN_MULTIPLE_internal_user_role_placeholder')"
          width="275px"
          @on-change="handleSelectUserRole"
        >
          <klk-option
            v-for="item in userRoleTypes"
            :key="item.id"
            :value="item.id"
            >{{ item.name }}</klk-option
          >
        </klk-select>
      </div>
      <klk-input
        type="text"
        class="search_input"
        v-model="searchOptions.name"
        :style="{ width: '275px' }"
        :placeholder="$t('MULTIPLE_user_name')"
        @on-enter="handleSearch"
      >
        <span slot="append" @click="handleSearch">
          <klk-icon class="icon_search" type="search" :size="24"></klk-icon>
        </span>
      </klk-input>
    </div>
    <div class="content">
      <UserTable
        :list="list"
        :loading="loading"
        :roleTypes="userRoleTypes"
        :fetchList="fetchInternalUserList"
      ></UserTable>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handlePageChange"
      ></klk-pagination>
    </div>
  </div>
</template>

<script>
import { urlObj, formRules, requestWithCache } from "common_data";
import UserTable from "./components/user_table";
const initialPage = {
  total: 0,
  pageSize: 10,
  curPage: 1,
};
export default {
  name: "InternalUser",
  components: {
    UserTable,
  },
  data() {
    return {
      userRoleTypes: [],
      searchOptions: {
        gid: 3,
        name: "",
      },
      list: [],
      loading: false,
      pagination: initialPage,
    };
  },
  created() {
    this.fetchUserRoleList();
    this.fetchInternalUserList();
  },
  methods: {
    handleSearch() {
      const { name } = this.searchOptions;
      this.sendGA("search", "Internal User", "Search By User Name", name);
      this.pagination = initialPage;
      this.fetchInternalUserList();
    },

    handleSelectUserRole(value) {
      this.pagination = initialPage;
      this.sendGA("search", "Internal User", "Search By User Role", value);
      this.fetchInternalUserList();
    },
    sendGA(event, category, action, label) {
      window.dataLayer.push({
        event: event,
        eventCategory: category,
        eventAction: action,
        eventLabel: label,
      });
    },
    handlePageChange(currentPage) {
      this.pagination.curPage = currentPage;
      this.fetchInternalUserList();
    },

    fetchUserRoleList() {
      klook.ajaxGet(urlObj.user_role_list, null, (res) => {
        if (res.success) {
          this.userRoleTypes = (res.result && res.result.group_list) || [];
        } else {
          console.error(res.error.message);
        }
      });
    },

    fetchInternalUserList() {
      const { name, gid } = this.searchOptions;
      const { pageSize, curPage } = this.pagination;
      this.loading = true;
      klook.ajaxGet(
        urlObj.internal_user_list,
        { name, gid, p: curPage, pcount: pageSize },
        (res) => {
          this.loading = false;
          if (res.success) {
            const { total = 0, user_info = [] } = res.result || {};
            this.list = user_info;
            this.pagination = Object.assign({}, this.pagination, { total });
          } else {
            console.error(res.error.message);
          }
        }
      );
    },
  },
};
</script>
