<style lang="scss">
.contact_us {
  background: #fff;
  .klk_modal_alert {
    .klk_modal_alert_head {
      font-size: 16px;
    }
    .klk_modal_alert_body {
      font-size: 14px;
      color: #888888;
    }
    .klk_modal_alert_footer {
      .theme_btn_base {
        width: 84px;
        height: 32px;
      }
    }
  }
  .affiliate_contact_us {
    .reach_out_form {
      width: 720px;
      margin: 0 auto;
      color: #333;
      .title {
        margin: 72px 0 48px;
        text-align: center;
        font-size: 32px;
        font-weight: 500;
      }
      .tip {
        font-size: 16px;
      }
      .klk_input_label {
        color: #000000;
      }
    }
    .button_wrapper {
      text-align: center;
      padding: 30px 0 50px;
      .submit_button {
        width: 170px;
      }
    }
  }
}
</style>

<template lang="html">
  <div class="contact_us">
    <common-banner v-if="!isHomePageExperiment"></common-banner>
    <experiment-banner v-else></experiment-banner>
    <div class="affiliate_contact_us">
      <div class="reach_out_form">
        <div class="title">
          {{ $t("CONTACT_US_contact_us_title") }}
        </div>
        <klk-form flex_row :rules="formRules" :model="form_data" ref="ref_form">
          <klk-form-item
            :label="form_data_label.nature_of_inquiry"
            prop="question_type"
          >
            <klk-select v-model="form_data.question_type">
              <klk-option
                v-for="item in question_type_list"
                :key="item"
                :value="item"
                >{{ item }}</klk-option
              >
            </klk-select>
          </klk-form-item>

          <klk-form-item :label="form_data_label.first_name" prop="first_name">
            <klk-input v-model="form_data.first_name"></klk-input>
          </klk-form-item>

          <klk-form-item :label="form_data_label.last_name" prop="last_name">
            <klk-input v-model="form_data.last_name"></klk-input>
          </klk-form-item>

          <klk-form-item
            :label="form_data_label.company_name"
            prop="business_name"
          >
            <klk-input v-model="form_data.business_name"></klk-input>
          </klk-form-item>

          <klk-form-item :label="form_data_label.country" prop="country">
            <klk-select v-model="form_data.country">
              <klk-option
                v-for="(value, key) in code_country_map"
                :key="key"
                :value="key"
                >{{ value.name }}</klk-option
              >
            </klk-select>
          </klk-form-item>

          <klk-form-item :label="form_data_label.email" prop="email">
            <klk-input v-model="form_data.email"></klk-input>
          </klk-form-item>

          <klk-form-item :label="form_data_label.website" prop="website">
            <klk-input v-model="form_data.website" width="520px"> </klk-input>
          </klk-form-item>

          <klk-form-item :label="form_data_label.message" prop="message">
            <klk-input
              rows="5"
              cols="82"
              type="textarea"
              v-model="form_data.message"
            ></klk-input>
          </klk-form-item>
        </klk-form>
      </div>
      <div class="button_wrapper">
        <button
          class="theme_btn_base submit_button"
          v-loading="submiting"
          @click="save"
        >
          {{ $t("MULTIPLE_submit") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { formRules, urlObj, requestWithCache } from "common_data";
import ExperimentBanner from "../home/components/experiment_banner.vue";
import CommonBanner from "../../tpl/common_banner.vue";

export default {
  name: "ContactUs",
  components: {
    CommonBanner,
    ExperimentBanner,
  },
  data() {
    return {
      submiting: false,
      code_country_map: [],
      form_data: {
        question_type: "",
        first_name: "",
        last_name: "",
        business_name: "",
        country: "",
        email: "",
        website: "",
        message: "",
      },
      form_data_label: {
        nature_of_inquiry: "* " + __("CONTACT_US_nature_of_inquiry") + ":",
        first_name: "* " + __("MULTIPLE_first_name") + ":",
        last_name: "* " + __("MULTIPLE_last_name") + ":",
        company_name: "* " + __("CONTACT_US_company_name") + ":",
        country: "* " + __("MULTIPLE_billing_location") + ":",
        email: "* " + __("MULTIPLE_email") + ":",
        website: "* " + __("MULTIPLE_website") + ":",
        message: "* " + __("CONTACT_US_message") + ":",
      },
    };
  },
  created() {
    this.question_type_list = [
      __("CONTACT_US_nature_of_inquiry_type_1"),
      __("CONTACT_US_nature_of_inquiry_type_2"),
      __("CONTACT_US_nature_of_inquiry_type_3"),
      __("CONTACT_US_nature_of_inquiry_type_4"),
    ];
    this.formRules = formRules.call(this);
  },
  mounted() {
    this.loadData();
  },
  computed:{
    isHomePageExperiment() {
      return this.$store.getters.isHomePageExperiment;
    }
  },
  methods: {
    validate(callback) {
      this.$refs["ref_form"].validate((valid, message) => {
        if (valid) {
          callback();
        }
      });
    },
    save() {
      // Google Tag Manager for "Contact Us > Submit" Event
      window.dataLayer.push({
        event: "contactUs",
        eventCategory: "Contact Page",
        eventAction: "Contact Us",
      });
      this.validate(() => {
        klook.ajaxPostJSON(urlObj.contact_us, this.form_data, (resp) => {
          if (resp.success) {
            this.$Modal.alert({
              title: __("CONTACT_US_form_submited"), //Form Submitted
              content: __("CONTACT_US_contact_us_success_content"), //Thanks for reaching out! We will be in touch shortly.
              onOk: () => {
                this.$refs["ref_form"].resetFields();
              },
            });
          } else {
            console.error(resp);
          }
        });
      });
    },
    loadData() {
      requestWithCache(urlObj.get_country_list).then(
        (data) => (this.code_country_map = data.country_list)
      );
    },
  },
};
</script>
