<style lang="scss" scoped>
.expense_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .title {
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0 30px 0;
  }
  ::v-deep .klk_form_item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;
    .klk_form_item_content {
      margin: 0;
      width: 260px;
      .search_icon {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .klk_form_item_error_tip {
      position: relative;
    }
  }
  .label {
    display: flex;
    width: 160px;
    margin-right: 20px;
    .star {
      color: #ff5722;
      margin-right: 5px;
    }
  }
  .expense_form_text_area {
    width: 260px;
    resize: none;
    height: 140px;
    border: 1px solid #e0e0e0;
    &:hover {
      border: 1px solid #07b295;
    }
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    width: 100%;
    button {
      width: 80px;
      height: 34px;
      font-size: 12px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
</style>

<template lang="html">
  <div class="expense_form">
    <span class="title">{{
      form_data.id
        ? $t("ADMIN_EXPENSE_FORM_expense_edit")
        : $t("ADMIN_EXPENSE_FORM_expense_create")
    }}</span>
    <klk-form :rules="formRules" :model="form_data" ref="ref_form">
      <klk-form-item prop="month">
        <span slot="label">
          <span class="label"
            ><span class="star">*</span
            >{{ $t("ADMIN_MULTIPLE_expense_month") }}:
          </span>
        </span>
        <klk-input v-model="form_data.month" disabled></klk-input>
      </klk-form-item>
      <klk-form-item prop="uid">
        <span slot="label">
          <span class="label"
            ><span class="star">*</span>{{ $t("ADMIN_MULTIPLE_user") }}:
          </span>
        </span>
        <klk-select
          v-if="!form_data.id"
          filterable
          v-model="form_data.uid"
          remote
          :remoteMethod="handleSearch"
          style="width: 260px"
          placeholder="Input UID Search"
          @on-change="handleChange"
        >
          <klk-option
            v-for="item in searchUserList"
            :key="item.id"
            :value="item.id"
            >{{ item.id }}</klk-option
          >
        </klk-select>
        <klk-input v-else v-model="form_data.uid" disabled></klk-input>
      </klk-form-item>
      <klk-form-item prop="incur_date">
        <span slot="label">
          <span class="label">
            <span class="star">*</span
            >{{ $t("ADMIN_MULTIPLE_expense_incurred_data") }}:
          </span>
        </span>
        <klk-date-picker
          width="260px"
          type="date"
          v-model="form_data.incur_date"
          :confirm="true"
          format="yyyy-MM-dd"
        >
        </klk-date-picker>
      </klk-form-item>
      <klk-form-item prop="type">
        <span slot="label">
          <span class="label">
            <span class="star">*</span>
            <klk-poptip trigger="hover" class="poptip_wrapper">
              <klk-icon
                class="desc_icon"
                type="information-circled"
                size="17"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                <div style="width: 360px; textalign: left; font-size: 10px">
                  <ol>
                    <li>
                      *
                      {{
                        $t("ADMIN_MULTIPLE_expense_type_commission_adjustment")
                      }}
                    </li>
                    <li>
                      * {{ $t("ADMIN_MULTIPLE_expense_type_service_free") }}
                    </li>
                    <li>
                      *
                      {{
                        $t("ADMIN_MULTIPLE_expense_type_additional_commission")
                      }}
                    </li>
                    <li>* {{ $t("ADMIN_MULTIPLE_expense_type_fee") }}</li>
                  </ol>
                </div>
              </div>
            </klk-poptip>
            {{ $t("ADMIN_MULTIPLE_expense_type") }}:
          </span>
        </span>
        <klk-select filterable v-model="form_data.type" style="width: 260px">
          <klk-option
            v-for="item in expenseTypeList"
            :key="item.value"
            :value="item.value"
            >{{ item.name }}</klk-option
          >
        </klk-select>
      </klk-form-item>
      <klk-form-item>
        <span slot="label">
          <span class="label"
            ><span class="star">*</span>{{ $t("MULTIPLE_billing_currency") }}:
          </span>
        </span>
        <klk-input :value="getCurrency()" disabled></klk-input>
      </klk-form-item>
      <klk-form-item prop="amount">
        <span slot="label">
          <span class="label"
            ><span class="star">*</span
            >{{ $t("ADMIN_EXPENSE_FORM_expense_form_amount") }}:
          </span>
        </span>
        <input
          v-model="form_data.amount"
          type="number"
          @input="handleAmountChange"
        />
      </klk-form-item>
      <klk-form-item prop="remark">
        <span slot="label">
          <span class="label" style="padding-left: 10px"
            >{{ $t("ADMIN_MULTIPLE_expense_remark") }}:
          </span>
        </span>
        <textarea
          v-model="form_data.remark"
          class="klk_form_item_content expense_form_text_area"
        ></textarea>
      </klk-form-item>
    </klk-form>
    <div class="footer">
      <button
        type="button"
        class="theme_btn_base_white small_btn"
        name="button"
        @click="handleClickCancel"
      >
        {{ $t("MULTIPLE_cancel") }}
      </button>
      <button
        type="button"
        class="theme_btn_base submit_btn small_btn"
        name="button"
        @click="handleSubmit"
      >
        {{ $t("MULTIPLE_submit") }}
      </button>
    </div>
  </div>
</template>

<script>
import moment from "moment";
import { formRules, urlObj } from "common_data";
import _cloneDeep from "lodash/cloneDeep";
import _debounce from "lodash/debounce";

export default {
  name: "ExpenseForm",
  /* props: {
    Submit: () => {},
    Cancel: () => {},
    expenseTypeList: [],
    data: {
      type: Object,
      default: () => ({
        id: "",
        amount: "",
        incur_date: "",
        operator_uid: "",
        remark: "",
        type: "",
        currency: "",
        uid: "",
        login_email: "",
        month: "",
      }),
    },
  }, */
  props: {
    Submit: Function,
    Cancel: Function,
    expenseTypeList: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    const curYear = moment().format("YYYY");
    const curMonth = +moment().format("MM");
    const nextMonth = +moment().add("1", "months").format("MM");
    // 考虑 2021年1月11日--》2020年12月 情况
    const nextYear = +moment().add("1", "months").format("YYYY");
    const startMonth =
      moment().isBefore(moment(`${nextYear}-${nextMonth}-10`)) &&
      moment().isAfter(moment(`${curYear}-${curMonth}-11`))
        ? `${curYear}-${curMonth}`
        : `${+moment().subtract("1", "months").format("YYYY")}-${+moment()
            .subtract("1", "months")
            .format("MM")}`;
    return {
      form_data: {
        id: "",
        amount: "",
        incur_date: "",
        operator_uid: "",
        remark: "",
        login_email: "",
        type: "",
        uid: "",
        currency: "",
        // 当前月 11 号 -- 下一个月 10 号， 属于当前月. 否则为上个月
        month: startMonth,
      },
      searchUserList: [],
      user: {},
      searchText: "",
    };
  },
  watch: {
    data: {
      handler(newVal, oldVal) {
        this.form_data = _cloneDeep(newVal);
        if (newVal.id) {
          this.handleSearch(newVal.uid);
        }
      },
    },
  },
  created() {
    this.formRules = formRules.call(this);
    this.debounce = _debounce(this.search, 600);
  },
  methods: {
    handleAmountChange(e) {
      const value = e.target.value.match(/^([-+])?\d*(\.?\d{0,2})/g)[0];
      const data = _cloneDeep(this.form_data);
      data.amount = value;
      this.form_data = data;
    },
    getCurrency() {
      const user = this.searchUserList.filter((item) => {
        return +item.id === +this.form_data.uid;
      })[0];
      return (user && user.currency) || "";
    },
    handleClickCancel() {
      this.Cancel && this.Cancel();
    },
    handleSubmit() {
      this.$refs["ref_form"].validate((valid, message) => {
        if (valid) {
          this.Submit && this.Submit(this.form_data);
        }
      });
    },
    handleChange(val) {
      this.user = this.searchUserList.filter((item) => {
        return +item.user_id === +val;
      })[0];
    },
    search() {
      const searchText = this.searchText;
      klook.ajaxGet(urlObj.search_user(searchText), null, (resp) => {
        this.loading_data = false;
        if (resp.success) {
          this.searchUserList = resp.result;
        } else {
          console.error(resp);
        }
      });
    },
    handleSearch(value) {
      this.searchText = value;
      this.debounce(value);
    },
  },
};
</script>
