<style lang="scss">
.forgot_form {
  .klk_dialog_footer {
    .btn_full {
      margin: 16px 0 40px;
    }
  }
}
</style>

<template lang="html">
  <div class="forgot_form">
    <div class="klk_dialog_title">
      {{ $t("FORGOT_FORM_reset_password") }}
    </div>
    <div class="klk_dialog_body">
      <klk-form :rules="formRules" :model="form_data" ref="ref_form_forgot">
        <klk-form-item prop="email">
          <klk-input
            :placeholder="$t('FORGOT_FORM_please_enter_an_email_address')"
            v-on:input="forgot_error = ''"
            v-model="form_data.email"
          ></klk-input>
        </klk-form-item>
      </klk-form>
    </div>
    <div class="klk_dialog_prompt">
      {{ $t("FORGOT_FORM_reset_password_desc") }}
    </div>
    <div class="klk_dialog_footer">
      <p class="klk_error_tips" v-show="forgot_error !== ''">
        {{ forgot_error }}
      </p>
      <button
        type="button"
        class="theme_btn_base btn_full"
        name="button"
        @click="verify_forgot"
        :disabled="disabled_submit_btn"
      >
        {{ $t("MULTIPLE_submit") }}
      </button>
    </div>
  </div>
</template>

<script>
import { formRules, urlObj } from "common_data";
export default {
  data() {
    return {
      form_data: {
        email: "",
      },
      forgot_error: "",
    };
  },
  methods: {
    verify_forgot() {
      // Google Tag Manager
      window.dataLayer.push({
        event: "trackEventCustom",
        eventCategory: "Forgot Password Pop-up",
        eventAction: "Forgot Password",
      });
      this.$refs["ref_form_forgot"].validate((valid, message) => {
        if (valid) {
          klook.ajaxPost(
            urlObj.user_forget_password,
            {
              userName: this.form_data.email,
            },
            (res) => {
              if (res.success) {
                this.$emit("forgot_form_success");
              } else {
                this.forgot_error = res.error.message;
              }
            }
          );
        } else {
          return false;
        }
      });
    },
  },
  computed: {
    disabled_submit_btn() {
      return this.form_data.email.trim().length === 0;
    },
  },
  created() {
    this.formRules = formRules.call(this);
  },
};
</script>
