<style lang="scss">
.login_form {
  .grecaptcha-badge {
    display: none;
  }

  .klk_dialog_body {
    .affiliate_agreement {
      margin-left: 8px;
      font-size: 14px;
      color: #666666;
    }

    .password-info-wrapper {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      .remeber_me {
        color: #666666;
      }

      .forgot {
        line-height: 26px;
        color: #666666;
        cursor: pointer;

        &:hover {
          color: $theme_color;
        }
      }
    }
  }

  .klk_dialog_footer {
    .sign_up_wrapper {
      border-top: 1px solid #ebebeb;

      .btn_text {
        width: 100%;
        line-height: 60px;
        font-size: 16px;
      }
    }
  }
}
</style>

<template>
  <div class="login_form" v-loading="is_logging_in">
    <div class="klk_dialog_title">
      {{ $t("LOGIN_FORM_affiliate_log_in") }}
    </div>
    <p class="klk_dialog_prompt">
      {{ $t("LOGIN_FORM_affiliate_log_in_desc") }}
    </p>
    <div class="klk_dialog_body">
      <klk-form :rules="formRules" :model="form_data" ref="ref_form_login">
        <klk-form-item prop="email">
          <klk-input
            :placeholder="$t('MULTIPLE_email')"
            v-on:input="login_error = ''"
            v-model.trim="form_data.email"
          ></klk-input>
        </klk-form-item>
        <klk-form-item prop="password">
          <klk-input
            :placeholder="$t('MULTIPLE_password')"
            type="password"
            v-on:input="login_error = ''"
            v-model="form_data.password"
          ></klk-input>
        </klk-form-item>

        <klk-form-item prop="affiliate_agreement">
          <klk-checkbox v-model="form_data.affiliate_agreement">
            <span
              class="affiliate_agreement"
              v-html="read_affiliate_agreement"
            ></span>
            <a
              class="theme_a"
              style="font-size: 14px"
              target="_blank"
              :href="affiliate_agreement_href"
              >{{ $t("LOGIN_FORM_login_affiliate_agreement") }}</a
            >
          </klk-checkbox>
        </klk-form-item>
        <klk-form-item>
          <div class="password-info-wrapper">
            <div class="remeber_me">
              <klk-checkbox v-model="form_data.remeber_me">
                {{ $t("LOGIN_FORM_remeber_me") }}
              </klk-checkbox>
            </div>
            <div class="forgot" @click="forgot_password">
              {{ $t("LOGIN_FORM_forgot_password") }}
            </div>
          </div>
        </klk-form-item>
      </klk-form>
      <p
        style="height: 60px; word-wrap: break-word"
        class="klk_error_tips"
        v-show="login_error !== ''"
      >
        {{ login_error }}
      </p>
    </div>
    <div class="klk_dialog_footer" id="klk_dialog_footer">
      <button
        id="login_btn"
        type="button"
        class="theme_btn_base btn_full log_in g-recaptcha"
        name="button"
        data-sitekey="6LdxrlUUAAAAAKenOqfrpCwQ64JncIaQ300sju2m"
        @click="captchaStart"
      >
        {{ $t("MULTIPLE_log_in") }}
      </button>
      <div class="sign_up_wrapper">
        <button type="text" class="btn_text" @click="sign_up">
          {{ $t("MULTIPLE_sign_up") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { formRules, urlObj } from "common_data";
import Cookies from "js-cookie";
import {
  initCaptcha,
  getCaptcha,
  simpleCaptchaErrHandler,
} from "../../../../comm/captcha";
import { USER_LANG_MAP } from "../../../../../../config";

export default {
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      read_affiliate_agreement: __("LOGIN_FORM_read_affiliate_agreement"),
      lang_ali: {
        "zh-CN": "cn",
        en: "en",
        "zh-HK": "tw",
        "zh-TW": "tw",
      },
      is_logging_in: this.loading,
      form_data: {
        email: "",
        password: "",
        affiliate_agreement: false,
        remeber_me: false,
      },
      login_error: "",
      captcha_type: "", // 0:google验证 1:阿里无痕验证 2:阿里ie滑块验证 3: 极验 4: 谷歌V3
      captchaSettings: {},
      captchaInitSuccess: false,
    };
  },
  watch: {
    loading: function (newV) {
      this.is_logging_in = newV;
    },
  },
  methods: {
    login(data = {}) {
      let obj = Object.assign(
        {},
        {
          gateway: "klook",
          email: this.form_data.email,
          password: klook.md5(this.form_data.password),
          refer_url: location.href,
          ["X-Platform"]: "desktop",
          need_cookie: true,
        },
        data
      );
      this.is_logging_in = true;
      klook.ajaxPost(
        urlObj.user_login,
        obj,
        (res) => {
          this.is_logging_in = false;
          if (res.success) {
            if (this.form_data.remeber_me) {
              Cookies.set("remember_user_name", this.form_data.email, {
                path: "/",
              });
            }
            var token = res.result && res.result.token;
            this.$emit("login_form_get_user_info", token);
          } else {
            this.login_error_handle({
              code: res.error.code,
              error_info: res.error.message,
            });
          }
        },
        {
          ["Accept-Language"]: USER_LANG_MAP[KLK_LANG],
        }
      );
    },
    errorMessage(error) {
      this.$Message({
        type: "warning",
        duration: 4000,
        content: __("MULTIPLE_client_network_failure"),
        showClose: false,
        isCenter: true,
      });
    },
    captchaStart() {
      window.dataLayer.push({
        event: "trackEventCustom",
        eventCategory: "Login Pop-up",
        eventAction: "Login",
      });
      this.login_error = "";
      document.getElementById("klk_dialog_footer").style.marginTop = "0px";
      this.$refs["ref_form_login"].validate((valid, message) => {
        if (valid && this.captchaInitSuccess) {
          this.is_logging_in = true;
          getCaptcha(this.captchaSettings)
            .then((result) => {
              // result === false 表示 initCaptcha未成功
              this.is_logging_in = false;
              if (result === false) {
                return initCaptcha("login")
                  .then((captcha) => {
                    this.captchaInitSuccess = true;
                    this.captchaSettings = captcha;
                    return getCaptcha(captcha);
                  })
                  .catch((error) => {
                    this.errorMessage(error);
                  });
              }
              return result;
            })
            .then((result) => {
              this.login(result);
            })
            .catch((error) => {
              this.is_logging_in = false;
              this.errorMessage(error);
              simpleCaptchaErrHandler(error, this);
            });
        }
      });
    },
    login_error_handle(info) {
      this.is_logging_in = false;
      this.login_error = info.error_info;
    },
    sign_up() {
      this.$emit("login_form_sign_up");
      if (this.$store.state.gtmEventModule.login_event_category === "Header") {
        this.$store.commit("change_signup_event_category", "Header");
      } else {
        this.$store.commit("change_signup_event_category", "Banner");
      }
    },
    forgot_password() {
      // Google Tag Manager
      window.dataLayer.push({
        event: "trackEventCustom",
        eventCategory: "Login Pop-up",
        eventAction: "Forgot Password",
      });
      this.$emit("login_form_forgot_password");
    },
    // 升级迁移接口
    captchaInit() {
      this.is_logging_in = true;
      initCaptcha("login")
        .then((captcha) => {
          this.is_logging_in = false;
          this.captchaInitSuccess = true;
          this.captchaSettings = captcha;
        })
        .catch((error) => {
          this.is_logging_in = false;
          this.errorMessage(error);
        });
    },
  },
  mounted() {
    const user_name = Cookies.get("remember_user_name");
    if (user_name) {
      this.form_data.email = user_name;
    }
  },
  created() {
    this.affiliate_agreement_href =
      "https://affiliate.klook.com/" + KLK_LANG_PATH + "help/terms_conditions";
    this.formRules = formRules.call(this);
    // 初始化验证码, 加载 sdk
    this.captchaInit();
  },
};
</script>
