<template>
  <div class="product_listing_page">
    <div class="content">
      <Header></Header>
      <div class="main">
        <klk-form flex_row :model="form_data" ref="ad_form" class="search">
          <klk-form-item
            :label="'* ' + $t('MULTIPLE_website')"
            prop="select_wid"
            class="website"
          >
            <klk-select filterable v-model="form_data.select_wid">
              <klk-option
                v-for="item in widList"
                :value="item.id"
                :key="item.id"
                >{{ item.name }}
              </klk-option>
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="'* ' + $t('MULTIPLE_all_destination')"
            prop="select_city"
          >
            <klk-select
              filterable
              v-model="form_data.select_city"
              @on-change="fetchList"
              :placeholder="$t('MULTIPLE_all_destination')"
            >
              <klk-option
                v-for="item in cityList"
                :value="item.city_id"
                :key="item.city_id"
                >{{ item.city_name }}</klk-option
              >
            </klk-select>
          </klk-form-item>
          <klk-form-item
            :label="'* ' + $t('MULTIPLE_category')"
            prop="select_category"
          >
            <klk-select
              filterable
              v-model="form_data.select_category"
              @on-change="fetchList"
              :placeholder="$t('MULTIPLE_select_category')"
            >
              <klk-option
                v-for="item in categoryList"
                :value="item"
                :key="item"
                >{{ category_map[item].label }}</klk-option
              >
            </klk-select>
          </klk-form-item>
        </klk-form>
        <div class="table">
          <klk-smart-list :cols="col" :table_data="data">
            <tr slot-scope="scope">
              <td>
                <a
                  class="theme_a"
                  target="__blank"
                  :href="`https://www.klook.com/${
                    klk_lang === 'en' ? 'en-US' : klk_lang
                  }/activity/${scope.row.activity_id}`"
                  >{{ scope.row.activity_name }}</a
                >
              </td>
              <td>{{ scope.row.city_name }}</td>
              <td>{{ category_map[scope.row.activity_template_id].label }}</td>
              <td>{{ scope.row.basic_share_rate }} %</td>
              <td>
                <span :class="scope.row.rcmd_type === 2 ? '' : 'hot'">{{
                  scope.row.rcmd_type === 2
                    ? $t("product_list_page_best")
                    : $t("product_list_page_recommended")
                }}</span>
              </td>
              <td>
                <button
                  type="button"
                  class="theme_btn_base small_btn copy_btn"
                  @click="clickCopy(scope.row)"
                  name="button"
                >
                  {{ $t("product_list_page_copy") }}
                </button>
              </td>
            </tr>
          </klk-smart-list>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component, Watch } from "vue-property-decorator";
//load svg into symbol
//https://webpack.github.io/docs/context.html#require-context
// requires and returns all modules that match
const requireAll = (requireContext) =>
  requireContext.keys().map(requireContext);
// auto prepend svg into body
requireAll(require.context("../../../../imgs/font-icon-svg/", true, /\.svg$/));
//register global components
Vue.use(require("../../../components/index.js"));
import Header from "./component/header.vue";
import { urlObj } from "common_data";

type cityList = {
  city_id: number;
  city_name: string;
  city_seo: string;
};
@Component({
  components: {
    Header,
  },
})
export default class Product_listing_page extends Vue {
  klk_lang = window.KLK_LANG;
  form_data: {
    select_wid: number | string;
    select_city: number | string;
    select_category: number | string;
  } = {
    select_wid: "",
    select_city: "",
    select_category: "",
  };
  copy_text = "";
  col = [
    {
      label: __("product_list_page_name"),
      width: "560px",
    },
    {
      label: __("product_list_page_destination"),
      width: "100px",
    },
    {
      label: __("MULTIPLE_category"),
      width: "100px",
    },
    {
      label: __("COMMISSION_RATES_commission_rate_on_revenue"),
      width: "140px",
    },
    {
      label: __("product_list_page_promotion_type"),
      width: "100px",
    },
    {
      label: __("product_list_page_copy_promo"),
      width: "100px",
    },
  ];
  data = [];
  cityList: cityList[] = [];
  categoryList = [];
  widList = window.USER_INFO.websites;
  category_map = {
    "1": { label: __("COMMISSION_RATES_activity_category_list_1"), link: "" },
    "2": { label: __("COMMISSION_RATES_activity_category_list_2"), link: "" },
    "3": { label: __("COMMISSION_RATES_activity_category_list_4"), link: "" },
    "4": { label: __("COMMISSION_RATES_activity_category_list_5"), link: "" },
    "5": { label: __("COMMISSION_RATES_activity_category_list_3"), link: "" },
    "6": {
      label: __("MULTIPLE_activity_category_list_6"),
      link: "special_activity",
    },
    "10": { label: __("excluded_activities"), link: "gift_card_activity" },
    "15": { label: __("car_rental"), link: "" },
    "16": { label: __("hotel"), link: "" },
    "19": { label: __("e_gift_card"), link: "" },
    "1000": { label: __("Staycation"), link: "" },
  };

  getUrlParam(name: string) {
    const reg = new RegExp(`(^|&)${name}=([^&]*)(&|$)`);
    const r = window.location.search.substr(1).match(reg);
    if (r !== null) return r[2];
    return null;
  }

  clickCopy(data) {
    // 调用生成接口
    const { select_city, select_category, select_wid } = this.form_data;
    klook.ajaxGet(
      urlObj.product_list_gen_links,
      {
        wid: select_wid, // in query, required, website id,
        activity_id: data.activity_id, // in query, required, activity id,
        city_id: select_city, // in query, required, city_id,
        activity_template_id: select_category, // in query, required, category id,
      },
      (resp) => {
        if (resp.success) {
          this.copy_code(resp.result.url);
        } else {
          this.$Modal.alert({
            title: __("COPY_CODE_BTN_copy_failed"),
          });
        }
      }
    );
  }

  fetchConfig() {
    klook.ajaxGet(urlObj.product_list_config, null, (resp) => {
      if (resp.success) {
        this.cityList = resp.result.target_city;
        this.categoryList = resp.result.category;
        this.form_data.select_city = this.cityList[0].city_id;
        this.form_data.select_category = this.categoryList[0];
      }
    });
  }

  copy_code(value) {
    const textarea = document.createElement("textarea");
    textarea.style.position = "fixed";
    textarea.style.top = "0";
    textarea.style.left = "0";
    textarea.style.border = "none";
    textarea.style.outline = "none";
    textarea.style.resize = "none";
    textarea.style.background = "transparent";
    textarea.style.color = "transparent";
    textarea.value = value;
    document.body.appendChild(textarea);
    textarea.select();
    try {
      document.execCommand("Copy");
      this.$Modal.alert({
        title: __("COPY_CODE_BTN_copied"),
      });
    } catch (e) {
      this.$Modal.alert({
        title: __("COPY_CODE_BTN_copy_failed"),
      });
    }
    document.body.removeChild(textarea);
  }

  created() {
    // 获取 url 参数
    const aid = this.aid;
    if (aid) {
      // 判断是否是自己的
      const data = this.widList.find((item) => {
        return +item.id === +aid;
      });
      // aid 有效
      this.form_data.select_wid = data ? data.id : this.widList[0].id;
    } else {
      // 默认取用户列表一个
      this.form_data.select_wid = this.widList[0].id;
    }
    // 获取基础配置数据
    this.fetchConfig();
  }

  fetchList() {
    klook.ajaxGet(
      urlObj.product_list_data,
      {
        city_id: this.form_data.select_city,
        activity_template_id: this.form_data.select_category,
      },
      (resp) => {
        if (resp.success) {
          this.data = resp.result.recommend_products;
        }
      }
    );
  }

  get aid() {
    return this.getUrlParam("aid");
  }
}
</script>
<style lang="scss" scoped>
.product_listing_page {
  min-height: 100%;
  min-width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    flex: 1 1 auto;
    margin: 0 auto;

    .main {
      width: 1160px;
      background: #fff;
      padding: 20px 20px 60px 20px;

      .search {
        display: flex;
        justify-content: space-between;
        align-items: center;

        ::v-deep .klk_form_item {
          &:nth-child(3) {
            margin-right: 0;
          }
        }
      }

      .table {
        width: 100%;
        margin-top: 20px;
        .hot {
          color: red;
        }
        .copy_btn {
          width: 60px;
          height: 26px;
          line-height: 0;
          padding: 0;
          font-size: 12px;
        }
        ::v-deep .theme_btn_base_border {
          color: #fff;
          background: #07b295;
          font-size: 12px;
        }
      }

      .website {
        width: 600px;

        ::v-deep .klk_select {
          width: 100%;
        }

        ::v-deep .klk_select_input {
          width: 100%;
        }
      }
    }

    .content_header {
      line-height: 59px;
      text-align: center;
      word-wrap: break-word;
      font-size: 48px;
      font-weight: bold;
    }

    .widget_text_desc {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #333333;
    }
  }
}
</style>
