<style lang="scss" scoped>
.recall_select_dialog {
  ::v-deep .klk_radio_wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    .klk_radio_label_wrapper {
      margin: 0 16px;
      color: #333;
      font-size: 14px;
    }
    .klk_radio_input {
      font-size: 24px;
    }
  }
  ::v-deep .klk_radio_group {
    display: flex;
  }
  .content {
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
  }
  .klk_dialog_footer {
    text-align: right;
    .btn_group {
      margin-right: 30px;
      .theme_btn_base,
      .theme_btn_base_white {
        width: 84px;
        padding: 0;
        text-align: center;
        font-size: 14px;
        line-height: 32px;
      }
    }
  }
}
</style>

<template>
  <klk-dialog
    class="recall_select_dialog"
    v-model="is_dialog_shown"
    width="400"
  >
    <div class="klk_dialog_body">
      <klk-radio-group :value="value" @input="handleSelectRadio">
        <klk-radio
          v-for="item in ruleTypeOptions"
          :key="item.value"
          :label="item.value"
        >
          <span>{{ item.name }}</span>
        </klk-radio>
      </klk-radio-group>
      <div class="content">{{ content }}</div>
    </div>
    <div class="klk_dialog_footer">
      <div class="btn_group">
        <button
          type="button"
          name="button"
          class="theme_btn_base_white"
          @click="$emit('cancel')"
        >
          {{ $t("ADMIN_MULTIPLE_Cancel") }}
        </button>
        <button
          type="button"
          name="button"
          class="theme_btn_base"
          @click="$emit('confirm')"
        >
          {{ $t("MULTIPLE_confirm") }}
        </button>
      </div>
    </div>
  </klk-dialog>
</template>

<script>
export default {
  props: {
    is_dialog_shown: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      ruleTypeOptions: [
        {
          name: __("ADMIN_RECALL_SELECT_DIALOG_unlock"),
          value: 1,
        },
        {
          name: __("ADMIN_RECALL_SELECT_DIALOG_discontinue"),
          value: 2,
        },
      ],
      content: __("ADMIN_RECALL_SELECT_DIALOG_recall_unlock_alert"),
    };
  },
  watch: {
    value(type) {
      this.setContentByType(type);
    },
  },
  methods: {
    handleSelectRadio(type) {
      this.setContentByType(type);
      this.$emit("change", type);
    },
    setContentByType(type) {
      if (type === 1) {
        this.content = __("ADMIN_RECALL_SELECT_DIALOG_recall_unlock_alert");
      } else {
        this.content = __(
          "ADMIN_RECALL_SELECT_DIALOG_recall_discontinue_alert"
        );
      }
    },
  },
};
</script>
