<style lang="scss" scoped>
.view_logo_dialog {
  .klk_dialog_body {
    .display_area {
      .display_area_item {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &_black {
          background: #000000;
        }
        &_gray {
          background: #f5f5f5;
        }
        img {
          height: 48px;
        }
      }
    }
  }
  .klk_dialog_footer {
    text-align: right;
    .btn_group {
      margin-right: 30px;
    }
  }
}
</style>

<template>
  <klk-dialog class="view_logo_dialog" v-model="is_dialog_shown" width="800">
    <div class="klk_dialog_body">
      <div class="display_area">
        <div
          class="display_area_item display_area_item_black"
          ref="binaryWrapper"
        >
          <img :src="binary_logo_url" />
        </div>
        <div
          class="display_area_item display_area_item_gray"
          ref="colorfulWrapper"
        >
          <img :src="colorful_logo_url" />
        </div>
      </div>
    </div>
    <div class="klk_dialog_footer">
      <div class="btn_group">
        <button
          type="button"
          name="button"
          class="theme_btn_base"
          @click="$emit('confirm')"
        >
          {{ $t("MULTIPLE_confirm") }}
        </button>
      </div>
    </div>
  </klk-dialog>
</template>

<script>
export default {
  props: {
    is_dialog_shown: {
      type: Boolean,
      default: false,
    },
    binary_logo_url: {
      type: String,
      default: "",
    },
    colorful_logo_url: {
      type: String,
      default: "",
    },
  },
};
</script>
