<style lang="scss" scoped>
.view_history_dialog {
  ::v-deep .klk_dialog .klk_dialog_title {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .klk_dialog_body {
    .display_area {
      .display_area_item {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        &_black {
          background: #000000;
        }
        &_gray {
          background: #f5f5f5;
        }
      }
    }
  }

  .klk_dialog_footer {
    text-align: right;
    .btn_group {
      margin-right: 30px;
    }
  }
}
</style>

<template>
  <klk-dialog class="view_history_dialog" v-model="is_dialog_shown" width="800">
    <div class="klk_dialog_title" style="text-align: center">
      {{ $t("ADMIN_VIEW_HISTORY_DIALOG_application_history") }} -
      {{ user_info.fullname }} - {{ $t("MULTIPLE_website_id") }}：{{
        getAids(user_info.wids)
      }}
    </div>
    <div class="klk_dialog_body">
      <div v-loading="!list.length">
        <co-brand-history-table
          :list="list"
          v-if="list.length"
        ></co-brand-history-table>
      </div>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      >
      </klk-pagination>
    </div>
    <div class="klk_dialog_footer">
      <div class="btn_group">
        <button
          type="button"
          name="button"
          class="theme_btn_base"
          @click="$emit('confirm')"
        >
          {{ $t("MULTIPLE_confirm") }}
        </button>
      </div>
    </div>
  </klk-dialog>
</template>

<script>
import CoBrandHistoryTable from "../../../my_ads/co_brand/components/co_brand_history_table.vue";

export default {
  props: {
    is_dialog_shown: {
      type: Boolean,
      default: false,
    },
    list: {
      type: Array,
      default: () => [],
    },
    user_info: {
      type: Object,
      default: () => ({}),
    },
    pagination: {
      type: Object,
      default: () => ({
        total: 0,
        pageSize: 10,
        curPage: 1,
      }),
    },
  },
  computed: {
    getAids() {
      return function (aids) {
        if (Array.isArray(aids)) {
          let temp = aids.slice();
          if (temp.includes(0)) {
            temp.shift();
          }
          return temp.join(", ") || "-";
        }
      };
    },
  },
  components: {
    CoBrandHistoryTable,
  },
  methods: {
    handleCurrentChange(curPage) {
      this.$emit("change", curPage, this.user_info.uid);
    },
  },
};
</script>
