<template lang="html">
  <div :class="'klk_loading_' + loading_type" v-show="show">
    <div class="loading_inner"></div>
  </div>
</template>

<script>
export default {
  name: "KlkLoading",
  props: {
    show: {
      type: Boolean,
      default: function () {
        return true;
      },
    },
    loading_type: {
      type: String,
      default: function () {
        return "moving";
      },
    },
  },
};
</script>

<style lang="scss">
.klk_loading_moving {
  width: 202px;
  height: 10px;
  border-radius: 100px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;

  .loading_inner {
    width: 81px;
    height: 10px;
    border-radius: 100px;
    background-color: $theme_color;
    animation: moving_right 2s linear infinite;
    position: absolute;
    left: -81px;
  }
  @keyframes moving_right {
    0% {
      left: -81px;
    }
    100% {
      left: 100%;
    }
  }
}
</style>
