<style lang="scss" scoped>
.upload {
  min-height: 440px;
  .nav_title {
    margin-bottom: 20px;
  }
  .upload_btn {
    display: flex;
    align-items: center;
    button {
      width: 130px;
      height: 30px;
      line-height: 12px;
      margin-right: 20px;
    }
    .alert {
      flex: 1;
    }
    .icon_add_circle {
      display: flex;
      align-items: center;
      .text {
        margin-left: 3px;
        font-size: 12px;
        color: #b4b4b4;
      }
    }
  }
}
</style>
<style lang="scss">
.klk_modal_alert {
  .klk_modal_alert_head {
    .klk_modal_alert_head_title {
      font-size: 16px;
      color: red !important;
    }
  }
}
</style>
<template lang="html">
  <div class="upload">
    <div class="nav_title">
      {{ $t("ADMIN_MULTIPLE_system_admin_data_import") }} /
      {{ $t("ADMIN_UPLOAD_TYPE_system_admin_import_affiliate_type") }}
    </div>
    <div class="upload_btn" @click="handleClickImport">
      <klk-upload
        :onProgress="onUploadProgress"
        :onSuccess="onUploadSuccess"
        :onError="onUploadError"
        :accept="file_type"
        :action="upload_url"
        name="file"
        style="display: inline-block"
      >
        <button
          type="button"
          class="theme_btn_base_border mini_btn"
          v-loading="upload_loading"
          name="button"
        >
          {{ $t("ADMIN_MULTIPLE_system_admin_import") }}
        </button>
      </klk-upload>
      <div class="icon_add_circle">
        <klk-icon :size="16" type="tips"></klk-icon>
        <span class="text">{{
          $t("ADMIN_UPLOAD_TYPE_system_admin_warning")
        }}</span>
      </div>
    </div>
  </div>
</template>
<script>
import { urlObj } from "common_data";
export default {
  name: "UploadType",
  data() {
    return {
      file_type: "text/csv", //.csv   类型文档 https://developer.mozilla.org/zh-CN/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types
      upload_url: urlObj.v3_batch_update_aff_type,
      upload_loading: false,
    };
  },
  methods: {
    onUploadProgress() {
      this.uploading = true;
    },
    onUploadSuccess(res) {
      if (res.success) {
        this.saveSuccess();
      } else {
        this.saveError(res.error.message);
      }
    },
    handleClickImport() {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Data Import",
        eventAction: "import",
      });
    },
    saveSuccess() {
      this.upload_loading = false;
      const jumpUrl = `/admin/affiliate_admin`; // 跳转到该路由下
      this.$Modal.alert({
        onOk: () => {},
        okText: __("ADMIN_UPLOAD_TYPE_system_admin_ok"),
        okClass: "theme_btn_base mini_btn",
        title: `<div style="color: #07b295">${__(
          "ADMIN_UPLOAD_TYPE_system_admin_result_success_header"
        )}</div>`,
        content: __("ADMIN_UPLOAD_TYPE_system_admin_result_success_content", [
          `<a href=${jumpUrl}>${__("ADMIN_MULTIPLE_affiliate_panel")}</a>`,
        ]),
      });
    },
    saveError(message) {
      this.upload_loading = false;
      this.$Modal.alert({
        onOk: () => {},
        okText: __("ADMIN_UPLOAD_TYPE_system_admin_ok"),
        okClass: "theme_btn_base mini_btn",
        title: `<div style="color: red">${__(
          "ADMIN_UPLOAD_TYPE_system_admin_result_error_header"
        )}</div>`,
        content: `<div style="color: black">
                             ${message} <br/>
                            ${__(
                              "ADMIN_UPLOAD_TYPE_system_admin_result_error_content"
                            )}
                     </div>`,
      });
    },
    onUploadError(err) {
      this.saveError(err);
    },
  },
  created() {},
};
</script>
