<style lang="scss" scoped>
.ad_list {
  padding: 4px 0 40px;
  .frame_title {
    font-size: 20px;
    font-weight: 500;
    padding: 4px 0 24px;
  }
  .operation_area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .search_area {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .date_range {
        margin-right: 20px;
      }
      .klk_select {
        margin-left: 15px;
      }
    }
    .btn_group {
      .theme_btn_base {
        line-height: 38px;
        margin: 0;
      }
    }
  }
  .klk_table {
    th {
      .icon {
        vertical-align: text-bottom;
      }
    }
  }
  .operation {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 22px;
  }
  .label-item {
    display: block;
  }
}
</style>

<template lang="html">
  <div class="ad_list">
    <div class="frame_title">{{ $t("AD_LIST_my_ad_list") }}</div>
    <div class="operation_area">
      <div class="search_area">
        <div class="date_range">
          <klk-date-picker
            :interval="{ type: 'days', value: 88 }"
            v-model="search_options.date_range"
            range
            :confirm="true"
            :lang="datepicker_lang"
            format="yyyy-MM-dd"
            @change="handleDateChange"
          ></klk-date-picker>
        </div>
        {{ $t("MULTIPLE_ad_type") }}:
        <klk-select
          filterable
          v-model="search_options.ad_type"
          width="240px"
          @on-change="handleSelectType"
        >
          <klk-option
            v-for="item in ad_type_list"
            :key="item.value"
            :value="item.value"
            >{{ item.label }}</klk-option
          >
        </klk-select>
      </div>
      <div class="btn_group">
        <button
          type="button"
          class="theme_btn_base small_btn"
          @click="exportList"
        >
          {{ $t("MULTIPLE_export") }}
        </button>
      </div>
    </div>
    <div class="frame" v-loading="is_loading_shown">
      <klk-smart-list
        :cols="cols"
        :table_data="table_list"
        :thead_slot="true"
        :no_data_title="$t('AD_LIST_have_no_ads')"
        :no_data_title_desc="$t('AD_LIST_have_no_ads_desc')"
        :no_data_button_text="$t('AD_LIST_add_an_ad')"
        @no_data_button_click="addAd"
      >
        <tr slot="thead">
          <th v-for="(item, index) in cols" slot="thead" :key="index">
            <klk-poptip
              v-if="item.label_desc"
              trigger="hover"
              class="poptip_wrapper"
            >
              {{ item.label }}
              <klk-icon
                class="icon"
                type="information-circled"
                size="16"
              ></klk-icon>
              <div slot="content" class="poptip_content">
                <p style="width: 250px">
                  {{ item.label_desc }}
                </p>
              </div>
            </klk-poptip>
            <span v-else>
              {{ item.label }}
            </span>
          </th>
        </tr>
        <tr slot-scope="scope">
          <td>{{ scope.row.adid || "-" }}</td>
          <td>{{ getAdType(scope.row.ad_type) || "-" }}</td>
          <td>
            <span
              class="label-item"
              v-for="(item, i) in scope.row.placement_labels"
              :key="i"
              >{{ `${item.key}: ${item.value}` }}</span
            >
          </td>
          <td>{{ scope.row.impression }}</td>
          <td>{{ scope.row.click }}</td>
          <td>{{ scope.row.ctr }}</td>
          <td>{{ scope.row.paid_order }}</td>
          <td>{{ scope.row.shared_amount }}</td>
          <td>{{ scope.row.epc }}</td>
          <td>
            <span
              class="operation"
              @click="handleClickConfig(scope.row.adid)"
              v-if="showConfig(scope.row)"
            >
              <router-link
                class="theme_a"
                :to="{
                  name: 'ad_tool_module',
                  params: { ad_tool_type: jump(scope.row.ad_type) },
                  query: { ad_id: scope.row.adid },
                }"
                >{{ $t("MULTIPLE_config") }}</router-link
              >
            </span>
            <!--                    <span class="operation" v-show="showDelete(scope.row)">-->
            <!--                        <a href="javascript:void(0)" class="theme_a" @click="deleteAd(scope.row)">{{$t('MULTIPLE_delete')}}</a>-->
            <!--                    </span>-->
          </td>
        </tr>
      </klk-smart-list>
      <klk-pagination
        :show_page_size_opts="false"
        :show_elevator="false"
        :total="pagination.total"
        :page_size="pagination.pageSize"
        :prop_current="pagination.curPage"
        @current_change="handleCurrentChange"
      ></klk-pagination>
    </div>
  </div>
</template>

<script>
import { urlObj } from "common_data";
import AdListMixin from "./ad_list_mixin";
import moment from "moment";

export default {
  name: "AdList",
  mixins: [AdListMixin],
  data() {
    return {
      page_type: "ad_list",
    };
  },
  created() {
    this.cols = [
      {
        label: __("MULTIPLE_adid"),
      },
      {
        label: __("MULTIPLE_ad_type"),
        width: "100px",
      },
      {
        label: __("MULTIPLE_placement_labels"),
        width: "180px",
      },
      {
        label: __("MULTIPLE_impressions"),
        label_desc: __("MULTIPLE_impressions_desc"),
      },
      {
        label: __("MULTIPLE_clicks"),
        label_desc: __("MULTIPLE_clicks_desc"),
      },
      {
        label: __("MULTIPLE_ctr"),
        label_desc: __("MULTIPLE_ctr_desc"),
      },
      {
        label: __("17674"),
        label_desc: __("MULTIPLE_paid_orders_desc"),
      },
      {
        label: __("17672"),
        label_desc: __("MULTIPLE_shared_amount_desc"),
      },
      {
        label: __("MULTIPLE_epc"),
        label_desc: __("MULTIPLE_epc_desc"),
      },
      {
        label: __("MULTIPLE_action"),
      },
    ];
  },
  mounted() {
    this.uid = this.$route.params.uid || USER_INFO.id;
    this.fetchAdType(this.uid);
    this.loadData();
  },
  methods: {
    exportList() {
      window.dataLayer.push({
        event: "export",
        eventCategory: "Ad List",
        eventAction: "Export",
      });
      this.exportFile();
    },
    // 聚合 ads_type 为widget类型来做跳转
    allWidgetType() {
      return this.RENDER_CONFIG.reduce((acc, cur) => {
        let widget = cur.render_map.find((data) => +data.id === 1);
        if (widget) {
          let d = widget.info.type.map((item) => item.name);
          return acc.concat(d);
        } else {
          return acc;
        }
      }, []);
    },
    jump(ad_type) {
      // 需要渲染的ads_type 从配置文件中读取, link类型的从配置中读取
      if (this.allWidgetType().includes(ad_type)) {
        return "dynamic_widget";
      } else if (["link", "city_link", "listing_link"].includes(ad_type)) {
        return "link"; // 聚合为link
      } else {
        return ad_type;
      }
    },
    handleSelectType(e) {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Ad List",
        eventAction: "Select Ad Type",
        eventLabel: this.search_options.ad_type,
      });
      this.handleCurrentChange(1);
    },
    handleDateChange(value) {
      const start = moment(value[0]).format("YYYY-MM-DD");
      const end = moment(value[1]).format("YYYY-MM-DD");
      window.dataLayer.push({
        event: "search",
        eventCategory: "Ad List",
        eventAction: `Search`,
        eventLabel: this.search_options.ad_type,
      });
      this.handleCurrentChange(1);
    },
    showDelete(row) {
      const hideDelete = ["auto_dynamic_widget"];
      return !hideDelete.includes(row.ad_type);
    },
    showConfig(row) {
      // 旧的 search 不支持编辑, placement_link 也不支持, auto_dynamic_widget 为自动创建 widget 的类型，不允许 config
      let hideConfigType = [
        "search",
        "placement_link",
        "auto_dynamic_widget",
        "auto_hotel_dynamic_widget",
      ];
      // 临时加的特殊逻辑
      if (row.ad_type === "listing_link" && window.KLK_LANG !== "zh-TW") {
        return false;
      }
      return !hideConfigType.includes(row.ad_type);
    },
    handleClickConfig(adid) {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Ad List",
        eventAction: `Config`,
        eventLabel: adid,
      });
    },
    deleteAd(row) {
      window.dataLayer.push({
        event: "manage",
        eventCategory: "Ad List",
        eventAction: `Delete`,
        eventLabel: row.adid,
      });

      this.$Modal.alert({
        okText: __("MULTIPLE_yes"),
        showCancel: true,
        cancelText: __("MULTIPLE_no"),
        okClass: "theme_btn_base mini_btn",
        cancelClass: "theme_btn_base_white mini_btn",
        title: __("AD_LIST_confirm_delete_ad"),
        onOk: () => {
          const params = {
            adid: row.adid,
            state: 1,
          };

          klook.ajaxPut(urlObj.v3_affsrv_ad, params, (resp) => {
            if (resp.success) {
              this.loadData();
            } else {
              this.$Message.warning(resp.error.message);
            }
          });
        },
      });
    },
    addAd() {
      this.$router.push({
        name: "ad_tools",
      });
    },
  },
};
</script>
