<template lang="html">
  <div class="influencer_program">affilate influencer_program</div>
</template>

<script>
export default {
  name: "InfluencerProgram",
};
</script>

<style lang="scss"></style>
