<style lang="scss" scoped>
.klk-cascader {
  ::v-deep .el-input__inner {
    border-radius: 1px;
    border: 1px solid #dfdfdf;
  }

  ::v-deep.el-cascader:not(.is-disabled):hover .el-input__inner {
    cursor: pointer;
    border-color: #07b295 !important;
  }
  ::v-deep .el-input__inner {
    &:hover {
      cursor: pointer;
    }
    border: 1px solid #dfdfdf;
  }
  ::v-deep .el-cascader__tags {
    &:hover {
      cursor: pointer;
    }
  }
  ::v-deep .el-tag {
    color: black;
  }
  ::v-deep .el-input__suffix {
    color: black;
  }
  ::v-deep .el-cascader .el-input .el-icon-arrow-down,
  .el-input_icon .el-icon-circle-close {
    font-size: 18px;
  }
  ::v-deep .el-cascader .el-input .el-input__inner:focus,
  .el-cascader .el-input.is-focus .el-input__inner {
    border-color: #07b295;
  }
  ::v-deep .is-focus {
    .el-input__inner {
      border-color: #07b295;
    }
  }
  ::v-deep .el-tag--small,
  .el-tag--light {
    max-width: 134px !important;
  }
}
</style>

<template>
  <div class="klk-cascader">
    <el-cascader v-bind="$props" @change="handleChange"></el-cascader>
  </div>
</template>
<script>
import Vue from "vue";
// TODO: 仅有的引用 element-ui 的地方，待替换移除
import Cascader from "element-ui/lib/cascader";
import "element-ui/lib/theme-chalk/icon.css";
import "element-ui/lib/theme-chalk/cascader.css";

Vue.use(Cascader);

export default {
  name: "KlkCascader",
  props: {
    ...Cascader.props,
  },
  methods: {
    handleChange(e) {
      this.$emit("change", e);
    },
  },
};
</script>
