<style lang="scss" scoped>
.dialog_footer {
  margin: 30px 0;
  .btn_group {
    .user_button {
      padding: 0 20px;
      line-height: 30px;
      font-size: 14px;
    }
  }
}
</style>

<template lang="html">
  <div v-loading="loading">
    <klk-form :rules="formRules" :model="formData">
      <klk-form-item :label="$t('MULTIPLE_email')">
        <klk-input v-model="formData.email" :disabled="true"></klk-input>
      </klk-form-item>
      <klk-form-item :label="$t('ADMIN_USER_FORM_name')">
        <klk-input v-model="formData.name" :disabled="true"></klk-input>
      </klk-form-item>
      <klk-form-item
        prop="gid"
        itemWidth="100%"
        :label="$t('ADMIN_USER_FORM_internal_user_role_type')"
      >
        <klk-select
          filterable
          :value="formData.gid && formData.gid[0]"
          @on-change="handleSelectRole"
          width="100%"
        >
          <klk-option
            v-for="item in userRoleTypes"
            :key="item.id"
            :value="item.id"
            >{{ item.name }}</klk-option
          >
        </klk-select>
      </klk-form-item>
    </klk-form>
    <div class="klk_dialog_footer dialog_footer">
      <div class="btn_group">
        <button
          type="button"
          name="button"
          class="theme_btn_base_white"
          @click="handleClickCancel"
        >
          {{ $t("ADMIN_USER_FORM_internal_user_cancel") }}
        </button>
        <button
          type="button"
          name="button"
          class="theme_btn_base"
          @click="handleClickConfirm"
        >
          {{ $t("MULTIPLE_confirm") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { formRules, urlObj } from "common_data";
import _cloneDeep from "lodash/cloneDeep";

export default {
  name: "UserForm",
  props: {
    defaultData: {
      type: Object,
      default: () => {
        return {
          id: "",
          uid: "",
          email: "",
          gid: null,
          name: "",
        };
      },
    },
    onCancel: {
      type: Function,
    },
    onSuccess: {
      type: Function,
    },
    roleTypes: {
      type: Array,
      default: () => [],
    },
  },
  watch: {
    defaultData: function (newV) {
      this.formData = _cloneDeep(newV);
    },
    roleTypes: function (newV) {
      this.userRoleTypes = newV;
    },
  },
  data() {
    return {
      formData: this.defaultData,
      userRoleTypes: this.roleTypes,
      loading: false,
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  methods: {
    handleSelectRole(row) {
      this.formData.gid = [row];
    },
    sendGA(event, category, action, label) {
      window.dataLayer.push({
        event: event,
        eventCategory: category,
        eventAction: action,
        eventLabel: label,
      });
    },
    handleClickCancel() {
      this.sendGA("manage", "Internal User", "Edit User Cancel");
      this.onCancel && this.onCancel();
    },
    handleClickConfirm() {
      this.sendGA("manage", "Internal User", "Edit User Confirm");
      const { gid, uid } = this.formData;
      this.loading = true;
      let new_gid = gid.join(",");
      let old_gid = this.defaultData.gid.join(",");
      klook.ajaxPut(
        urlObj.internal_user_update,
        {
          new_gid,
          old_gid,
          uid,
        },
        (res) => {
          this.loading = false;
          if (res.success) {
            this.$Message({
              type: "success",
              content: __("MULTIPLE_save_success"),
            });
            this.onSuccess && this.onSuccess();
            this.onCancel && this.onCancel();
          } else {
            this.$Message({
              type: "warning",
              content: res.error.message,
            });
            console.error("interface error", res.error.message);
          }
        }
      );
    },
  },
};
</script>
