<style lang="scss" scoped>
$theme_color: #07b295;
.user_table {
  .operation {
    display: flex;
    .text {
      margin: auto;
      color: $theme_color;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .content {
    margin-top: 0;
  }
}
</style>

<template>
  <div class="user_table">
    <klk-smart-list :cols="cols" :table_data="list" v-loading="loading">
      <tr slot-scope="scope">
        <td>{{ scope.row.uid }}</td>
        <td>{{ scope.row.email }}</td>
        <td>{{ scope.row.name }}</td>
        <td>{{ userRoleText(scope.row.gid) }}</td>
        <td>
          <div class="operation">
            <span class="text" @click="handleClickEdit(scope.row)">{{
              $t("ADMIN_USER_TABLE_internal_user_edit_btn")
            }}</span>
          </div>
        </td>
      </tr>
    </klk-smart-list>
    <klk-dialog
      v-model="openModal"
      width="500px"
      close_icon
      v-loading="loading"
    >
      <div class="klk_dialog_title">
        {{ $t("ADMIN_USER_TABLE_internal_user_edit_btn") }}
      </div>
      <div class="klk_dialog_body content">
        <user-form
          :defaultData="editData"
          :roleTypes="roleTypes"
          :onSuccess="handleSuccess"
          :onCancel="handleClickCancel"
        ></user-form>
      </div>
    </klk-dialog>
  </div>
</template>

<script>
import UserForm from "./user_form";
export default {
  name: "UserTable",
  components: { UserForm },
  comments: {
    UserForm,
  },
  props: {
    list: {
      type: Array,
      require: true,
    },
    loading: {
      type: Boolean,
      require: true,
    },
    roleTypes: {
      type: Array,
      default: () => [],
    },
    fetchList: {
      type: Function,
    },
  },
  data() {
    return {
      cols: [
        {
          label: __("MULTIPLE_user_id"),
          width: "100px",
        },
        {
          label: __("MULTIPLE_email"),
          width: "130px",
        },
        {
          label: __("MULTIPLE_user_name"),
          width: "130px",
        },
        {
          label: __("ADMIN_MULTIPLE_internal_user_role_placeholder"),
          width: "130px",
        },
        {
          label: __("ADMIN_MULTIPLE_actions"),
          width: "130px",
        },
      ],
      editData: {},
      openModal: false,
    };
  },
  methods: {
    handleSuccess() {
      this.fetchList && this.fetchList();
    },
    userRoleText(gid) {
      let obj = {};
      this.roleTypes.forEach((item) => {
        obj[item.id] = item;
      });
      if (gid && Array.isArray(gid)) {
        return gid
          .map((item) => {
            return obj[item] && obj[item].name;
          })
          .join(",");
      } else {
        return "";
      }
    },
    handleClickEdit(row) {
      this.sendGA("manage", "Internal User", "Edit");
      this.openModal = true;
      this.editData = row;
    },
    sendGA(event, category, action, label) {
      window.dataLayer.push({
        event: event,
        eventCategory: category,
        eventAction: action,
        eventLabel: label,
      });
    },
    handleClickCancel() {
      this.openModal = false;
      this.editData = {};
    },
  },
};
</script>
