<template>
  <div class="demo_page_main">
    <ads-header></ads-header>
    <div class="content">
      <div class="main">
        <div class="content_header">
          {{
            +type === 0
              ? $t("ADS_DEMO_PAGE_dynamic_widget")
              : $t("MULTIPLE_auto_dynamic_widget")
          }}
        </div>
        <ads-video
          :url="
            +type === 1
              ? 'https://res.klook.com/video/upload/q_80/v1603275266/video/affiliate/auto_dynamic_widget.mp4'
              : 'https://res.klook.com/video/upload/q_80/v1603275275/video/affiliate/dynamic_widget.mp4'
          "
          :type="type"
        ></ads-video>
        <div class="widget_text_desc">
          {{ $t("ADS_DEMO_PAGE_dynamic_widget_show") }}
        </div>
        <ads-demo :type="type"></ads-demo>
        <auto-ads-demo v-if="type"></auto-ads-demo>
        <ads-footer :type="type"></ads-footer>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
//load svg into symbol
//https://webpack.github.io/docs/context.html#require-context
// requires and returns all modules that match
const requireAll = (requireContext) =>
  requireContext.keys().map(requireContext);
// auto prepend svg into body
requireAll(require.context("../../../../imgs/font-icon-svg/", true, /\.svg$/));
//register global components
Vue.use(require("../../../components/index.js"));

// 业务组件
const AdsHeader = require("./component/ads_header.vue");
const AdsDemo = require("./component/ads_demo.vue");
const AdsVideo = require("./component/ads_video.vue");
const AdsFooter = require("./component/ads_footer");
const AutoAdsDemo = require("./component/auto_ads_demo");
@Component({
  components: {
    AdsHeader,
    AdsDemo,
    AdsVideo,
    AdsFooter,
    AutoAdsDemo,
  },
})
export default class Ads_demo_page extends Vue {
  getUrlParam(name: string) {
    const reg = new RegExp(`(^|&)${name}=([^&]*)(&|$)`);
    const r = window.location.search.substr(1).match(reg);
    if (r !== null) return +r[2];
    return null;
  }

  created() {}

  get type() {
    return this.getUrlParam("type") || 0;
  }
}
</script>
<style lang="scss" scoped>
.demo_page_main {
  min-height: 100%;
  min-width: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f5f5f5;
  padding-top: 80px;
  .content {
    flex: 1 1 auto;
    margin: 0 auto;
    .main {
      width: 1160px;
      background: #fff;
      padding: 50px 20px 60px 20px;
    }
    .content_header {
      line-height: 59px;
      text-align: center;
      word-wrap: break-word;
      font-size: 48px;
      font-weight: bold;
    }
    .widget_text_desc {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      color: #333333;
    }
  }
}
</style>
