<style lang="scss">
.admin_edit_settings {
  th {
    text-align: center;
  }
  .search_container {
    .klk_select .dropdown_wrapper ul li {
      display: flex;
    }
  }
  .checkbox_container {
    .klk_checkbox_group {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .klk_checkbox_wrapper {
        margin-left: 160px;
        margin-right: 0;
        height: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .klk_checkbox {
          display: inline-block;
          vertical-align: middle;
          white-space: nowrap;
          cursor: pointer;
          outline: 0;
          line-height: 1;
          position: relative;
          margin: 6px 14px 6px 0;
        }
        .klk_checkbox_inner {
          display: inline-block;
          width: 14px;
          height: 14px;
          position: relative;
          top: 0;
          left: 0;
          border: 1px solid #dddee1;
          border-radius: 2px;
          background-color: #fff;
          transition: border-color 0.2s ease-in-out,
            background-color 0.2s ease-in-out;
          &::after {
            content: "";
            display: table;
            width: 4px;
            height: 8px;
            position: absolute;
            top: 0;
            left: 4px;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            transform: rotate(45deg) scale(1);
            transition: all 0.2s ease-in-out;
          }
        }
        &.klk_checkbox_wrapper_checked {
          .klk_checkbox_inner {
            border-color: $theme_color;
            background-color: $theme_color;
          }
        }
        .klk_checkbox_input {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          opacity: 0;
          cursor: pointer;
        }
      }
    }
  }
}
</style>

<template lang="html">
  <div class="admin_edit_settings">
    <klk-table :cols="cols" :table_data="list">
      <tr slot-scope="scope">
        <td>{{ scope.row.property }}</td>
        <td>
          <div class="search_container" v-if="scope.$index === 0">
            <klk-select
              width="160px"
              v-model="scope.row.affiliate_type"
              @on-change="selectOption"
            >
              <klk-option
                v-for="item in search_options"
                :key="item.value"
                :value="item.value"
                >{{ $t(item.name) }}</klk-option
              >
            </klk-select>
          </div>
          <div class="checkbox_container" v-else-if="scope.$index === 1">
            <klk-checkbox-group
              v-model="scope.row.solution_types"
              @on-change="setCols"
            >
              <klk-checkbox
                v-for="item in checkbox_cols_static"
                :label="item.label"
                :key="item.label"
                :disabled="item.disabled"
              >
                {{ item.locale_key }}
              </klk-checkbox>
            </klk-checkbox-group>
          </div>
          <div class="text_area" v-else-if="scope.$index === 2">
            {{ COMMISSION_MODEL()[scope.row.commission_model] }}
          </div>
        </td>
      </tr>
    </klk-table>
  </div>
</template>

<script>
import { AFFILIATE_TYPE, COMMISSION_MODEL } from "common_data";

export default {
  name: "adminEditSettingsDialog",
  props: {
    edit_settings_data: {
      type: Object,
      default: () => ({
        affiliate_type: "",
        solution_types: [],
        commission_model: "",
      }),
    },
  },
  data() {
    return {
      affiliate_type: "",
      solution_types: [],
      cols: [],
      list: [],
      search_options: Object.entries(AFFILIATE_TYPE()).map((item) => {
        return { name: item[1], value: item[0] };
      }),
      checkbox_cols_checked: [],
      checkbox_cols_static: [
        {
          label: "whiteLabel",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_white_label"),
          disabled: false,
        },
        {
          label: "cobranding",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_co_branding"),
          disabled: true,
        },
        {
          label: "searchApi",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_search_api"),
          disabled: false,
        },
        {
          label: "bookingApi",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_booking_api"),
          disabled: false,
        },
        {
          label: "productFeed",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_product_feed"),
          disabled: false,
        },
        {
          label: "loyaltyPointEarn",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_loyalty_point_earn"),
          disabled: false,
        },
        {
          label: "loyaltyPointBurn",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_loyalty_point_burn"),
          disabled: false,
        },
        {
          label: "widget",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_widget"),
          disabled: false,
        },
        {
          label: "guestCheckout",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_guest_checkout"),
          disabled: false,
        },
        {
          label: "concierge",
          locale_key: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_concierge"),
          disabled: false,
        },
      ],
      COMMISSION_MODEL,
    };
  },
  watch: {
    edit_settings_data: {
      handler(newVal) {
        const {
          affiliate_type,
          solution_types = [],
          commission_model,
        } = newVal;
        const toHumpMap = {
          white_label: "whiteLabel",
          co_branding: "cobranding",
          search_api: "searchApi",
          booking_api: "bookingApi",
          product_feed: "productFeed",
          loyalty_point_earn: "loyaltyPointEarn",
          loyalty_point_burn: "loyaltyPointBurn",
          widget: "widget",
          guest_checkout: "guestCheckout",
          concierge: "concierge",
        };
        this.affiliate_type = affiliate_type;
        this.solution_types = solution_types.map((i) => toHumpMap[i]);
        this.list = [
          {
            property: __("ADMIN_MULTIPLE_affiliate_type"),
            affiliate_type,
          },
          {
            property: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_solution_type"),
            solution_types: this.solution_types,
          },
          {
            property: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_commission_model"),
            commission_model,
          },
        ];
      },
      // immediate: true
    },
  },
  created() {
    this.cols = [
      {
        label: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_property"),
        width: "35%",
      },
      {
        label: __("ADMIN_ADMIN_EDIT_SETTINGS_DIALOG_settings"),
        width: "65%",
      },
    ];
  },
  methods: {
    // 选择 Affiliate Type 筛选框
    selectOption(val) {
      this.affiliate_type = val;
    },
    // 设置 Solution Type 多选框
    setCols(cols) {
      this.solution_types = cols;
    },
    // 父组件获取当前组件数据时使用
    getData() {
      const toUnderlineMap = {
        whiteLabel: "white_label",
        cobranding: "co_branding",
        searchApi: "search_api",
        bookingApi: "booking_api",
        productFeed: "product_feed",
        loyaltyPointEarn: "loyalty_point_earn",
        loyaltyPointBurn: "loyalty_point_burn",
        widget: "widget",
        guestCheckout: "guest_checkout",
        concierge: "concierge",
      };
      const solution_types = this.solution_types.map((i) => toUnderlineMap[i]);

      return {
        affiliate_type: this.affiliate_type,
        solution_types,
      };
    },
  },
};
</script>
