<style lang="scss" scoped></style>

<template lang="html">
  <!-- <klk-form :rules="formRules" :model="form_data" ref="ref_form"> -->
  <klk-form ref="ref_form">
    <klk-form-item :label="label_first_name" prop="firstname">
      <klk-input maxlength="60" v-model="first_name"></klk-input>
    </klk-form-item>

    <klk-form-item :label="label_last_name" prop="lastname">
      <klk-input maxlength="60" v-model="last_name"></klk-input>
    </klk-form-item>
    <klk-form-item :label="label_preferred_language">
      <klk-select v-model="preferred_language">
        <klk-option v-for="item in langOptions" :key="item" :value="item">{{
          item
        }}</klk-option>
      </klk-select>
    </klk-form-item>
  </klk-form>
</template>

<script>
export default {
  name: "adminEditInfoDialog",
  props: {
    admin_edit_info_data: {
      type: Object,
      default: () => ({
        first_name: "",
        last_name: "",
        preferred_language: "",
      }),
    },
  },
  data() {
    return {
      first_name: "",
      last_name: "",
      preferred_language: "",
      label_first_name: "First Name",
      label_last_name: "Last Name",
      label_preferred_language: "Preferred Language",
    };
  },
  watch: {
    admin_edit_info_data: {
      handler(newVal) {
        const { first_name, last_name, preferred_language } = newVal;
        this.first_name = first_name;
        this.last_name = last_name;
        this.preferred_language = preferred_language;
      },
    },
  },
  created() {
    this.langOptions = URL_LANG_OPTIONS.map((item) =>
      item !== "en" ? item : "en-US"
    );
  },
  methods: {
    getData() {
      return {
        first_name: this.first_name,
        last_name: this.last_name,
        preferred_language: this.preferred_language,
      };
    },
  },
};
</script>
