<style lang="scss" scoped>
.klk_dialog_body {
  .tool_list {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    .tool_list_item {
      cursor: pointer;
      width: 350px;
      height: 148px;
      margin: 0 20px 20px 0;
      display: flex;
      flex-direction: column;
      background: #07b295;
      padding: 20px;
      border-radius: 2px;
      color: #fff;
      transition: 0.3s all;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &.search_boxes {
        background: #f6754c;
      }
      &.dynamic_widgets {
        background: #f7ad2d;
      }
      &.banner_ad {
        background: #1facbe;
      }
      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
      }
      .item_header {
        font-size: 20px;
        font-weight: bold;
        padding: 0 0 12px;
      }
      .item_desc {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }
}
</style>

<template lang="html">
  <klk-dialog
    v-model="dialog_data.is_dialog_shown"
    width="800"
    :close_icon="true"
  >
    <div class="klk_dialog_title" style="text-align: center">
      {{ $t("ADMIN_MULTIPLE_create_ads") }}
    </div>
    <div class="klk_dialog_body">
      <div class="tool_list">
        <div
          class="tool_list_item dynamic_widgets"
          @click="enterAdTool('dynamicWidgets')"
        >
          <span class="item_header">{{ $t("MULTIPLE_dynamic_widgets") }}</span>
          <span class="item_desc">{{
            $t("MULTIPLE_activity_banner_desc")
          }}</span>
        </div>
        <div class="tool_list_item" @click="enterAdTool('link')">
          <span class="item_header">{{ $t("MULTIPLE_text_links") }}</span>
          <span class="item_desc">{{ $t("MULTIPLE_text_links_desc") }}</span>
        </div>
        <div
          class="tool_list_item search_boxes"
          @click="enterAdTool('search_vertical')"
        >
          <span class="item_header">{{ $t("MULTIPLE_search_box") }}</span>
          <span class="item_desc">{{ $t("MULTIPLE_search_box_desc") }}</span>
        </div>
        <div class="tool_list_item banner_ad" @click="enterAdTool('banner')">
          <span class="item_header">{{ $t("MULTIPLE_static_banners") }}</span>
          <span class="item_desc">{{
            $t("MULTIPLE_static_banners_desc")
          }}</span>
        </div>
      </div>
    </div>
  </klk-dialog>
</template>

<script>
import { WIDGET_MAP_GOOGLE_TRACKING } from "common_data";

export default {
  name: "CreateAdsDialog",
  props: {
    dialog_data: {
      type: Object,
      default: () => ({}),
    },
    uid: {
      type: [String, Number],
    },
    showDialog: {
      type: Function,
      default: () => {},
    },
  },
  mounted() {
    // Google Tag Manager for custom dimension UID
    if (USER_INFO.id) {
      window.dataLayer.push({
        uid: USER_INFO.id.toString(),
      });
    }
  },
  methods: {
    enterAdTool(ad_tool_type) {
      // Google Tag Manager for adStart Event
      window.dataLayer.push({
        event: "adStart",
        eventCategory: "My Ads",
        eventAction: "Tools Click",
        eventLabel: WIDGET_MAP_GOOGLE_TRACKING[ad_tool_type],
      });
      this.showDialog(false);
      this.$router.push({
        name: "ad_tool_module",
        params: {
          ad_tool_type,
        },
        query: {
          uid: this.uid,
        },
      });
    },
  },
};
</script>
