<style lang="scss" scoped>
::v-deep .klk_dialog_title {
  font-weight: 500;
}
::v-deep .klk_dialog_body {
  margin: 36px 40px;
  .info_item {
    display: flex;
    align-items: center;
    justify-content: center;
    .info_item_col {
      &:first-child {
        margin-right: 60px;
      }
    }
    .search_input {
      margin: 20px 0;
      &:last-child {
        margin-right: 0;
      }
    }
    .klk_input_wrapper {
      margin-bottom: 10px;
    }
  }
}
.klk_form .klk_form_item {
  margin-top: 0;
  margin-right: 0;
}
::v-deep .klk_dialog_footer {
  .btn_group {
    display: flex;
    justify-content: flex-end;
    .theme_btn_base {
      margin-right: 40px;
    }
  }
}
</style>

<template lang="html">
  <klk-dialog v-model="dialog_data.is_dialog_shown" width="800">
    <div class="klk_dialog_title" style="text-align: center">
      {{ title }}
    </div>
    <div class="klk_dialog_body">
      <div class="info_item">
        <div class="info_item_col">
          {{ $t("ADMIN_NETWORK_PUBLISHER_SETTINGS_DIALOG_affiliate_user") }}:
          <klk-input
            type="text"
            class="search_input"
            v-model="input_options.user"
            :disabled="true"
            width="280px"
          ></klk-input>
        </div>
        <div class="info_item_col">
          {{ $t("MULTIPLE_aid") }}:
          <klk-input
            type="text"
            class="search_input"
            v-model="input_options.wid"
            :disabled="true"
            width="280px"
          ></klk-input>
        </div>
      </div>
      <div class="info_item">
        <klk-form
          flex_row
          :rules="formRules"
          :model="input_options"
          ref="ref_form"
        >
          <div class="info_item_col">
            <klk-form-item :label="$t('MULTIPLE_pid')" prop="pid">
              <klk-input
                maxlength="255"
                type="text"
                class="search_input"
                v-model="input_options.pid"
                :disabled="dialog_data.mode !== 1"
                width="280px"
              ></klk-input>
            </klk-form-item>
          </div>
          <div class="info_item_col">
            <klk-form-item
              :label="$t('ADMIN_MULTIPLE_publisher_name')"
              prop="pname"
            >
              <klk-input
                maxlength="255"
                type="text"
                class="search_input"
                v-model="input_options.pname"
                :disabled="!!input_options.sid"
                width="280px"
              ></klk-input>
            </klk-form-item>
          </div>
        </klk-form>
      </div>
      <div class="info_item" v-if="!!input_options.sid">
        <div class="info_item_col">
          {{ $t("MULTIPLE_sid") }}:
          <klk-input
            type="text"
            class="search_input"
            v-model="input_options.sid"
            :disabled="true"
            width="280px"
          ></klk-input>
        </div>
        <div class="info_item_col">
          {{
            $t("ADMIN_NETWORK_PUBLISHER_SETTINGS_DIALOG_sub_publisher_name")
          }}:
          <klk-input
            type="text"
            class="search_input"
            v-model="input_options.sname"
            width="280px"
          ></klk-input>
        </div>
      </div>
    </div>
    <div class="klk_dialog_footer">
      <div class="btn_group">
        <button
          type="button"
          name="button"
          class="theme_btn_base_white small_btn"
          @click="handleCancel"
        >
          {{ $t("ADMIN_MULTIPLE_Cancel") }}
        </button>
        <button
          type="button"
          name="button"
          class="theme_btn_base small_btn"
          @click="confirm"
        >
          {{ $t("MULTIPLE_confirm") }}
        </button>
      </div>
    </div>
  </klk-dialog>
</template>

<script>
import { formRules } from "common_data";
export default {
  name: "NetworkPublisherSettingsDialog",
  props: {
    dialog_data: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      title: __(
        "ADMIN_NETWORK_PUBLISHER_SETTINGS_DIALOG_add_network_publisher"
      ),
      input_options: {
        user: "",
        wid: "",
        pid: "",
        pname: "",
        sid: "",
        sname: "",
        nid: "",
      },
    };
  },
  created() {
    this.formRules = formRules.call(this);
  },
  watch: {
    "dialog_data.mode": {
      handler(newVal) {
        this.title =
          newVal === 1
            ? __(
                "ADMIN_NETWORK_PUBLISHER_SETTINGS_DIALOG_add_network_publisher"
              )
            : __(
                "ADMIN_NETWORK_PUBLISHER_SETTINGS_DIALOG_modify_network_publisher"
              );
      },
    },
    "dialog_data.input_options": {
      handler(newVal) {
        this.input_options = newVal;
      },
    },
  },
  methods: {
    handleCancel() {
      // 需要清空状态
      this.$refs["ref_form"].resetFields();
      this.$emit("cancel");
    },
    confirm() {
      this.$refs["ref_form"].validate((valid) => {
        if (valid) {
          this.$emit("confirm", this.input_options, this.dialog_data.mode);
        }
      });
    },
  },
};
</script>
