<template lang="html">
  <div class="commission_card">
    <div class="commission_card_header">{{ title }}</div>
    <div class="commission_card_content"><slot></slot></div>
  </div>
</template>

<script>
export default {
  name: "CommissionCard",
  props: {
    title: {
      default: "",
    },
  },
};
</script>

<style lang="scss">
$theme_color: #07b295;
.commission_card {
  width: 353px;
  height: 200px;
  border: solid 1px #ebebeb;
  display: inline-block;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
  .commission_card_header {
    line-height: 40px;
    background: #fafafa;
    font-size: 14px;
    font-weight: 500;
    padding: 0 20px;
    color: #333333;
    border-bottom: solid 1px #ebebeb;
  }
  .commission_card_content {
    display: flex;
    height: 160px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .amount {
      font-size: 36px;
    }
    .currency {
      font-size: 12px;
      font-weight: 300;
      padding: 16px 0;
    }
    .ratio_status {
      font-size: 14px;
      &.up {
        color: $theme_color;
      }
      &.down {
        color: #f44b48;
      }
    }
  }
}
</style>
