<style lang="scss">
.common_banner {
  background-size: cover;
  height: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("https://res.klook.com/image/upload/v1530776899/Affiliate/web/banner.jpg");
  .banner_wrapper {
    width: 1160px;
    margin: 0 auto;
    .banner_content {
      width: 720px;
      color: #fff;
      .title {
        line-height: 1.2;
        font-size: 40px;
        font-weight: bold;
        width: 100%;
      }
      .content {
        line-height: 1.88;
        margin: 16px 0 20px;
        width: 100%;
        font-size: 16px;
        word-break: keep-all;
      }
    }
  }
}
</style>

<template lang="html">
  <div class="common_banner">
    <div class="banner_wrapper">
      <div class="banner_content">
        <div class="title">
          {{ $t("COMMON_BANNER_earn_up_commission_1") }}
          <br />
          {{ $t("COMMON_BANNER_earn_up_commission_2") }}
        </div>
        <div class="content">
          {{ $t("COMMON_BANNER_earn_up_commission_desc") }}
        </div>
        <button
          type="button"
          v-show="!user_info.id"
          class="theme_btn_base"
          @click="join"
          name="button"
        >
          {{ $t("MULTIPLE_join_now") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CommonBanner",
  data() {
    return {
      user_info: USER_INFO,
    };
  },
  methods: {
    join() {
      // Google Tag Manager for "Click Join Now" Event
      window.dataLayer.push({
        event: "joinNow",
        eventCategory: "Banner",
        eventAction: "Join Now",
      });
      window.location.href = `/${window.KLK_LANG_PATH}signup_auto`;
    },
  },
};
</script>
