<template lang="html">
  <div class="module_bar" :style="computedStyle"></div>
</template>

<script>
export default {
  name: "ModuleBar",
  props: {
    height: {
      type: String,
      default: "8px",
    },
    width: {
      type: String,
      default: "110%",
    },
    background: {
      type: String,
      default: "#f5f5f5",
    },
  },
  computed: {
    computedStyle() {
      return {
        height: this.height,
        width: this.width,
        background: this.background,
      };
    },
  },
};
</script>

<style lang="scss">
.module_bar {
  position: relative;
  left: -2%;
}
</style>
