<style lang="scss"></style>

<template lang="html">
  <div class="test_hot">{{ father_prop }}test_hot 3</div>
</template>

<script>
export default {
  props: {
    father_prop: {
      default: () => "default father prop",
    },
  },
  mounted() {
    console.log("test hot mounted 356");
  },
};
</script>
