<template>
  <k0006>
    <Widget />
  </k0006>
</template>

<script lang="ts">
import { Vue, Component } from "vue-property-decorator";
import AB from "../../util/ab_test";
import Widget from "./dynamic_widget.vue";

@Component({
  components: {
    Widget,
    k0006: AB({
      experimentName: "AFF_K0006_Discount_NewLayout",
      groupComponents: {
        control: () => import("./dynamic_widget.vue"),
        AFF_K0006_Discount_NewLayout_Control: () =>
          import("./dynamic_widget.vue"),
        AFF_K0006_Discount_NewLayout_Variant01: () =>
          import("../../../experiment/dynamic_widget/variant01.vue"),
        AFF_K0006_Discount_NewLayout_Variant02: () =>
          import("../../../experiment/dynamic_widget/variant02.vue"),
      },
    }),
  },
})
export default class DynamicWidget extends Vue {}
</script>

<style scoped></style>
